[2022-06-28 11:46] divine-comedian commented on #738
okay, moving to backlog pending responsive grid and button design for links, assigning @mosaeedi for follow-up

[2022-06-28 11:53] RamRamez commented on #969
I've fixed this with issue No. #1006

[2022-06-28 11:57] RamRamez commented on #972
I've fixed this on verification develop branch. When verification is merged, it should be ok.

For testers: it can be tested via [this link](https://giveth-dapps-v2-git-verification-develop-branch-givethio.vercel.app/create)

[2022-06-28 16:00] laurenluz opened #1025 "GIVbacks round number and dates are wrong"
When my walllet is not connected, I'm seeing this:

![image](https://user-images.githubusercontent.com/75490971/176226028-d0658133-493b-4906-88cb-e784a45b0b12.png)

It should say GIVbacks Round 14... Also the dates/times are wrong. When I connect my wallet, it shows up correctly:

![image](https://user-images.githubusercontent.com/75490971/176226265-1fec59af-9c45-42a0-8fa0-edd59c348837.png)

[2022-06-28 16:25] MoeNick commented on #890
1- Gnosis was removed from this project's recipient address.
2- Just added a warning msg on creating / edit project form, not to use exchange addresses for Gnosis.

[2022-06-28 16:34] MoeNick commented on #811
Discussions about it here:
https://discord.com/channels/679428761438912522/988784701231738910

[2022-06-28 23:52] WhyldWanderer opened #1026 "Verification form - 'Before you start' section is missing some text"
Testing on https://giv-verification.vercel.app/ with chrome browser.

There is content from the figma that is missing in this section.

Here is what the section shows on vercel:
![image](https://user-images.githubusercontent.com/74267818/176322184-af3bb372-dba2-409a-8559-be2ffec3f2f4.png)

Which matches this part in figma:
![image](https://user-images.githubusercontent.com/74267818/176322083-d8fbf

[2022-06-28 23:52] WhyldWanderer opened #1027 "Project verification form - Content fixes"
Testing on https://giv-verification.vercel.app/ with chrome browser.

- [x] Remove "Make your project Traceable" - This is misleading because thier project does not get added to TRACE upon verification - the user must complete another step to make the project "Traceable"
![image](https://user-images.githubusercontent.com/74267818/176014807-b85e0ff0-54ac-4b5b-875d-904270b0492d.png)

- [x] Capitaliz

[2022-06-29 09:10] jeevanplus007 commented on #977
Attaching one more Snapshot for Reference.
![image](https://user-images.githubusercontent.com/107279959/176399080-1495dbc6-0a23-48eb-82eb-95b4937b757e.png)

[2022-06-29 09:21] jeevanplus007 opened #1105 "Verify Project - Mandatory Fields need to be verified with Minimum Characters limit"
**Issue :** In Verify Project Workflow, While entering text in Managing Funds and Activities & Milestones Section, it is not verifying the minimum number of characters and accepts even just one character too.

**Steps to Repro :**
- Open an Existing Project
- Go to Verify Project
- Enter one character in Mandatory Fields in Managing Funds and Activities & Milestones

**Results :** It is accepting

[2022-06-29 09:33] alireza-sharifpour commented on #1026
Thanks @WhyldWanderer for creating the issue, I agree with having the text on a single page because there is no new step defined for the second text on the left menu, what is your idea @MoeNick ?

[2022-06-29 09:38] MoeNick commented on #1026
Yeah lets do it @alireza-sharifpour 🙏

[2022-06-29 09:44] jeevanplus007 opened #3809 "Verify Project - Upload File is not throwing proper Error Message and Next button is disabled"
**Issue :** In Verify Project Workflow, While Uploading Non Image File like a Video File, the NEXT button is Disabled and cannot proceed further.

**Steps to Repro :**

- Open an Existing Project
- Go to Verify Project
- Go to Upload File Stage and Upload any Video File or any non image file.

**Results :** It is not uploaded as expected but it is not displaying any Error Message. Also the NEXT bu

[2022-06-29 11:38] MohammadPCh commented on #999
I suggest having a status item on our menu. if everything is ok we can show a green dot with the "sync" word beside that and if the network has issue show a red dot and "unsync".

[2022-06-29 12:39] MoeNick commented on #843
Let's only disable the token drop-down in this issue.

[2022-06-29 21:44] Cotabe opened #1031 "Cotabe tests DeWork labels"
Work baby work

[2022-06-29 21:45] Cotabe commented on #1031
Yes it works!!!

[2022-06-29 22:23] Cotabe opened #1032 "LOLO TEST DEWORK ISSUES"
This repo seems to be working better

[2022-06-29 22:25] Cotabe commented on #1032
When I add the label later seems not to work well

[2022-06-29 22:26] Cotabe opened #1033 "Ok lets try this again"
I think I just found the bug. Label should come from the very begining

[2022-06-29 22:27] Cotabe commented on #1033
Yes that seems to be it

[2022-06-29 22:36] #1033 closed

[2022-06-29 22:36] Cotabe commented on #1032
Doesn't work if the label gets added later

[2022-06-29 22:36] #1032 closed

[2022-06-30 08:34] MohammadPCh opened #1036 "Fix Modal Shift"
We need to fix the layout shift when the modal opens

[2022-06-30 18:33] WhyldWanderer opened #1038 "When I try to edit my project description, it forces me to change my recipient wallet address"
When I try to edit my project description - I just wanted to add one sentence to the description only.
It will not let me publish my changes without changing the wallet addresses.

![image](https://user-images.githubusercontent.com/74267818/176752281-21de4ad6-621d-4048-83b4-fb4af4df407c.png)

[2022-06-30 20:17] GriffGreen opened #1042 "This tx needs some help to cross the bridge"
<img width="683" alt="Screen Shot 2022-06-30 at 4 15 42 PM" src="https://user-images.githubusercontent.com/14945613/176770892-f706322f-34fd-42c7-82ab-94c5d84a8e80.png">

[2022-06-30 20:17] GriffGreen commented on #1042
@danelsuga @aminlatifi @mohammadranjbarz

[2022-06-30 20:31] jeevanplus007 commented on #974
**Test Status :** PASS in STAGING

**Test URL :** https://staging.giveth.io/project/jk_project-jk_project-jk_project-jk_project-jk_project

**Test Results :** Both Hyperlinks are working with RIGHT CLICK Options to open in NEW TAB

**Snapshot :**

![image.png](https://images.zenhubusercontent.com/62a3cf4962612d632dd3b42a/da4264a2-9412-4beb-8c03-ce7568301875)

[2022-06-30 20:53] jeevanplus007 commented on #974
Moved to DONE as it is VERIFIED by QA in STAGING

[2022-06-30 21:00] MohammadPCh commented on #977
Moved to Backlog as it is NOT VERIFIED by QA in STAGING

[2022-06-30 22:19] jeevanplus007 commented on #969
**Test Status : PASS in STAGING

Test URL :** https://staging.giveth.io/create

**Test Results :** Valid Error Message are shown when Only Title is added and hit Publish button

**Snapshot :**
![image.png](https://images.zenhubusercontent.com/62a3cf4962612d632dd3b42a/27953023-ca6d-4ec2-b27c-7e180b7b62e2)

[2022-06-30 22:21] jeevanplus007 commented on #969
We can move this to DONE as QA is Successful in STAGING.

[2022-07-01 06:56] melodysongq commented on #971
We have a check-list resource as well as simple pointers to create a basic description with a good case for support.  Please assign to me (I can't assign myself) and I will come back with a draft.

[2022-07-01 09:37] MohammadPCh opened #1043 "Integrate givpower subgraphs"

[2022-07-01 09:38] MohammadPCh opened #1044 "show gGiv instead of stakedGIV"

[2022-07-01 14:51] mohammadranjbarz commented on #1042
@GriffGreen  @danelsuga
Thanks for reporting that, I handled that and the tx went
![Uploading Screen Shot 1401-04-10 at 19.20.56.png…]()

[2022-07-02 04:30] danelsuga commented on #1042
Thank you @mohammadranjbarz ! I guess this means it will take a couple days to get to my wallet?

[2022-07-03 05:47] mohammadranjbarz commented on #574
@MoeNick  @divine-comedian
I think it's exactly what we wanted, a user should see his anonymous donations, but other users should not see the other person's anonymous donations

[2022-07-03 05:48] mohammadranjbarz commented on #574
@MoeNick  @divine-comedian
And this one

I guess it's related to frontend ( @RamRamez , @MohammadPCh )

[2022-07-03 05:55] mohammadranjbarz commented on #1042
@danelsuga
Yeah, now your payment is `Approved` it would take few days to get `paid`

<img width="1917" alt="Screen Shot 1401-04-12 at 10 24 55" src="https://user-images.githubusercontent.com/9850545/177026892-8203e2be-3cda-4d68-a47f-220a3f21c72e.png">

[2022-07-03 12:10] RamRamez commented on #574
@MoeNick

[2022-07-03 13:32] RamRamez commented on #897
@Mettodo It's ok for me. Sometimes it takes a few seconds for the picture to be loaded. Could you please test it again?

[2022-07-04 12:50] jeevanplus007 commented on #975
**Test Status :** PASS in STAGING

**Test URL :** https://staging.giveth.io/

**Test Results :**  SAVE option is seen while Editing and "Your updates are saved" message is displayed as expected.

**Snapshot 1 - SAVE option :**
![image.png](https://images.zenhubusercontent.com/62a3cf4962612d632dd3b42a/56002842-9577-4e30-87d1-16fc01f3ced9)

**Snapshot 2 - Message pop up :**
![image.png](https://imag

[2022-07-04 12:52] jeevanplus007 commented on #975
We can move this to DONE as QA Verified in STAGING.

[2022-07-04 14:17] geleeroyale opened #1053 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
lauren test

[2022-07-04 14:18] #1053 closed

[2022-07-04 14:27] laurenluz opened #1054 "GIVpower - missing blockscout external link icon"
After I stake, the "view on blockscout" is missing the external link icon:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/f31cc57b-322c-453e-ad73-862b29b651b1)

[2022-07-04 14:31] laurenluz opened #1055 "GIVpower - when I lock for 10 rounds... it says I am locking until the current date"
This "You are locking until THIS DATE" should say today's date + x rounds...

so this should be some date in the future, and it should be determined using today's date & the number of rounds I am locking for.

Keep in mind that the "unlock date" will always be a Friday... because it should correspond to GIVbacks rounds. If the user is locking mid-round, and choose "1 round".... they will actually

[2022-07-04 20:29] laurenluz opened #1057 "GIVpower - APR should be dynamic"
This wasn't yet clear in the figma, but the GIVpower APR will be different for each person.
- [x] if the user has nothing staked/locked, the APR should show a range from min to max like (120%-5090%)
- [x] if the use has something staked/locked, the APR shown should be their average APR, considering all staked/locked positions

@mosaeedi is working on update this in the figma and can add the link h

[2022-07-04 23:59] SymSL opened #1058 "Changing Center button on website to "Donate now" and changing the yellow "Create a project" wording"
**What problem is this design solving? Why is it necessary?**
As users land on the Giveth website, they should be able to donate right away. We suggest to change the wording on the large center button to "Donate & Earn" and changing the yellow text that currently reads "Create a project" to "See Projects". We already have "Create a project" on the top right corner so there is no need to repeat.

*

[2022-07-05 00:18] SymSL opened #1059 "Suggestion for when projects are signing on: Delaying the "wallet connection" request"
**What problem is this design solving? Why is it necessary?**
When projects are being created, we should get the project details first before asking project owners to connect their wallets. Currently, the pop up asking for wallet connection comes up as soon as the "Create project" page is opening which can be intimidating for new users. Suggestion: delay this pop up until users input more contact

[2022-07-05 00:31] SymSL opened #1060 "Add a triggered pop up for users to add themselves to our newsletter database"
**What problem is this design solving? Why is it necessary?**
*A clear and concise description of what the problem is. Link to any relevant issues, PRs, and other resources.*
This will help us grow our newsletter database and keep donors and projects engaged. There are a few different ways this could be added, but it would be great to have a triggered pop up when we know the user has been on our s

[2022-07-05 00:33] SymSL commented on #1060
@ahmadabugosh I have just opened up this issue so we can include a triggered pop up on the giveth site - where do you think it should go? I suggested the main page based on time or scrolls, let me know what you think

[2022-07-05 05:09] Mettodo commented on #897
OK, good to hear. Thanks. Then I guess it is a problem of my Firefox settings.

[2022-07-05 05:09] #897 closed

[2022-07-05 10:10] laurenluz commented on #1055
Oh ok!! Great. Thanks Cherik. I think we can close this then

[2022-07-05 10:25] danelsuga opened #1063 "Link for "Donating to projects" twice on same page?"
![GIV tokens.png](https://images.zenhubusercontent.com/6066d509782b4d63df5cd761/b5d37acc-7d63-4dea-b434-e304334f16a0)

[2022-07-05 10:27] laurenluz commented on #1058
@SymSL I think "Donate" instead of "Donate & Earn"... because you can't earn for donating to any project, just verified projects.

@MoeNick so this issue is just to change the text "See Projects" to "Donate". The button should still link to the projects page.

[2022-07-05 10:27] danelsuga opened #1064 "Updating "Meet the team""
![meet our team.png](https://images.zenhubusercontent.com/6066d509782b4d63df5cd761/013c5537-7474-4c3d-9407-d1aad0e04865)

@SymSL 's comment:
I agree, would be great if new team members could be added even if they are just generic images instead of photos. I am not sure who has access to the back end of the website but this could be done by someone in comms, or by HR?  Maybe the dev team will have

[2022-07-05 10:28] danelsuga opened #1065 "Page changer "broken""
![page changer.png](https://images.zenhubusercontent.com/6066d509782b4d63df5cd761/c78544c8-2fa6-4c37-ae49-ec26f1e43f7e)

[2022-07-05 10:29] danelsuga commented on #1063
@SymSL 's comment:
Good suggestion on this. People do love to click a button though. Is it possible to have 3 buttons on the pop up? Otherwise maybe just a copy change could be a "Softer" approach, and the button copy could change to "Start now" or "Start Giving Now"?

[2022-07-05 10:32] #1055 closed

[2022-07-05 10:40] MohammadPCh commented on #716
@MoeNick It's done :)

[2022-07-05 11:41] MohammadPCh opened #1066 "Redirect to previous address after the backend issue fixed"
When we can't connect to the backend we redirect the user to the /maintenance page. but after the issue is fixed we don't redirect it to the previous route and show that error page again.

[2022-07-05 11:57] MohammadPCh commented on #1066
The better idea is to show a component on that page and says: 'we can not ...', showing the maintenance component may confuse the user.
@MoeNick @mosaeedi

[2022-07-05 12:19] divine-comedian commented on #763
ah okay, lauren advised me that you are using DRGIV2, I tried getting DRGIV2 from the GIVdrop but I hit an error - the claim button does nothing and I can see a few errors in the console. How else can I get DRGIV2 for testing?

<img width="1440" alt="Screenshot 2022-07-05 at 14 17 12" src="https://user-images.githubusercontent.com/67759413/177325686-ebcf9747-9123-43be-a1f5-3fb13c49515d.png">

[2022-07-05 12:50] divine-comedian commented on #763
on this modal here:

![image](https://user-images.githubusercontent.com/67759413/177330418-0397a74c-0c1b-46bc-9e85-09ebd9546a2a.png)

shouldn't we have a `learn more` link somewhere?

---

there's a lot of information here and the modal is looking very skinny, would it be better to increase the width of the modal so the information displays better?

![image](https://user-images.githubusercontent.c

[2022-07-05 15:34] RamRamez opened #1068 "All wrong project slugs are redirected to maintenance page"

[2022-07-06 07:41] divine-comedian commented on #763
Locking up my GIVpower for more rounds the date of unlock never changes - it always shows as July 6 no matter if I lock for 2 rounds, 4 rounds, 6 rounds....
<img width="1440" alt="Screenshot 2022-07-06 at 09 31 08" src="https://user-images.githubusercontent.com/67759413/177495476-a83cfd61-7d9e-47d5-9976-75bca23c6a01.png">

<img width="1440" alt="Screenshot 2022-07-06 at 09 39 56" src="https://user

[2022-07-06 09:50] jeevanplus007 commented on #1027
@alireza-sharifpour  Can you list all the Fixes made as part of this Task ?

[2022-07-06 12:23] RamRamez opened #1079 "Add project not available page and loader to edit project"
1. add a loader to edit project
2. first check if user is signed in then check if user is registered. If user is not signed in, complete profile modal shouldn't be shown.
3. show project not available page in edit project if project not found
4. auto close welcome modal when user singed in, in edit project view

[2022-07-07 19:46] jeevanplus007 commented on #973
@RamRamez There are two fixes done as part of this Ticket :
1. Location Field Flickering issue
2. Global Impact Checkbox Flickering issue

[2022-07-07 20:04] jeevanplus007 commented on #976
**Test Status :** PASS in STAGING

**Test URL :** https://staging.giveth.io/create

**Test Results :**  For a Deactivated Project, both Like and Share options are Greyed Out as Expected.

**Snapshot :**
![image.png](https://images.zenhubusercontent.com/62a3cf4962612d632dd3b42a/b7bde687-0c60-4859-b09b-0db5bd6adc6a)

[2022-07-07 20:13] jeevanplus007 commented on #977
**Test Status :** PASS in STAGING

**Test URL :** https://staging.giveth.io/create

**Test Results :** Update text area is set with a expand limit as expected.

**Snapshot :**
![image.png](https://images.zenhubusercontent.com/62a3cf4962612d632dd3b42a/1f033032-54c0-43f0-b18e-77f644d7b5d6)

[2022-07-07 20:32] jeevanplus007 commented on #843
@RamRamez Can you share the snapshot of how does the Expected Result look like ?

[2022-07-07 20:48] jeevanplus007 commented on #1068
@RamRamez Are there different types of Wrong Projects ? Which scenarios are covered as part of Fixing the issue ?

[2022-07-07 21:44] jeevanplus007 commented on #1027
**Tested in URL :** https://giv-verification.vercel.app/verification/
**Snapshot 1 :Removed "Make your project Traceable" from The modal.**
![image.png](https://images.zenhubusercontent.com/62a3cf4962612d632dd3b42a/5e2b24df-259f-4dc5-882c-9f6a31d69bff)

**Snapshot 2 : Capitalized "Givers" in before start page**
![image.png](https://images.zenhubusercontent.com/62a3cf4962612d632dd3b42a/6988b972-057

[2022-07-08 20:21] RamRamez commented on #973
Thanks @jeevanplus007
Also the problem with selecting everything twice is resolved in this PR.

[2022-07-08 20:25] RamRamez commented on #843
@jeevanplus007 When wallet is not connected, token select should be disabled.

![image](https://user-images.githubusercontent.com/73441857/178065406-871974bb-735c-4e73-9fdb-30e71c8cdc60.png)

[2022-07-09 11:55] jeevanplus007 commented on #715
@mohammadranjbarz  Any Test Scenarios or Snapshots you can provide for reference. ?

[2022-07-09 11:57] jeevanplus007 commented on #843
**Test Snapshot :**
![image](https://user-images.githubusercontent.com/107279959/178104601-c66a3d69-64aa-4909-8474-9c88a5ae725a.png)

[2022-07-10 09:13] mohammadranjbarz commented on #715
Every wallet address of any project should be here
https://serve.giveth.io/admin/resources/ProjectAddress

and For tests, you can create a new project and then you should check admin panel to see whether that address appeared in admin panel or not

[2022-07-11 14:21] mohammadranjbarz commented on #902
@MoeNick
It's done now, you can test
@alireza-sharifpour

[2022-07-11 14:23] jeevanplus007 commented on #925
@mohammadranjbarz Kindly share your latest updates on this.

[2022-07-11 14:24] jeevanplus007 commented on #574
@mohammadranjbarz  Kindly have a look

[2022-07-11 14:26] alireza-sharifpour commented on #902
Thanks @mohammadranjbarz
I tested it and implemented the frontend side, and it works perfectly 🤩.
Thank you.

[2022-07-11 14:36] jeevanplus007 commented on #970
@RamRamez  - Make sure it is adding in a NEW TAB

[2022-07-11 14:37] jeevanplus007 commented on #971
@RamRamez Please share your updates.

[2022-07-11 14:40] RamRamez commented on #971
@WhyldWanderer @divine-comedian could you send me the valid link for this?

[2022-07-11 14:42] jeevanplus007 commented on #999
@mosaeedi Please have a look

[2022-07-11 14:43] melodysongq commented on #971
Here is a draft of the Fundraising tips we can share.  Please make suggestions and edits as well before finalizing and use: https://docs.google.com/document/d/1nqrhxv_-WpRM2lQBaAOiTBIUFWEszPJmVdOLZ08PBb8/edit#heading=h.cvdrjfjmr1cy

[2022-07-11 14:45] jeevanplus007 commented on #728
@MoeNick We need to know more about this issue.

[2022-07-12 05:13] mohammadranjbarz commented on #574
@jeevanplus007  I think we should wait for @MoeNick  to back to work, then we can discuss about it

[2022-07-12 05:28] mohammadranjbarz commented on #925
@rpiesveloces
Sorry we had some problem in saving donations that time, I added your donation manually, I really appreciate your report

<img width="1538" alt="Screen Shot 1401-04-21 at 09 56 34" src="https://user-images.githubusercontent.com/9850545/178415271-e2b64635-ed73-4d73-b247-676f7913202b.png">

[2022-07-12 05:43] mohammadranjbarz commented on #1007
@MoeNick  @jeevanplus007
I think this is implemented now unless if you want to change the sorting algorithm
(Now `GIV` comes first, after that native token on each network, then `WETH` and other tokens would be listed sorted alphabetically

[2022-07-12 05:57] MoeNick commented on #1007
Let's move it to done

[2022-07-12 06:00] MoeNick commented on #574
I'm available in 2 hours, we need to talk?

[2022-07-12 10:36] divine-comedian opened #1092 "PROJECT VERIFICATION - rich text editor"
Arriving here on this section where it asks for proof of milestones it would be useful to have some extra options or a clear way for a user to upload images or videos.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/d16d5f26-b38f-450e-a6b7-86b07848e8e2)

[2022-07-12 10:41] divine-comedian opened #1093 "PROJECT VERIFICATION - Allow upload of multiple "proof" images"
In the project verification flow where it asks for me to upload any files for proof of milestones I can only upload one image, if a project has achieved many things it might be hard to show it all in just one photo, users should be allowed to upload more than one photo for their proof.
![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/2533658e-29c4-4354-9e95-09e33ff299ac)

[2022-07-12 10:45] divine-comedian commented on #1026
all on one page now! looks good!

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/178472912-d0113f39-d4e1-46b6-9054-5b49e8b0c508.png">

MOVING TO DONE!

[2022-07-12 11:41] divine-comedian commented on #791
on the confirm donation modal I can now see the spinning wheel to show my donation is being loaded/processed.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/178481727-8902c509-d10b-4ca6-9e14-910778b8272c.png">

moving to done!

[2022-07-12 12:29] RamRamez opened #1094 "Add fade-in and fade-out animation to all modals"
Animation should be added when modal is opened or closed

[2022-07-12 12:39] WhyldWanderer opened #1095 "Verification Form - Personal Social Media content"
The content on the personal social media section does not reflect the figma. Also, this should be optional.
![image](https://user-images.githubusercontent.com/74267818/178491493-8f048860-8c54-4512-9290-e2354fad83fa.png)

It should say "Connecting your social media accounts is a good way to show that
you are who you say you are." As reflected below.
![image](https://user-images.githubusercontent.co

[2022-07-12 12:50] WhyldWanderer opened #1096 "Verification Form - Registration section | Multiple image and doc uploading."
The user should have the option to upload more than just an image. We should accept all feasible file formats.
Should say "Drag and drop a **file** here, or upload from device"

![image](https://user-images.githubusercontent.com/74267818/178492706-eff73cb0-59f3-4c34-880b-2eb0e94973ff.png)

[2022-07-12 13:12] WhyldWanderer opened #1097 "Verification Form - Add an Address Modal text"
Wallet Title seems confusing. I think we should add some examples here to show what we are looking for.
![image](https://user-images.githubusercontent.com/74267818/178497710-d3f86981-d88b-424a-921d-53ccf31b137e.png)

Should say "Choose a title for this address. eg. Salary Payments, Marketing, etc."

[2022-07-12 14:51] WhyldWanderer opened #1099 "Verification Form - Required Questions"
This question should be required but currently it is not.

![image](https://user-images.githubusercontent.com/74267818/178496893-aa7d70b6-7acb-47c8-8d52-b60e74a9e0a5.png)

[2022-07-13 00:14] divine-comedian commented on #902
Is this issue done or does it require further testing?

[2022-07-13 00:16] divine-comedian commented on #971
where will this be hosted? as in where will this link point to? We can upload your doc to the documentation and link it from there, has anyone in connect already reviewed it?

[2022-07-13 00:25] divine-comedian commented on #574
my only comment was that there is no confirmation that the donation was made anonymously on the hi 5 page but perhaps that is out of scope of this issue. willing to call it good enough to be DONE

[2022-07-13 07:25] divine-comedian commented on #971
I don't think anything like that exists on the dapp, probably the docs will be the best place.

[2022-07-13 07:45] MoeNick commented on #971
If it's going to be like just user guide, I also suggest Docs, if you gonna change it by specific events or campaign, we have to use kind of landing management tool.
For now lest do it on Docs, @divine-comedian can you take this one and send us the links to be addressed in the dapp?

[2022-07-13 07:51] divine-comedian commented on #971
we'll wait for QA to be finished, if we go this route can you ping me @melodysongq when this is ready for upload?

Also gave it a quick review, this is a great resource! Nice work!

[2022-07-13 08:00] melodysongq commented on #971
For sure.  Also thanks to @clara-zi who started the original draft.  We will take a final look and it will be ready as a first step.

[2022-07-13 08:04] divine-comedian commented on #893
testing again on `https://giv-verification.vercel.app/`

I am able to toggle back and forth from previous pages and my response is saved in the verification flow!
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/178682743-a44feda4-6282-4f5e-a5bc-fbecaf7084e7.png">

moving to done!

[2022-07-13 09:43] WhyldWanderer opened #1102 "Create a project wallet address confusion"
Users are getting confused by the labels in the create a project flow.
They think that "Gnosis Address" means Gnosis Safe. This has happened with multiple users.

We should change it to say "Gnosis Chain (xDai) Address"

![image](https://user-images.githubusercontent.com/74267818/178703746-ef2b6ab3-a8a2-48f0-9181-38261ee298e5.png)

Is there a way to validate that the wallet address is actually on

[2022-07-13 10:02] MohammadPCh opened #1103 "Show unlock time in round selector"
As we decided in the last GIVeconomy call, after the user changes the round slider, we should show him the unlock date instead of the max round.

[2022-07-13 11:33] jeevanplus007 opened #1106 "Create a Project - Upload Image Cover - Not properly refreshing the removed data"
**Issue :** Create a Project - Upload Image Cover - Not properly refreshing the removed data.

**Steps to Repro :**
1. Click on Create a Project
2. Go to Add an image to your project
3. Click on Upload Cover Image
4. Using Drive, Upload any image from System(Hard drive)
5.  After Successfully Uploading, Click REMOVE button
6. Now Select any image from our gallery as shown picture

**Results :** Th

[2022-07-13 12:20] #716 closed, assigned to MohammadPCh, alireza-sharifpour

[2022-07-13 14:44] laurenluz opened #1107 "Angel Vault - New Staking Card Design"
ICHI already launched oneGIV now - you can mint oneGIV
Then you can deposit the oneGIV into the angel vault &  get LP tokens

The user then will be able to stake these LP tokens into the GIVfarm & earn rewards.

@mosaeedi to help w / design
@aminlatifi to help w/ a test deployment

I will add more details for the design to this issue.

[2022-07-13 15:59] laurenluz opened #1108 "After archiving a pool, the user should still be able to harvest rewards"
@Cotabe is down to test this for the GIV/HNY pool

Please make sure that you can harvest your GIV, and that you can unstake your LP tokens all fine :)

If there is an issue, tag Amin here so he can fix it.

[2022-07-13 16:09] laurenluz opened #1109 "Technical Validation of bridging GIV from mainnet to gnosis chain"
We will be replacing the current 100% GIV staking card with the GIVpower card...

The thing is, the user can only stake for GIVpower on GC.

We want this card to still show up on mainnet, so want to figure out if it is possible to use the xDai bridge from our frontend. As in, when the user goes to stake on mainnet, it triggers a tx to bridge their tokens to GC. @paxthemax looking to you to help wi

[2022-07-13 16:11] laurenluz opened #1110 "Determine how much GIV we should put for GIVpower staking"
This will be used for incentive for single-sided staking

[2022-07-13 17:25] laurenluz opened #1111 "Create vote to replace single sided staking w/ GIVpower"
in snapshot

[2022-07-13 17:25] laurenluz opened #1112 "Forum post explaining GIVpower"

[2022-07-13 19:17] WhyldWanderer commented on #1099
This one should also be required
![image](https://user-images.githubusercontent.com/74267818/178813919-6dbf94fe-c3a9-499f-9701-a3016e95ec87.png)

[2022-07-13 19:20] WhyldWanderer opened #1113 "Verification form - Connect project social media the same as personal social media"
Can we make it so that the user can connect their projects social media accounts the same way as their personal accounts?

![image](https://user-images.githubusercontent.com/74267818/178814256-903cb296-1bac-4c27-abc7-b9a8de5b3cc9.png)

Can we make it so that it is like this 👇 instead?

![image](https://user-images.githubusercontent.com/74267818/178814367-0009ecc6-ec89-4299-b6c4-b54a7a66791f.png)

[2022-07-13 19:26] WhyldWanderer opened #1114 "Verification form - The user needs to be able to give us the link to where they shared the social media post..."
WE need to add a section where the user can provide the link to social media post where they share the link to their project.

Should be somewhere after their social media profiles here:
![image](https://user-images.githubusercontent.com/74267818/178814897-e4c7b16d-7c79-4e3e-afca-bfa7f19544d3.png)

The question should say "In order to ensure that you are actually a representative of the organizati

[2022-07-13 21:59] Cotabe commented on #1108
The harvest reward button is not active. So I can't claim the rewartds.

Unstacking works.
And I can withdraw liquidity from the liquidity pool although I had to import the pair (so not making it easy checks)

So everything is alright, except harvesting rewards.

[2022-07-13 22:04] laurenluz commented on #1108
@aminlatifi can you look into this?

We want the user to still be able to claim rewards from an archived pool

[2022-07-13 22:13] Cotabe commented on #1108
BTW... regarding the rewards that are streamed, will they be claimed on that harvest button from now till the end of the stream?

[2022-07-13 22:19] laurenluz commented on #1108
@Cotabe no, once you claim once, the streaming rewards will just add to your givstream flowrate and can be claimed from the givstream page

[2022-07-14 12:13] jeevanplus007 opened #1117 "Verification Form - Already Verified Form should be Greyed out after Finish"
**Issue :** Verification Form - Already Verified Form should be Greyed out after Finish

**Steps to Repro :**

1. Open a Project which has to be Verified
2. Follow all Steps in Verification Project Form
3. Click on Finish
4. After completion, try to click on options in the Verification Form

**Results :** All the Options in the Verification Form Tree list should be Greyed out, Currently it is edit

[2022-07-14 13:07] MoeNick opened #1119 "Empty search result"
@mosaeedi commented on [Tue Jul 12 2022](https://github.com/Giveth/GIVeconomy/issues/660)

If a user searches for something that we can't find any result we show this screen.

![Screen Shot 2022-07-12 at 2.06.58 PM.png](https://images.zenhubusercontent.com/61dd85b9a1419a0fc83f15d1/a7d118fd-1dbd-4c71-992b-90431af96439)

### Page structure
![Screen Shot 2022-07-12 at 4.13.56 PM.png](https://images.z

[2022-07-14 13:11] MoeNick opened #1120 "Searching in projects"
@mosaeedi commented on [Tue Jul 12 2022](https://github.com/Giveth/GIVeconomy/issues/659)

https://images.zenhubusercontent.com/410473836/ba195bf9-5af9-4844-a109-0d22f05a8578/screen_recording_2022_07_12_at_1_51_22_pm.mov

Users can tap on the search icon to open the search module.

1. Default state: [user didn't type anything yet]
![Screen Shot 2022-07-12 at 2.01.38 PM.png](https://images.zenhubus

[2022-07-14 13:13] MoeNick opened #1121 "Filtering/Sorting"
@mosaeedi commented on [Tue Jul 12 2022](https://github.com/Giveth/GIVeconomy/issues/658)

![Screen Shot 2022-07-12 at 3.50.16 PM.png](https://images.zenhubusercontent.com/61dd85b9a1419a0fc83f15d1/fa49cb5e-99f2-4547-a87b-f9d64920e4d1)

## Design resource
Filter/sort module -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11069%3A199976)

**Note:**

[2022-07-14 13:16] MoeNick opened #1122 "Categories & subcategories"
@mosaeedi commented on [Tue Jul 12 2022](https://github.com/Giveth/GIVeconomy/issues/657)

Module structure
![Screen Shot 2022-07-12 at 12.17.07 PM.png](https://images.zenhubusercontent.com/61dd85b9a1419a0fc83f15d1/fa3a25fa-de8c-43d9-9c0d-2e8c1ba1b796)

---

## Exception
**All** category:
For the **All** category, we don't have any sub-categories and the sub-categories row should be disabled and n

[2022-07-14 13:20] MoeNick opened #1123 "Adding banner to projects list page"
@mosaeedi commented on [Tue Jul 12 2022](https://github.com/Giveth/GIVeconomy/issues/656)

for each category and related subcategories, we need to present a banner.
### here is the banner preview

![Screen Shot 2022-07-12 at 11.18.15 AM.png](https://images.zenhubusercontent.com/61dd85b9a1419a0fc83f15d1/e6102949-f532-4fc8-99b5-07427902e047)

---

Each banner will be only visible on the related main

[2022-07-14 13:45] divine-comedian commented on #902
Okay I'm still waiting to be told how I can test this issue...

[2022-07-14 13:49] MoeNick commented on #902
@jeevanplus007 can you link it to the written test scenario? (The sheet you prepared I mean) we need it asap.

[2022-07-14 13:57] melodysongq commented on #971
@divine-comedian this document is ready to be uploaded.  We can close the issue after that.

[2022-07-14 14:01] MoeNick commented on #1108
As talk with @MohammadPCh he can make the button of harvesting and the link add liquidity to pool again on this card. shall we assign him?

[2022-07-14 14:10] MoeNick commented on #811
@mosaeedi now we can add manually in Admin, suggested UX how to communicate this kind of users they need to reach out to admins?
@MohammadPCh can we understand the wallet is multisig?

[2022-07-14 14:16] #253 closed

[2022-07-14 14:16] #456 closed

[2022-07-14 14:23] MoeNick commented on #452
@melodysongq thanks for the clarification, I have some points:
1- we have some imported projects from Givingblock and CHANGE network, which due to technical problems we can't have their specific categories so we just named them non-profits, in this case what we should do? do we need to remove the whole categories?

2- We have some specific non-profits working in different areas that came across th

[2022-07-14 14:34] melodysongq commented on #452
@MoeNick  I think just from a project point of view, "nonprofit" is a confusing category.  If they are verified social goods project, they are all technically "nonprofit".  I suggest you replace it with a less used or less common term for those in a specific category (like imported from the Giving block etc.).     In general, we use NGO, NPO a lot just in regular speech to indicated organizations

[2022-07-14 15:42] MoeNick opened #1124 "SingleProject Page: Refactoring showing categories"
Project Single Page - how to show categories / subcategories? with links?

## Design resource

Project single page **[Owner view]** -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11651%3A208431)

Project single page **[Public view]** -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11651%3A208400)

[2022-07-14 16:00] MoeNick opened #1125 "Add/Edit project form: Refactoring category section."
## Design resource

Categories/sub categories on edit/create project form -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11651%3A207857)

![Screen Shot 2022-07-27 at 4.05.30 PM.png](https://images.zenhubusercontent.com/61dd85b9a1419a0fc83f15d1/9ba7d220-4e86-49ad-9649-698217705c17)

[2022-07-14 16:00] #463 closed

[2022-07-14 17:04] GriffGreen opened #1126 "The 0 round info would be valuable"
<img width="369" alt="Screen Shot 2022-07-14 at 7 01 42 PM" src="https://user-images.githubusercontent.com/14945613/179040033-7b8dcc02-7879-4f8c-88fa-b9e894ecc513.png">

I know the minimum is 1 round... and that content can stay there... but i would love to see the 0 round info when making the decision for how log to lock!

I imagine the easiest thing is to have it start at 0 instead of 1 and then

[2022-07-14 17:11] GriffGreen opened #1127 "The date it is unlocked is showing todays date when it should show like 8 months from now"
<img width="358" alt="Screen Shot 2022-07-14 at 7 10 34 PM" src="https://user-images.githubusercontent.com/14945613/179042701-d7d9eb59-c029-47e8-8851-83e40998172b.png">

[2022-07-14 17:13] #1127 closed

[2022-07-15 09:19] MohammadPCh commented on #811
@MoeNick
as @aminlatifi told us, we can check it. also, I created a PR that tested it there. and the response is YES it works.

[2022-07-15 09:31] mosaeedi commented on #452
Thanks, @melodysongq for your suggestion, I just need to say that the whole idea for this task was rearranging current categories under some main categories to make it easier for users to create or find projects.
We can actually create new main categories and sub-categories if there is something missing and I'm sure we are missing some!

Since this issue was open for a very long and basically it a

[2022-07-15 14:09] mosaeedi commented on #738
Mobile design -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11238%3A206951)

Responsive -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11238%3A205879)

![Screen Shot 2022-07-15 at 5 09 25 PM](https://user-images.githubusercontent.com/13708322/179240423-ca629aec-7100-4f37-a29f-a40721a858e2.png)

[2022-07-15 14:27] laurenluz commented on #1107
Ok this is almost done here: https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11242%3A204085

Just need @mosaeedi to finish cleaning it up today & we can implement

[2022-07-15 14:29] laurenluz opened #1131 "Implement frontend of Angel Vault staking card"
Design in #1107

We need to add this to the GIVfarm & test it. Would be great to have this ready next week.

[2022-07-15 14:53] laurenluz opened #1132 "Angel Vault Rewards Program"
oneGIV exists & so does the angel vault!

The only blocker to getting it out is setting up our incentives program.

The design is in #1107, the frontend will be build in #1131

@aminlatifi we need to you to deploy a the incentive program. oneGIV can be minted & liquidity added to the angel vault [here](https://app.ichi.org/vault?poolId=20009&back=vault).

Then the user should be able to stake thei

[2022-07-15 16:12] melodysongq commented on #971
I can't close those as I think @clara-zi owns the document, is that the reason?   @clara-zi I wonder if you can take another look and close some editing.  Thanks!!

[2022-07-15 16:48] laurenluz commented on #1108
@Cotabe can you test again?

[2022-07-15 17:01] Cotabe commented on #1108
It works now.

[2022-07-15 17:01] #1108 closed

[2022-07-15 18:46] laurenluz commented on #1107
This is done! Thanks @mosaeedi

![image](https://user-images.githubusercontent.com/75490971/179291000-d71d055a-58ac-4581-9955-f556c576f64a.png)

[2022-07-15 18:47] laurenluz commented on #1131
@MohammadPCh The design is ready!

https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy

![image](https://user-images.githubusercontent.com/75490971/179291120-2f83eef2-4513-4202-8443-8877e115a8bf.png)

[2022-07-15 20:24] laurenluz commented on #1112
https://forum.giveth.io/t/givpower-summary-requesting-giv-for-incentives/719

[2022-07-15 20:24] #1112 closed

[2022-07-15 20:25] laurenluz commented on #1110
We think 7 million GIV over 6 months, as per [this spreadsheet](https://docs.google.com/spreadsheets/d/1neUUsppi4HZ5b0BlOUR60Vt2Hn-_e-hvoJeO20cTqyk/edit#gid=1057151186)

Will wait though in case [this forum post](https://forum.giveth.io/t/givpower-summary-requesting-giv-for-incentives/719) reveals another recommendation by the community

[2022-07-15 20:25] #1110 closed

[2022-07-15 20:25] laurenluz commented on #1111
Will do this after 5 days advice process of [this forum post](https://forum.giveth.io/t/givpower-summary-requesting-giv-for-incentives/719)

[2022-07-16 09:06] geleeroyale opened #1133 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
We do cryptodonation on Fantom network, we want to collaborate

[2022-07-16 14:00] danelsuga opened #1134 "Change "Consume" to "Learn""
We would like to change the header "Consume" to read "Learn" instead.
![consume.png](https://images.zenhubusercontent.com/6066d509782b4d63df5cd761/28da9006-7c12-458a-ad25-d7e8b35afaec)

I chatted with @mateodaza about this a while ago and finished up another chat with @laurenluz and @c0ric0ri in issue #717 on the Giveth Planning board.

I can't actually assign anyone to the issue however.

@mateod

[2022-07-16 14:54] MoeNick commented on #1134
@alireza-sharifpour would u pls take it?

[2022-07-17 05:23] alireza-sharifpour commented on #1134
Sure, I'll fix it.

[2022-07-17 08:07] MoeNick commented on #1097
@MohammadPCh pls make the address required and remove the name.

[2022-07-17 08:19] MoeNick commented on #1114
Label:
Link to your Giveth project on your social media.

[2022-07-17 08:25] MoeNick commented on #1097
Pls add placeholder: Salary Payments, Marketing, etc.

[2022-07-17 08:33] MoeNick commented on #1093
Let's do up to 5 files.

[2022-07-18 10:31] aminlatifi commented on #1107
@laurenluz Will it be on mainnet or gnosis-chain? and can you provide the link to mint LP?

[2022-07-18 10:52] laurenluz opened #1145 "Implement URL for each GIVfarm staking modal (for Angel Vault)"
We want to make it possible that we could send the user directly to the staking card for a particular pool in the GIVfarm.

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/01272402-6e65-41c6-adb1-bba9c6dc2562)

This will make it a lot easier for users who use the Angel Vault & provide liquidity to then go to our site to stake their LP tokens.

@aminlatifi @MohammadPCh -

[2022-07-18 10:53] aminlatifi commented on #1145
We should be ready for edge cases like when the user wallet is not connected or the user is connected to a wrong network!

[2022-07-18 10:55] laurenluz commented on #1131
Also we should have this launch with a 72 hr countdown :) So we should make sure that we have that devved up too

[2022-07-18 10:55] laurenluz commented on #1132
Remember we will launch with a 72 hr countdown @aminlatifi

[2022-07-18 12:15] laurenluz commented on #1057
Hey @MohammadPCh There is an issue w/ this one:

You can see that I an connected w/ my wallet and staking... so I should be seeing *my* average APR, not the full range, as it is shown here:

![image](https://user-images.githubusercontent.com/75490971/179509028-ca0ff62a-7d28-4ad7-a2e6-f2d1eaaf73ac.png)

The user should be seeing the "range" only if they are not staking GIV, or if their wallet is no

[2022-07-18 12:24] laurenluz opened #1146 "GIVpower Design: Show "locked token details" from the main card"
@mosaeedi right now it is really hard to get information about your already-staked&locked tokens.

The user has to go form here
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/5e57f542-21b5-4efa-9368-64f75e5519f6)

To here:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/62449bec-7048-4b21-9b0d-62a3a8f6a21e)

To here:
![image.png](https://image

[2022-07-18 12:27] laurenluz commented on #1057
@MoeNick this one has a bug, needs to be fixed again

[2022-07-18 12:30] laurenluz opened #1147 "GIVpower staking modal "blockscout" is spelled wrong"
It's "Blockscout"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/2bd7941e-e8b3-4288-b335-329835369166)

[2022-07-18 12:52] laurenluz opened #1148 "GIVpower - small changes to staking, unstaking & locking modals"
- [x] The tooltips in the "multiplier" box where it says "GIVpower" on *all* the modals should say "Coming soon: GIVpower will allow you to support verified projects will earning rewards."
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/3ab700c0-91dc-4daf-bab9-ad9395983c03)

- [x] Remove the "I'll do it later" form the Locking modal (we should keep this text on the "incr

[2022-07-18 12:52] MohammadPCh commented on #1145
@laurenluz @aminlatifi
I think we can have it. let me investigate.

[2022-07-18 12:56] laurenluz opened #1149 "GIVpower explanation on back of card - change for MVP"
At launch, the user will not be able to Boost Projects. We need to change the back of the card.

- [x] Change text to say:
"You get GIVpower when you stake & lock GIV. GIVpower will allow you to boost projects to influence their ranking on Giveth.

It will allow you to support the projects you believe in, without donating."

- [x] Add a small "Learn More"
- [x] Remove (/comment out) the "Boost Pro

[2022-07-18 13:05] laurenluz commented on #1107
Mainnet :) I think you know now

Here's the link w/ all the options for the user
https://app.ichi.org/vault?poolId=20009&back=vault

[2022-07-18 13:24] MoeNick commented on #1132
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-dapps-v2/1132?planning-poker) with ZenHub @aminlatifi

[2022-07-18 13:27] #899 closed

[2022-07-18 13:28] aminlatifi commented on #1132
We first will setup everything on test env (kovan), and if it goes well we can do it on the production.

[2022-07-18 13:29] #663 closed

[2022-07-18 13:29] #769 closed

[2022-07-18 13:29] #662 closed

[2022-07-18 13:29] #553 closed

[2022-07-18 14:43] #462 closed

[2022-07-18 14:56] MoeNick opened #1150 "Implement new UX for adding removing addresses"
[Figma Link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=5790%3A126811)

[2022-07-18 18:06] divine-comedian commented on #922
testing on `https://giv-verification.vercel.app/`

I can see on the project cards the verification status successfully for when a project is rejected, however some other things don't seem to be working properly.

![image](https://user-images.githubusercontent.com/67759413/179573927-b67976a6-a59e-4afd-8352-bee8746c532e.png)
For a successfully verified project the "please contact support" should be

[2022-07-18 18:18] divine-comedian commented on #1150
how can this issue be tested?

[2022-07-18 18:22] divine-comedian commented on #1097
this looks to be implemented!

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/179577218-0cbd77eb-9ccf-4cf6-b54f-2ac89de9a983.png">

moving to DONE

[2022-07-18 18:24] divine-comedian commented on #1134
testing on `staging.giveth.io`

this looks to be implemented!
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/179577571-6288e78d-3120-43a7-84df-257b19de0416.png">

moving to DONE!

[2022-07-18 18:25] danelsuga commented on #1134
Thanks, everybody!

[2022-07-18 18:29] divine-comedian commented on #1114
testing on `https://giv-verification.vercel.app/`

this section seems to be implemented

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/179578110-fbbccffc-212b-472d-a4dd-d00d7ba18a08.png">

In the flow I am not allowed to proceed until this box has a url filled into it. works as expected, copy looks good.

moving to DONE!

[2022-07-18 18:39] divine-comedian commented on #1099
testing on `giv-verification.vercel.app/`

This is now a required field, I cannot proceed until I choose one.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/179579590-a3c72065-9fd5-47de-ae1a-addb736a8d4a.png">

and on the next `activity and milestones` page these fields are required, including the one specified in the issue:
<img width="1440" alt="image" src=

[2022-07-18 18:43] divine-comedian commented on #1123
how can this issue be tested?

[2022-07-18 18:46] divine-comedian commented on #970
testing on `staging.giveth.io`

creating a new project and looking at the `browse examples` link it now successfully opens `https://staging.giveth.io/projects` in a new tab.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/179581163-e4ca7a64-12a4-4c9e-854f-a5902b2a36f9.png">

this issue seems to be resolved! moving to DONE

[2022-07-18 19:07] divine-comedian commented on #1094
@RamRamez what should this animation look like? right now I'm testing the pop-up modals on `staging.giveth.io` and there is no animation on pop-ups inside the donation page, project creation page and project view page..

[2022-07-18 20:04] danelsuga commented on #1042
(I don't have permissions to close the issue.)

[2022-07-18 21:15] divine-comedian commented on #1094
woww! looking good
https://www.loom.com/share/e918fd8ad5cd483c91319d978433cc8e

I'll do a thorough test of modals and update this issue

[2022-07-18 21:58] RamRamez commented on #1094
Great, thanks @divine-comedian

[2022-07-19 02:48] divine-comedian commented on #1094
okay, moving to DONE

[2022-07-19 08:44] MoeNick commented on #1150
@mosaeedi
1- Pls name the network like Eth-mainnet
2- Pls consider the error we have on avoiding exchange addresses.
3- appreciate if you can also consider H-cases, like repeated addresses.
Repeated addresses
Not valid eth address
ENS not valid
4- You can enter ENS for Ethereum mainnet

[2022-07-19 09:39] RamRamez commented on #922
I've submitted my project (slug: `test-hi-5`) for verification but `projectVerificationForm.status` is still `draft`.
I think backend doesn't update the status.
@mohammadranjbarz Could you please take a look?

[2022-07-19 09:43] mohammadranjbarz commented on #922
I added a feature in admin bro to can make submitted forms `draft` , for testing this feature I just make on of your forms `draft` in admin panel, so I think it's the reason, but for making sure, please submit it again and check if it's still draft

[2022-07-19 11:00] RamRamez opened #1155 "some improvements on create project page"
In create project page according to [figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3490%3A96195):
1. footer should be removed
2. mobile margins should be 16px
3. `submisson guidelines` button should be moved to top on mobile

![image](https://user-images.githubusercontent.com/73441857/179735007-910ef227-6fa1-48e8-a356-32374394f49a.png)

[2022-07-19 11:04] MohammadPCh commented on #1145
@laurenluz
try it out like this:
/givfarm?open=`[StakeingType]`&chain=`[chainId]`

staking types:
- UniswapV2_GIV_DAI
- UniswapV3
- Balancer
- Sushiswap
- Honeyswap_GIV_HNY
- Honeyswap_GIV_DAI
- GIV_LM
- Honeyswap_FOX_HNY
- UniswapV2_CULT_ETH

chains:
- gnosis
- main

so if you want to show the GIV stake modal on Gnosis, the address will be something like this:
https://giveth-dapps-v2-git-open-sta

[2022-07-19 11:10] RamRamez commented on #922
@mohammadranjbarz The problem is still there

![image](https://user-images.githubusercontent.com/73441857/179736397-3e1575f6-2597-415c-84a2-3f72938ddc2d.png)

![image](https://user-images.githubusercontent.com/73441857/179736454-5456566a-6039-4ca1-a7f8-5d2ad4403727.png)

[2022-07-19 11:11] RamRamez commented on #922
@mohammadranjbarz the second problem is when I pass the step `managing funds`, it doesn't give me the checked badge.

![image](https://user-images.githubusercontent.com/73441857/179736824-d26738f8-3b66-4cf8-9352-b8c8cef72de2.png)

[2022-07-19 11:41] MohammadPCh commented on #1057
Hey @laurenluz
I show the average when the user has some locked GIV, and if the user hasn't any locked give I show him the apr range.
Is it wrong?

[2022-07-19 12:10] clara-zi commented on #971
Thanks to all for taking the time to read and edit. All edits now resolved.

[2022-07-19 12:17] melodysongq commented on #971
Once I am in Europe my correction is automatically UK instead of Canadian.  I think as long as it's consistent, we don't need to be American centric or anything.

[2022-07-19 13:53] mohammadranjbarz commented on #922
@divine-comedian
We had some issues due making forms draft by admin, maybe it affect your test cases as well, can you test the whole scenario again? (including `makeEditbaleByUser` forms in admin panel, submit --> make editable by user in admin --> submit --> reject/confirm in admin), all these scenario should be tested

[2022-07-19 14:23] MohammadPCh opened #1160 "verification - Force user to click on next in first step"
if the user doesn't click on the Next button and uses the menu to go to the next step, we don't create a verification form for his project and can't continue.

[2022-07-19 14:56] RamRamez commented on #922
@divine-comedian Fixed in PR #1162:
1. remove `please contact support` for verified projects
2. change `verify status` to `verification status`
3. change contact support text to `Questions? Contact Support`

[2022-07-19 16:09] divine-comedian commented on #922
wonderful! let me know when it is merged and I will test again

[2022-07-19 20:50] divine-comedian commented on #1036
how can this issue be tested?

[2022-07-19 20:51] divine-comedian commented on #843
@jeevanplus007 Is this issue tested successfully? can it be moved to done?

[2022-07-19 21:19] divine-comedian commented on #1068
testing on `staging.giveth.io`

test cases:
while logged in with metamask
#1 - shows this:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/179846762-d18f16bd-59d3-483e-99be-ebbdb53471b8.png">

#2 shows 404 page
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/179846848-c5a4b180-c4f9-4263-a1e1-1bfc10fe9aa2.png">

#3 and #4 s

[2022-07-19 21:19] divine-comedian commented on #1068
moving this to sprint backlog, maybe take a look @MoeNick

[2022-07-19 21:21] divine-comedian commented on #1044
how can this issue be tested?

[2022-07-19 21:26] divine-comedian commented on #1038
testing on `staging.giveth.io`

while editing a project I can change the description, title, photo, location and I do not receive a prompt to edit my wallet address..

looks to be fixed! moving to DONE!

[2022-07-19 21:30] divine-comedian commented on #939
I can't remember how to make this modal pop-up I deleted my cache and cookies, and signed in with an empty profile..

[2022-07-19 22:07] RamRamez commented on #971
Done in PR #1164

[2022-07-19 23:40] divine-comedian opened #1165 "Text Missing on sign in modal on GIVeconomy page"
testing on `staging.giveth.io`
brave browser clean cache and cookies

While on any of the giveconomy pages I click `create project` while not signed in.

the sign in modal appears, however the text `Sign in with Ethereum` doesn't appear, it seems the text is the same colour as the background of the modal.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/425596ca-2ed1-4dd

[2022-07-19 23:42] divine-comedian commented on #971
okay let us know when it is merged and I will test again

[2022-07-20 05:45] #1155 closed

[2022-07-20 05:48] #922 closed

[2022-07-20 06:23] MoeNick commented on #971
@jeevanplus007 this one after the journey to the comms team and getting back, it's ready to test again.

[2022-07-20 06:26] MohammadPCh commented on #1057
Hey @laurenluz.
the GIVpower is on the gnosis chain, and if the user's wallet is not connected we shouldn't show the GIVpower Card (I know we show it now, and it's a bug, we should show the old GIV staking card or decide about the bridge).
If we change our default chain to the Gnosis chain, we have another problem. consider we show the GIVpower APR range but other pools are zero. because we need t

[2022-07-20 06:30] mohammadranjbarz commented on #461
@MoeNick  It's done through https://github.com/Giveth/GIVeconomy/issues/655

[2022-07-20 07:00] MohammadPCh commented on #1148
@laurenluz about 'should say "You also have ... x GIVpower"' item, we show total GIVpower amount there, so is it ok to say: you also have .... GIVpower? because users may wrongly think the new locked amount will be added to it.

[2022-07-20 08:19] laurenluz commented on #1148
Oh! That makes sense! Lets leave it with " you have" :) thanks cherik!

[2022-07-20 11:16] MoeNick commented on #1150
@RamRamez it should not say filed is required when the user unchecks it.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/51112783-1690-457e-bddc-b94f8e374b67)

[2022-07-20 11:35] MoeNick commented on #1150
The copy should change to:
I’ll raise & receive funds on Mainnet and Gnosis chain networks **with the same address**.
do not neet to bold it, bold is for here for emphasis it.
![image](https://user-images.githubusercontent.com/80677512/179972314-2958925e-ec28-4d57-b51f-36cc671376fb.png)

[2022-07-20 11:39] MoeNick commented on #1150
- [ ] 3- Change teh copy

The copy should change to: You can enter a new address to receive funds on all supported networks.
![image](https://user-images.githubusercontent.com/80677512/179972813-13b2c74b-9aa9-4018-8d5d-64e43abc0553.png)

[2022-07-20 12:19] #101 closed

[2022-07-20 12:20] #161 closed

[2022-07-20 12:20] #294 closed

[2022-07-20 12:20] #343 closed

[2022-07-20 12:21] #346 closed

[2022-07-20 12:21] #360 closed

[2022-07-20 12:21] #372 closed

[2022-07-20 12:22] #373 closed

[2022-07-20 12:22] #385 closed

[2022-07-20 12:24] #392 closed

[2022-07-20 12:25] #398 closed

[2022-07-20 12:25] #399 closed

[2022-07-20 12:25] #407 closed

[2022-07-20 12:26] #410 closed

[2022-07-20 12:26] #411 closed

[2022-07-20 12:26] #414 closed

[2022-07-20 12:26] #422 closed

[2022-07-20 12:27] #443 closed

[2022-07-20 12:29] #464 closed

[2022-07-20 12:29] #479 closed

[2022-07-20 12:30] #496 closed

[2022-07-20 12:40] #686 closed

[2022-07-20 13:26] divine-comedian commented on #971
Canadian spelling, forever and always.. :)

[2022-07-20 13:41] MoeNick commented on #971
From a product point of view, let's have the copywriting of Giveth the same in all pages, from docs to Dapp and social medias, newsletter etc.

[2022-07-20 14:09] divine-comedian commented on #971
testing on `staging.giveth.io`

the link is now in and links succesfully to the fundraising guide!
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/180003169-5940b318-f1fc-408c-987e-298fed20d9f5.png">

I think we can call this DONE!

[2022-07-20 14:13] laurenluz opened #1173 "Implement default APR when the user is not connected w/ wallet"
![Uploading image.png…]()

[2022-07-20 14:21] laurenluz opened #1174 "Modal for bridging GIV from mainnet to Gnosis Chain for GIVpower"
@mosaeedi send me a message about this if you have any questions, it's an easy add.

[2022-07-20 14:53] divine-comedian commented on #1150
More issues while testing:
<img width="1208" alt="Screenshot 2022-07-20 at 08 34 53" src="https://user-images.githubusercontent.com/67759413/180010070-c874eae2-ad82-4a1c-b5e5-53df3255993d.png">
"Gnosis Chain" both words should be capitalized.

Also the text below should say Gnosis Chain, not Mainnet.

lastly the ENS feature doesn't seem to be working, check out the loom video:
https://www.loom.com

[2022-07-20 17:40] RamRamez commented on #1068
thanks @divine-comedian for complete testing and reporting.
Solved in PR #1178

[2022-07-21 00:30] WhyldWanderer commented on #1113
That makes sense @MoeNick .. Lets try it this way first.

[2022-07-21 12:36] RamRamez commented on #1150
We used to return the ens resolver instead of the ens wallet address, I fixed it with the other notes mentioned above in PR #1180

[2022-07-21 13:07] divine-comedian commented on #1068
testing again on `staging.giveth.io`

I test any of the scenarios above with my metamask locked(not signed in). I am now directed to the project not found page instead of a blank project!
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/180220820-d55a6fd9-8d3e-447a-895f-0de552a627a2.png">

looks to be resolved, moving to DONE

[2022-07-21 17:07] divine-comedian commented on #1150
testing on `staging.giveth.io`

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/180272596-d7b6b510-28a5-4496-9363-9db0a018691c.png">

all of the copy changes request by moenick appear to be implemented

also the ENS resolver appears to be working correctly! it even detects my ENS name and throws an error if it's already used for a project.

all issues appear t

[2022-07-21 17:46] RamRamez opened #1181 "Some issues on verification - Manage funds - Add an address modal"
1. when title is typed, the counter is not working
2. If user is on a network other than Mainnet, app should notify user to change network, but it says `The address is not valid`
![image](https://user-images.githubusercontent.com/73441857/180278207-a4793514-5804-4eea-9b50-29170078e4cc.png)

3. If title is not unique, app should show error in input box not a toast error
![image](https://user-images

[2022-07-22 14:19] mosaeedi commented on #1150
Here is the design for all other cases, please take a look

[Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11580%3A205321)

[2022-07-22 23:26] Cotabe opened #1183 "GIVpower APR distro"
I locked 10,000 testGIV for 26 rounds. The APR was 3446,35%. I should have gotten a distro of 344,635 testGIV. But after they unlocked I only had 216.5 testGIV on my rewards.

Not sure if this is because the rounds are being considered 5min, but the farm time is normal or why? I wasn't able to check the amount locked on the contract either on blockscout.

[2022-07-22 23:37] divine-comedian commented on #1150
A few text update suggestions, moving this back to sprint backlog for @RamRamez to take a look.

[2022-07-25 05:08] MoeNick commented on #1150
@mosaeedi @divine-comedian
Let's revise the proposed design in another issue and focus on testing the functionality of this feature as is.
I'll move it as a new issue, I appreciate it @divine-comedian if you only confirm the current feature can go live or not.
Thanks

[2022-07-25 05:10] MoeNick opened #1185 "UX improvements of H-cases of multi-addresses."
Here is the design for all other cases, please take a look

[Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11580%3A205321)

_Originally posted by @mosaeedi in https://github.com/Giveth/giveth-dapps-v2/issues/1150#issuecomment-1192624026_

[2022-07-25 11:10] #1102 closed

[2022-07-25 11:14] #1063 closed

[2022-07-25 11:17] #987 closed

[2022-07-25 11:25] MoeNick commented on #1066
According to @MohammadPCh it's solved now, do we need QA?

[2022-07-25 11:38] aminlatifi commented on #1132
@laurenluz the sum of percentages in the spreadsheet is 100.01%, so for the last one I will use 2.32 instead of 2.33

[2022-07-25 11:42] #537 closed

[2022-07-25 11:43] MoeNick commented on #477
Let's finalize it @Tosinolawale , shall we start next week ?

[2022-07-25 12:07] MoeNick commented on #457
This issue supposed to ne

[2022-07-25 12:07] #457 closed

[2022-07-25 12:38] laurenluz opened #1188 "GIVpower - add "lock" icon & tooltip to the GIV amount under "unstake""
*If* the user has some part of their GIV locked, we shoud show a "lock" icon (where i circled below).

This lock should be a tooltip that says "Some or all of your staked GIV is locked. Click "Locked GIV details" for more information."

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/33aa3272-78bf-4e5a-82e6-b66f12c7f1d4)

@MohammadPCh or @mateodaza - can you take this?

[2022-07-25 12:47] laurenluz commented on #1146
@MohammadPCh

Design is ready on this... only one small change, please make the text say "Locked GIV Details"

Disabled state (if user did not lock any GIV)
![image](https://user-images.githubusercontent.com/75490971/180780516-36687f73-da37-4deb-9177-4443d185a92d.png)

Enabled state (if user locked GIV)
![image](https://user-images.githubusercontent.com/75490971/180780640-b1c0bbb4-b802-4ee8-8ce5-1

[2022-07-25 12:51] laurenluz opened #1189 "GIVstream modal text fix"
Top part should say

"Welcome to the expanding GIViverse! With the GIVstream, as the GIVeconomy grows, so does the governance power of its contributors."

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/653cfe1a-df93-44fc-9630-2589e49be769)

@MoeNick - small issues, can you assign someone?

[2022-07-25 13:00] laurenluz opened #1190 "GIVpower - Lockup details modal tooltips"
- [x] APR tooltip: "The average annual rate of return for this set of staked GIV."

- [x] Total Staked GIV tooltip: "All your staked GIV, including GIV that is locked."

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/3320935a-c9c8-429b-a497-3f76ec02f864)

[2022-07-25 13:11] laurenluz opened #1191 "GIVpower - GIVpower page is showing a crazy number for GIVpower"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/8fe00ced-e559-4dac-9d8e-e98ae134aca1)

[2022-07-25 13:37] paxthemax commented on #1109
This should hopefully provide enough information to implement bridging functionality between mainnet GIV and Gnosis chain GIV.

The goal is to **optimize and streamline** the experience of the GIV token bridging, and **remove friction** for users.

## User Flow

Alice owns GIV tokens on the mainnet. Alice would like to bridge these tokens to the Gnosis chain. We assume that GIV tokens exist as a m

[2022-07-25 13:49] Tosinolawale commented on #477
Started work on this currently. Will have something for you tomorrow

[2022-07-25 14:16] laurenluz commented on #1191
this should show the user's GIVpower amount.

[2022-07-25 14:24] RamRamez commented on #1150
I added ENS resolved address to multi-recipient and loader to validating in PR #1192

[2022-07-25 14:26] MoeNick commented on #211
@alireza-sharifpour @mateodaza can you conform we have to start this or not.

[2022-07-25 14:44] divine-comedian commented on #1147
looks to be resolved!

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/180804559-55ad13e7-5e0f-4379-b05b-05acc63cfe83.png">

however clicking link does nothing, is this normal? is this part still in development?
@MohammadPCh

[2022-07-25 14:53] #925 closed

[2022-07-25 16:24] divine-comedian commented on #1150
@MoeNick I would say the core ux issue is resolved, please link the new issue and move this one to DONE!

[2022-07-25 16:39] divine-comedian commented on #481
I'm a bit lost, where did this UX request come from?

A few things that might make this confusing or less useful for the user.

the actual amount of GIVbacks they get will be different because we calculate the price of GIV at the time of distribution, done bi-weekly, not the price at time of donation.

If the amount of GIV to distribute based on the 75% value is over 1 million GIV then we match do

[2022-07-25 16:42] divine-comedian commented on #1065
hey @MoeNick I think this is more than a text issue

user is requesting we have arrow "buttons" to move from one set of text to the next

[2022-07-25 16:44] divine-comedian commented on #1064
I'm in favour of updating the team page, let's say you need to have nrGIV, meaning you have been actively contributing for at least 3 months.

If you stop contributing and thus become ineligible to nrGIV you are removed from the team page. We should make an open call if anyone wants to be added to the page but it should not be required. We shouldn't need to "chase" people to add them to our team p

[2022-07-25 17:29] mosaeedi opened #1370 "Design - Project discussion"
Started from here Giveth/GIVeconomy#117

[2022-07-25 17:57] divine-comedian commented on #1058
changes pending in PR https://github.com/Giveth/giveth-dapps-v2/pull/1193

[2022-07-25 19:09] MoeNick commented on #481
You are right, but this is too complicated for the user, it's too hard to sell. We were thinking we just give a hint to the user to know what GIVback is, we just say an estimated amount. If we want to grow we have the pin of supporting and engaging more users, but as I know, we have GIVbacks and no one knows what it is exactly. So do you have an idea how we can make a kind of gamification on this

[2022-07-26 07:23] alireza-sharifpour commented on #211
I think we can use useMediaQuery hook instead
it uses [matchMedia api](https://developer.mozilla.org/en-US/docs/Web/API/Window/matchMedia) and the approach is different.
It needs a mediaQuery and returns boolean, and also has less re-renders when the screen size changes.

[2022-07-26 07:40] mohammadranjbarz commented on #737
@divine-comedian
As I checked the code it would create the donations and also I was a DRGIV3 donation in database that I put the screenshot below, but I don't have any DRGIV2 tokens so I couldn't test this case myself I willDM you to send me some DRGIV3 then I test it and update this issue

https://staging.giveth.io/project/giveth-2021:-retreat-to-the-future
<img width="1579" alt="Screen Shot 1401

[2022-07-26 08:39] mohammadranjbarz commented on #870
@csggene3   @MoeNick
I dont know how coingecko works, but we get the ethPrice of our token from ETH/GIV pool and then with ETH USD price we can calculate the GIV usd price, and you can always check  GIV price in both gnosis and mainnet networks in any block/txHash with below API
https://givback.develop.giveth.io/api-docs/#/default/get_givPrice

[2022-07-26 11:06] laurenluz commented on #1145
Hey @MohammadPCh!

That's super cool.

It seems to work, but, only if:
- I am already connected to the right network
- I have tokens that can be staked
- the pool is not archived

But I think that's ok for our purposes right? because our real use case is to send people from the angel vault right to the staking card.

What do you think?

[2022-07-26 11:21] laurenluz commented on #1188
The issue this is solving is the fact that the number under "unstake" is the total amount of staked GIV... although some may be locked and not able to be unstaked. I noticed this and the @Cotabe made a separate issue about it as well (independent of my influence).

I do not think we should link the user directly to the modal... this is even more confusing. they're just trying to figure out what th

[2022-07-26 12:20] aminlatifi opened #1199 "Stake Modal Tiny Value Issue"
When user balance is tiny stake modal shows only zero when the user set the value by percentage buttons (25%, ...)
Also it's not possible to manually enter tiny value

<img width="378" alt="image" src="https://user-images.githubusercontent.com/5684607/181004375-9b685cc0-48f5-45df-9bd8-e567ba79f1b0.png">

[2022-07-26 13:44] laurenluz commented on #1132
that sounds good, although @aminlatifi I see that mitch is making an alternative proposal for the GIV distribution in the forum: https://forum.giveth.io/t/angel-vault-lets-get-er-done/704/9

How easy is it to change the weekly distribution?

[2022-07-26 15:29] aminlatifi commented on #1131
Angel Vault staking card is ready to test here https://github.com/Giveth/giveth-dapps-v2/pull/1195
@laurenluz Asked has a good idea about showing Angel Vault APR as a separate number in the tool tip. I can implement it in another PR.

There is a point, we used [oneFIL](https://kovan.etherscan.io/token/0x50633e780803b56a0d8606a3c674993080ea98c1) for test purpose (oneFIL is akin oneGIV). Anyone need

[2022-07-26 18:25] aminlatifi commented on #1132
It's easy, just changing this array values
https://github.com/Giveth/giv-token-contracts/blob/510f023975d1bc2894552decfc73035f5688a666/deployments/notifyRewardAmount/mainnet/giveth_angel_vault_distributor.js#L14

[2022-07-26 19:26] WhyldWanderer opened #1201 "I can no longer see the wallet address of the project"
I can no longer see the projects wallet address on the Donations tab of their project's page.

![image](https://user-images.githubusercontent.com/74267818/181095027-37bb3e67-f1f9-460e-8156-18abd6d6c2a7.png)

Now that we have the functionality to have 2 wallet addresses, we should show both of them here.

[2022-07-26 19:27] MoeNick commented on #1201
Sorry we will fix this asap

[2022-07-26 19:43] mosaeedi commented on #1201
Here is how it should look like,

Single address on both networks: [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11775%3A207600)

Different addresses for both networks: [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11775%3A208513)

[2022-07-26 19:47] MoeNick commented on #1201
@mateodaza Accepted to take this one

[2022-07-26 21:13] laurenluz opened #1202 "GIVpower - "unstake" amount is not updating appropriately."
I had 10k ish GIV already staked, and 16k GIV available to stake.

I staked and locked this 16k... and the "unstake" amount did not update, although now it says I have 0 to stake...

it should say I have 26k to unstake.

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/b6781c39-3026-49b8-a9a9-daa10b896c00)

[2022-07-26 21:14] laurenluz commented on #1202
oh.... during the time it took me to create that issue, it updated... but it seems strange... is that a subgraph thing? why does it show my staked tokens disappearing, but not yet showing up in unstake?

![image](https://user-images.githubusercontent.com/75490971/181113099-3c81aceb-bb69-473d-92e6-b600da9a4f0e.png)

[2022-07-26 21:17] laurenluz opened #1203 "GIVpower - delay in staking & locking"
So... I had 10k staked, and 16k GIV available to stake.

I tried to stake & lock my new GIV... so I went to stake... then max'd out... staked the 16k... then went to increase my reward... maxed out (I assumed it was the 26k... but I think it was only the 10k I had originally staked.

There appears to be a delay in the staking, where is this coming from?

@aminlatifi @MohammadPCh

![image.png](http

[2022-07-26 21:22] laurenluz opened #1204 "GIVpower - freshly after staking new GIV, when I go to lock it... the "max" input gives me a negative number"
I just made two other issues... something weird is happening, I don't understand it

@aminlatifi @MohammadPCh

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/6b113847-0ae1-4b3b-9f91-e0fbd99cef4c)

[2022-07-26 21:24] laurenluz opened #1205 "GIVpower - locked GIV details modal is tripping"
it is showing that I locked 4 batched... pretty sure I only locked 2...

also, the batched total to MORE than my staked total (27k GIV)

@aminlatifi @MohammadPCh

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0c6a500a-42c3-4666-b24f-d6bb53bae443)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/06338263-567c-486c-9638-a422f8b71cc2)

[2022-07-26 22:07] divine-comedian commented on #954
resolved in pending PR #1193

[2022-07-26 22:25] mateodaza commented on #1201
Merged as hotfix to live version

[2022-07-26 22:40] mateodaza opened #1207 "Fix Dependabot alerts"
<img width="958" alt="image" src="https://user-images.githubusercontent.com/18689480/181124393-8303bf6d-6624-46f9-98f2-a32a77aa413b.png">

[2022-07-26 22:46] WhyldWanderer commented on #1201
that was fast!! It looks good Thanks Mateo!

[2022-07-27 07:36] MohammadPCh commented on #1145
Hey @laurenluz,
We have handled the wrong network but yeah maybe we need to consider more edge cases for this for all forms.
Yeah I think it should work for our new farm (Angel Vault).
I think we can check it here:
https://giveth-dapps-v2-git-add-angel-vault-givethio.vercel.app/givfarm??open=Ichi_GIV_oneGIV&chain=main

[2022-07-27 07:43] MohammadPCh commented on #1147
Thanks, @divine-comedian
let me check It.

[2022-07-27 08:05] aminlatifi opened #1210 "GIVpower APR tooltip"
<img width="581" alt="image" src="https://user-images.githubusercontent.com/5684607/181195106-44208e34-91e8-4cac-a97e-faf73e641bbc.png">

[2022-07-27 08:06] aminlatifi commented on #1210
@laurenluz https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE?node-id=10527:194487#235617591

[2022-07-27 10:35] MohammadPCh commented on #1204
I think It was my fault, I used the wrong parameter(use totalGIVLocked as user locked amount). I think It's fixed now. can you check it again?

[2022-07-27 10:42] MohammadPCh commented on #1202
@laurenluz please see this [comment](https://github.com/Giveth/giveth-dapps-v2/issues/1204#issuecomment-1196557768) .

[2022-07-27 10:43] MohammadPCh commented on #1203
@laurenluz please see this [comment](https://github.com/Giveth/giveth-dapps-v2/issues/1204#issuecomment-1196557768) .

[2022-07-27 13:39] MoeNick opened #1224 "Cover Verification form when the request is rejected or confirmed"
As an applicant, I don't want to see the verification form (if I have the direct address) while the form is rejected or confirmed.

Rejection:
Unfortunately, your request for verification does not meet the minimum requirements and was rejected by the verification team. If you have any objections please contact the {support team}. (Link to discord or Typeform feedback)

Confirmation:
Congratulation

[2022-07-27 13:42] MoeNick commented on #1224
@WhyldWanderer @divine-comedian please give me a hand on the copies above.

[2022-07-27 14:51] laurenluz opened #1226 "Bridging tokens for GIVpower"
Ask me details!

[2022-07-27 21:49] laurenluz opened #1228 "Angel Vault Farm Card Frontend minor fixes"
Ok I talked it over with Griff, and to be more consistent with the other farm cards, suggesting a few small fixes to the frontend for the Angel Vault.

1. Angel Vault icon should be at the top next to "Angel Vault" text
2. We should put the two token logos... let's use our normal GIV logo, & the dark colour oneGIV logo that @aminlatifi created
3. Add a tooltip that says "Your cumulative APR is the

[2022-07-27 21:54] aminlatifi commented on #1228
@laurenluz for the icon size and style we may need design. Can we have it?

[2022-07-27 21:58] laurenluz commented on #1226
So when the user is connected to Mainnet they should see the GIVpower card, but actually they will not be able to stake on mainnet.

In order to stake, they must bridge to mainnet.

So we want to have it so that when the user is connected to mainnet and they click "stake", they get a modal that says...

"GIV staking is available on Gnosis Chain. Please bridge your GIV to Gnosis Chain, then switch

[2022-07-27 22:01] laurenluz commented on #1132
Ok, confirmed, no change!!

All we have to do now is the multisig txs to grant the distributor role to the unipool & send rewards to it....

Can we do that this week @aminlatifi? Or do we need to wait?

[2022-07-27 22:05] laurenluz commented on #1210
Got it covered in #1190

[2022-07-27 22:13] aminlatifi commented on #1132
I can deploy unipool tomorrow and make multisig txs

[2022-07-28 06:57] MohammadPCh commented on #1228
@laurenluz @mosaeedi
please look at this:
![Screenshot from 2022-07-28 11-25-29](https://user-images.githubusercontent.com/17097576/181440759-ded22f51-7cf7-40d8-bdca-3b2117006fba.png)
is it acceptable?

Notice: The icon sizes are the same and 40px but because of colors and borders the oneGIV icon seems smaller.

[2022-07-28 06:58] laurenluz commented on #1228
@mosaeedi i made a rough version of this in the figma on the angel vault frame. Can you help clean it up and like it here for the devs?

[2022-07-28 07:15] mosaeedi commented on #1228
![Screen Shot 2022-07-28 at 10 14 58 AM](https://user-images.githubusercontent.com/13708322/181444207-58970e21-ab09-4d1a-a77d-78c960647c4c.png)

Here is the oneGIV/GIV card on Figma -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11246%3A204389)

[2022-07-28 07:35] aminlatifi commented on #1228
@mosaeedi @laurenluz I don't know where to put the APR tooltip!

[2022-07-28 07:43] aminlatifi commented on #1228
@laurenluz @mosaeedi I don't know where to put the APR tooltip!
I prepared this [PR](https://github.com/Giveth/giveth-dapps-v2/pull/1231) which allow us to have VaultIRR in the card, just we need to implement it in the UI

@MohammadPCh In case it become obvious where to put it, would you please add that?

[2022-07-28 08:08] MohammadPCh commented on #1228
@aminlatifi sure :)

[2022-07-28 10:24] mosaeedi commented on #1226
Note to Devs!

We are going to show only one modal instead of showing two modals.
But we cover both scenarios and let users either open the Omnibridge or Switch networks from the same modal.

![Screen Shot 2022-07-28 at 1.18.39 PM.png](https://images.zenhubusercontent.com/61dd85b9a1419a0fc83f15d1/01df826b-b430-4d65-9966-5aaa4883c406)

## Design resource
The modal on Figma -> [Figma link](https://w

[2022-07-28 12:15] aminlatifi commented on #1132
I deployed the contract and made multisig transactions

Angel Vault (ICHI) LM (Unipool):	0xA4b727DF6fD608d1835e3440288c73fB28c4eF16
Angel Vault (ICHI) LP (the token is minted by depositing oneGIV in Angel Vault. I didn't deploy it)	0xc3151A58d519B94E915f66B044De3E55F77c2dd9

And these are multisig transactions

https://gnosis-safe.io/app/eth:0x4D9339dd97db55e3B9bCBE65dE39fF9c04d1C2cd/transactions/

[2022-07-28 12:16] aminlatifi commented on #1132
I keep updated this doc https://www.notion.so/giveth/Deployment-52935e6579034f1b940bbef161e82229

[2022-07-28 12:40] MohammadPCh commented on #1224
@MoeNick we need also content (copy) for the submitted status. because when the form is submitted user can't change form data. so showing steps to him is not valuable. and maybe it's better to show some message with this new design.

[2022-07-28 13:47] NikolaCreatrix opened #1236 "Transaction failed on the front end but went through the chain?"
Hi @MohammadPCh

I have experienced a weird issue today. As a project owner, I have received a donation. The donation went through, I received it in my project's wallet **BUT** I didn't receive any email about receiving the donation as usual, and when I came to the project donation dashboard it is showing that the transaction **FAILED**.

https://giveth.io/project/ReVillaging-Mutual-Mentorships-Pr

[2022-07-28 17:31] RamRamez commented on #1201
Thanks @mateodaza. Please link the related PRs to issues. It helps us track changes.

[2022-07-28 22:59] Cotabe commented on #1202
It's working fine now

[2022-07-28 23:07] Cotabe commented on #1203
@laurenluz @mohammadPCh

There is still some delay. If you are super fast and do it (I assume before the transaction gets logged in the blockchain) this still happens. But you literally have to do it super fast.

[2022-07-28 23:23] Cotabe commented on #1205
@laurenluz

Can't seem to reproduce the problem. So I guess it's fixed

[2022-07-28 23:27] Cotabe commented on #1146
@laurenluz @aminlatifi

DONE

[2022-07-28 23:31] Cotabe commented on #1204
@laurenluz @mohammadPCh

This seems to be working fine now.

[2022-07-28 23:42] Cotabe commented on #1190
@laurenluz @aminlatifi @MoeNick

DONE

[2022-07-28 23:44] Cotabe commented on #1191
@laurenluz @mohammadPCh @MoeNick

This is fixed.

[2022-07-28 23:49] Cotabe commented on #1126
@GriffGreen @MoeNick @MohammadPCh

DONE

[2022-07-29 00:26] Cotabe commented on #1148
@laurenluz

This was done, but there was a typo:
The tooltips in the "multiplier" box where it says "GIVpower" on all the modals should say "Coming soon: GIVpower will allow you to support verified projects will earning rewards."
I believe the correct sentence is "Coming soon: GIVpower will allow you to support verified projects while earning rewards."

Should we turn off the Learn more link while

[2022-07-29 00:33] Cotabe commented on #1147
@laurenluz @MoahammadPCh @divine-comedian

Fixed

[2022-07-29 01:06] Cotabe commented on #738
Tested on iphone, android and tablet.

Looks good!

Link to learn more doesn't do anything. But it's fine because we still don't have the blog/documentation.

[2022-07-29 01:15] Cotabe commented on #738
WAIT...
I think if I'm not conected or in the wrong network it doesn't ask me to connect my wallet or change the network. It only says that my GIVpower is 0

[2022-07-29 01:30] Cotabe commented on #1103
@MohammadPCh @MoeNick

This seems to be working fine. Hard to test when the locking periods are 5 min.

[2022-07-29 01:34] Cotabe commented on #1057
@laurenluz @MoeNick @MohammadPCh

If nothing is staked it shows the range.
If there is something stacked it shows the value.

I'm not sure I understand well the latest problem

[2022-07-29 01:39] Cotabe commented on #763
All these seems to be implemented & working

[2022-07-29 14:33] divine-comedian commented on #1132
Reviewed!

Tx 1 - grants distributor role from mainnet token distro to angel vault LM unipool
Tx 2 - allocates 6 million GIV to angel vault LM unipool from mainnet token distro

Looks good I think

[2022-07-29 14:35] divine-comedian commented on #1147
@Cotabe no need to tag us all, if the issue is fixed just move it into the DONE pipeline, also helpful to clarify what url and browser you tested it on.

[2022-07-29 18:45] mateodaza opened #1240 "Enable Gnosis Safe App to allow all interactions within the multisig interface"
Following these issues [1](https://github.com/Giveth/giveth-dapps-v2/issues/811), [2](https://github.com/Giveth/giveth-dapps-v2/issues/417) and many others discussions in [discord](https://discord.com/channels/679428761438912522/988784701231738910/1002217200939171860) where users wanna donate / stake / etc using a gnosis safe multisig

@WhyldWanderer suggested to allow our app to be a gnosis "Safe

[2022-07-29 18:46] mateodaza commented on #1240
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/18689480/181824799-07171786-a186-4dc6-aeb9-47672cc12320.png">

[2022-07-29 19:09] mateodaza commented on #1240
I left the steps to test this out on the PR [here](https://github.com/Giveth/giveth-dapps-v2/pull/1241#issuecomment-1199862722)

@GriffGreen @laurenluz @divine-comedian maybe you guys know someone from gnosis to get us listed when we get this live

[2022-07-29 22:49] Cotabe opened #1242 "Gitcoin integration..."
Would be great if projects in Gitcoin could easily get onboarded into Giveth.

With one or two buttons get their profile pre-filled

[2022-07-29 23:08] laurenluz commented on #1226
@MohammadPCh Can you implement?

When on mainnet, the user should see the GIVpower staking card... but when they click "stake" they get this modal.

The bridge your GIV button should open the omnibridge in a new tab --> https://omni.gnosischain.com/bridge ... This action should not close the modal on the original page.
The switch network button should switch to gnosis chain & close the modal.

[2022-07-30 01:15] laurenluz commented on #1240
I know people at Gnosis! Mojmir is super cool & a friend, bet you he can help us...

can you explain more clearly what you mean by "get us listed" so I know what to ask?

[2022-07-30 01:16] laurenluz commented on #1240
it's like... we need to get giveth.io listed as something "safe" within gnosis safes?

[2022-07-30 01:25] laurenluz commented on #1132
Thank you @aminlatifi @divine-comedian ! I will catherd

[2022-07-30 01:27] GriffGreen commented on #1132
looks good to me

Did we send the 6 mil giv from the liquidity multisig already?

[2022-07-30 01:47] laurenluz commented on #1057
@Cotabe That's awesome.

To test the latest problem... basically, you need to see what it looks like if the user's wallet is not conencted. If they are not connected, we wanted to set it up so that the default view is gnosis chain... and that the user *can* see the APRs...

previously, under these conditions, the user could not see APRs.

[2022-07-30 01:53] #1210 closed

[2022-07-30 17:59] MohammadPCh commented on #1226
@laurenluz sure :)

[2022-07-30 18:04] MohammadPCh commented on #1203
Thanks @Cotabe, for testing, actually the reason is we get data from the subgraph, and sometimes it's not syncing or takes time to sync. we have another issue to show users if we are out of sync.  maybe it improves UX.

[2022-07-30 18:09] MohammadPCh commented on #1236
Hi @NikolaCreatrix,
Thanks for reporting this issue. @mohammadranjbarz is the hero who can check the database and server logs.

[2022-07-30 18:12] MohammadPCh commented on #1066
It's not easy to test. I just test it yesterday and it's working.

[2022-07-30 21:51] mohammadranjbarz commented on #1236
@NikolaCreatrix  @MohammadPCh
Thanks for reporting and mentioning me, I don't know what was the reason but I changed it manually in Db

<img width="1437" alt="Screen Shot 1401-05-09 at 02 20 16" src="https://user-images.githubusercontent.com/9850545/181997268-602b11a9-7361-4cb6-88a7-e00694a6b2ca.png">

[2022-07-31 06:09] aminlatifi commented on #1132
I would say let's postpone execution of mutisig transactions and 6M giv transfer to successful launch of angel vault with countdown

[2022-07-31 11:41] aminlatifi commented on #1132
I made this checklist for the production
https://github.com/Giveth/GIVeconomy/issues/678

[2022-07-31 12:53] tropicalmangos opened #1269 "Improve Giveth Donor Flow"
@laurenluz here is the strategic overview on improving donor flow along with the list of suggested improvements! Lmk your thoughts! :)

https://docs.google.com/document/d/1YcBsosn6VE2KoHs_jjCIBEMULD_9PD_zK7gZL8g6d3U/edit#heading=h.ucd0r9yaatsa

[2022-07-31 14:47] aminlatifi commented on #1132
@laurenluz A new ICHI farm with countdown is launched here
https://giveconomy.vercel.app/givfarm

Your old lp can be unstaked from the old farm in archive section

[2022-08-01 08:55] MohammadPCh commented on #1226
@laurenluz @mosaeedi
I have some questions:
1. should we show the GIVpower card instead the regular card?
2. should we show the apr on gnosis or apr on the mainnet? if we show the apr on gnosis may users be confused about it and think they will receive this apr with the current staked amount on mainnet.
3. if users don't have GIV on the mainnet all buttons are disabled and can't go to the stake mo

[2022-08-01 12:49] divine-comedian commented on #1240
OMG yes! this issue is awesome!!

How should we coordinate this issue? We can also reach out to Auryn, honestly there's no shortage of contact for Gnosis but we should pick a lead.

[2022-08-01 13:46] laurenluz commented on #1226
Hey Cherik

1. When GIVpower goes out, we will replace the regular card w/ GIVpower and discontinue mainnet rewards
2. I was thinking to show the APR on Gnosis... maybe we should add a tooltip or something saying that that's what it is... what do you think?
3. I think it would be great to enable the mainnet stake button if the user on mainnet has mainnet GIV in their wallet
4. Increate your reward

[2022-08-01 14:14] CarlosQ96 commented on #744
This is my forked Repo: https://github.com/CarlosQ96/yield-server/tree/giveth_farms_adapter

[2022-08-01 14:14] CarlosQ96 commented on #744
Location:
src/adaptors/giveth/index.js

Node version used:
16.42.2

Install dependencies:
npm install

To test cmd:
node src/adaptors/test.js src/adaptors/giveth/index.js

[2022-08-01 14:15] CarlosQ96 commented on #744
PR of the Fork: https://github.com/CarlosQ96/yield-server/pull/1

[2022-08-01 14:16] CarlosQ96 commented on #744
Data is from production

[2022-08-01 14:16] CarlosQ96 commented on #744
@divine-comedian testerMaster64

[2022-08-01 16:41] mosaeedi opened #1261 "Sharing an update for projects"

[2022-08-01 17:29] divine-comedian opened #1259 "donation search only showing one page"
testing `giveth.io`
brave browser clean cache and cookies

while attempting to look up all donations matching a certain token type I was not able to see donations made past the first "page"

normally while looking at a project's donations received the user has multiple pages they can go through to look at all donations from the most recent, going back.

however whenever I enter a search query the

[2022-08-01 18:07] divine-comedian commented on #744
@CarlosQ96 testing this out locally, I cloned the repo, switched to node 16, installed the dependencies then ran the command in my terminal from the yield-server folder.

I received this error:

[code]

[2022-08-01 18:26] MoeNick opened #1262 "Admin: View project updates list"

[2022-08-01 18:27] MoeNick opened #1263 "Backend: define statuses for project updates."

[2022-08-01 18:29] MoeNick opened #1264 "Admin can make project's updates, listed/unlisted."

[2022-08-01 18:30] MoeNick opened #1265 "Single Project page: Hide null&unlisted projects updates from public view."

[2022-08-01 18:31] MoeNick opened #1266 "Single Project page: show all statuses on private view ."

[2022-08-01 18:32] MoeNick opened #1267 "Send Notifications to subscribed and owners, on getting updates, changes on listing status"

[2022-08-01 18:54] CarlosQ96 commented on #744
Switch to the branch giveth_farms_adapter

[2022-08-01 19:16] laurenluz opened #1268 "Show what GIVbacks round a donation was made in (for verified projects)"
@mosaeedi I was just talking with @tropicalmangos who was confused (from a user perspective) about when she will get her GIVbacks. What we think about help is if the GIVbacks round in which the user donated was shown in the following tables:

Project Single Page (Donation tab)
![image](https://user-images.githubusercontent.com/75490971/182228012-b5264304-3ce1-42d4-bd97-14a0ce4618c9.png)

My Accoun

[2022-08-01 20:09] WhyldWanderer opened #1270 "Mandatory Updates - Segment events"
We will need to set up segment events so that we can trigger emails when a project goes:

- [ ] 45 days without an update

- [ ] 75 days without an update

- [ ] 90 days without an update

- [ ] 104 days without an update

You can refer to the spec doc here: https://docs.google.com/document/d/1oNMnueC2hFxcncnmsaqscJFJpnaTEbTpJAPx9L2gD44/edit?usp=sharing

[2022-08-01 20:24] laurenluz commented on #1269
@MoeNick I explained to Katya about the repos :)

She created some awesome suggestions for improving the donor flow for her onboarding assignment. She'll send you the videos & give you access to her content, but I think it would be great to get your feedback on it, and help her break the useful parts into issues.

I will go through it again as well and provide my recommendations.

Moved this to v2

[2022-08-01 21:01] divine-comedian commented on #744
looks to be working!
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182217020-f39d8136-ac38-40c9-a0da-82024e5da093.png">

However I do see a few mistakes.

Notably we're missing two farms:
GIV/WETH (Sushiswap) on Gnosis Chain:
https://blockscout.com/xdai/mainnet/address/0xfB429010C1e9D08B7347F968a7d88f0207807EF0

GIV/ETH (Balancer) on Mainnet:
(https://ethers

[2022-08-01 21:06] divine-comedian commented on #1224
Happy to assist but I think @WhyldWanderer will know the best copy to write here.

[2022-08-01 21:34] divine-comedian commented on #1188
still waiting for the lock icon from @mosaeedi to move forward on this.

[2022-08-01 21:36] CarlosQ96 commented on #744
@divine-comedian thanks! For sushiswap and balancer getting all the info from the subgraph is not simple. We decided to start with these 4 farms only.

[2022-08-01 21:37] CarlosQ96 commented on #744
Also on the APR I noticed we calculate it by multiplying the seconds in a year. So perhaps in this case APR and APY are the same?

[2022-08-02 01:16] laurenluz opened #1271 "Option to delete draft projects"
I have so many sketchy test drafts in "my projects" with no clear way to get rid of them? Can we add a little trashcan w/ an "are you sure?" modal please?

@mosaeedi @MoeNick

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c77774a1-9891-403e-97b6-4c44878ee41e)

[2022-08-02 05:41] aminlatifi commented on #744
@CarlosQ96 Is not possible to query web3 there?

[2022-08-02 05:56] aminlatifi commented on #744
@CarlosQ96 For sushi xdai-weth on xdai network we have this info available by subgraph https://api.thegraph.com/subgraphs/name/giveth/giveth-economy-xdai

[code]
إخق

[2022-08-02 07:02] mohammadranjbarz commented on #475
@MoeNick  @CarlosQ96  List of notifications tha moenick gave me
https://docs.google.com/document/d/1gqotb3D2FG3yu8xEClhPXKXnWkwxfwDSpw5Eh54sv78/edit?usp=sharing

[2022-08-02 07:03] MoeNick commented on #475
Under construction 😛

[2022-08-02 09:49] MoeNick opened #1272 "Subscribing to a project."
As a user, I want to subscribe to a project for their information and updates.

Which information should we send to them?
_Suggestions:_

- The project posted an update.
- The project received up to {a specific amount} of donations.
- The project received {a specific amount} of likes.
- The project changes status to Activated.
- The project changes status to deactivated.
- The project got verified

[2022-08-02 13:29] divine-comedian commented on #744
We should consider that in as little as 3 weeks the GIVfarm could change drastically.

We will see the end of GIV staking on mainnet

The GIV-DAI and GIV-xDAI farms will probably end as well. This would leave us with only the GIV/ETH farms (balancer, sushiswap), GIVpower (GIV staking on Gnosis Chain) and the angel vault.

So if we're going to put the work into this hopefully we find something that

[2022-08-02 14:30] aminlatifi commented on #744
Good point, angel vault APR is implemented as well in the UI. The farm will start this Thursday and we can check our implementation correctness on this repo.

[2022-08-02 14:31] CarlosQ96 commented on #744
Ok so I should remove Giv-Dai, Giv-xDai, and add sushiswap + angel vault, instead.

[2022-08-02 14:32] divine-comedian opened #1273 "FIX ME - can't add spaces to project description"
testing on `staging.giveth.io`
clean cache and cookies

I am creating a project while signed in and while I can add spaces to my project title inside of the project description rich text editor I cannot add any spaces to my project description nor can I use the return key to start a new line.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/0f3df463-9983-4398-85ce-07bbee

[2022-08-02 14:48] divine-comedian commented on #715
testing on `https://serve.giveth.io/admin/resources/ProjectAddress`

I created a project "purple list migration" and I look up the recipient address in the project address page - I can see two results for the address, one for mainnet, one for gnosis chain

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182403035-b7c78564-d6d3-4895-8144-9663ac2fcb61.png">

A f

[2022-08-02 14:54] divine-comedian commented on #744
The GIV/DAI and GIV/xDAI farms haven't officially been terminated so keep that code stashed somewhere, just in case.

It will be super important to have sushiswap, angel vault and balancer in addition to GIVpower.

I can see a few different balancer pools listed on defillama, for example:
https://defillama.com/yields/pool/0x5c6ee304399dbdb9c8ef030ab642b10820db8f56000200000000000000000014

maybe be

[2022-08-02 14:56] divine-comedian commented on #744
Looks like ICHI also took a stab at trying to list their angel vault on the platform, not sure if it's working however
https://defillama.com/yields/pool/0x9e200055592f345743ae7450756700d424f302e9

[2022-08-02 15:07] mendesfabio commented on #744
Balancer would be similar to Uniswap, but you should consider the token weights. The query you will make is basically this:

[code]

`totalShares` is the same as `totalSupply` and `balance` is the same as `reserve` -- compared to the Uniswap schema.

Note that Balancer's Subgraph is actually at https://thegraph.com/hosted-service/subgraph/balancer-labs/balancer-v2. Amin has sent the V1 link.

[2022-08-02 15:25] divine-comedian commented on #481
We should also consider the entire default GIVback amount might change once we introduce boosting and project ranking

[2022-08-02 15:31] #1236 closed

[2022-08-02 15:35] divine-comedian commented on #481
currently we have an API `givback-calculation` that is used to calculate how much givbacks we distribute for each donation and also to find out the givbacks factor. We could call this API, in addition to the giv-price API everyday or twice daily and use it to know what the current matching amount is, if it is 75% or lower. this would also give us a more accurate estimate of how much GIVbacks a use

[2022-08-02 16:27] mosaeedi commented on #1188
Since we are going to show a tooltip, I think it's better to show the "?" icon because we always used the "?" for the tooltip and when users saw it, they know there is some more information, but showing the lock, may actually prevent user hover on the icon and instead they may think all of the tokens are locked!

[2022-08-02 16:55] laurenluz opened #1279 "GIVpower - add locked GIV details link to the GIVpower explainer on the back of the card"
We just need to add the "locked GIV details" link that goes to the modal at the bottom of this page.

FYI the text in the figma is different than the test version, but we want to keep the text from the test version (not the figma)

![image](https://user-images.githubusercontent.com/75490971/182431272-5a8f9c61-5767-41da-b6a1-d983378c3946.png)

[2022-08-02 16:57] laurenluz commented on #1279
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=10502%3A194360

[2022-08-02 17:33] #763 closed

[2022-08-02 17:33] #1191 closed

[2022-08-02 17:34] #1147 closed

[2022-08-02 17:34] #1190 closed

[2022-08-02 17:34] #1146 closed

[2022-08-02 17:34] #1205 closed

[2022-08-02 17:34] #764 closed

[2022-08-02 17:34] #766 closed

[2022-08-02 17:34] #1149 closed

[2022-08-02 17:34] #1054 closed

[2022-08-02 17:35] #1204 closed

[2022-08-02 17:35] #1043 closed

[2022-08-02 17:37] #1202 closed

[2022-08-02 17:39] #738 closed

[2022-08-02 17:43] laurenluz opened #1280 "GIVpower Page - when user's wallet is not connected, it should ask them to connect/switch network"
Right now, when the wallet is not connected, I see this:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/eba00bbf-e339-4b14-92d6-92171262d025)

Instead, it should prompt me to connect my wallet... Should look like this & say:
- [ ] Text: To see your GIVpower, please connect your wallet.
- [ ] Button: Connect Wallet
![image.png](https://images.zenhubusercontent.com/5fdfac

[2022-08-02 17:44] #1203 closed

[2022-08-02 17:48] #1148 closed

[2022-08-02 17:51] laurenluz opened #1281 "GIVpower tiny text fixes"
- [x] Tooltip in the multiplier box should say: "Coming Soon: GIVpower will allow you to support verified projects while earning rewards."
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/fb8a6cbd-d491-4d8a-9716-f2976eb9df38)

- [x] The button on the GIVpower card should say "Locked GIV Details" (not "Locked GIV Tokens")
![image.png](https://images.zenhubusercontent.com/5

[2022-08-02 17:55] laurenluz commented on #1173
Hey @MohammadPCh I was testing this on the [GIVpower deployment](https://givpower.vercel.app/givfarm)... it's strange though...

when my wallet is not connected, the default view I see is mainnet. I see the APRs, but I see the 100% GIV staking pool & the balancer pool... not the GIVpower card.

I think it is ok if we have the default view be mainnet (especially since it will show the angel vault t

[2022-08-02 18:38] divine-comedian commented on #1228
@laurenluz based on our discussion I wanted to confirm that you wanted one `?` next to the APR for the angel vault ONLY with the aforementioned text and another `?` next to the apr number with the regular apr modal.

take a look at this loom and please confirm this is what you want
https://www.loom.com/share/f39aa0ffb30e4aa0b7adeb04a3aaec87

[2022-08-02 18:40] divine-comedian commented on #744
moving this back to sprint backlog for now

[2022-08-02 19:05] divine-comedian commented on #1119
where can I test this issue?
on `staging.giveth.io` my search result does not show any new changes
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182453524-e0852080-38be-41b4-87e2-67584b53966e.png">

[2022-08-02 19:08] divine-comedian commented on #1201
@WhyldWanderer is this issue tested successfully? can it be moved to done?

[2022-08-02 19:10] divine-comedian commented on #1189
testing on `staging.giveth.io`

looks good, moving to done!
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182454293-0204c8af-4aa0-406e-ad62-5cab34d6e057.png">

[2022-08-02 19:21] divine-comedian commented on #1025
testing on `staging.giveth.io`
still though something seems wrong
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182456138-b36083f4-249c-41d4-8549-439d2a2c4a9f.png">

the start date and end date show the round begins and ends on thursday @ 9.10am - it should be friday @ 10am according to my local time

[2022-08-02 19:40] aminlatifi commented on #1109
Thanks @paxthemax for the introduction. I just came across AMB bridge which technically enables relaying data between two chains. I read the document briefly and it doesn't seem unattainable

https://docs.tokenbridge.net/amb-bridge/development-of-a-cross-chain-application/how-to-develop-xchain-apps-by-amb

I imagine we deploy two contracts, one on mainnet and one on xDAI. Users who have GIV on mai

[2022-08-02 20:04] divine-comedian commented on #1281
https://github.com/Giveth/giveth-dapps-v2/commit/152285dc9660b4eb94c517d7ca036f5519e962b3
changes are in here.

ready to test in a few minutes on `https://givpower.vercel.app/givfarm`

[2022-08-02 20:09] divine-comedian commented on #1228
made some changes on your work @MohammadPCh
https://github.com/Giveth/giveth-dapps-v2/pull/1282

[2022-08-02 20:26] divine-comedian commented on #737
testing this out. It appears my donation with drgiv3 no longer fails to record and it shows up normally on the dapp.

I would like to test the full process, adding a new token via adminbro and trying to donate it on the dapp. waiting for adminbro access privileges from @WhyldWanderer to test again.

[2022-08-02 20:51] divine-comedian commented on #737
testing on `staging.giveth.io`

got access and testing with DRGIV2 - I was able to add the token into the token list on adminbro on staging

I was then able to proceed and donate it on the dapp, donation was successful and appeared instantly on the project donations page

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182470792-4d2a2626-c676-43e6-bd92-08d9f51

[2022-08-02 21:05] mateodaza commented on #901
Let's share in this thread some ideas on which framework should we use!

@alireza-sharifpour did I hear in some call that you had some implementations before?

+ @MohammadPCh @RamRamez

[2022-08-02 21:06] mateodaza commented on #901
In this [article from the nextjs docs](https://nextjs.org/docs/testing) they have some examples for cypress, playwright, jest and vitest

[2022-08-02 21:13] laurenluz commented on #1188
ok! thank you @mosaeedi

@MohammadPCh - can you implement?

[2022-08-02 21:16] divine-comedian commented on #1173
how can this issue be tested? is this two issues rolled into one?

[2022-08-02 21:17] divine-comedian commented on #1224
how can this issue be tested?

[2022-08-02 21:18] divine-comedian commented on #1131
this looks to be live already on `giveth.io`
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182475150-e195b501-9cfd-41bc-96ca-74f684973218.png">

moving this to DONE

[2022-08-02 21:19] divine-comedian commented on #1199
how should this issue be tested?

[2022-08-02 21:21] divine-comedian commented on #1012
@MoeNick where is the verification form being tested now? staging or the same giv-verification deployment?

[2022-08-02 21:21] divine-comedian commented on #1122
how can this issue be tested?

[2022-08-02 21:35] divine-comedian commented on #1188
pending in PR
https://github.com/Giveth/giveth-dapps-v2/pull/1274

[2022-08-02 22:24] laurenluz commented on #1183
@Cotabe I don't quite understand the issue you're describing...

You would have maintained the APR of 3446% for a full year in order to earn 344,600 GIV. You wouldn't have earned that in just a few minutes...

Just because the rounds are 5 minutes doesn't mean that the dApp considers 5 minutes to be equal to 2 weeks.

It just means that your tokens are unlocked after 5 min x 26 rounds... and that

[2022-08-02 22:29] laurenluz opened #1283 "GIVpower average APR after locking tokens is wrong (too high!)"
The min APR is 544%
I locked some tokens for the max 26 rounds... so they will get an APR of 2828% (mutlplier of 5.2)

That's all correct in the lock details modal.

However... my average APR on the farm card is now way off... it is saying 4460% - way too high!

@MohammadPCh @aminlatifi

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/f52e9ec0-e76e-4585-a5aa-9224f6cf6f56

[2022-08-02 22:35] laurenluz opened #1284 "GIVpower Increase you rewards modal - remove "I'll do it later""
@Cotabe had a good suggestion to get rid of "I'll do it later". they can close the modal if they don't want to do it, so let's remove that text so they have click "x' to close the modal

@MohammadPCh or @divine-comedian

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/2010028c-ef1e-4896-94cf-c94ea7e75356)

[2022-08-02 22:35] laurenluz commented on #1284
FYI, this modal comes up *after* staking tokens.

[2022-08-02 22:56] laurenluz opened #1285 "GIVpower test deployment - I can't stake LP tokens in the Sushiswap pool?"
Testing here: https://givpower.vercel.app/givfarm
on Gnosis Chain.

But I can't stake my sushiswap LPs? It let's me approve... or sign the tx for permit... but I can't actually stake anything.

Is this some nuanced problem w/ this deployment?

@aminlatifi @MohammadPCh

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0dcf7975-36ad-400c-ac35-2a72728f11a0)

[2022-08-02 23:00] #1057 closed

[2022-08-02 23:10] laurenluz commented on #1111
PASSED https://snapshot.org/#/giv.eth/proposal/0xf1f999bc9df3420e5ee78cf4906aa2544688955af14bf871bff71c7d62436002

[2022-08-02 23:13] #1111 closed

[2022-08-02 23:16] laurenluz commented on #1109
Hey @aminlatifi @paxthemax - love that you're looking into this, but we should cut scope for the MVP and just move forward with the simple modal flow that Mo & Cherik are working on.

I think we should move this to the icebox for now.

[2022-08-02 23:18] laurenluz commented on #1174
@mosaeedi can you please put the designs in here for @MohammadPCh ?

[2022-08-02 23:19] laurenluz commented on #1109
I'm talking about #1174

[2022-08-02 23:21] laurenluz opened #1286 "GIVpower - when the user is on mainnet, they should still the GIVpower staking card"
@MohammadPCh lmk if you have any questions on this

[2022-08-02 23:21] Cotabe commented on #1183
Yes @laurenluz

That was my main question. I just prefer not to assume anything.

I would love to check the APR with my spreadsheet. But not sure how to see the locked rewards on blockscout.

@aminlatifi can you guide me through that?

[2022-08-02 23:22] laurenluz commented on #1286
related to #1174 & #1173

[2022-08-02 23:24] laurenluz commented on #1173
sorry, it kind of is. I created a new issue for the second point.

yeah I think @divine-comedian this can be tested just by checking to make sure default view is mainnet & that you see all the same things you would if you wallet was connected... APRs should be correct...

and it should show mainnet regardless of what network your wallet is on (because your wallet is not connected)

[2022-08-03 05:36] MohammadPCh commented on #1173
As you said showing the GIVpower card and bridge modal is another issue that I'm working on it :)

[2022-08-03 06:26] alireza-sharifpour commented on #1122
You can test it here:
https://giveth-dapps-v2-git-categories-develop-branch-givethio.vercel.app/

[2022-08-03 06:31] alireza-sharifpour commented on #1119
Every issue related to our New Categories design can be tested here:

https://giveth-dapps-v2-git-categories-develop-branch-givethio.vercel.app/

This includes:

- New Categories and SubCategories design
- New Filters and Sorting
- New Empty search or filter result
- Create new project with new Categories and Subcategories
- New Search
- New Single Project with Categories and Subcategories

@divin

[2022-08-03 06:32] MoeNick commented on #1122
Im also confused, recently @MohammadPCh send me this: https://givfilter.vercel.app/

[2022-08-03 07:54] MohammadPCh commented on #1122
@divine-comedian @MoeNick these are the same version of the app. I only added a new URL for easier access.

[2022-08-03 08:20] mohammadranjbarz commented on #715
You know we just have a relation between projectAddress and project, so admin bro automatically show project title instead of projected ( I think it's good because we don't have any sense about projected, but project title is good and human friendly)
about title, it's empty for all recipient addresses but I added this field because I thought maybe when admin add an address ( a related address or p

[2022-08-03 10:39] alireza-sharifpour commented on #901
Yes I had some implementations and read lots of documents before.
The PR for our project's configuration is here:
https://github.com/Giveth/giveth-dapps-v2/pull/1074
I'm going to share some resources in the next comment

[2022-08-03 11:17] alireza-sharifpour commented on #901
I investigated on Big projects code bases and read some docs and watched some courses.
We can use Jest + React Testing Library for Unit testing and Mocking and ...
React Testing Library is a great tool and it provides lot's of React and DOM related utilities.
https://testing-library.com/docs/react-testing-library/intro/
https://chrome.google.com/webstore/detail/testing-playground/hejbmebodbijjdhfl

[2022-08-03 12:57] aminlatifi commented on #1199
You can send tiny amount of GIV (like 0.000000000000323) to a wallet address and try to stake it.

[2022-08-03 13:04] clara-zi opened #1292 "Created project not showing in user account"

[2022-08-03 14:11] MohammadPCh commented on #1025
@divine-comedian thanks for testing. do you test it in the production environment?

[2022-08-03 14:19] MohammadPCh commented on #901
Wow, thanks @alireza-sharifpour and @mateodaza
It's great. I suggest that each of you undertakes a part of this research and demo it for the team( dev team + POs + testers)
what do you think?

[2022-08-03 15:16] divine-comedian commented on #1188
Ready to test on:
https://givpower.vercel.app/givfarm

[2022-08-03 15:27] divine-comedian commented on #1119
testing on `https://giveth-dapps-v2-git-categories-develop-branch-givethio.vercel.app/`

looking up a search term that yields no results currently looks like this:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182646856-a7531f12-5ced-4f4b-b59c-dfaf8f26fe9f.png">

I do not see any section for "Try These" nor any keywords that appear for a user to try searchin

[2022-08-03 15:32] divine-comedian commented on #1025
Looks to be working on `giveth.io`

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182648096-33e6ff42-25ff-4e65-86cf-9eb7db0eeb20.png">

It would be helpful next time to know where to test when this issue is moved to UAT

Hoping to see those responsiveness changes merged soon. :)

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67

[2022-08-03 16:13] divine-comedian commented on #1122
testing on `https://giveth-dapps-v2-git-categories-develop-branch-givethio.vercel.app/`

checking out categories and sub-categories

the first thing I notice is that when you scroll sideways through the categories the `All` category disappears, it wasn't clear the functionality from the figma but I think as a user we should always be able to see All and the other categories can scroll sideways.

T

[2022-08-03 17:01] clara-zi opened #1300 "no $value for WETH donation"
0.1 WETH donation made to Diamante Bridge - donation appears in donation list but there is no conversion to $value. Other donations in the list show conversion to $. This probably means that this WETH donation has not been aggregated in the donation total?

[](url
<img width="1357" alt="Screen Shot 2022-08-02 at 6 20 18 PM" src="https://user-images.githubusercontent.com/100724132/182666232-1456ab2

[2022-08-03 17:12] MoeNick commented on #1300
@CarlosQ96 can u pls take a look?

[2022-08-03 17:20] CarlosQ96 commented on #1300
On it!

[2022-08-03 17:44] divine-comedian commented on #1173
testing on `https://givpower.vercel.app/givfarm`
clean cache and cookies

while my wallet is not connected I see by default the mainnet farms, it appears to have a few issues though.
I do not see the farm for GIV/DAI nor do I see the Angel Vault farms..

Also I still see the 0% APR while my web wallet is disconnected, when I log in only then does the APRs show actual numbers.

<img width="1440" al

[2022-08-03 17:56] divine-comedian commented on #715
@mohammadranjbarz

Okay, so most migrated projects will automatically have their project title (project Id) inside of this admin view

when we add in additional addresses associated with a project via the verification form:
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/182676221-9ac9544a-da96-4878-b294-7db457806c2c.png">

are those addresses automatically ad

[2022-08-03 19:33] laurenluz commented on #1228
I think this is great @divine-comedian

[2022-08-03 20:19] laurenluz opened #1302 "GIVpower - Add "coming soons!" and get the page live"
@mosaeedi

I was talking with Griff about this, since the GIVpower back is already developed, I think it is both safe (and great for building hype!) to push the page live.

Can you go through the page design and add a "coming soon" thing all over the place? I will circle the spots:

![image](https://user-images.githubusercontent.com/75490971/182701724-4d6521c9-c102-43d6-8f46-14f71067d5a8.png)
![im

[2022-08-03 21:48] divine-comedian commented on #1228
can we call it tested and DONE?

[2022-08-04 04:13] CarlosQ96 commented on #1300
I debugged as much as I could but could not find the root cause or reproduce the issue. I am leaning towards one of our libraries "Monoswap" failed to fetch the price in a given time. But I could not find any log to confirm this.

For now I fixed manually the donation and donated too 😄

[2022-08-04 06:45] aminlatifi commented on #1183
@Cotabe In order to see how much you have locked and your locked position one by one, run the below query here https://api.thegraph.com/subgraphs/name/aminlatifi/givpower-deployment-six

[code]

Change <YOUR_ADDRESS_LOWERCASE> with your lowercase address. Note, all values are in wei.

[2022-08-04 08:26] MohammadPCh opened #1304 "Donate Card Responsive issue"
Donate card not showing correctly on my mobile, also it's a sort of slow and useless, I think we need to refactor this part.
![donate](https://user-images.githubusercontent.com/17097576/182800593-0aaf48cd-1a3d-4845-8a47-cfcee8a4f19f.jpeg)
@MoeNick @mosaeedi  @RamRamez  what do you think?

[2022-08-04 09:27] MoeNick commented on #1304
of course, lts do it.
I did testing at the time of lunch and it was ok :(

[2022-08-04 09:32] MohammadPCh commented on #1304
Thanks Moenick,
it depends on cell phone performance and screen size. so in the high-end cell phones, it's ok.
@RamRamez can you take it?

[2022-08-04 10:14] MohammadPCh commented on #1173
Hey @divine-comedian,
It's because we are using the deployment 6 environment in the GIVpower, so our config is different from the other branches.

[2022-08-04 10:18] clara-zi commented on #1300
Thank-you @MoeNick for picking up the issue so quickly. Thank-you @CarlosQ96 for quick fix. I have emailed the donor to let them know the issue is fixed. I am closing issue.

[2022-08-04 10:21] MoeNick commented on #1300
Thanks @clara-zi fir reporting, lets keep this issue to find the route cause.

[2022-08-04 10:59] RamRamez commented on #1304
I fixed single project page responsive issues in PR #1301

[2022-08-04 12:15] alireza-sharifpour commented on #901
I think it's a good idea 👍

[2022-08-04 14:28] tropicalmangos opened #1308 "Navigation - “Start Here” button"
**What problem is this design solving? Why is it necessary?**
Getting people to complete donor process smoothly (without dropping off) = More successful donors.

**Is there any user data or feedback backing up this feature request?**
We currently don't collect data on the website but working on that to find tracking Dapps.
Based on anecdotal accounts, there is user drop off and process is not supe

[2022-08-04 16:23] laurenluz commented on #1280
nice! working great.

[2022-08-04 16:24] laurenluz commented on #1279
look great - thanks Cherik!

![image](https://user-images.githubusercontent.com/75490971/182901810-c38930f1-89cd-446c-9131-93d8a8107b3a.png)

[2022-08-04 16:44] WhyldWanderer commented on #1283
Looks like Im getting similar results..

![image](https://user-images.githubusercontent.com/74267818/182905370-e1a4c24a-9869-4a99-a9f6-4a1dc8302ae2.png)
![image](https://user-images.githubusercontent.com/74267818/182905380-05873a78-7d93-497d-aa0b-fe44cd722239.png)

Im really bad at math but I dont think this is fixed yet...

[2022-08-04 16:46] clara-zi opened #1309 ""What is the GIVstream" modal text fix (GIVpower deployment)"
![image.png](https://images.zenhubusercontent.com/6228be80d06a422295d2247f/59b6ff6f-0c42-4069-9235-5dee743a6518)

The GIVstream community .............. members with the long term success of Giveth and the GIVeconomy.

should 'rewards' be in the gap for missing text?

[2022-08-04 16:53] clara-zi commented on #1309
Also change 'with' to 'for'

[2022-08-04 16:57] laurenluz opened #1310 "GIVpower - add tooltip to "rounds""
Got some feedback from the GIVpower testing party that people didn't really understand how long a round is.

Do you think we should add a tooltip @mosaeedi to "Rounds"? that says something like "Rounds are 2 week periods corresponding to GIVbacks rounds."

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/9d182161-5864-4d6f-8eff-3f584c512f94)

[2022-08-04 16:58] MohammadPCh commented on #1283
hi @WhyldWanderer
please add screen shots of the GIVpower card and lockup modal, so I can calculate them manually and check the results.
Thanks :)

[2022-08-04 17:09] WhyldWanderer commented on #1226
Here is the modal
![image](https://user-images.githubusercontent.com/74267818/182909455-512fa449-6bdb-44ca-b257-53c7ac78ef08.png)

Links are working!

Here is the card when I am connected to Kovan (Mainnet)
![image](https://user-images.githubusercontent.com/74267818/182909635-0628d6a1-d055-4d30-a517-4e8eb984fdd6.png)

And here is the card after I have switched to Gnosis
![image](https://user-image

[2022-08-04 17:10] laurenluz commented on #1226
this is great!! thanks @WhyldWanderer @MohammadPCh

[2022-08-04 17:13] laurenluz commented on #1309
"The GIVstream aligns community members with the long term success of Giveth and the GIVeconomy"

Thatnks @clara-zi

[2022-08-04 17:22] laurenluz opened #1311 "GIVfarm page - Add "add GIV to metamask""
Feedback from a testing party... maybe we should add a little add to metamask at the top there, near "bridge your GIV" etc.

Wdyt? @mosaeedi ?

This feedback came from @danelsuga

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/d21e790f-bfb8-46c1-8baf-7dd03fa0938e)

[2022-08-04 17:22] WhyldWanderer commented on #1174
Looks great!
![image](https://user-images.githubusercontent.com/74267818/182912580-4ac686d7-78de-4ff3-889b-ab75ae5037d7.png)

Moving to done!

[2022-08-04 17:24] WhyldWanderer commented on #1286
I see the modal when connected to Kovan (Mainnet)
![image](https://user-images.githubusercontent.com/74267818/182912824-91b2d2d1-e598-4649-ac43-eaa5683a1312.png)

Looks like its working great! Moving to done

[2022-08-04 17:26] WhyldWanderer commented on #1284
I am testing on https://givpower.vercel.app/

Looks like the cancel button has been romoved!
![image](https://user-images.githubusercontent.com/74267818/182913385-08eca000-c7bc-48e6-bafd-6084f485dc71.png)

Moving to done!

[2022-08-04 17:29] WhyldWanderer commented on #1188
Testing on https://givpower.vercel.app/

I see the ? and the following message:
![image](https://user-images.githubusercontent.com/74267818/182913766-6a6cbff9-4333-444e-ada4-6de36fbc1194.png)

Looks good! Moving to done

[2022-08-04 17:32] WhyldWanderer commented on #1281
Testing on https://givpower.vercel.app/

Book issues appear to be resolved:

![image](https://user-images.githubusercontent.com/74267818/182914169-d68a4b2b-e0bd-492c-ae36-b5b7486bf0d8.png)

![image](https://user-images.githubusercontent.com/74267818/182914178-829cb8b5-550c-4cee-b5a2-e4c1d5ca8acf.png)

Great job! Moving to done!

[2022-08-04 17:36] laurenluz opened #1312 "GIVpower - missing tooltips on APR & "unstake" on the farm card"
@MohammadPCh

We want to have a "?" next to "APR" on the GIVpower card... and we want the content of the tooltip to change based on whether or not the user is staking GIV.

If not staked/connected "This is the range of possible APRs for staked and locked GIV. Lock your GIV for longer to earn greater rewards."
If staked "This is the weighted average APR for your staked (and locked) GIV. The full ra

[2022-08-04 17:40] laurenluz opened #1313 "GIVpower - "locked GIV details" grey-out is not consistent"
When I have no GIV locked, the main card has it greyed out:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/400150c9-cafb-4c81-8d4d-a3bc7c746d26)

But in "unstake" it is not greyed out:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/e91d1b30-9c1a-4749-90b9-df2cd688d8a3)
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d

[2022-08-04 17:46] mosaeedi commented on #1313
it should be disabled on the "Unstake" modal too, why do you think it should be clickable when user doesn't have any locked GIV? it's like enabling the Unstake button when user didn't stake yet!

[2022-08-04 17:51] mosaeedi commented on #1310
Adding more helpful information for users is not a bad idea! I'll add it to Figma.

[2022-08-04 17:56] mosaeedi commented on #1310
![Screen Shot 2022-08-04 at 8 55 56 PM](https://user-images.githubusercontent.com/13708322/182918419-1d35ec46-f71f-4639-8727-6469647434a1.png)

[2022-08-04 17:56] mosaeedi commented on #1310
## Design resource
[Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=10527%3A195680)

[2022-08-04 17:59] mosaeedi commented on #1302
## Design resource
[Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12207%3A224770)

[2022-08-04 19:14] tropicalmangos opened #1314 "GIVPower- Giveth Icon Button w/ Rewards"
Doing testing and as a newbie i had no idea what that icon with 1000 beside it meant....

Because i know about Web 3 (this is already more than some people know) I checked explorer and found out it was DRGIV2 toen

This was definitely not intuitive or an easy user experience

Recommendation

- put DRGIV2 besdie 1000 token reward so people know what it is
- put (?) icon so people that are confused

[2022-08-04 19:18] tropicalmangos opened #1315 "GIVpower Boosting - 3 scenarios for GIVpower page"
Shows me as having 0 GIVpower but in wallet i have 1000 DRGIV2

<img width="582" alt="Screen Shot 2022-08-04 at 21 17 16" src="https://user-images.githubusercontent.com/110338123/182935057-83221371-b8b6-4cc7-a074-aceff569f06d.png">

[2022-08-04 19:27] tropicalmangos opened #1316 "GIVPower- Show Round Dates When Locking"
hey guys the rounds are every 2 weeks right?

So when i changed how many rounds I was locking in for, I expected it to tell me what date I would be locking my tokens until. It would be super handy b/c to an outside saying you are staking for 8 rounds means nothing.. they might not know rounds are every 2 weeks....a date makes it more understandable in my opinion

you can see when i slide the ball

[2022-08-04 19:28] tropicalmangos opened #1317 "GIVPower- Projected Earnings"
hey guys this is more a nice to have but seeing projected earnigns would be really cool and get people excited about staking/locking their tokens

seeing their earnings go up will increase the likelihood they lock longer b/c the benefit becomes tangible

<img width="470" alt="Screen Shot 2022-08-04 at 21 27 41" src="https://user-images.githubusercontent.com/110338123/182936675-72664a3d-27c0-49de-8

[2022-08-04 19:34] tropicalmangos opened #1318 "GIVPower- Locked GIV confirmation"
hey guys, after getting GIV power I think the next CTA and logical step is to get them to allocate their tokens to projects and change the "learn more" button we have now to "Back PRoject / Support Project/ Send GIVpower" ...something like that.

Not sure if it's in the works ?
<img width="1006" alt="Screen Shot 2022-08-04 at 21 31 41" src="https://user-images.githubusercontent.com/110338123/18293

[2022-08-04 19:36] tropicalmangos opened #1319 "GIVPower- didn't recognize my GIVpower when i went to boost project"
so i went to boost a project and it didn't let me b/c it's asking for DRGIV3 but I have DRGIV2 in my wallet.

https://givpower.vercel.app/donate/unique-care-connect-inc

<img width="1240" alt="Screen Shot 2022-08-04 at 21 35 03" src="https://user-images.githubusercontent.com/110338123/182937862-3647fa42-7a51-4e18-b88e-9bb7d847a81b.png">

<img width="698" alt="Screen Shot 2022-08-04 at 21 36 46" sr

[2022-08-04 19:40] tropicalmangos opened #1320 "GIVPower- show locked GIV when unstaking (what's unavailable to remove)"
Under "unstake" it shows 100 GIV so i expected to remove it all but when i went to unstake it only showed 75 available (25 was missing)...I think an explanation of 25 locked GIV would be important here

Somebody might've locked ages ago and not be able to remember why the 25 is "Missing"

I would add something like "Locked GIVPower" 25 or something like that right underneath "available to unstake"

[2022-08-04 19:47] tropicalmangos opened #1321 "GIVPower- (?) not working GIVfarm Rewards card"
cicked on (?) for explanation and nothing happened

<img width="704" alt="Screen Shot 2022-08-04 at 21 46 12" src="https://user-images.githubusercontent.com/110338123/182939636-5ea65de7-204c-469d-bbca-512863cd4d9c.png">

[2022-08-05 14:13] divine-comedian commented on #1173
If this is still relevant can you please provide the testing link?

[2022-08-07 09:55] aminlatifi opened #1323 "Wrong `Total Staked` value on GIVpower unstake modal"
<img width="377" alt="image" src="https://user-images.githubusercontent.com/5684607/183285405-1e0813eb-0af6-4a6b-bce6-e3ca14c4c71d.png">

I had 100 GIV Staked, then locked 25 GIV. In unstake modal I see `Total Staked` value 75, but it must be 100

[2022-08-07 09:56] aminlatifi commented on #1323
@MohammadPCh It must be gGIV token balance techincally

[2022-08-07 18:07] divine-comedian commented on #1309
ready to test on `https://givpower.vercel.app/givfarm'

[2022-08-08 07:04] #251 closed

[2022-08-08 07:04] #492 closed

[2022-08-08 07:05] #497 closed

[2022-08-08 07:10] #500 closed

[2022-08-08 07:18] #513 closed

[2022-08-08 07:18] #519 closed

[2022-08-08 07:18] #529 closed

[2022-08-08 07:18] #556 closed

[2022-08-08 07:18] #643 closed

[2022-08-08 07:18] #648 closed

[2022-08-08 07:18] #737 closed

[2022-08-08 07:18] #748 closed

[2022-08-08 07:18] #772 closed

[2022-08-08 07:18] #532 closed

[2022-08-08 07:18] #534 closed

[2022-08-08 07:18] #538 closed

[2022-08-08 07:18] #542 closed

[2022-08-08 07:18] #560 closed

[2022-08-08 07:18] #569 closed

[2022-08-08 07:18] #597 closed

[2022-08-08 07:18] #598 closed

[2022-08-08 07:18] #655 closed

[2022-08-08 07:18] #667 closed

[2022-08-08 07:18] #668 closed

[2022-08-08 07:18] #673 closed

[2022-08-08 07:18] #774 closed

[2022-08-08 07:18] #782 closed

[2022-08-08 07:18] #784 closed

[2022-08-08 07:18] #547 closed

[2022-08-08 07:18] #554 closed

[2022-08-08 07:18] #555 closed

[2022-08-08 07:18] #607 closed

[2022-08-08 07:18] #630 closed

[2022-08-08 07:18] #633 closed

[2022-08-08 07:18] #638 closed

[2022-08-08 07:18] #688 closed

[2022-08-08 07:18] #689 closed

[2022-08-08 07:18] #695 closed

[2022-08-08 07:18] #735 closed

[2022-08-08 07:18] #641 closed

[2022-08-08 07:21] #785 closed

[2022-08-08 07:21] #820 closed

[2022-08-08 07:21] #865 closed

[2022-08-08 07:21] #786 closed

[2022-08-08 07:21] #789 closed

[2022-08-08 07:21] #791 closed

[2022-08-08 07:21] #822 closed

[2022-08-08 07:21] #826 closed

[2022-08-08 07:21] #834 closed

[2022-08-08 07:21] #795 closed

[2022-08-08 07:21] #802 closed

[2022-08-08 07:21] #806 closed

[2022-08-08 07:21] #807 closed

[2022-08-08 07:21] #838 closed

[2022-08-08 07:21] #841 closed

[2022-08-08 07:21] #842 closed

[2022-08-08 07:21] #845 closed

[2022-08-08 07:21] #811 closed

[2022-08-08 07:21] #815 closed

[2022-08-08 07:21] #847 closed

[2022-08-08 07:21] #849 closed

[2022-08-08 07:22] #866 closed

[2022-08-08 07:22] #868 closed

[2022-08-08 07:22] #971 closed

[2022-08-08 07:22] #973 closed

[2022-08-08 07:22] #880 closed

[2022-08-08 07:22] #882 closed

[2022-08-08 07:22] #891 closed

[2022-08-08 07:22] #893 closed

[2022-08-08 07:22] #974 closed

[2022-08-08 07:22] #975 closed

[2022-08-08 07:22] #976 closed

[2022-08-08 07:22] #977 closed

[2022-08-08 07:22] #912 closed

[2022-08-08 07:22] #969 closed

[2022-08-08 07:22] #970 closed

[2022-08-08 07:22] #1005 closed

[2022-08-08 07:22] #1025 closed

[2022-08-08 08:17] MoeNick commented on #1201
Moved to production as hotfix.

[2022-08-08 08:17] MoeNick commented on #1201
Moved to production as hotfix.

[2022-08-08 08:17] #1201 closed

[2022-08-08 09:51] #1117 closed

[2022-08-08 09:54] #1133 closed

[2022-08-08 10:40] alireza-sharifpour opened #1324 "Refactor Inputs' Label"
Currently we are using GLink component for our Inputs' Label.
We need to change them to html input to improve accessibility.

[2022-08-08 10:55] #1228 closed

[2022-08-08 10:56] #1132 closed

[2022-08-08 11:05] #461 closed

[2022-08-08 11:11] #1173 closed

[2022-08-08 11:17] MoeNick commented on #1126
Should test on Givpower branch.

[2022-08-08 11:33] MoeNick commented on #1044
It should test on Givpower branch

[2022-08-08 11:35] MoeNick commented on #966
Env: staging
Test Scenario: change the sorting value of each token on different networks, and it should show sorting on the donation page as preferred.

[2022-08-08 11:38] MoeNick commented on #966
Tested, it's on production now.

[2022-08-08 11:38] #966 closed

[2022-08-08 11:39] #832 closed

[2022-08-08 11:42] MoeNick commented on #890
Test Scenario: Warning added no to used exchange addresses.
Should test on new UX. both same address flow or different address flow.

[2022-08-08 11:43] #850 closed

[2022-08-08 12:14] MoeNick commented on #1226
@laurenluz its unit test passed, so I put it back to unit testing, waiting to be merged on Giveconomy branch, then we can put it in UAT.

[2022-08-08 12:42] MoeNick commented on #948
This happened last week.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/d65b3178-360b-47b3-9570-e399f7bee3d2)while we merged this to production without testing this issue.

[2022-08-08 12:44] #934 closed

[2022-08-08 12:44] #727 closed

[2022-08-08 12:45] #721 closed

[2022-08-08 12:45] #733 closed

[2022-08-08 12:45] #645 closed

[2022-08-08 12:46] #658 closed

[2022-08-08 12:46] #717 closed

[2022-08-08 12:46] #718 closed

[2022-08-08 12:46] #722 closed

[2022-08-08 12:47] #720 closed

[2022-08-08 12:47] #711 closed

[2022-08-08 12:47] #712 closed

[2022-08-08 12:47] #713 closed

[2022-08-08 12:47] #701 closed

[2022-08-08 12:47] #730 closed

[2022-08-08 12:47] #771 closed

[2022-08-08 12:49] #719 closed

[2022-08-08 12:49] #923 closed

[2022-08-08 12:49] #617 closed

[2022-08-08 12:49] #725 closed

[2022-08-08 12:49] #749 closed

[2022-08-08 12:49] #862 closed

[2022-08-08 12:50] #981 closed

[2022-08-08 12:50] #997 closed

[2022-08-08 13:01] #1207 closed

[2022-08-08 13:09] divine-comedian commented on #1309
It was a very very small change - I added the commit to my comment above

[2022-08-08 13:31] divine-comedian commented on #1044
HOW can it be tested?

[2022-08-08 13:39] divine-comedian commented on #1199
testing on `staging.giveth.io`
Success! I am able to approve and stake a very tiny amount of GIV into the GIVfarm.

https://blockscout.com/xdai/mainnet/tx/0xebf45ff1f948fd50f8719c460a9db41f5df68effa91c73399e4ecde7ec0209c2

moving to done

[2022-08-08 13:58] mateodaza commented on #1119
Thanks @divine-comedian I totally missed that - Also not sure if the banner applies to this issue but I'll make sure before working on it

[2022-08-08 14:27] divine-comedian commented on #1304
testing this on `staging.giveth.io`
metamask browser on mobile
phone - Google Pixel 6 Pro

I don't think my phone is bad enough to simulate @MohammadPCh test 😂

but I did notice some small issues - when scrolling up the donate modal I can scroll it up past where the modal ends, exposing the bottom of the modal.

![Screenshot_20220808-080217.png](https://user-images.githubusercontent.com/67759413/1

[2022-08-08 20:24] Cotabe commented on #1126
I thought this was working already.

What do you mean testing on Givpower branch?

[2022-08-08 20:36] laurenluz commented on #1311
This is related: https://github.com/Giveth/giveth-planning/issues/816

[2022-08-08 20:39] laurenluz commented on #1313
ok! @mosaeedi - let's do it how you suggest.

@MohammadPCh please make the "locked GIV details" disabled on the "unstake" modal when the user has no locked GIV.

[2022-08-08 20:40] laurenluz commented on #1310
@MohammadPCh - can you implement? :)

[2022-08-08 20:58] laurenluz commented on #1226
Hey @MoeNick - so unit test is when it is passed in the GIVpower test deployment... and then we move to done one things are merged to production?

[2022-08-09 05:56] MohammadPCh commented on #1283
@laurenluz I think it's done, @WhyldWanderer and I talked about it and it's confirmed.

[2022-08-09 16:14] MohammadPCh opened #1338 "change network not working in the reward card"
we should show connect wallet modal if the wallet is not connected. after the wallet is connected, we should check the network and ask the user to change the network.

[2022-08-09 16:39] MohammadPCh commented on #1310
@laurenluz Done :)

[2022-08-09 16:40] MoeNick commented on #1310
Just a kind reminder to put it in unit test column ✌️🙂.

[2022-08-09 16:47] MohammadPCh commented on #900
I investigated on this and it seems we need to wait for its stable version.

[2022-08-09 16:47] MohammadPCh commented on #900
I investigated on this and it seems we need to wait for its stable version.

[2022-08-10 00:22] laurenluz commented on #481
Just catching up here... @tropicalmangos had an interesting idea for improving the donor flow that included adding a "GIVbacks" calculator where... the user could input a donation amount and get an estimate "liquid" & "streaming" GIV amount that they might get back if they donate. We could make it clear that this is a simulator and actualy value may change... but I think it will help to educate th

[2022-08-10 01:26] laurenluz commented on #1302
@MoeNick are we able to have someone take this on so we can get it up soon? :)

maybe @alireza-sharifpour or @MohammadPCh ?

[2022-08-10 07:21] aminlatifi commented on #1338
@MohammadPCh Would you please explain as a user what will be changed?

[2022-08-10 07:32] MohammadPCh commented on #1338
in our previous version when the user clicks on the change network we use the Metamask wallet. but maybe the user wants to connect to another wallet. so we should show the wallet modal instead.

[2022-08-11 05:05] MoeNick opened #1343 "Test issues on Givfilter"
testing on `https://givfilter.vercel.app/projects`
test on brave browser and firefox

I can test a combination of scenarios add a sorting and a combination of different filters. the project page updates and shows me the correct projects depending on the options I chose.

I notice there are two strange bugs:

**The first**, sometimes on **firefox** when I log in while browsing projects I can hit th

[2022-08-11 09:50] alireza-sharifpour commented on #1343
These issues should be fixed now
https://givfilter.vercel.app/projects

@divine-comedian @MoeNick

[2022-08-11 11:10] MoeNick commented on #481
jfyi @mosaeedi and @Tosinolawale
we have to review Katia's suggestion and comparing with provided design.

@divine-comedian it's included in Notification Epic, pls take a look at list of notifications, we're working on the copies here:
https://docs.google.com/spreadsheets/d/1VMsmF9oJEwf1JyNEAfWi2n2eYvG6ZtnkXKB_3Hv29x8/edit?usp=sharing

[2022-08-11 11:25] aminlatifi opened #1346 "Mainnet 100% staking on GIVpower confusing numbers"
Currently, 100% GIV staking card on mainnet/kovan is integrated with the gnoso-chain one which is GIVpower. The values in it are confusing for me and I didn't understand at first sight what's going on till Cherick told me.
My staked amount was receiving lower reward than the APR, the unstake and harvest are haversting the mainnet farm and stake will redirect me to the gnosis-chain one.

I suggest

[2022-08-11 11:26] aminlatifi commented on #1346
@laurenluz What do you think?

[2022-08-11 11:37] #1324 closed

[2022-08-11 11:38] #1338 closed

[2022-08-11 12:46] MohammadPCh commented on #1302
@alireza-sharifpour can you take it?

[2022-08-11 12:50] alireza-sharifpour commented on #1302
Sure, I'll do it.

[2022-08-11 13:13] tropicalmangos opened #1348 "Standardized Project Format (Template)"
Problem
Currently some projects provide a 1 sentence blurb and others provide an in depth overview including: videos, pictures, website links etc. It's hard to compare projects or for projects to get an equal chance to receive donations like this. The donor is confused on which projects to donate to since some are missing critical info.

Proposed solution is to....
Create a Standardized Project Fo

[2022-08-11 14:09] MoeNick commented on #481
This is @tropicalmangos 's suggestion:
https://github.com/Giveth/giveth-planning/issues/824#issue-1335929514

[2022-08-11 16:32] divine-comedian commented on #1312
Are we testing this on https://givpower.vercel.app/ ?

[2022-08-11 16:33] divine-comedian commented on #1310
are we testing on https://givpower.vercel.app/ ?

[2022-08-11 16:33] divine-comedian commented on #1313
testing on https://givpower.vercel.app/ ?

[2022-08-11 16:33] divine-comedian commented on #1323
testing on GIVpower
https://givpower.vercel.app/

[2022-08-11 18:10] RamRamez opened #1351 "Unify all detect device hooks"
There are three different detect device width hooks in our app (`useDetectDevice.tsx`, `useDeviceDetect.tsx`, `useMediaQuery.tsx`) that must be unified in a single hook. It will also help us resolve some responsiveness issues.

[2022-08-11 18:39] divine-comedian commented on #481
Are you suggesting the calculator would be a separate from the regular donation flow?

 I'm getting ptsd from the last calculator feature... 🙃

![image](https://user-images.githubusercontent.com/67759413/184214791-22343350-e3b0-4c36-922f-a1721959cc2e.png)

[2022-08-11 18:49] clara-zi commented on #1300
If $value was in correct - does that mean that the GIVbacks allocated for this donation are also incorrect? Who would be best to tag? @MoeNick

[2022-08-11 18:51] CarlosQ96 commented on #1300
I can take a look @clara-zi

[2022-08-11 18:54] clara-zi commented on #691
This issue has been resolved and project is now verified. I think we can close this issue. Thank-you.

[2022-08-11 18:58] clara-zi commented on #1292
Hi, is there any more info that you need to help with this issue? Thanks

[2022-08-11 21:35] laurenluz commented on #481
haha omg nooo not the GIVdrop calculators 🤣

Check out the video @tropicalmangos posted in https://github.com/Giveth/giveth-planning/issues/824#issuecomment-1211961096 it's a pretty cool idea.

Bascially the user, on the "donate" page" could have a caculator where they "test" how much GIV they might get back (streamign & liquid) if they donated x amount. It would need:
- An input field for the the

[2022-08-11 21:43] laurenluz commented on #1348
I love this idea, especially adding input fields for the project owner to give their social links... and then having those show up in a default place on the publish project's page.

@MoeNick let us know if adding this feature could fit well in with some of our current development. Not high-pri but these kinds of UX fixes would be nice to add.

@mosaeedi would be happy to hear your feedback as well

[2022-08-12 01:35] laurenluz commented on #1346
Hey @aminlatifi ! We plan to end the GIV staking on mainnet when we launch GIVpower, so this won't be an issue. I think it's just a weird issue w/ our test deployment that has both.

Actually, the mainnet GIV staking will end (most likely) next week, and will not be extended, according to [this forum post](https://forum.giveth.io/t/extending-the-givfarm-again/572/24)

[2022-08-12 01:36] laurenluz commented on #1313
should be!

[2022-08-12 14:25] divine-comedian commented on #1310
testing on https://givpower.vercel.app/

going to the card for GIVpower and clicking increase my reward I can see the modal for locking for rounds, hovering on the `?` next to round I am shown the correct text on the hover tooltip

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/184374452-1c250058-7417-46fb-95ef-6bccb8fb5cc6.png">

moving to unit test passed

[2022-08-12 14:43] franculio commented on #1313
Tested with no locked GIV and the button is grey-out

![Captura de pantalla 2022-08-12 a las 16.42.09.png](https://images.zenhubusercontent.com/62ea6f3faed0f381f5fe2f36/b9fd6712-dc2d-452d-8b99-e869dcf3df5c)

[2022-08-12 14:58] divine-comedian commented on #1123
test on https://givfilter.vercel.app/projects?

[2022-08-12 15:05] oyealmond commented on #1123
Tested on https://givfilter.vercel.app/projects, I can see that every category has a banner, and all of them matches with the expected.
<img width="1294" alt="Captura de Pantalla 2022-08-12 a la(s) 10 04 40" src="https://user-images.githubusercontent.com/110692280/184384056-1a5ac1cc-6fc4-4feb-830b-4a3dfd08eaed.png">

[2022-08-12 15:10] divine-comedian commented on #1125
test on  https://givfilter.vercel.app/projects ?

[2022-08-12 15:15] clara-zi commented on #1312
Tested staked version in: https://givpower.vercel.app/givfarm

1) Tested and confirmed " ? " added next to APR and tooltip is activated with mouse hover.

2) Text matches figma example, except for dynamic range (see point 3).

3) Tested and confirmed text includes actual dynamic range specific to my GIVpower, in this case: 451.44% - 2347.5% (not "100%-1000%" as in text sample).

"This is the weigh

[2022-08-12 15:21] clara-zi commented on #1312
Continuing with same staked example test:

I see a "?" to the right of my APR % , which is not on the figma design:

<img width="201" alt="image" src="https://user-images.githubusercontent.com/100724132/184386134-93912a54-4a7d-4cfb-a775-56cac400bfea.png">

this is activated with a mouse-click, showing text in screenshot below:

<img width="193" alt="image" src="https://user-images.githubuserconten

[2022-08-12 15:24] franculio commented on #1343
Tested on https://givfilter.vercel.app/projects with brave browser. It all seems to be working good!

![Captura de pantalla 2022-08-12 a las 17.22.06.png](https://images.zenhubusercontent.com/62ea6f3faed0f381f5fe2f36/d51eee9a-f7ed-47a7-a37b-e133c686063d)

![Captura de pantalla 2022-08-12 a las 17.22.37.png](https://images.zenhubusercontent.com/62ea6f3faed0f381f5fe2f36/93fbf81b-30f3-4d4b-b4a0-7328d

[2022-08-12 15:25] clara-zi commented on #1312
Figma shows tooltip (" ? ") next to GIV under 'unstake'  this has not yet been added to Farm Card:

<img width="199" alt="image" src="https://user-images.githubusercontent.com/100724132/184387542-c98724d5-1cec-4451-bf21-dd9d37a7b26d.png">

[2022-08-12 15:27] divine-comedian commented on #1119
testing on https://givfilter.vercel.app/

I go to the projects page and type in a search that yields no results.

i can see now some keyword suggestions for me to try to find projects. click any of those keywords creates a search for those keywords and I see projects matching those keywords successfully!
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/18438792

[2022-08-12 15:33] clara-zi commented on #1312
UNSTAKED version:
1) Tested and confirm Tooltip is present and activated next to APR. Text is correct and matches Figma design:

<img width="222" alt="image" src="https://user-images.githubusercontent.com/100724132/184389179-d6a37493-e5b9-49b5-9a69-2050d24a04d6.png">

[2022-08-12 15:33] oyealmond commented on #954
1) The period is already in place after *technology*.

<img width="1140" alt="Captura de Pantalla 2022-08-12 a la(s) 10 26 49" src="https://user-images.githubusercontent.com/110692280/184388123-e9b60181-cea5-4c62-8334-d48aa7823bc5.png">

2) The word was changed to Learn.
<img width="1293" alt="Captura de Pantalla 2022-08-12 a la(s) 10 30 10" src="https://user-images.githubusercontent.com/110692280

[2022-08-12 15:48] franculio opened #1352 "Filters erased when changing from "ALL" category to any other categories"
Tested on https://givfilter.vercel.app/ with Brave browser.

Whenever selecting filters in projects section in the "ALL" category and then changing to any of the other categories it deletes the filters seleceted:

![Captura de pantalla 2022-08-12 a las 17.27.50.png](https://images.zenhubusercontent.com/62ea6f3faed0f381f5fe2f36/a9a62e1f-ffc1-4583-b355-054bbefb63fa)

![Captura de pantalla 2022-08-12

[2022-08-12 16:09] oyealmond commented on #1106
Tested in https://staging.giveth.io/create
After following the steps (upload a picture from Hard drive, removing it, and then upload a picture from Giveth's gallery), the past image information is not shown:

<img width="737" alt="Captura de Pantalla 2022-08-12 a la(s) 11 06 38" src="https://user-images.githubusercontent.com/110692280/184396971-9eefa53f-3b41-494c-999e-df6e52bcba7b.png">

[2022-08-12 16:24] divine-comedian commented on #1120
test this issue on https://givfilter.vercel.app/ right?

[2022-08-12 16:36] divine-comedian commented on #1185
testing on https://staging.giveth.io/

I am testing the H-cases (edge cases?) as stated in the figma above

when I enter an address into a field and then delete it or if I just leave it blank,  under the empty box it says "Eth adderess invalid" but the box is empty so the message should say "this field is required" right?
<img width="1440" alt="image" src="https://user-images.githubusercontent.com

[2022-08-12 16:39] oyealmond commented on #1120
@MoeNick
Tested on https://givfilter.vercel.app/projects and the user search experience does not match with the [Figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=10923%3A197431) provided. Filters does not shows any numbers:

https://user-images.githubusercontent.com/110692280/184404069-77ac1214-9d6a-4456-89f2-10dbf707849b.mp4

[2022-08-12 16:43] divine-comedian commented on #1120
moving to sprint backlog

[2022-08-12 16:47] divine-comedian commented on #1012
testing on https://staging.giveth.io/verification/testing-no-categories

made a quick fix to the text https://github.com/Giveth/giveth-dapps-v2/commit/5e9e2d37ac23b99440e3e5cc6a30415cd45e001e
 - was
`Drag & drop some docs here`

changed to-
`Drag & drop your files here`

I can see however now it does accept multiple file types this part seems to be working well!
<img width="1440" alt="image" src="

[2022-08-12 16:51] clara-zi commented on #1323
Recreated issue and tested on: https://givpower.vercel.app/givfarm

I had 100 GIV Staked, then locked 25 GIV. In unstake modal I now see Total Staked value 100

Issue fixed:

https://givpower.vercel.app/givfarm

<img width="299" alt="image" src="https://user-images.githubusercontent.com/100724132/184405892-af1bcfc7-26da-4b12-98e5-a60b6182fbc7.png">

[2022-08-12 17:00] divine-comedian commented on #1259
testing on https://staging.giveth.io/project/how-many-photos-is-too-many-photos
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/184407721-7e17d4c8-d16b-468e-97a9-25a371f62d7c.png">

I can now enter a search on the donations tab and can see multiple pages matching by search query.

issue looks to be resolved - since I tested this on staging I will move this dir

[2022-08-12 17:10] oyealmond commented on #963
I tested on https://staging.giveth.io/support
And the specified Typeform for issues shows correctly in the **Report an Issue** button.

1)
<img width="1199" alt="Captura de Pantalla 2022-08-12 a la(s) 12 06 10" src="https://user-images.githubusercontent.com/110692280/184409013-156db240-479a-4cda-ba74-a7206d9fe63a.png">

2)
<img width="1203" alt="Captura de Pantalla 2022-08-12 a la(s) 12 06 18" src

[2022-08-12 18:18] RamRamez commented on #1120
@oyealmond Do you mean the number beside `filter` button?
This number is only shown when you select some filters. It's not related to the search nor search result count.
![image](https://user-images.githubusercontent.com/73441857/184419788-3ddea3d4-4b9f-4134-af45-0d262c48f046.png)

[2022-08-12 19:30] laurenluz commented on #1312
Hey @clara-zi ! Great tests! Yes - so the range in the tooltip should be the actual range not "100%-1000%" as it was in the design. I just put that as an example. From your tests, I can see only one thing missing. Just going to clarify for the devs:

@MohammadPCh I think we are still missing the bottom tooltip on "unstake" - which should only appear if the user has some GIV that is locked.

![imag

[2022-08-12 20:38] oyealmond commented on #1120
You're right @RamRamez . Thanks for clarifying.
I tested again and the search bar works properly.

<img width="1296" alt="Captura de Pantalla 2022-08-12 a la(s) 15 36 43" src="https://user-images.githubusercontent.com/110692280/184441461-e87ecc46-6e9d-4aea-9a79-763fb2621435.png">

[2022-08-12 22:15] laurenluz opened #1353 "GIVfarm extension August 2022"
The GIVfarm current allocation is set to end on August 19th, pending the results of [this snapshot](https://snapshot.org/#/giv.eth/proposal/0x6261172ced3883df8339db78c8495d74b74527256f320071e44d059b9c4f9612) we should extend some farms, and end others.

The extensions will include:

| Farm |	GIV per Week	| Weeks to Run	| Total in GIV|
|---|---|---|---|
|80GIV/ETH Balancer on Mainnet	| 75,000	| 12

[2022-08-12 22:17] laurenluz opened #1354 "Allocate more GIV to 100% GIV staking & GIV/ETH balancer"
This is for the GIVfarm extension. The amount of rewards & details are in the epic. #1353

[2022-08-12 22:20] laurenluz opened #1355 "De-activate discontinued GIVfarm cards"
We will need to deactivate certain GIVfarm cards, as outlined in #1353

- [x] We should have them look like this:
![image](https://user-images.githubusercontent.com/75490971/184451814-3806bada-7971-44cf-a179-18821b3e7202.png)

- [x] The user should still be able harvest their rewards and unstake from a deactivated card
- [x] The card should remain "unarchived" for 3 weeks, after which point they s

[2022-08-12 22:44] laurenluz opened #1356 "Show all GIVfarm cards when the user is connected to either network"
As we plan to end certain programs in the GIVfarm, we want to make it easy for users who withdraw liquidity from one place (e.g. GIV/xDAI on gnosis chain) to put it in another (e.g. GIV/ETH on balancer)

To do that, it would be nice to see all active farms within the same view (and let the user see the APRs) no matter what network they are connected to.

We have also made it technically possible t

[2022-08-14 07:22] aminlatifi commented on #1346
So it makes sense more to have a separate card for that! because removing/archiving 100% giv staking on mainnet may cause later issues. If we have totally different cards on mainnet (one for 100% GIV farming on mainnet and another for givpower) we will be safer in the future.

[2022-08-14 08:01] aminlatifi commented on #1354
For better distribution of knowledge, I suggest @mohammadranjbarz do it and then I review. It was reverse before.

[2022-08-14 09:23] #629 closed

[2022-08-14 09:24] #91 closed

[2022-08-14 10:28] MoeNick opened #1358 "Project Discussions"

[2022-08-14 12:24] mohammadranjbarz commented on #1353
* [ ] Create a distributor file for GIV stake rewards ( startTime would be after current end time of farming)
* [ ] Create a distributor file for ETH/GIV rewards
* [ ] Setup cronjob for running new scripts
* [ ] Assign 900,000 to GIV/ETH farm on token distro (multi-sig)
* [ ] Assign 800,000 to GIV stake farm on token distro (multi-sig)
* [ ] Transfer 1,700,000 GIV to token distro @divine-comedian

[2022-08-14 12:25] mohammadranjbarz commented on #1354
* [ ] Create a distributor file for GIV stake rewards ( startTime would be after current end time of farming)
* [ ] Create a distributor file for ETH/GIV rewards
* [ ] Setup cronjob for running new scripts
* [ ] Assign 900,000 to GIV/ETH farm on token distro (multi-sig)
* [ ] Assign 800,000 to GIV stake farm on token distro (multi-sig)
* [ ] Transfer 1,700,000 GIV to token distro @divine-comedian

[2022-08-14 21:26] RamRamez opened #1361 "Add progress bar to file uploading"
1. Add progress bar and upload cancel button to file uploading components (create project page, edit user modal and onboarding page)
2. On create project page, when user selects a default background picture (four color slots) or the remove button, all picture uploading processes should be aborted.

[2022-08-15 00:01] divine-comedian commented on #1312
I already implemented this and you can see it while testing on https://givpower.vercel.app/givfarm

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/184559742-60e0e547-6478-46ba-9361-f04c3c73bb85.png">

[2022-08-15 00:04] divine-comedian commented on #1353
@mohammadranjbarz @mateodaza @aminlatifi Any coordination questions I will be your point person! Let's try to have this ready to go by wednesday if possible! We can chat more in the dev call tomorrow

[2022-08-15 00:15] divine-comedian commented on #481
I'm not really a big fan of the added complexity of adding a "testing" calculator to the donation page. I think the UX is much simpler as @Tosinolawale  proposed. The user would input how much they want to donate in the same box as always and we show a preview underneath calculated from the current API price of the token, price of GIV, and GIVstream rates.

 It's basically the same thing but you j

[2022-08-15 05:20] MoeNick opened #1363 "Mandatory Updates for Verified Projects"
All verified projects (except GIving Block projects) will be required to submit quarterly updates in order to keep their verified status. In our messaging we should always encourage ‘regular updates’.
We can set the expectation of quarterly updates and allow for a 2 week grace period (104 days in total).

If they have gone:
60 days without an update - send a reminder email (friendly reminder)
90 d

[2022-08-15 06:01] MoeNick opened #1364 "Verification form: let the User know the mandatory updates."
Add information to the verification form that indicates that quarterly updates are required to maintain verified status.

[2022-08-15 06:19] MoeNick opened #1365 "Mandatory updates: Change the verified badge to revoked"
After 104 days without an update, the project’s verified status should change to “revoked”. This means that the project is still listed and can receive donations, their donors will no longer receive GIVbacks, and the verification team will have an indication that the project was once verified.

[2022-08-15 06:23] MoeNick opened #1366 "Mandatory updates - Email Templates"
@WhyldWanderer commented on [Tue Aug 02 2022](https://github.com/Giveth/giveth-planning/issues/809)

I think Rodri designed our current email templates found here: https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=2985%3A85583

We need a few additions for the mandatory update emails described in this issue:
https://github.com/Giveth/giveth-planning/issues/806

Mayb

[2022-08-15 06:23] #1366 closed

[2022-08-15 06:27] MoeNick opened #1367 "Verify Your Project: Single Project, Project Owner View"
If a project’s verification status becomes “revoked” they will need to add an update and reapply in order to get the status reinstated. This will affect the ‘verify your project’ link availability.

[2022-08-15 06:29] MoeNick commented on #1292
@CarlosQ96 man can you take a look at this, I could not find a clue on Admin.

[2022-08-15 06:32] MoeNick commented on #1300
Ahh, Sorry @clara-zi for that, I was assuming you QAed it, so if you need anyone to take a look, please put it in QA before closing.

[2022-08-15 08:01] #1007 closed

[2022-08-15 08:02] #1008 closed

[2022-08-15 08:02] #844 closed

[2022-08-15 08:04] #1113 closed

[2022-08-15 08:09] MoeNick opened #1368 "Multi Addresses for different networks"
The mani Epic is here: https://github.com/Giveth/giveth-dapps-v2/issues/703

[2022-08-15 08:26] #703 closed

[2022-08-15 08:29] #491 closed

[2022-08-15 08:44] #480 closed

[2022-08-15 08:46] #672 closed

[2022-08-15 09:15] #475 closed

[2022-08-15 09:18] #484 closed

[2022-08-15 09:24] #765 closed

[2022-08-15 09:24] #1319 closed

[2022-08-15 09:30] #300 closed

[2022-08-15 09:57] MoeNick commented on #563
Closed due to @Santigs 's request.

[2022-08-15 09:57] #563 closed

[2022-08-15 10:20] MoeNick opened #1369 "Improve and Optimizing categories/sub-categories"
@mosaeedi commented on [Fri Jul 15 2022](https://github.com/Giveth/GIVeconomy/issues/663)

We used to have a flat structure for categories and because of that, the system wasn't looking clean because we couldn't arrange them also we happen to have some duplicate categories or almost the same categories.

on issue #452, we managed to create a new structure and clean up the categories(we call them s

[2022-08-15 11:18] #1368 closed

[2022-08-15 11:32] RamRamez commented on #1185
For testers:
In PR #1372
1. Fade-in and fade-out animation is added to the `resolved address` toast massage and to the `wallet address already used` error message
2. `This field is required` error message is added when wallet address input is empty

It is not clear for me when the caption `You can enter a new address to receive funds on Mainnet network(or Gnosis Chain).` should be shown. I asked m

[2022-08-15 12:45] CarlosQ96 commented on #475
I changed the db structure for more flexibility a bit. Persisted the userWallet in its own entity and separated notification template from the data itself.

[2022-08-15 12:55] CarlosQ96 commented on #1292
On it!

[2022-08-15 13:12] CarlosQ96 commented on #1292
@clara-zi Hello Clara! I found the root issue.
So Amber has 3 accounts with different wallets she logged in. The wallet you posted in the issue has no projects related to it.
The correct one is ```0x92c95830f5292c9db6ceed202e89b844afd3a72d```, can you confirm if she can switch to this wallet for logging in?

If it's not posible, let me know, and I'll proceed with changing the project owner to the

[2022-08-15 13:51] mohammadranjbarz commented on #1300
https://discord.com/channels/679428761438912522/928813033600475207/1008734613067280414

[2022-08-15 14:20] MoeNick opened #1373 "Test environments for Subgraph"

[2022-08-15 16:26] mosaeedi commented on #1356
![Screen Shot 2022-08-15 at 7 21 50 PM](https://user-images.githubusercontent.com/13708322/184674501-31e0832b-0a7e-4db9-82d8-47cfa253f821.png)

## Design resource
Showing farm card for both networks -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12493%3A231529)

Important!
We have to group the farm card for the same network and show the network s

[2022-08-15 19:05] divine-comedian commented on #1121
Looking at the current filter views there's a few things that don't quite make sense to me.

As a user from the four filter options presented if I select GivingBlock and Accepts GIV token will always yield no results. We could assume any project that isn't a giving block project would accept GIV tokens at the moment, right?

The Giving Block also already has its own sub category under non-profit s

[2022-08-15 19:27] divine-comedian commented on #1354
Just to clarify - we'll need to send 900k GIV to the Mainnet Token Distro and we'll need to send anywhere from 400k-800k GIV to the Token Distro on Gnosis Chain.

I have created the tx to top-up the mainnet token distro here-
https://gnosis-safe.io/app/eth:0xf924fF0f192f0c7c073161e0d62CE7635114e74f/transactions/multisig_0xf924fF0f192f0c7c073161e0d62CE7635114e74f_0xe409c9961ff2b6502293c1992f9328f1e

[2022-08-15 20:11] MoeNick commented on #1121
- [ ] we should also consider removing "from Trace" since Giveth Trace is no longer maintained.

- [ ] The user should have the ability to 'clear filters' - I'm also thinking like that, @mosaeedi can you take a look?

@divine-comedian for your suggestion, due to it might have spec changes, I'll put them in another issue, let's focus on functionality in this step.

[2022-08-15 20:13] MoeNick commented on #1121
Unfortunately givingblock has different labels on staging and I can say also in production, so we can't rely on that fact.  @divine-comedian

[2022-08-15 20:54] divine-comedian commented on #1356
talking to @mosaeedi a bit earlier today I wanted to capture some of my feedback in the issue here -

looking at how some other platforms show their farms I think we can glean some ideas.

### ribbon.finance:
![image](https://user-images.githubusercontent.com/67759413/184715863-e97d5441-5652-406f-908c-b8069e4b24c2.png)

Having instead the network indicator inside of the farm card instead of a head

[2022-08-15 21:08] divine-comedian commented on #1121
but why is there a giving block filter and a giving block sub category? this seems redundant.

[2022-08-16 07:08] mohammadranjbarz commented on #1354
Great, thank you

[2022-08-16 08:02] MoeNick opened #1374 "Standardized Project Format (Template)"
About Us
Mission
Gallery
Social LInks / Web LInks  :)
Ask
Updates

[2022-08-16 08:04] MoeNick opened #1375 "Explainer Video - Project Donation Pg"
- Overview of the whole process
- “How to donate”
- Timestamps
- How GIVbacks work
- GIVbacks- what happens after donation, how it works
- GIV Calculator- how GIV works

[2022-08-16 08:25] MoeNick opened #1376 "Improvements on "You're a Giver" page"

[2022-08-16 11:31] RamRamez commented on #1304
fixed in PR #1377

[2022-08-16 12:25] RamRamez opened #1378 "Donate page project card issue"
The project card in donate page in mobile view:
1. User should be able to drag to open/close project card on mobile (current state is on click)
2. When clicking on the blue bar, it returns to project page (but it should close/pull down the project card)

![image](https://user-images.githubusercontent.com/73441857/184879059-36649cc5-e968-41aa-b900-74ca24152bc5.png)

[2022-08-16 12:43] MoeNick commented on #1079
@divine-comedian

[2022-08-16 13:22] divine-comedian commented on #1181
testing on `staging.giveth.io`
brave browser
going through the issues by number:
1. counter appears to be working, I cannot type a title longer than the counter limit
2. using ENS on gnosis chain I get a small red message underneath asking me to change network, changing network resolves the red text
3. I cannot add a duplicate wallet title, I receive an error message, looks good
4. I cannot add a

[2022-08-16 13:28] mosaeedi opened #1420 "Notification center [single page view]"
## Design resource

- Notification center -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12068%3A209462)

- Notification structure -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12068%3A210172)

---

[2022-08-16 15:15] mosaeedi commented on #1356
I hide my comments to prevent any misunderstanding.

[2022-08-16 15:15] mosaeedi commented on #1356
Here is the new design for showing all farms.

[2022-08-16 15:33] MohammadPCh commented on #1356
Thanks, @mosaeedi, I will talk with you, and ask some questions :)

[2022-08-16 16:08] divine-comedian commented on #1079
1. loader shows successfully on edit project
2. this isn't clear on what page I should be on @RamRamez  - the homepage or edit project view?
3. I successfully see the error page visiting a project id that doesn't exist

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/184925210-bbd10b7f-8496-4f47-9f1e-c3e0607f5c4f.png">

4. sign-in modal automatically closes wh

[2022-08-16 16:28] divine-comedian commented on #1181
testing this again on `staging.giveth.io`

now if I try to add the same eth address on either gnosis chain or ropsten I receive an error text underneath the input box and I am prevented from adding this address.
![image](https://user-images.githubusercontent.com/67759413/184930974-42fed47f-c0d2-4602-9950-52f374160781.png)

looks good!

[2022-08-16 16:44] divine-comedian commented on #1145
hey @MohammadPCh
what deployment should we be testing this on?

[2022-08-16 16:56] divine-comedian commented on #843
testing on `staging.giveth.io`

while not signed in with my wallet I can't see the drop down list of tokens. when I sign in the token list then becomes openable.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/184935526-d3854de0-5867-4f38-94a8-f798ac566d40.png">

looks good! moving to done!

[2022-08-16 18:24] divine-comedian commented on #1302
testing on `https://givpower.vercel.app/givpower`

I can see the coming soon in all of the places lauren specified.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/67759413/184951500-addcf462-e479-42d2-bc63-b0eda176821a.png">

looks to be finished! moving to unit test passed

[2022-08-16 20:32] aminlatifi opened #1384 "Migrate from Kovan to Goerli"
Kovan will be deprecated soon and subgraph will not support it in the future. So we need to redeploy our giveconomy on Goerli and replace that with Kovan

[2022-08-17 03:16] mateodaza commented on #1355
For the last point I will set a timer of 3 weeks as soon as we deploy this to production, or do we have a date already? @laurenluz

[2022-08-17 06:41] aminlatifi commented on #1384
We have redeployed part of contracts (belong to deploymet-7 kovan) on Goerli
https://github.com/Giveth/givpower-subgraph/pull/17

[2022-08-17 08:12] aminlatifi commented on #1384
@mateodaza I deployed Balancer pool and three LM contracts. Updated the notion file

[2022-08-17 09:23] aminlatifi commented on #1384
<img width="813" alt="image" src="https://user-images.githubusercontent.com/5684607/185083900-a3485ef9-b996-4c3c-be66-c47a731b86c0.png">
@MoeNick

[2022-08-17 23:27] mateodaza commented on #1384
<img width="713" alt="image" src="https://user-images.githubusercontent.com/18689480/185260898-9a31efd0-d059-4d3c-9e3c-70e6b03af247.png">

We set the alerts to them! good timing to do this :)

[2022-08-17 23:29] mateodaza commented on #1384
I'll leave a PR with the additions we currently made. I staked / claimed GIV, farmed with GIV / DAI LP on goerli and worked perfectly

These migrations are missing still
- [ ] Angel Vault
- [ ]  Cultstream
- [ ] UniswapV3 (do we need this? I tried making this LP

[2022-08-18 08:59] aminlatifi opened #1394 "Stake modal initial permit/approve state"
**Describe the bug**
When you open the stake modal for the first time, the switch button is on permit mode. But when you want to stake by pressing a percentage button, the Approve button is shown.
You have to switch back and forth on permit/approve mode to be able to user permit mode functionality

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the farm page
2. Refresh the page
3. Choo

[2022-08-19 00:46] mateodaza opened #1400 "Sort GIVFarm cards"
Based on this [design](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12493%3A231529)

![image](https://user-images.githubusercontent.com/18689480/185518611-5c0be543-dd37-4150-ad95-8a6aeaf10892.png)

Sort all GIVFarms according to

- [ ] Default
- [ ] Highest APR
- [ ] Newest
- [ ] Oldest

[2022-08-19 08:28] danelsuga opened #1401 "Title text cut off in popups for claiming GIVdrop"
I clicked on "claim", and the subsequent series of pop-up windows all had the top text of the window cut off (unreadable).

![image.png](https://images.zenhubusercontent.com/6066d509782b4d63df5cd761/3597e04c-75ad-47af-a71f-fa6f42c7ba00)

[2022-08-19 08:30] danelsuga opened #1402 "No way to exit GIVdrop "claim" pop-ups"
Is it supposed to be the case that there is no way to exit the pop-up window series for claiming GIVdrop? I want to close out of it, but it's impossible.

![image.png](https://images.zenhubusercontent.com/6066d509782b4d63df5cd761/4cbbc6e6-e5c0-4a91-b365-5ab8acd0a5e6)

[2022-08-19 08:31] MoeNick commented on #1402
@MohammadPCh @aminlatifi can you take a look?

[2022-08-19 13:49] tropicalmangos opened #1566 "Re-occurring donations"
@MoeNick dunno if it's possible from a technical point of view so that's why I'm checking with you....but have we thought about enabling re-occuring donations as part of the process?

Like for example, set a fixed amount to donate per month say $5/ $10/ $50/ $500 (enter custom amount)?

Also this is more of an idea/ suggestion, is there somewhere better to post this or is this the right way?

[2022-08-19 16:06] divine-comedian commented on #1400
It's not clear what defines `default`, let's just have Highest APR be the default view.

so let's just have three options Highest APR (default), Newest and Oldest

[2022-08-20 09:24] MohammadPCh commented on #1145
All the GIVeconomy issues are testable on this URL: https://giveconomy.vercel.app/

[2022-08-20 10:21] aminlatifi opened #1408 "Goerli Infura endpoint"
We have to use infura for our staging front-end environment (Goerli). I created one under my account since today is his Weekend. But I whitelisted giveconomy contracts! so the infura key cannot be exploited like before.

I suggest @MoeShehab#3487
1. Create an infura goerli endpoint to be used on the staging frontend
2. Whitelist these contracts (can be found in mainnet section of this file https:/

[2022-08-20 11:05] aminlatifi opened #1409 "Zero Stream Percentage on mainnet"
**Describe the bug**
Streams are zero on mainnet network

**Screenshots**
<img width="1389" alt="image" src="https://user-images.githubusercontent.com/5684607/185743053-ec4a0cd7-162b-4547-a700-dc40c7e537c7.png">
**Desktop (please complete the following information):**
 - OS: MacOS
 - Browser Brave
]

[2022-08-20 13:53] MohammadPCh commented on #1402
Thanks, @danelsuga for reporting this. I think the design guys can help us because the UX is based on what we have on Figma.
but the UI is weird(sticking the text to the top). I tested it on my computer and It's ok, could you please share more info ( your browser and your screen size) that help me to reproduce it?

[2022-08-20 18:38] RamRamez opened #1410 "similar projects bug"
1. On single projects view, when clicking one of similar projects, app should refetch similar projects with the new project slug, but it doesn't (so after selecting one similar project, we see the name of the selected project in similar projects section again)

2. when clicking one of similar projects, the similar projects slider page number should be reset to zero.

![image](https://user-images.g

[2022-08-21 06:08] danelsuga commented on #1402
I'm on Chrome with a 11" inch screen.

[2022-08-22 00:21] giantkin opened #1419 "Gnosis chain Total giv"
on Gnosis chain.   my harvestable giv is totaling from both chains.  ONLY on gnosis chain.

[2022-08-22 05:44] mhmdksh commented on #1408
Thanks @aminlatifi will create and share it

[2022-08-22 08:17] aminlatifi commented on #1419
Thanks @giantkin Can you test now on production env? it must be fixed

[2022-08-22 12:55] mhmdksh commented on #1408
This has been created and shared to the mentioned accounts. The whitelist addresses from Giveconomy has been added.

[2022-08-22 12:55] #1408 closed

[2022-08-23 06:10] #754 closed

[2022-08-23 06:10] #902 closed

[2022-08-23 06:10] #1181 closed

[2022-08-23 06:10] #1224 closed

[2022-08-23 06:10] #751 closed

[2022-08-23 06:10] #752 closed

[2022-08-23 06:10] #756 closed

[2022-08-23 06:10] #804 closed

[2022-08-23 06:10] #863 closed

[2022-08-23 06:10] #876 closed

[2022-08-23 06:10] #1012 closed

[2022-08-23 06:10] #1093 closed

[2022-08-23 06:10] #1095 closed

[2022-08-23 06:10] #1099 closed

[2022-08-23 06:10] #1114 closed

[2022-08-23 06:10] #1160 closed

[2022-08-23 06:10] #714 closed

[2022-08-23 06:10] #746 closed

[2022-08-23 06:10] #750 closed

[2022-08-23 06:10] #753 closed

[2022-08-23 06:10] #755 closed

[2022-08-23 06:10] #757 closed

[2022-08-23 06:10] #921 closed

[2022-08-23 06:10] #1096 closed

[2022-08-23 06:10] #1097 closed

[2022-08-23 06:10] #745 closed

[2022-08-23 06:17] #715 closed

[2022-08-23 06:17] #726 closed

[2022-08-23 06:17] #890 closed

[2022-08-23 06:17] #1150 closed

[2022-08-23 06:21] #803 closed

[2022-08-23 06:21] #1002 closed

[2022-08-23 06:21] #1027 closed

[2022-08-23 06:21] #1026 closed

[2022-08-23 07:12] MoeNick commented on #1308
- Only on Homepage.
- Only before sign-in , after connecting it disappears
- Having a slide / banner for it in home page.
- have in in the Footer
- Different color.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/c8f22cd2-d7e1-47c5-be5e-314582b8ea23)

[2022-08-23 07:39] MoeNick commented on #1374
- [ ] Project creation page: The project's Story should be split.
- About Us
- Mission
- Gallery and video, upload/share links
- Social Links / Web LInks :)
- Ask (how much funding are they looking to receive/ funding goal)

Do they have to be required? or optional.

- [ ] Edit projects

- [ ] Single project View | Public

- [ ] Single project View | Project Owner View

[2022-08-23 16:49] c0ric0ri commented on #1060
as per @tropicalmangos suggestion, can we offer something (lead magnet) in exchange to entice people to respond to this popup?

[2022-08-23 17:20] SnakeGH commented on #452
Hey guys, I know I am late to this but after reviewing and sorting through our projects lately, and since there are a lot of The Giving Block projects listed on our platform that require donations to be from mainnet, maybe its valuable to have a "sort by" mainnet vs gnosis chain category.

[2022-08-23 22:43] mateodaza commented on #1373
Adding GH Actions for main and staging branches - solved in this [PR](https://github.com/Giveth/givpower-subgraph/pull/21) from givpower subgraph repo

[2022-08-24 12:54] #640 closed

[2022-08-24 12:55] aminlatifi commented on #640
#1394

[2022-08-25 13:05] aminlatifi commented on #1400
What defines data? and consequently newest and oldest order?

[2022-08-25 15:34] freshelle opened #1434 "Failed Status but transaction successful"
My donation status is "failed", and it doesn't show up in the list of donations to the project [The Giveth Community of Makers](https://giveth.io/project/the-giveth-community-of-makers).

The [transaction link](https://blockscout.com/xdai/mainnet/tx/0x30bc658a93eb326df5e94d9246702f271110a870b9e2d365ed1a8049c7cf45db) is successful in blockscout.

<img width="1330" alt="image" src="https://user-imag

[2022-08-25 16:58] freshelle commented on #1434
It happened again :(

But the total donate of the project reflects my donation (I think). Project: https://giveth.io/project/pies-to-the-hospital

<img width="1294" alt="image" src="https://user-images.githubusercontent.com/86718721/186725379-4f66f05b-d946-4838-899f-492c13bbccdc.png">

[2022-08-25 18:33] MoeNick commented on #1434
@CarlosQ96 @mohammadranjbarz can you please take a look

[2022-08-25 21:18] mohammadranjbarz commented on #1434
@MoeNick  @freshelle
I changed status of this donaiton manually in DB and created an issue for that ( before distributing givbacks in each round I test these kind of donation and fix them manually)

[2022-08-25 21:18] mohammadranjbarz commented on #1434
@freshelle  Thansk for you report and the detail that you put in the issue

[2022-08-26 04:37] freshelle opened #1435 "GIVpower - improvements on rocket icon alignment"
Just a minor comment on the alignment of the **rocket icon** after successful staking. Would be nice to have it center aligned with the amount of givpower, same as the one in green box

![image.png](https://images.zenhubusercontent.com/60e263ee73d25c2e2bd82cc4/c22a4383-4ed8-41d8-91a3-bf9953cae809)

[2022-08-26 07:19] maryjaf commented on #1124
On what environment can I test this task?

[2022-08-26 07:22] MoeNick commented on #1124
https://givfilter.vercel.app
@maryjaf
This is the feature branch for all issues in the Epic

[2022-08-26 13:13] ahmadabugosh commented on #1060
Hey @MoeNick we discussed in our last comms meeting to experiment with adding a popup to two pages of the website:

1) On the homepage and 2) On the community (/join page).  It will be a popup that will let people subscribe to the newsletter and will only appear when the user is going to close the browser (exit intent) and will only show it to each user once a month (it will not show it to them 30

[2022-08-28 07:50] MohammadPCh opened #1436 "logout with expired token"
Nothing happens when the user token is expired and the user tries to log out.

[2022-08-28 07:52] mosaeedi commented on #759
@MoeNick I think we don't need this one!

[2022-08-28 07:53] mosaeedi commented on #760
@MoeNick What is it exactly?

[2022-08-28 07:56] MohammadPCh opened #1437 "showing the complete profile toast wrongly"
when the user's token is expired, and the user goes to the account page, we show a toast that says please complete your profile.

the main problem is when the user's token is expired the backend doesn't return the email, so we think the profile is not complete.

I talked with Mohammad (Giveth/impact-graph#602) and ask him to add `isSignedIn` to the `getUserByAddress` query. so we can distinguish t

[2022-08-28 07:58] #760 closed

[2022-08-28 08:00] MohammadPCh opened #1438 "Add scrollbar to the menus"
we need to add a scrollbar to our menus. when the user screen's height is low, some items in the menu didn't show, use should be able to scroll to see them,

[2022-08-28 08:55] MoeNick opened #1439 "GIVpower: showing Rank on Project Card"
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12568%3A235339

[2022-08-28 08:57] MoeNick commented on #761
Should we remove Unallocated GIVpower @mosaeedi ?
Copy on toast for first time boosting.

[2022-08-28 08:58] MoeNick commented on #762
Project Owner View?

[2022-08-28 08:59] MoeNick commented on #759
1- Does date have meaning on this view? we change the date regularly on each boosting.
2- Shall we have the trash icon on this view?

[2022-08-28 11:00] MoeNick commented on #1439
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/4018101d-514c-47fd-9aa1-dee306e5895c)
The placement of raised amount has to change and and it needs animations, so in this case it may caused lags in loading, is it okay @mosaeedi ?

[2022-08-29 12:48] mosaeedi commented on #1439
It's a mistake
We should always show both, ranking and raised amount on default and hover state.

[2022-08-29 13:12] mateodaza commented on #1400
We could use the contract deployment date or the date we made each farm publicly

[2022-08-29 13:53] #728 closed

[2022-08-29 13:53] #490 closed

[2022-08-29 13:53] #1105 closed

[2022-08-29 15:00] #1409 closed

[2022-08-29 15:18] #1185 closed

[2022-08-30 07:41] MoeNick commented on #1125
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/1d1ad61e-02a0-4f2a-b415-cb46ddadeb99)
This is what I see on https://givfilter.vercel.app/create, the formatting has a lot of differences with provided design, maybe @mosaeedi can help better with the table formatting, padding s and fonts.

[2022-08-30 08:22] mosaeedi commented on #1125
Yep there are a couple of issues here

there is some weird spacing!

![Screen Shot 2022-08-30 at 11 13 16 AM](https://user-images.githubusercontent.com/13708322/187386033-e60b9a7e-deec-4240-b055-aae6c26fe1e4.png)

it should look like this

![Screen Shot 2022-08-30 at 11 13 05 AM](https://user-images.githubusercontent.com/13708322/187386187-c4addde4-22d7-4cf8-8d12-b22c7787c44c.png)

Also, the check

[2022-08-30 08:25] mosaeedi commented on #1125
Also, the _main categories_ title use **Gray/900** color and the _sub-categories_ use **gray/800** color

[2022-08-30 20:01] maryjaf commented on #1122
I have some questions @MoeNick

1-When I select "all" from the main category
Subcategories are not displayed
This is ok?

2-When I select the "all" from main category, the set filters are reset
this is ok?

3-We should not be able to choose two or more  main categories and sub categories?

[2022-08-30 20:09] maryjaf commented on #1122
When I select one of the "sort by" options
After that, I can only change it, and it is not possible to deactivate the sort
except to change the  main category to "all" so that the filters are completely reset

[2022-08-31 07:30] MohammadPCh opened #1447 "Make modals full screen on mobile size"
The design team asks us to make all modals full screen in mobile size.

[2022-08-31 08:32] MoeNick commented on #1122
1- It's Okay.
2- It's ok
3- No it's not in the proposed UX by @mosaeedi , so functionally we should not seek it in QA.

[2022-08-31 08:34] MoeNick commented on #1122
Good catch @maryjaf . let's talk about it.

[2022-08-31 19:15] maryjaf commented on #1124
In addition to the problem of displaying sub-categories horizontally, I encountered this problem during the test
I have a project whose main category is environment&energy and subcategory is air
When I search in this category and subcategory, it shows the name of the project(testimer)
But I edit the project and add a  new sub-category(energy)
Neither the previous sub-category(air) nor the new sub-

[2022-08-31 21:08] mateodaza commented on #744
Created a new [PR](https://github.com/CarlosQ96/yield-server/pull/2) removing deprecated farms and adding missing ones

@CarlosQ96 @MohammadPCh @divine-comedian

[2022-09-01 02:34] CarlosQ96 commented on #1300
@mohammadranjbarz @MoeNick I released the hotfix to prod. Moving to QA/UAT. Or should I move to done?

[2022-09-01 02:34] CarlosQ96 commented on #1300
We should probably wait.

[2022-09-01 06:07] MohammadPCh commented on #1346
@aminlatifi @laurenluz  In the new design where we show the cards of both networks together, it is better to show the mainnet give farm card in the old way and when the user clicks on the stake, show the bridge modal to him. This design can be tested now at this address:
https://givpower.vercel.app/givfarm

[2022-09-01 10:37] clara-zi commented on #1292
So, project owner doesn't recognise the wallet you found connected to the project.

Here is email response:

"So I have done some troubleshooting on my end.

These are the only wallets I have, none of them match the number that you mentioned was connected to my project (0x92c95830f5292c9db6ceed202e89b844afd3a72d)

Metamask # 0xd5F4E89809A4236F7b7E72E63941516b26296fB0

Gnosis # 0x4B7Fa02EA8bE6363dF

[2022-09-01 15:49] maryjaf commented on #1121
@MoeNick
1-"Apply" & "clear" isnot shown despite being shown in Figma, this is ok?
2- Sort by options should be displayed in the filter counter?
That is, if it is sort by "newest" and a "verified"from Project features is applied
Counter "2 "should be displayed on the filter (in Figma, it looks like this)
But in the test environment 1 is displayed (Only Project features are counted)

[2022-09-01 19:56] maryjaf commented on #476
I listed & then unlisted my project in admin and my expection is i see these notification in response of get notification (https://staging.notification.giveth.io/v1/notifications?limit=20&offset=0&isRead=false) but i didn't.
@mohammadranjbarz please check this and advise

[2022-09-01 20:55] RamRamez opened #1456 "Add swiper to similar projects"
current fade in animation doesn't match similar projects section. Swiper should be added.

![image](https://user-images.githubusercontent.com/73441857/188009542-a5f1ba4f-ab11-4c4a-aadc-e16da4ee84a0.png)

[2022-09-01 21:28] oyealmond opened #1458 "Adding Discord icon at the bottom of the homepage"
I was looking for the Discord link access at the bottom of the home page, and saw Discord is not included in the icons (Youtube, Reddit, Medium, etc)
I found the Discord access in the [Join Our Community ](https://giveth.io/join)section.
![Captura de Pantalla 2022-09-01 a la(s) 16.21.32.png] Think would be worth to add it as is the main comms channel for the community

<img width="1285" alt="Captu

[2022-09-02 06:59] mohammadranjbarz commented on #476
@maryjaf  Thanks for your report, there was an access error between microservices (impact-graph and notification-center), I fixed the nginx , now it works for me, please test it again

[2022-09-02 09:29] maryjaf commented on #476
The result of checking

Review by @mohammadranjbarz :
1-When the project is active and inactive from the user panel, the notification is not sent .
2-Verify and unverified notification  are not sent from the admin panel

Check with @MoeNick :
1-Check the final list of actions that need to be notified
2-Currently, the actions that are performed from the edit section of the project from the admin ar

[2022-09-02 11:48] mosaeedi commented on #1122
There is this button missing in the development, at the start it's disabled, but when user select a filter, the **CLEAR ALL FILTERS** button will be activated.

**Default/Deactive state**
![Screen Shot 2022-09-02 at 2 45 35 PM](https://user-images.githubusercontent.com/13708322/188132811-aa4b9f07-1392-46f3-8b79-919f0562793e.png)

---

**Active state**
![Screen Shot 2022-09-02 at 2 48 06 PM](https:

[2022-09-02 11:50] maryjaf commented on #476
Tested & pass(notification is sent):
Project is saved as a draft
"name": "Project created",
"description": "Project has been created.",
---
Project is published
name": "Draft published",
"description": "Project draft has been published",
---
Project is listed
"description": "Project has been listed!",
 "schemaValidator": "projectListed",
--
Project is delisted
"description": "Project has unlisted!

[2022-09-02 12:34] mosaeedi opened #2082 "Sorting projects"
Sort was placed inside the Filter modal and when users wants to change the sorting it make it harder for them to do it,
So here I tried to separate the Sorting and Filtering

![Screen Shot 2022-09-02 at 3.29.02 PM.png](https://images.zenhubusercontent.com/61dd85b9a1419a0fc83f15d1/6fd270d8-d1aa-427d-9c1e-50d32c0e2e5d)

There is a new row under the categories and filters row, to show the number of r

[2022-09-02 12:36] RamRamez opened #1459 "Some issues on project donate card"
1. In some screen sizes, navigation buttons of similar projects are not center aligned to project card border

![image](https://user-images.githubusercontent.com/73441857/188009542-a5f1ba4f-ab11-4c4a-aadc-e16da4ee84a0.png)

2. In liked projects tab in my projects section and also in liked projects tab and user projects tab in public profile view there are three issues
     1. top left border shoul

[2022-09-03 10:22] MoeNick commented on #1458
@alireza-sharifpour do you need the discord icon?

[2022-09-04 06:01] alireza-sharifpour commented on #1458
I Have it, i'll add it to the footer.

[2022-09-04 09:36] MoeNick commented on #1125
@maryjaf would you please take a look and test the above reported issues again?

[2022-09-04 09:41] MoeNick commented on #1124
I can see your project under both sub-categories.
![image](https://user-images.githubusercontent.com/80677512/188307301-1b2072c6-7c95-4662-bb00-fd5b6cabbc6b.png)

![image](https://user-images.githubusercontent.com/80677512/188307351-a56a9c63-d989-4219-8b28-a4e2b6d404a3.png)

Can you reproduce it again @maryjaf ?

[2022-09-04 09:46] MoeNick commented on #1122
@alireza-sharifpour this is ready for you! :)

[2022-09-04 12:23] maryjaf commented on #1124
I got it
When I edit the project, the status of the list changes to "Waiting for review"
And that is why it is not displayed in the search engine @MoeNick

[2022-09-04 12:32] alireza-sharifpour opened #1468 "Create new texty-primary and texty-secondary buttons in design system"
We need to implement two new button components in our design system
texty-primary
<img width="128" alt="Screen Shot 2022-09-04 at 5 00 47 PM" src="https://user-images.githubusercontent.com/48887817/188313564-247510b4-7c14-46ac-a0e9-68feb41686fb.png">
texty-secondary
![Screen Shot 2022-09-04 at 5 01 17 PM](https://user-images.githubusercontent.com/48887817/188313586-8e11c614-3c4e-483b-b6b8-a71ab724

[2022-09-04 12:36] RamRamez opened #1469 "No caption when address is correct"
On create project project page when entered wallet address is correct, the `You can enter a new address to receive ...` caption should be removed.

![image](https://user-images.githubusercontent.com/73441857/188313795-01ff92d7-a5c3-453c-b184-690e4a871166.png)

this is related to https://github.com/Giveth/giveth-dapps-v2/issues/1185#issuecomment-1213308951

[2022-09-04 12:38] maryjaf commented on #1125
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/9f6df7e5-3dc5-45b3-803c-bf0ad82a6501)

The display of main categories and their subcategories is correct now
I just think that the main category must always have at least one subcategory below it, otherwise its name will be moved to the next column.
For example, in the picture above, Art & culture

[2022-09-04 15:16] oyealmond commented on #1458
I saw the icon is already placed and working in https://staging.giveth.io/
@alireza-sharifpour @MoeNick
:)

<img width="1227" alt="Captura de Pantalla 2022-09-04 a la(s) 10 15 12" src="https://user-images.githubusercontent.com/110692280/188320733-71324861-2525-4a0f-aa3a-d7ff16dc6375.png">

[2022-09-04 17:16] mateodaza commented on #744
Waiting this [PR](https://github.com/DefiLlama/defillama-server/pull/851) for us to be listed on defi llama. After that I'll leave another PR for setting the adapter

[2022-09-05 08:47] MoeNick commented on #1458
I moved it to done @maryjaf
You may want to test again to make sure? It's easy but in these easy cases we may also check both GIVeconomy and Dapp footer and also check it on mobile views.

[2022-09-05 09:06] maryjaf commented on #476
According to a chat with @mohammd we have to change some logics ther, moving to sprint planning.

[2022-09-05 17:45] mosaeedi commented on #1079
Thanks for raising the issue!

Here is the design for the not signed-in state.

[Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=13439%3A242788)

[2022-09-06 12:45] markoprljic commented on #1376
Hi @tropicalmangos I appreciate the initiative and I love your ideas! :)
One thing though, is the amount of content to show on this page. It's definitely too much. I left some comments in the doc.

What is the goal of this redesign? Do we have any analytics from this page where users are going or dropping?
Did we spot a particular problem, or are we trying to test out a new funnel?

[2022-09-07 08:31] MoeNick commented on #1373
@mateodaza @aminlatifi what to do with this issue?

[2022-09-07 08:33] MoeNick commented on #901
@alireza-sharifpour @MohammadPCh would you please update the issue the latest plan? can we create another issue then after this one?

[2022-09-07 09:00] RamRamez commented on #1125
@maryjaf This design is merged and ready to be tested on [category branch](https://giveth-dapps-v2-git-categories-develop-branch-givethio.vercel.app/).

[2022-09-07 09:01] aminlatifi commented on #1373
We have two branches at the moment, one main for production and one develop for staging
Current version:
main -> 1.1.0
develop -> 1.2.0

[2022-09-07 09:02] aminlatifi commented on #1373
@mateodaza Did you follow up subgraph mainnet deployment issue? I mean can we assume we are ready for merging develop to main and deploy to production?

[2022-09-07 10:50] #552 closed

[2022-09-07 10:50] #557 closed

[2022-09-07 10:50] #684 closed

[2022-09-07 10:50] #692 closed

[2022-09-07 10:50] #743 closed

[2022-09-07 10:50] #843 closed

[2022-09-07 10:50] #939 closed

[2022-09-07 10:50] #946 closed

[2022-09-07 10:51] #950 closed

[2022-09-07 10:51] #954 closed

[2022-09-07 10:51] #963 closed

[2022-09-07 10:52] #972 closed

[2022-09-07 10:52] #1036 closed

[2022-09-07 10:52] #1038 closed

[2022-09-07 10:52] #1058 closed

[2022-09-07 10:52] #1068 closed

[2022-09-07 10:52] #1165 closed

[2022-09-07 10:52] #1189 closed

[2022-09-07 10:52] #1199 closed

[2022-09-07 10:53] #1240 closed

[2022-09-07 10:53] #1259 closed

[2022-09-07 10:53] #1273 closed

[2022-09-07 11:30] MoeNick commented on #1364
@NikolaCreatrix can you make it clear in which step and in what "copy" we have to change the flow about mandatory design in verification form?

[2022-09-07 12:06] alireza-sharifpour commented on #1121
@maryjaf @MoeNick New Sorting And Filter design is ready for test.

[2022-09-07 17:19] maryjaf commented on #1121
I did not see the new design figma.
In the new design in test env , there isn't " APPLY"option, and in fact, the changes are applied by selecting a filter
And in the window that opens, we see the "ClEAR ALL FILTER" option only , the filters window can be closed only by selecting  close icon after applying the filter
It may not be a good user experience
It is approved by you? @MoeNick

But in gener

[2022-09-07 17:26] maryjaf commented on #1125
Thanks , the new design is ok @RamRamez

[2022-09-07 17:44] maryjaf commented on #1121
Please check this scenario:

- A main category is selected
- Filtering and sorting have not been applied
- By selecting the main category, one of the projects of this main category will be displayed, but there are more projects for this category(Pic-1)
- By selecting a subcategory, more projects will be displayed(pic-2)
- And if in this case the main category without sub is selected again, all pro