[2022-11-10 23:04] laurenluz opened #1801 "GIVpower Boosting | "Are you sure" prompt if the user is allocating 100% of their GIVpower to a project (that is not the first one)"
GIVpower boosting works such that your first project always gets 100% of your GIVpower.
Every project boosted later, gets some %, and the % on other projects is adjusted proportionally.

If a user has boosted projects in the past... and is trying to boost a *new* project with 100%, we should inform the user that they will lose all their previous allocations!

As it is now, with a quick click of a

[2022-11-10 23:14] laurenluz commented on #1736
@mohammadranjbarz

A project can get unverified (or verified) at any time - it's not only at the start of the next round.
So, in this case, if a project is in rank 3, and then loses it's verified status, it should also lose it's rank and its position in the default sorting (it should go down to the bottom).

If it becomes re-verified mid-round and its GIVpower (and the GIVpower of all the projects

[2022-11-10 23:29] laurenluz opened #1802 "GIVpower Boosting | Boosting Modal Improvements"
- [x] The grey text "Allocated to previous projects" has no meaning and should be deleted
- [x] The text in the blue box should be improved:

"When you allocate a percentage of your total GIVpower to this project, the GIVpower you have on other projects will decrease proportionally. You can review and manage your GIVpower allocations in **My GIVpower**"

- [x] The text at the bottom should be impr

[2022-11-10 23:34] laurenluz commented on #1688
Yes @maryjaf - good catch. This is an error.

- [ ] @MohammadPCh - make sure that, if a project loses it's verified status, the GIVpower tab should be hidden... it should look like a project that was never verified:

![image](https://user-images.githubusercontent.com/75490971/201227990-7a2feff6-fbe9-4356-a47d-0128ed584e2f.png)

[2022-11-10 23:35] laurenluz opened #1803 "GIVpower Boosting | Projected Rank & Current Rank is not updating as expected"
@maryjaf brought up some great bugs in the rank :

        Plz check this scenario: @mohammadranjbarz @aminlatifi
1- The "Little Pink Houses- Breast Cancer Family Retreats" rank is 22
2- I boosted this project 1050 giv power and I expected that the rank changed into 18
3- After few minutes i checked and the rank changed into 20
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575

[2022-11-10 23:44] laurenluz commented on #1803
I noticed similar issues in #1798 (now it's redunant so I will close it)

**Expected behavior**
The projects with the top "current ranks" are the ones who had the highest average GIVpower in the snapshots of the previous round.
The total GIVpower amount on a project should be dynamic... and should update each time users change their GIVpower allocations.
The "projected rank" should be based on the

[2022-11-10 23:44] #1798 closed

[2022-11-10 23:45] laurenluz commented on #1800
related to #1803

[2022-11-10 23:47] laurenluz commented on #1800
related to #1741

[2022-11-10 23:48] laurenluz commented on #1684
related to #1800

[2022-11-11 13:36] maryjaf commented on #1684
Yes, when the project is unverified, it has all three conditions above
It's just that we have a problem related to displaying the rank in the list of projects after unverify, which is explained on #1736 (https://github.com/Giveth/giveth-dapps-v2/issues/1736#issuecomment-1308794255)

[2022-11-11 16:57] laurenluz opened #1806 "RegenFarms Design Improvements"
As RegenFarms Expands, there are several design issues that we did consider / never fixed - and are now becoming necessary to improve.

- [ ] It would be nice to see all active RegenFarms in the same page, regardless of what network the user is connected to ( #821 )
- [ ] It saves the user gas to harvest from the a farm card (rather that the stream harvest button)  - we might want to add a tooltip

[2022-11-11 17:04] laurenluz commented on #1730
@MohammadPCh for the new CULT/ETH farm... we should have a new farm card for it... and when the user toggles the "show archived pools" button - the old CULT/ETH card (arhived & the new CULT/ETH card should appear side by eside like our existing farms for shapeshift.

![image](https://user-images.githubusercontent.com/75490971/201392175-228798ed-d374-4eda-acf8-15daed40377c.png)

[2022-11-11 19:49] GriffGreen commented on #1730
Great work with this team!

[2022-11-12 15:43] maryjaf commented on #1420
1- On test branch
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/57f981b7-8b30-4dfc-8d22-53cc88279121)
2- Figma

![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/c7a67e30-ad50-40a3-89dc-bed09d8f6c92)
1 OR 2 ? @MohammadPCh

[2022-11-12 15:54] maryjaf commented on #478
How many notifications should be displayed in this menu? @alireza-sharifpour
I see the last three notifications now.
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/a3ea8659-02ec-4040-96b5-e2c3e5b35701)
all of them:
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/d014e28d-cc4b-47d5-9c6c-d9e3f2d8b068)

[2022-11-12 16:05] maryjaf commented on #477
Thanks
So now this issue is blocked and the test cannot be completed? @CarlosQ96 @MoeNick
Can you please send the link of this issue?

[2022-11-12 17:04] maryjaf commented on #477
I tested, the notification is sent after verify or un-verify project, but this verification item is not mentioned in the project activities. @MoeNick
<img width="1167" alt="image" src="https://user-images.githubusercontent.com/111529185/201485756-285a15c2-4a29-4494-83b7-a5c7ea9df160.png">

[2022-11-12 17:20] maryjaf commented on #477
<img width="1413" alt="image" src="https://user-images.githubusercontent.com/111529185/201486332-2d46eefd-9f82-463b-89f7-096fa8e3682b.png">
<img width="828" alt="image" src="https://user-images.githubusercontent.com/111529185/201486484-ee0b2a4d-189f-48b0-86a6-21ee0fa4ecf1.png">
Figma and test environment are different

[2022-11-12 17:45] RamRamez commented on #477
Yeah, @MoeNick added two new rows.

[2022-11-13 07:21] alireza-sharifpour commented on #478
I think @MoeNick or @mosaeedi can tell us.

[2022-11-13 18:44] aminlatifi commented on #1803
@maryjaf It's essential to know when exactly you did those actions. Time information helps to debug, trace the changes on the backend and also explain what has happened. Do you have the exact times? even accuracy to the minutes may help. If you want to repeat the tests please note down the precise time.

[2022-11-13 19:08] aminlatifi commented on #1800
@laurenluz We tried to implement what is inferred from the [GIVpower spec](https://docs.google.com/document/d/1NpyiETNClSw2BGLqE4ucr2eem5VtmZcIpHzFneC0ciE/edit#heading=h.jd4kbc7lrjwy).  This requirement (dynamic update) is not aligned with what is implemented and design, before having it we need to define the whole logic. Then go for implementing it.

[2022-11-13 20:59] laurenluz opened #1809 "After donating, I should be able to share on socials that I am a donor!"
Didn't we have the option to share on twitter? I want to tell everyone!!

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/bd305658-138b-447b-9276-56eab07e643f)

@mateodaza - what happened???

[2022-11-13 21:05] GriffGreen opened #1810 "Fewer clicks to donating"
**As a random giveth donor, I want to quickly find the project i am donating to, so that I don't waste my time scrolling and clicking around. Every extra click is an opportunity for me to get distracted and not donate.**

We should minimize the clicks a donor needs to make to get to the project they want.

The search bar should be there on the giveth.io home page. Having to click projects is annoy

[2022-11-13 21:17] mateodaza commented on #1809
@laurenluz for some reason there was a condition to not show the social box for givback eligible donations. Let me fix that :)

[2022-11-14 06:20] maryjaf commented on #1688
Please also specify this case when the project is verified but it hasn't any boost yet
In the Givpower tab of project details are not ranked  as they are not ranked in the list of projects.
Or the last rating for these projects should be shown in the GivPower tab, like what we see in the image on the test environment now
@laurenluz

[2022-11-14 06:23] maryjaf commented on #1803
Yes, I will definitely set a time with you to test again
But what is clear is that the expected rank is calculated incorrectly
We had a conversation with Mohammad about this and he checked
@aminlatifi @mohammadranjbarz

[2022-11-14 06:33] maryjaf commented on #1420
All my notifications are not displayed on the notification center page
Should we see a specific number on this page? If so, how many or notifications related to what date @MohammadPCh @MoeNick
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/bffd5598-6402-40ee-82f4-4760ef1315f0)
According to the image of one of the previous notifications that was not read, I do not see th

[2022-11-14 07:13] aminlatifi commented on #1803
If you record the time it will be ok, these days my working hour is not quite predictable.

[2022-11-14 11:57] MohammadPCh commented on #1688
@laurenluz @maryjaf I fix the issue by showing `--` instead of number for non boosted projects. it happens because the backend returns the last number for non-boosted projects.

[2022-11-14 12:20] maryjaf commented on #1688
Is this fix deploy on Giveconomy env?
I tested and didn't see changes in this scenario

[2022-11-14 13:13] MohammadPCh commented on #1688
No, It's not merged yet. I just left a PR for it.

[2022-11-14 14:08] maryjaf commented on #1803
1- 17:07. "KIPP Foundation" han't any boost and it's rank is 26
<img width="1270" alt="image" src="https://user-images.githubusercontent.com/111529185/201673906-4d09dddc-c428-44cc-bf2e-ec466fae142a.png">

2- 17:08 boost "~1,005.38 GIVpower"
<img width="1437" alt="image" src="https://user-images.githubusercontent.com/111529185/201674356-8be1b46b-984c-4252-a298-5421009f00e6.png">
<img width="1281" a

[2022-11-14 14:58] MohammadPCh commented on #1688
@maryjaf It's on the GIVeconomy now :)

[2022-11-14 16:17] laurenluz opened #1817 ""Likes" on Project updates"
As a donor, I would like to show my support for a project's updates when they post them.

I get emails as a donor when a project updates, and, as I am curious, I always go to check them out. I'd love to be able to interact with the project at this moment, but "liking" the update.

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/b2a93a8f-d82f-4f53-9871-d516c05856b9)

[2022-11-14 16:26] laurenluz opened #1818 ""Connect your wallet" options in web3modal - Change modal to be wallet agnostic if the default is not metamask"
This came our of discussion with Tally Ho - an alternative browser wallet to metamask.

If the user has set their detault web3 wallet to a wallet other than metamask, it would be great to have the web3modal reflect that with a "connect to your web3 wallet option".

So, if the default web3 wallet is metamask, we can have the modal look like this:
![image.png](https://images.zenhubusercontent.com/5f

[2022-11-14 17:47] laurenluz commented on #1803
@maryjaf - as in #1684 I think we should make the rank show up as " 🚀 -- " on the frontend for verified, but not boosted, projects (instead of having them as the lowest rank with a number value)... and I think this solves the problem here.

[2022-11-14 19:29] laurenluz commented on #1800
@MohammadPCh @mohammadranjbarz @aminlatifi

We should update the project single page so that it shows the current GIVpower on that project, and so that it dynamically updates.

This should not change how we are calculating our rank (which is correct right now, using average GIVpower from the snapshot.

From @mohammadranjbarz

From @aminlatifi

This is the conclusion of our [discussion in Discord](

[2022-11-14 19:36] laurenluz commented on #1802
Oh no @MohammadPCh I'm so sorry, I forgot an "r" on "your" 🤦

When you allocate a percentage of your total GIVpower to this project, the GIVpower you have on other projects will decrease proportionally. You can review and manage your GIVpower allocations in  [My GIVpower](https://giveconomy.vercel.app/account?tab=boosted)

![image](https://user-images.githubusercontent.com/75490971/201749976-14e0b

[2022-11-14 19:37] laurenluz commented on #1802
Everything else looks great on GIVeconomy

[2022-11-14 19:49] laurenluz commented on #1818
Here are their docs: https://docs.tally.cash/tally/developers/integrating-dapps

[2022-11-14 19:52] laurenluz opened #1820 "My Account Overview - numbers for GIVpower look strange"
In My Account --> Overview

The GIVpower & projects boosted looks really strange. I think it would be nice nicer if the numbers were more similar in size. Also - why are we putting "~" all over for GIVpower? Can't we just put the amount?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c02d8e8e-d5be-4c6e-8352-9af84446cc69)

[2022-11-14 19:52] laurenluz commented on #1820
I would love to remove the "~" on My GIVpower everywhere... I just don't understand why we need it.

[2022-11-14 19:57] laurenluz commented on #1799
Arrows seem to be working correctly now! They don't show up when current & projected rank are the same.

[2022-11-14 20:01] laurenluz opened #1821 "Copy Fix on User's Page"
When you click on a user's name, you an see their user page.

It's weird that we say "Maryam's Projects"... and then just "Donations" "Liked Projects" etc.

We should remove the user's name from before "Projects" so it says "Overview GIVpower Projects Donations Liked Projects"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/7b202f06-1774-4bd5-a7d8-beb436a94be7)

[2022-11-14 20:08] laurenluz commented on #1741
I think this is redundant w/ #1800 now

[2022-11-14 20:08] #1741 closed

[2022-11-14 20:58] Tosinolawale commented on #1801
There is no need to add another modal to the flow. That is introducing too many steps when we can still work with the Modals we already have. @laurenluz

[2022-11-14 20:58] Tosinolawale commented on #1801
![Boosting _ First time boost](https://user-images.githubusercontent.com/35389241/201764128-db0c3eea-34c5-4059-b714-d36e8de1116e.png)

When you are Boosting a project with 100% for the first time, the design still stays as it is

[2022-11-14 21:00] Tosinolawale commented on #1801
![Boosting _ Confirm active](https://user-images.githubusercontent.com/35389241/201764446-334f51db-5813-4888-8615-add27baa18e5.png)
Same with subsequent allocation

[2022-11-14 21:05] Tosinolawale commented on #1801
![Boosting _ First time boost](https://user-images.githubusercontent.com/35389241/201764594-bb902024-4849-4fb3-90c2-24ece7ca7f81.png)

https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=15236%3A273248&t=VCnQBOuiAZUU4PgG-0

But here is the new mockup for this particular edge case. When a user who already has GIVpower allocated to various projects decides to allocate

[2022-11-15 00:49] laurenluz commented on #1801
Sounds good @Tosinolawale !

Just, a couple of small adjustments on the copy (already done before):

![image](https://user-images.githubusercontent.com/75490971/201799064-e110b67f-26e7-472b-a8bd-a153ebf220ba.png)

Is that ok?

[2022-11-15 01:18] laurenluz opened #1822 "GIVpower Boosting | Update on GIVpower modals"
- [x] We should remove "Coming Soon" from the confirmation modal, and add a button... Copy should be:

Use your GIVpower to support projects on Giveth while earning rewards.

Button: Boost Projects (links to projects page)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/1eae7713-45c2-4499-856d-356dbc77a476)

- [x] Copy on GIVpower back of card should say:
You get GIVpow

[2022-11-15 06:39] maryjaf opened #1823 "Switch to Gnosis from Georil isn't work"
**Describe the bug**
Some time switch to Gnosis from Georil isn't work on staging

**To Reproduce**
Steps to reproduce the behavior:
1. The network set on Georil
2. Go to one project with gnosis address only such as "https://staging.giveth.io/donate/category2"
3. Click on 'Donate'
4. The modal "Switch to Gnosis Chain" is shown
5. Tap on 'Switch network' and it isn't work

[2022-11-15 06:56] aminlatifi commented on #1803
Yeah, @maryjaf in the new version of API the future rank of non-boosted projects will be `NULL`. So the frontend can represent it in another way. I guess they show current rank instead!

[2022-11-15 07:15] maryjaf commented on #1800
Should these conditions be expected when a boost is removed from the project?
That is, when I delete the boost of Project X in my givpower list and at the same time it will be removed from my list,
I expect at the same  time that my user's boost will be deleted in the boost list of the project? @laurenluz

[2022-11-15 07:34] maryjaf commented on #1803
Please also see the following scenario
I did not understand the change of current  rank from 21 to 22, why should it happen if the expected rank is displayed "--" in the first stage (because the entire boost of the project has been removed) @aminlatifi
1- 10:22  curent rank &project rank is 21
![image](https://user-images.githubusercontent.com/111529185/201856079-32745f11-e46b-40c1-9dd2-cf512419fc

[2022-11-15 07:38] maryjaf commented on #1579
I

[2022-11-15 07:54] mohammadranjbarz commented on #1736
@aminlatifi I think the best thing that we can do is removing all previous boosting snapshots of a project when it got unverified, so when refreshing `projectPowerView` it would not have any total power and rank,  do you think it meets what @laurenluz  mentioned?

[2022-11-15 07:57] maryjaf commented on #1775
Plz check these @MohammadPCh
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/6175a545-380b-4e80-b2dd-45d69c5984ac)
![image.png]
(https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/6f6ffd72-88f0-42d0-9db4-6d3942ae5a06)
The font size of this number(PROJECTS BOOSTED) isn't correct
and i didn't see the copy icon in this page according to the etched designs
![image

[2022-11-15 07:58] aminlatifi commented on #1803
Since your timezone is GMT+x:30, the border of rounds (each 20 minutes in test env) would be minutes 30, 50, 10, 30, ...
By considering this, everything is normal except the rank change from 21 to 22 in step 4 (if we consider step 3 has happened after 10:30:00). We can justify this rank change by the delay of filling the snapshots. I assume the data of the last snapshot of the previous round has n

[2022-11-15 08:16] maryjaf commented on #1736
This issue has not been resolved
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/3e799a39-2d10-4269-b1c6-c6e3e98e81aa)

[2022-11-15 08:36] aminlatifi commented on #1736
@laurenluz @mohammadranjbarz We save zero value for unverified projects in the snapshot-taking process. I think that would address the issue since if a project gets verified in mid-round, its positive givpower will be considered in next snapshots, consequently in the next round it won't have full power (in first snapshots of previous round it doesn't have any credit)

The issue  that project is on

[2022-11-15 08:37] aminlatifi commented on #1736
@mohammadranjbarz What do you think? if it's fine can you do it?

[2022-11-15 08:53] MohammadPCh opened #1824 "Tooltip Imporvement"
we can improve our tooltip component by:
1. handle it on mobile ( we should show it full-width and skip direction props)
2. remove it if the user scrolls

[2022-11-15 09:41] MohammadPCh commented on #1802
@laurenluz  I fixed it directly without PR. so you can test it in the GIVeconomy now.

[2022-11-15 09:54] aminlatifi commented on #1736
@laurenluz Consider this scenario
A verified project has power gained by boosting in the previous round. If that project becomes unverified and again verified in the current round, we will show the same power value it had become unverified. But it will lose the power of snapshots that have been taken meanwhile it has been unverified, which will affect its power in the next round.
I hope it will be

[2022-11-15 10:06] maryjaf commented on #1802
Thanks @MohammadPCh all three items are correctly changed

[2022-11-15 10:32] maryjaf commented on #1803
@aminlatifi plz take a look at this test
I see this problem in some tests that can be fixed with a refresh
The current and projected rank are both 4, but by mistake, "--" is displayed  for projected rank and after a few seconds, it is corrected with a refresh.
13:51
![image](https://user-images.githubusercontent.com/111529185/201897289-dc3ac3fc-4a31-4945-b359-a81da7009770.png)
after refresh page
!

[2022-11-15 10:53] MohammadPCh commented on #1822
@laurenluz final result:
![image](https://user-images.githubusercontent.com/17097576/201901217-f17f7c35-b9be-4b4f-8ec9-8fc05576457e.png)
![image](https://user-images.githubusercontent.com/17097576/201901324-3e2afc05-bf48-47b8-a176-425167987d6c.png)
oh, we have another coming soon here:
![image](https://user-images.githubusercontent.com/17097576/201902229-641a2f55-bf40-4984-b83b-e64eee9efc8a.png)
c

[2022-11-15 11:01] RamRamez commented on #1823
also this button is not working
![image](https://user-images.githubusercontent.com/73441857/201903794-62e67dac-09ba-4d23-9d98-a3c228e9d537.png)

[2022-11-15 11:45] RamRamez commented on #1823
another problem: network names and icons do not match
![image](https://user-images.githubusercontent.com/73441857/201911806-1df046b5-4a48-4a0c-824d-3c33f12ef00c.png)

[2022-11-15 11:52] maryjaf commented on #1823
yeah "switch network"  option isn't work in modal and donation page when switch from georil to gnosis
but this scenario is okay for switching from gnosis to georil!

[2022-11-15 11:59] RamRamez commented on #1823
on Goerli network on category2 project, click on `Projects from Giveth only accept donations on Gnosis Chain.` on it's not working

[2022-11-15 12:01] maryjaf commented on #477
Yeah, but Is it okay that both items have the same title? @MoeNick

[2022-11-15 12:09] aminlatifi commented on #1803
That's the beginning of a new round! there is no snapshot data to show. We need few minutes to take a new snapshot, fill corresponding data and discern the new ranking. One way around is to show current rank if the project is verified and has null value in the future rank, @laurenluz @maryjaf do you think that will work?

[2022-11-15 12:22] maryjaf commented on #1803
In the scenario where the project boost is completely removed and the calculated expected rank is shown "--", in this case, rank "--" is correct and we should not show the current rank instead of "--"

[2022-11-15 12:42] RamRamez commented on #477
selecting a reason is required in that form

[2022-11-15 14:15] maryjaf commented on #477
ohhhhh :((

[2022-11-15 16:03] maryjaf commented on #477
Boost scenarios cannot be tested on this branch https://notification-center-13.vercel.app/

[2022-11-15 16:15] MohammadPCh commented on #1775
@maryjaf can you check it again? I fixed the font sizes. but what do you mean by this? ‍`i didn't see the copy icon in this page according to the etched designs`
this is Figma:
![image](https://user-images.githubusercontent.com/17097576/201970231-3f0d2480-68ec-4099-befe-600ec4dfb286.png)

[2022-11-15 16:17] MohammadPCh commented on #477
@maryjaf no, we don't have them here, also as I know we don't send notifications for boosts now. it's not implemented yet.

[2022-11-15 16:24] MohammadPCh commented on #1684
@laurenluz just for clarification, If a verified project has rank we show it (for example `#1`) but if it doesn't have rank, do we want to show something like this rocket  " 🚀 -- "? I mean a rocket instead of a sharp sign?

[2022-11-15 16:35] MohammadPCh commented on #1730
Thank for all your efforts, It's on production now.

[2022-11-15 19:27] laurenluz commented on #1684
Hey @MohammadPCh !

The project card looks great.

Conditions:
If it is verified but not boosted - we show the rank like that "🚀 -- "
If it is verified and boosted by some amount - we show the rank like " 🚀 #24"
And if it is not verified, we show no rank at all, and no rocketship.

By project single page card... I mean this... I think we may have no yet implemented it 😨 we should! [Figma](https://

[2022-11-15 19:31] laurenluz commented on #1688
@MohammadPCh I think this part of the project single page was overlooked... we redesinged the placement of the "boost" button and made it so that the rank appears on every page. [Figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=14382%3A259227&t=DlX2URbXehHsPY9q-4)

![image](https://user-images.githubusercontent.com/75490971/202008810-22ee7dda-c7b6-43b1-ad5c

[2022-11-15 19:57] laurenluz opened #1829 "GIVdrop Claim Issues | Users who have already claimed are not getting the "You already claimed" message"
Two conditions we should check:

- [ ] I already claimed but the GIVdrop says I have GIV available to claim.

I claimed my GIVdrop (obviously hahaha) already but if I go to https://giveth.io/claim ... it says I have a GIVdrop to claim...

I go through all the pages of the simulation and click "claim" and then I just get no metamask popup.

![image.png](https://images.zenhubusercontent.com/5fdfac16

[2022-11-16 00:39] laurenluz commented on #1800
Yep! When you as a user remove your GIVpower from project X, it should be removed from your list in "My GIVpower" and should be removed from the GIVpower list on Project X's page. @maryjaf

[2022-11-16 00:42] laurenluz commented on #1822
Your copy is great @MohammadPCh !! Thanks for finding this one!!

[2022-11-16 01:32] laurenluz commented on #1803
@aminlatifi - are you saying that for every project at the start of a new round we are currently showing "--" for the future rank because we have no snapshot data yet for that round? because if yes, then I agree with you and we should show the projected rank as the same as the current rank until we can take the first snapshot in the new round.

[2022-11-16 01:34] laurenluz commented on #1801
@MohammadPCh - can you take this? It's basically a new condition for the boosting modal.

If the user is trying to allocate 100% of their GIVpower to a project (and it's not their first/only boost), the copy in the modal should change when the slider reaches 100% and the box should be red, as above and in the figma,

[2022-11-16 01:40] laurenluz commented on #1730
You are all amazing!!

@mohammadranjbarz @aminlatifi - are we all set with the notify reward? I think this is the last piece

[2022-11-16 02:48] #1796 closed

[2022-11-16 02:48] #1738 closed

[2022-11-16 03:03] laurenluz commented on #1830
Also - we are making a new launch video for GIVpower - not sure if we will want to still keep the GIVeconomy one there.

[2022-11-16 07:48] MohammadPCh commented on #1684
@laurenluz Thanks, Got it.

[2022-11-16 07:49] MohammadPCh commented on #1688
@laurenluz Thanks for posting it here, actually, I didn't see this change :(
I will implement it soon, do we have the mobile design for it?

[2022-11-16 07:56] maryjaf commented on #1775
In this pic

[2022-11-16 08:02] maryjaf commented on #1775
<img width="914" alt="image" src="https://user-images.githubusercontent.com/111529185/202121489-9156ad6c-e6c8-4bcc-859a-6d138507a8db.png">
<img width="1348" alt="image" src="https://user-images.githubusercontent.com/111529185/202121650-c0fa01ff-cd5c-45ad-aa1a-bf34b86d00b9.png">
I think that the display of project numbers needs to be modified and be similar to the font and other numbers on the page

[2022-11-16 08:39] alireza-sharifpour opened #1832 "Infinite scroll for notifications page"
Based on the @mosaeedi's opinion, we should implement an infinite scroll for notifications center like the one we have in projects page.

[2022-11-16 10:00] #1692 closed

[2022-11-16 10:21] aminlatifi commented on #1803
@maryjaf @laurenluz We can show '--' at the beginning of every round till have enough data to conclude ranks, it's one way. The other way around we can show the rank the project has had, it can be the exact amount we show as `Current Rank`. So each is preferred, we can implement by a simple frontend hack

[2022-11-16 10:23] aminlatifi commented on #1730
Yes, it's been set up.

[2022-11-16 10:26] aminlatifi commented on #1736
Yes, you get it correctly 👍
So it seems it's done.

[2022-11-16 13:19] #1730 closed

[2022-11-16 14:20] laurenluz opened #1837 "GIVpower Boosting | Handling GIVpoewr for canceled projects"
@mohammadranjbarz Can you have a look?

Check to see what is happening with GIVpoewr when a project is cancelled. We are thinking it would be good - if a project becomes cancelled - then we make GIVpower on it all set to zero... so each user's GIVpower gets proportionally added to their other project.

let me know if you have any questions.

[2022-11-16 14:20] laurenluz commented on #1837
cc @aminlatifi

[2022-11-16 14:21] laurenluz opened #1838 "GIVpower Boosting | Remove "boost" button from project view of deactivated projects"

[2022-11-16 14:26] laurenluz opened #1839 "GIVpower Boosting | Exclude deactivated projects from ranking calculations"
@mohammadranjbarz - we should exclude the deactivated projects from ranking calculations. The should keep their GIVpower on them (because they might keep the verified status), but should not come up in the ranking order.

[2022-11-16 14:34] MohammadPCh commented on #1801
I left a PR for it.

[2022-11-16 14:50] laurenluz opened #1841 "GIVpower Boosting | Set up an interactive API on staging for testing GIVpower calculations"
@MoeNick @maryjaf - can you give ther requirements of what you need to perform tests, i.e. GIVpower at specific snapshots, rank at particular rounds, etc.

@CarlosQ96 can help to create this. @aminlatifi & @mohammadranjbarz can help him

[2022-11-16 17:30] laurenluz commented on #1688
@Tosinolawale - if you can post the mobile & responsive designs in here when they're ready - would be great :)

[2022-11-16 17:43] laurenluz commented on #1803
@aminlatifi @MohammadPCh - yeah ok! in this case... I think it's better so show the `Current Rank` value as the `Projected Rank` value at the start of the new round... until the data is taken from the 1st snapshot. (instead of '--')

[2022-11-16 17:52] laurenluz opened #1842 "GIVdrop Claim frontend fix | Streaming amount in the Claim flow may be wrong"
As a user who has not yet claimed their GIVdrop can do so at this link: https://giveth.io/claim

They then go through the flow of all the simulators... and end up at the claim page w/ claim modal:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/1938a139-8ce9-45d1-b861-b34c634d0771)

I think the "streaming amount" shown in the frontend here is actually not what the user h

[2022-11-16 17:57] Tosinolawale commented on #1688
Responsive Screen Guides @MohammadPCh @laurenluz
1280px  >
![Project Single - Donations ( _1440   up)](https://user-images.githubusercontent.com/35389241/202256266-644824f5-6521-47b0-8335-a01265138059.png)

1025px - 1280px
![Project Single - Donations (_1280   _1439)](https://user-images.githubusercontent.com/35389241/202256430-35f67a64-85eb-497c-94c7-249cb029a49c.png)

769px - 1024px
![Project Si

[2022-11-16 18:01] Tosinolawale commented on #1688
Mobile View
![Group 11162(1)](https://user-images.githubusercontent.com/35389241/202257892-139b21bc-ca94-42f3-ba7d-fab33fd9c11b.png)
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=15336%3A276554&t=BqZDz2yJfpyN9E98-0

[2022-11-17 07:18] mohammadranjbarz commented on #1681
Yeah you know our naming was not good when implementing that, our mistake.

And the other webs ervice that you mentioned, I implemented that now, you can see it
https://givback.develop.giveth.io/staging/api-docs/#/default/get_getAllProjectsSortByRank

it return all projects that have totalPower>0 but for project with totalPower=0 that all of them have same rank, we don't return them all, response

[2022-11-17 10:24] MoeNick commented on #1841
@CarlosQ96 you need a talk how to implement it or it's clear for you?

[2022-11-17 13:44] RamRamez commented on #1745
@maryjaf It's merged on staging and you test it

[2022-11-17 14:15] laurenluz commented on #1688
Hey @MohammadPCh - also let's make sure that the project single page owner's view looks right. Tosin made them up in figma as well: https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=15346%3A283524&t=9CQuKGmnvJ6SpydZ-4

![image](https://user-images.githubusercontent.com/75490971/202469590-d5ed9418-4b5f-49fb-b0b2-c3bdd3c7ad26.png)

[2022-11-17 15:03] divine-comedian commented on #1681
This looks awesome - then last question is if it is possible in our current system to query ranking by timestamp or by a given GIVbacks round?

If it's not possible we can leave it until there is a specific demand or use case

[2022-11-17 15:11] mohammadranjbarz commented on #1681
Unfortunately, we can't have it right now, because we have the power rank data just for the last round in impact-graph DB

[2022-11-17 18:23] GriffGreen opened #1845 "Quick Fix, bad grammar in filter"
<img width="258" alt="Screen Shot 2022-11-17 at 12 20 33 PM" src="https://user-images.githubusercontent.com/14945613/202526972-215e8910-bf3d-48da-97b7-a3975311ecf9.png">

Should be:
"Accepts GIV"

and

"Accepts Funds on Gnosis"

The other 2 are fine

[2022-11-17 19:19] MoeNick commented on #1845
I guess its on staging, is it? @MohammadPCh @alireza-sharifpour ?

[2022-11-17 21:46] GriffGreen opened #1846 "Project Text Editor sucks - Feedback from a user"
<img width="677" alt="Screen Shot 2022-11-17 at 3 45 00 PM" src="https://user-images.githubusercontent.com/14945613/202566408-82ec1a3d-6e95-431e-a262-d8d2a6761319.png">

I have also had this experience, that the spacing from this editor is not intuitive. Is it time for an upgrade?

[2022-11-17 22:04] shayanb opened #1847 "Getting error on grant edit "Eth address 0xXX is already being used for a project""
**Describe the bug**
Currently drafting a grant, looked at the preview and after second edits I cannot save the edits and the UI keeps giving me the following error on the top of the page:
"Eth address 0xXXXXX is already being used for a project"

**Screenshots**
<img width="861" alt="Screen Shot 2022-11-17 at 5 03 34 PM" src="https://user-images.githubusercontent.com/309108/202569744-0fec23af-6e7

[2022-11-18 12:10] MoeNick commented on #1846
@RamRamez can we change it to a better editor?
@MohammadPCh do you have an idea?

[2022-11-18 12:16] MoeNick commented on #1847
@shayanb are you using this address somewhere else? even for a draft project?
would you dm me your address? my discord handler is : MoeNick#1374

[2022-11-18 12:16] MoeNick commented on #1847
@shayanb are you using this address somewhere else? even for a draft project?
would you dm me your address? my discord handler is : MoeNick#1374

[2022-11-18 13:03] Cotabe commented on #1830
I think this update is a good idea :)

Some thoughts:

Should we move the GIVpower modal to the GIVpower tab? If so, should we change the GiVfarm tab name to Regen Farms?

should the GIVgarden tab change to GIVernance to explain and link to all our governance mechanisms: Forum, Garden, Snapshot, NRGIV and Tokenlogs.

I like the GIVeconomy overview, but agree that it’s repetitive. I would suggest t

[2022-11-18 13:16] MohammadPCh commented on #1846
@MoeNick  let me check it.

[2022-11-18 14:26] shayanb commented on #1847
@MoeNick thanks for following up. It seems that there's an identical draft project on my profile but I think it was created when I clicked on Preview? not sure. I'll message you on discord shortly.

[2022-11-18 15:37] CarlosQ96 commented on #1841
Yeah I think the test api with various queries should return:
1. Current giv power.
2. Current distribution of givPower of a user.
3. Current PowerRank at a specific round.

[2022-11-18 16:25] MoeNick commented on #1847
Seems its resolved 🙂

[2022-11-18 17:18] maryjaf commented on #1841
In this API, do we also return the calculated expected rank for the next round after removing or adding Give Power for all project?

[2022-11-18 17:20] CarlosQ96 commented on #1841
I have to check, but if it's posible to calculate it, I can certainly add it.

[2022-11-18 17:21] #1847 closed

[2022-11-18 17:45] maryjaf commented on #1745
Thanks @RamRamez I tested this problem and it passed.
One question on production the minimum amount of donation is 0.00001 but now on STG I can donate a project for 0.000001 GIVpower, is this ok?and did we change the minimum amount?

[2022-11-18 18:20] maryjaf commented on #1841
Thanks @CarlosQ96
Do we have an initial contract for the input and response of this service? If yes please share it.
In this API, both user ID and project ID can be in body request? if yes, can we have  the amount of giving block for each user in the response ?

[2022-11-18 18:20] RamRamez commented on #1745
The minimum donation amount was > 0.000001 but now it's >= 0.000001

[2022-11-19 16:56] maryjaf commented on #1822
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/d163cebc-8917-4eec-9bb2-f6c4bad7055c)
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/e06d2a07-3b95-4286-a9d4-882f9e834882)
"support project" in pic 1 and "support verified project" shown in pic 2, which one is true?
I think it would be better to show the "support verified project" in the pic 1

[2022-11-20 10:51] #1845 closed

[2022-11-20 21:10] maryjaf commented on #477
Please check this test result and plan to fix the cases where the email or notification is not sent @mohammadranjbarz @MoeNick @RamRamez

[2022-11-20 21:12] maryjaf commented on #1420
reminder @MoeNick @MohammadPCh

[2022-11-20 21:13] maryjaf commented on #478
reminder @mosaeedi @MoeNick

[2022-11-21 07:11] alireza-sharifpour commented on #478
@mosaeedi mentioned in the weekly call that we need to show 4 items in the menu based on the design and also 6 items in the notifications page.
and also we should add infinite scroll functionality, like the one in projects page.
I've implemented all of them so you can test.
@maryjaf

[2022-11-21 13:54] #1559 closed

[2022-11-21 13:54] #1558 closed

[2022-11-21 13:54] #1557 closed

[2022-11-21 13:55] #1579 closed

[2022-11-21 13:57] MoeNick commented on #1716
@maryjaf it needs your attention.

[2022-11-21 13:58] #1641 closed

[2022-11-21 13:58] #1378 closed

[2022-11-21 14:28] #1304 closed

[2022-11-21 14:28] #1302 closed

[2022-11-21 14:31] #1283 closed

[2022-11-21 14:32] #1126 closed

[2022-11-21 14:32] #1279 closed

[2022-11-21 14:34] #1312 closed

[2022-11-21 14:38] #1829 closed

[2022-11-21 14:56] #1593 closed

[2022-11-21 14:57] #1691 closed

[2022-11-21 15:02] markoprljic commented on #1830
The Overview page should be simple and straightforward to understand for any web user (as much as possible). We should avoid jargon and going to much into details. This page should explain the idea and concept behind the GIVeconomy. From here, we invite user to learn more about each section.

[2022-11-21 21:52] divine-comedian commented on #1281
testing on https://giveconomy.vercel.app/givfarm

says locked GIV details

tooltip has a small change the `Coming soon:` text is removed - I assume this is in anticipation of imminent release of boosting.

[2022-11-21 21:53] divine-comedian commented on #1613
how can this issue be tested?

[2022-11-21 21:57] divine-comedian commented on #1103
testing on https://giveconomy.vercel.app/givfarm

![image](https://user-images.githubusercontent.com/67759413/203165838-ec879ea9-0fdd-4c1e-8591-3911876a4de5.png)

it shows me the date that my GIV will unlock instead of the max rounds when selecting how many rounds to lock for.

this looks to be ready, moving to done!

[2022-11-21 22:05] divine-comedian commented on #1800
testing on https://giveconomy.vercel.app/project/testfilterr

in what case should this show as the project's projected rank? it shows as :rocket: -- what does this mean??

![image](https://user-images.githubusercontent.com/67759413/203167435-bdf034ab-639a-4cd1-812d-58d81ff5b68b.png)

[2022-11-21 22:15] divine-comedian commented on #1832
Where can this issue be tested?

[2022-11-21 22:20] divine-comedian commented on #1742
testing on https://giveth.io/partnerships

I can no longer find the partnerships listed above on the page!

this looks to be live already on production so I will close this issue

[2022-11-21 22:20] #1742 closed

[2022-11-21 22:25] divine-comedian commented on #1594
testing on https://giveconomy.vercel.app/givpower

looks like this text already changed again -

![image](https://user-images.githubusercontent.com/67759413/203170174-02dbf32e-ba30-42ad-8116-b53272032fa0.png)

@laurenluz can you confirm this is the text you are expecting?

[2022-11-21 22:26] shayanb opened #1852 "Fail to resume verification "Response not successful: Received status code 400""
**Describe the bug**
I started the verification process a few days ago and now that I want to continue the process to the finish line I'm facing an error message.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the grant
2. Click on RESUME VERIFICATION
3. Page loads with this error message "Response not successful: Received status code 400"

**Expected behavior**
To be able to see the

[2022-11-21 22:29] divine-comedian commented on #1309
testing on https://giveconomy.vercel.app/givfarm

this text looks to have already changed -

![image](https://user-images.githubusercontent.com/67759413/203170827-f94c3e7f-4770-4cbc-8a67-ade235ecac79.png)

@laurenluz can you confirm this is the expected text?

[2022-11-22 00:19] CarlosQ96 commented on #1786
@mohammadranjbarz just tagging us to not forget this issue.

[2022-11-22 06:18] alireza-sharifpour commented on #1832
You can test it here @divine-comedian
https://notification-center-13.vercel.app/

[2022-11-22 07:21] mohammadranjbarz commented on #1837
@maryjaf  @MoeNick
It's on staging, you can test it now

[2022-11-22 07:21] mohammadranjbarz commented on #1839
@MoeNick  @maryjaf
It's on Staging , you can test it

[2022-11-22 07:21] mohammadranjbarz commented on #1839
@MoeNick  @maryjaf
It's on Staging , you can test it

[2022-11-22 07:29] mohammadranjbarz commented on #1786
Nice, so we'll talk

[2022-11-22 12:21] maryjaf commented on #1688
plz check this problem @MohammadPCh
 for unverified project in new design the rank and boost option are shown
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/3548de5a-09ff-4281-b458-7378e8caac2e)

[2022-11-22 13:09] maryjaf opened #1855 "GIVpower Boosting | GIVpower boosting in the user list and in the project list are different"
**Describe the bug**
I boosted the project
At the same time, it was displayed in the project boosting list
But the givpower I see in the user list and in the project list are different

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://giveconomy.vercel.app/user/0xcd192b61a8dd586a97592555c1f5709e032f2505?tab=givpower'
2. check for example the givpower of  'KIPP Foundation' projec

[2022-11-22 13:32] maryjaf commented on #1688
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/d67d6946-b1da-4797-b00c-8cf70c416a00)
There is overlap in this section @MohammadPCh

[2022-11-22 13:42] RamRamez opened #1857 "hide pending toast modal after tx is successful"
@laurenluz requested a hotfix for production.
On donate modal, when there's only one tx, the blue toast that says `your donation is being processed` should be removed after the tx is mined and successful.
When there are two txs, the blue toast should be removed after both txs are successful and mined.
Also after both txs are mined, donate button should be changed from `donating` to `donate` but re

[2022-11-22 13:56] maryjaf commented on #1822
@laurenluz

[2022-11-22 13:59] divine-comedian commented on #1613
okay - should we keep this in UAT or back somewhere else?

[2022-11-22 14:08] maryjaf commented on #1800
Regarding the incorrect calculation of Give Power Project, I registered #1855 issue that it is related to this issue

[2022-11-22 14:33] divine-comedian commented on #1832
thank you - are there any tricks to quickly generating many notifications?

[2022-11-22 14:58] maryjaf commented on #1839
When I deactivate the project, the rank and boost option are not displayed correctly in the project details and as before, the deactivate project is not displayed on the project page
But I have a question. I deactivated the project at 18:12. The ranking was like this
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/b08b0328-63e8-40ed-a321-bbef1b8251ef)
After a few minutes

[2022-11-22 14:59] RamRamez commented on #1857
@maryjaf Please test this hotfix with [this link](https://giveth-dapps-v2-git-1857removedonationbeingproc-49b25e-givethio.vercel.app/)

After this PR is approved, it'll be merged into production.

[2022-11-22 15:22] maryjaf commented on #1857
Thanks @RamRamez I tested and it passed

[2022-11-22 15:27] RamRamez commented on #1857
Thanks @maryjaf
This hotfix is code reviewed and tested.

@MoeNick @divine-comedian if you approve we can go live.

[2022-11-22 19:14] maryjaf commented on #1716
On which environment it should be tested and I don't know about Angel vault and couldn't see on staging @MoeNick @aminlatifi

[2022-11-22 19:16] #1716 closed

[2022-11-22 21:09] laurenluz opened #1860 ""Sign out" Option does work."
When I try to "Sign out" via our drop down menu (from the top where my name is)... the "sign out" actually doesn't disconnect my wallet or sign me out. It just makes the "sign out" option disappear.

@mateodaza @RamRamez \

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/72115a0e-22d0-4657-b58d-b47bb23b558a)

[2022-11-22 21:15] laurenluz commented on #1281
this is weird, I don't know how this moved back, should have been closed as it was from pre-locking launch,.

[2022-11-22 21:15] #1281 closed

[2022-11-22 21:17] laurenluz commented on #1594
yeah, removed matching because who knows when it's coming. I'm sorry I'm seeing a lot of old issues & redundant issues, I need to clean up the board. this shoul dhave been closed.

[2022-11-22 21:17] #1594 closed

[2022-11-22 21:18] #1309 closed

[2022-11-22 21:18] laurenluz commented on #1837
@maryjaf please test :)

[2022-11-22 21:20] laurenluz commented on #1688
@MohammadPCh - can you fix it?

[2022-11-22 21:21] laurenluz commented on #1822
@divine-comedian can you make this little change to add "verified" in on pic 1?

[2022-11-22 21:23] laurenluz commented on #1775
Actually, perhaps we should switch the two entries....

So from left to right it is:
- Projects Boosted
- GIVpower <-- we should change this from "Total Amount of GIVpower" to just "GIVpower" because it is long & redundant

@MohammadPCh can you fix it?

[2022-11-22 21:33] laurenluz commented on #1839
if a project is deactivated, it should have current rank "--" and projected rank "--" right away... until it is reactivated. @MohammadPCh @mohammadranjbarz cc @maryjaf

The expected rank of all projects shouldn't become "--" just because one gets deactivated. We should just exclude the one deactivated (or cancelled or unverified) project from our calculations... so every other project that was ran

[2022-11-23 07:18] MoeNick commented on #477
Let's change it to:
1- Your project update
2- Your liked project update

1- Your project status
2- Your liked project status

@RamRamez @maryjaf

[2022-11-23 07:48] MohammadPCh commented on #1775
@laurenluz sure :)

[2022-11-23 10:43] maryjaf commented on #1775
Thanks @MohammadPCh The display of PROJECTS BOOSTED & GIVPOWER has been fixed but  in user page for a moment iI see the givpower  "--" as a below pic ,plz check this

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/111529185/203526734-b0d60a7e-b41b-4e62-8fe6-f72073fea863.png">

[2022-11-23 10:55] mohammadranjbarz commented on #1839
@laurenluz  @maryjaf

1. Now I changed it to update raning immediately after activate/deactivate
2. @MohammadPCh fixed the issue of showing future rank when `totalPower` is `0` and rank is the last
3. I couldn't reproduce the bug that Maryam said , deactivate/activate project doesn't affect other project's rankings , but @maryjaf  if you see that happens we can have a quick call to find the cause

[2022-11-23 11:06] RamRamez commented on #477
We moved all copies to backend. @mohammadranjbarz could you please update these copies?

[2022-11-23 11:16] RamRamez commented on #1860
I tested with MetaMask and Brave and it was ok. @laurenluz which wallet are you using?

[2022-11-23 13:20] MohammadPCh commented on #1775
@maryjaf It should be a temporary problem. when we can't get user GIVpower, we show 2 dashes as a placeholder.
![image](https://user-images.githubusercontent.com/17097576/203556933-125cd7b7-c424-4522-b154-199949494751.png)

[2022-11-23 13:22] MohammadPCh commented on #1688
@maryjaf @laurenluz Thanks, I fixed them. please check it again.

[2022-11-23 13:25] MohammadPCh commented on #1420
@maryjaf This problem has been resolved. can you check it again? Thanks.

[2022-11-23 13:27] MohammadPCh commented on #1842
@laurenluz I think @aminlatifi has resolved this problem.

[2022-11-23 13:34] MohammadPCh commented on #1803
@laurenluz, I changed It, now when we don't have the `projected rank` I check if we have the `current rank` and I show it instead.

[2022-11-23 13:43] MohammadPCh commented on #1784
@laurenluz, sure I will fix it soon. Do we want to fix it on production or staging?

[2022-11-23 13:46] maryjaf commented on #1839
Thanks @mohammadranjbarz @MohammadPCh I tesed and the first problem about showing last rank in projected rank has been solved and changed to "--"
and the second scenario I couldn't reproduce it and it seems has been resolved

[2022-11-23 13:46] maryjaf commented on #1839
Thanks @mohammadranjbarz @MohammadPCh I tesed and the first problem about showing last rank in projected rank has been solved and changed to "--"
and the second scenario I couldn't reproduce it and it seems has been resolved

[2022-11-23 13:49] laurenluz commented on #1784
production if it's easy!

[2022-11-23 13:51] laurenluz opened #1865 "End the GIVdrop"
We need to set the merkle drop to end (not allow any new addresses to claim) on December 24, 2022.

[2022-11-23 13:52] laurenluz commented on #1806
@Tosinolawale - have we sorted this out yet?

cc @mosaeedi

[2022-11-23 13:55] laurenluz commented on #1841
@CarlosQ96 - any update?

[2022-11-23 14:00] CarlosQ96 commented on #1841
@laurenluz I am jumping back into this issue today, as I finished the others issues I had pending.

Regarding @maryjaf when I have the full request/response of this service I will share it.
Also, Yes, the api will accept userID and projectID in body request for filtering.

What do you mean by giving block?

[2022-11-23 14:15] laurenluz commented on #1681
@divine-comedian - if you can do some testing, would be great. Need to make sure that the max factor is never ever more than the max (80%).

[2022-11-23 14:20] alireza-sharifpour commented on #1832
The only way I use it is to donate to projects and see the notification. It's not an optimal way!
Maybe @mohammadranjbarz knows a better way.

[2022-11-23 14:25] MohammadPCh commented on #1784
Yes, It's absolutely easy :)

[2022-11-23 14:25] laurenluz commented on #1806
@MoeNick would love your comments

[2022-11-23 14:31] laurenluz commented on #1865
To dos:
- [ ] remove UI on frontend
- [ ] make multsig tx to end the GIVdrop - need to revoke distributor role of merkledrop... Amin will make hex data so anyone can create tx later

[2022-11-23 14:49] maryjaf commented on #1837
When the canceled project becomes active again,what is the expectation?
Now it is the case that the project's rank returns to the previous rank, but the project hasn't any boost
I think the projected and current rank changed to "--" because it hasn't any boost
[Uploading... image.png]

[2022-11-23 14:56] maryjaf commented on #1688
Thanks, I tested and it passed

[2022-11-23 15:12] maryjaf commented on #1775
Yes the GIVpower shown after about 1 second maybe it's about my connection @MohammadPCh

[2022-11-23 15:20] divine-comedian commented on #1822
fixed in https://github.com/Giveth/giveth-dapps-v2/commit/ba94282784bfc271380aa9772f9083adeb783209

[2022-11-23 15:22] divine-comedian commented on #1800
In the photo above however the projected rank is `--` that means it will be unranked in the next round?

Maybe this is a late change but does say `Unranked` instead of -- give more context to the user?

[2022-11-23 16:03] divine-comedian commented on #1681
we still have the issue as you mentioned @mohammadranjbarz where the average factor is higher than the max

![image](https://user-images.githubusercontent.com/67759413/203592807-9a00c245-50e3-4e2d-9dbe-3323359886ca.png)

### These are the params I used:
![image](https://user-images.githubusercontent.com/67759413/203592953-73a10938-bb8b-48a6-8b9e-3333d77b5fe1.png)

----

is there any way to resolve

[2022-11-23 16:35] mohammadranjbarz commented on #1681
@divine-comedian I just increased the decimal precision in the calculation, so it's fixed now

<img width="749" alt="Screen Shot 1401-09-02 at 19 34 28" src="https://user-images.githubusercontent.com/9850545/203599914-2d63d921-5aa7-48cf-aa62-6677040ddd17.png">

[2022-11-23 17:27] divine-comedian commented on #1681
@mohammadranjbarz looks good! just one more detail regarding decimal precision

the average GIVback factor needs to have a bit more decimal precision because if we have many projects sometimes the factor could change by < 0.01%

such as this:

here in eligible donations we can see the percent is 0.7454545455

![image](https://user-images.githubusercontent.com/67759413/203610550-7c9f3907-7991-4bf0-

[2022-11-23 18:07] mateodaza opened #1867 "Submit requirements to add Giveth as a Gnosis Safe App"
When users connect to our dapp through gnosis safe they have the chance to find it using their search bar, for this to happen we have to be verified by them after making this [submission](https://docs.gnosis-safe.io/build/sdks/safe-apps/releasing-your-safe-app)

Thanks @WhyldWanderer for noticing :)

[2022-11-23 18:10] aminlatifi commented on #1842
I haven't touched it recently.

[2022-11-23 18:16] aminlatifi commented on #1865
Transaction to revoke merkle distor admin role,

Contract address (tokenDistro): 0xc0dbDcA66a0636236fAbe1B3C16B1bD4C84bB1E1

[code]

It's better another person validate it by information available here
https://www.notion.so/giveth/Deployment-52935e6579034f1b940bbef161e82229

[2022-11-23 19:30] mateodaza commented on #1867
Waiting for the issue [approval](https://github.com/5afe/safe-apps-list/issues/203)

[2022-11-24 06:41] mohammadranjbarz commented on #1832
@divine-comedian  @alireza-sharifpour

Another way to create lots of notifications is to use admin bro and make your projected, listed, verified, unverified, activate, cancelled, ....

Another way is to create notification by calling a webservice ( it's the webservice that impact-graph use that for creating notifications) so if you wanted to use this way DM me I'll explain to you, but I think admi

[2022-11-24 07:04] mohammadranjbarz commented on #1681
@divine-comedian  **Done**

<img width="1231" alt="Screen Shot 1401-09-03 at 10 00 48" src="https://user-images.githubusercontent.com/9850545/203715528-6411c6dc-f97b-4da5-9b97-447a13387fa0.png">

[2022-11-24 07:37] mohammadranjbarz commented on #1837
@maryjaf

Now when we cancel a project we remove all boostings of that project and change the other project's percentages for users who boosted the project, but we don't change the snapshot data , so when we activate it again the ranking would appear because in current round it had some snapshots, but for next rounds it would not have any rank, I talked 2ith @aminlatifi  and he thinks it's ok but

[2022-11-24 07:42] mohammadranjbarz commented on #1852
@shayanb  @MoeNick
Can you confirm that this bug doesn't exist anymore?

[2022-11-24 07:45] shayanb commented on #1852
@mohammadranjbarz my issue was resolved by redoing the verification process, don't know how to reproduce this but based on the hotfix code it should be resolved in the similar scenario. thanks.

[2022-11-24 07:54] mohammadranjbarz commented on #1852
@shayanb Thanks so much

@shayanb Thanks so much

[2022-11-24 08:10] mohammadranjbarz commented on #477
@RamRamez  @MoeNick

These copies had been changed

1- Your project update
2- Your liked project update
1- Your project status
2- Your liked project status

[2022-11-24 12:11] mohammadranjbarz commented on #477
@maryjaf
* Update Project(You Posted an update on your project & When your liked project has an update)
  * Owner:
    * Email:We don't have it yet
     * Notif: It's ok now
  * Who liked:
     * Email:We don't have it yet
     * Notif: It's ok now
* Project likes
   * Email: We don't have it yet

* List & Unlist
   * Email:ok, I received emails
<img width="1380" alt="Screen Shot 1401-09-03 at 14

[2022-11-24 13:19] divine-comedian commented on #1832
I think I can do the first option pretty easily, thanks!

[2022-11-24 13:21] divine-comedian commented on #477
Did you turn on the autopilot integration in segment?

[2022-11-24 13:59] mohammadranjbarz commented on #477
I don't know how should I do that

[2022-11-24 14:16] laurenluz commented on #1800
you don't think it will look weird on the projects & homepage to say  " 🚀 unranked "  on the projects cards?

[2022-11-24 14:18] franculio commented on #1821
Tested on https://giveconomy.vercel.app/ with Brave browser.

I can see that the tab only says "Projects" now and it does not have the username before.
![Captura de Pantalla 2022-11-24 a las 15.17.05.png](https://images.zenhubusercontent.com/62ea6f3faed0f381f5fe2f36/b9cff386-174b-4150-8a94-6626d5becd43)![Captura de Pantalla 2022-11-24 a las 15.17.27.png](https://images.zenhubusercontent.com/62ea6f

[2022-11-24 14:18] laurenluz commented on #1865
@KurtMerbeth can you check this? This will be the tx to remove the distributor role from the merkle drop - i.e. disallow anyone else from claiming their GIVdrop - and we plan to execute it on Dec 24.

[2022-11-24 14:31] laurenluz commented on #1837
Hey @mohammadranjbarz ! I think that is ok. It's a super rare case, as you said. I like removing all the boostings and changing the other project's percentages, and think it is ok that we don't change the snapshot data.

Once this is built, let's move it to get tested :)

[2022-11-24 14:43] divine-comedian opened #1869 "hard to distinguish user link and project link on project card"
on the all projects page it is hard to distinguish when hovering over the user's name and the project's name that they are two different links

![image](https://user-images.githubusercontent.com/67759413/203811292-700a77c6-980b-409c-8771-1f33fd0bcefb.png)

you can see in the image attached that they appear as the same colour on hover - some more spacing or a different distinction in colour on hove

[2022-11-24 14:55] c0ric0ri opened #1870 "GIVpower Boosting Grammer Fixes"
Some minor comms typos to report here.

https://docs.google.com/document/d/1LPDvbIpGjbIPKC0SUzUslUYOTfyG8Lr3Eqd4dLZ0zP4/edit

[2022-11-24 14:56] KurtMerbeth commented on #1865
@laurenluz
i will check it

[2022-11-24 15:04] laurenluz commented on #1870
@divine-comedian I went through and edited some and added one more! Thank you!

[2022-11-24 15:39] divine-comedian commented on #1800
maybe - there would have to be some design reorganization - I don't think it's urgent but for me when I see `--` I don't think that the project is unranked but rather that somehow the page couldn't get the ranking or the page is broken

[2022-11-24 16:03] laurenluz commented on #1800
@MohammadPCh - what do you think we should do? you've got all the wisdom here :)

[2022-11-24 17:37] divine-comedian commented on #477
I can see it's already or else you wouldn't receive any emails at all in staging but it can be done from this page in segment -

![image](https://user-images.githubusercontent.com/67759413/203841448-678c9f8f-b12f-4d40-b19d-c6a8e48e3022.png)

![image](https://user-images.githubusercontent.com/67759413/203841516-b2e8eea1-3ecd-49c1-b31b-b89eb131e157.png)

[2022-11-24 17:48] #1852 closed

[2022-11-24 18:07] divine-comedian commented on #1870
fixed all reported issues in https://github.com/Giveth/giveth-dapps-v2/commit/5e3e2e09c6ca257fb906ee98f1e2c864c95ccd9a

[2022-11-24 18:26] divine-comedian commented on #1681
okay testing again with a wider range of donations I can see now the two amounts = the average of givbacks factor on eligible donations and the amount on the sheet don't match up

![image](https://user-images.githubusercontent.com/67759413/203846976-5e222f59-ae19-435d-a100-b6ccd80c45a9.png)

![image](https://user-images.githubusercontent.com/67759413/203847106-ba446056-b65f-4e17-b401-ddf917a718c6.

[2022-11-24 19:00] divine-comedian commented on #1681
From our chat @mohammadranjbarz

We need to be able to have the historical GIVpower rank data for each donation in order to accurately calculate the givbacks factor.

- [ ] save projectRank and bottomRank (the lowest rank) at time of donation for each donation
- [ ] move the max factor and min factor as internal variables in the backend. so we can use them to make calculations at time of donation

[2022-11-24 19:31] divine-comedian commented on #477
@mohammadranjbarz @maryjaf

Checking in on autopilot I can see three things:

The project deactivated journey was stopped for some reason - I just re-enabled it
- There is no email for project activated - we'll need to draft one - can we specify the cases for calling this? how does this differ from project listed?
- There is also no email and thus no email journey for project edited - we'll need t

[2022-11-24 20:49] mohammadranjbarz commented on #477
Thanks for reenabling  **project deactivated**
@MoeNick  Can you help on ?

[2022-11-25 09:06] maryjaf commented on #1837
I tested this, and after canceling the project, the boosts of this project are properly eliminated and assigned to other user's projects.
The only problem with the reactivation I raised above is and is accepted according to the conversation

[2022-11-25 20:08] maryjaf opened #1871 "GIVpower Boosting | Change copy on "oops modal" when a user is trying to remove their last project boost"
**Describe the bug**
My user have one boosted project that this project has been unverified
When I try to remove this from  list  I got an error
![image](https://user-images.githubusercontent.com/111529185/204050154-d360079f-4320-4353-b3ec-f9f755bf8b0f.png)
![image](https://user-images.githubusercontent.com/111529185/204050169-7a7df67a-96d9-49f4-9e3b-088243afe26c.png)

[2022-11-27 16:24] maryjaf commented on #1803
plz check this @aminlatifi
I boosted 'The Campbell Center' project with rank '15'
I expected the project rank changed to '14' (1,207.83 Givpower)after the boost
and 'Pure Earth' with rank 14 was changed to 15  (1,191.67 Givpower)
But after about 20 minutes of the boost, the rank is still unchanged
After what time do we expect the carnet rank and projected rank to be updated?
<img width="1368" alt=

[2022-11-27 17:03] maryjaf commented on #1803
Please Check  this scenario @aminlatifi @MohammadPCh
I deleted the entire givpower of 'Pure Earth' with rank 15(18:13)
I expected the projected  rank to change to "--"after this but the projected  rank changed to 16 (18:16 ) even though it has no boost
![image](https://user-images.githubusercontent.com/111529185/204149455-1ec7aee5-704c-4512-85a6-4eb66f730c06.png)

[2022-11-27 17:12] maryjaf commented on #1803
Please Check  this scenario @aminlatifi @MohammadPCh
I deleted the entire givpower of 'Pure Earth' with rank 15(20:13)
I expected the projected  rank to change to "--"after this but the projected  rank changed to 16 (20:16 ) even though it has no boost
![image](https://user-images.githubusercontent.com/111529185/204149455-1ec7aee5-704c-4512-85a6-4eb66f730c06.png)

20:33 current rank and projected

[2022-11-27 17:13] maryjaf commented on #1803
Please Check  this scenario @aminlatifi @MohammadPCh
I deleted the entire givpower of 'Pure Earth' with rank 15(20:13)
I expected the projected  rank to change to "--"after this but the projected  rank changed to 16 (20:16 ) even though it has no boost
![image](https://user-images.githubusercontent.com/111529185/204149455-1ec7aee5-704c-4512-85a6-4eb66f730c06.png)

20:33 current rank and projected

[2022-11-28 08:50] aminlatifi commented on #1803
In the test env, the round duration is 20 minutes, but you cannot expect to rank change immediately after 20 minutes! because your changes are saved on snapshot points, they will be included in the result after the round change. Note, you may change your boosting sometimes close to the end of a round or the middle of it, so in next round you may not see the full effect since not all snapshots' bal

[2022-11-28 09:48] aminlatifi commented on #1803
It seems all correct.
Our rounds border are minutes 00, 20, 40, 00, ... in GMT, so in your timezone, with +30 min offset they must be 30, 50, 10, 30, .....
Therefore, when you deleted boosting of a project (20:13), it was at minute 3 of the round start, and one snapshot had already been taken. At 20:16, another snapshot had been taken since we take snapshots every 5 minutes. Hence, we have two sna

[2022-11-28 10:31] aminlatifi commented on #1803
On above, everything looks good, except the future rank value on 20:33!
The current implementation shows the current rank as the future when there is no available future rank! We took this decision for moments when we don't have any data for the current round to deduce the future rank.
I discussed it with @MohammadPCh and @mohammadranjbarz. We decided to change the backend to return different valu

[2022-11-28 14:15] MoeNick commented on #1871
@laurenluz what should we do in this case?

[2022-11-28 15:22] laurenluz opened #1876 "Deactivate Project - copy fix because why is this in Spanish?"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/6cf8050d-3882-44a0-ad28-85c9c78fac2a)

this should really say "Deactivate Project"

I'm viewing my own project on production.

[2022-11-28 15:26] laurenluz opened #1877 "Remove "Trace" from giveth.io projects"
We are sunsetting Giveth TRACE & disabiling traceable donations, we should remove the "Trace" labels & options. I see this:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c3a9d0f7-f075-4494-ac19-0d8618b9261b)

Do we have any other ways to interact with TRACE projects from giveth.io now? I can't seem to find it, but I do remember we had some kind of check box.

@aminlat

[2022-11-28 17:22] RamRamez commented on #1860
shields are up for me and it's ok.
@laurenluz what do you mean by `"sign out" actually doesn't disconnect my wallet or sign me out`? What is happening when you sign out?

[2022-11-28 18:46] laurenluz commented on #1860
@RamRamez Well, usually, after a 1st login, in this drop down menu I see a "sign out" option at the bottom. After I click it.. the page kind of refreshes & the sign out button disappears... but I'm still signed in:

![image](https://user-images.githubusercontent.com/75490971/204356209-3e924b7f-6b6b-4358-9ef4-b1a224ed2b15.png)

[2022-11-28 19:14] laurenluz commented on #1871
Maybe we can just change the copy on the modal to give some better recommendations for next steps. So:

Oops!
You can't remove your GIVpower from this project because it is the only boost you have.
Please boost another project with GIVpower before continuing.
Button: Go to Project Page
Small text: Dismiss

@MohammadPCh @divine-comedian think this is ok? It's an edge case, and I think better copy h

[2022-11-28 19:42] divine-comedian commented on #1871
I think it's an edge case and better copy would be "good enough" hopefully unverified projects aren't a common occurrence so we shouldn't break our heads finding a complicated solution.

[2022-11-28 20:37] divine-comedian commented on #1871
resolved in https://github.com/Giveth/giveth-dapps-v2/commit/f31ec235791b11c21c712d8f26dc4b867ef86645

[2022-11-28 21:40] MohammadPCh commented on #1871
@divine-comedian Thanks man :)

[2022-11-29 01:25] mateodaza commented on #1632
After doing a lot of research and reaching to different on/off ramp services besides the SDG, we should remove any workflow that implies fiat as an end - we'll focus on using fiat as a way to onboard more of our users to web3, not the other way around. I tried to check the feasibility of this but it's ridiculously hard as it was mentioned by @GriffGreen and @divine-comedian

Very soon we'll be hav

[2022-11-29 01:30] mateodaza commented on #1719
Particularly for the giveth project we'll show an extra button for donor box like this:
<img width="1426" alt="image" src="https://user-images.githubusercontent.com/18689480/204416165-29b13e0e-ea34-4082-8320-455f85e47684.png">

[2022-11-29 01:37] mateodaza commented on #1720
We'll have this option to make a donation through fiat using onramper with this button
<img width="1430" alt="image" src="https://user-images.githubusercontent.com/18689480/204416504-fc990c14-fea5-45d7-bf4f-0586410a1815.png">

It will display a webview from on ramper like this, the next steps depends on which option the user picks (we can't control this)
<img width="1425" alt="image" src="https://

[2022-11-29 15:21] Tosinolawale commented on #1720
Can I get back to you on this tomorrow? Will that be okay?

[2022-11-30 08:31] MohammadPCh commented on #1718
@laurenluz @maryjaf  I will move this to IceBox, and I hope finds a new alternative package.

[2022-11-30 09:36] mohammadranjbarz commented on #1681
@divine-comedian  I did all above items now you can test it again, the response for eligible donations is something like this for new donations (current just my donation has these variables)

[code]

And these values come from impact-graph

[code]

but for old donations that don't have this field you would see

[code]
I put `0.5` by default for those donations but if you have other idea for that c

[2022-11-30 09:37] maryjaf commented on #1871
Thanks @divine-comedian
<img width="594" alt="image" src="https://user-images.githubusercontent.com/111529185/204760536-9b873bbb-ab9e-47cc-bdc9-26323cf0593d.png">

[2022-11-30 12:28] MoeNick commented on #1860
THis is the old ux problem we have for sign-in with eth,
currently:
1- sign-out will not disconnect you from DApp, a wallet is still connected and we know who logged in, but it expires the token you signed in before with your wallet. so you get sign-out, you don't have a token and if you want to like a project, it asks you to sign again. Apparently in this situation, you can't see the sign-out cho

[2022-11-30 13:43] laurenluz commented on #1841
@maryjaf - what did you mean by "giving block"?

@CarlosQ96 - how's this going?

[2022-11-30 13:51] laurenluz commented on #1860
Yeah I talked about this with @RamRamez in DM. The average user doesn't understand anything about how sign out deletes the token... in a web2 application sign out means your account isn't connected anymore.

I think it would be better if sign out deleted the token & disconnected the wallet simultaneously.

[2022-11-30 14:06] CarlosQ96 commented on #1841
So I am pushing today a PR for the following queries:

1. Getting the User powerBalances.
2. Querying the powerSnapshots to see what are the snapshots taken, Ids and the corresponding round.
3. Getting current Power Round.
4. Getting a User or Project PowerBoostings Percentages per round
5. Getting a project's future powers, (power rank, total power, round)
6. Getting a project's powers (power ran