[2022-04-19 13:07] laurenluz commented on #541
Ahh yeah, thanks @divine-comedian i edited my original comment

[2022-04-19 13:10] aminlatifi commented on #541
Thanks Mitch, I updated this doc
https://www.notion.so/giveth/Deployment-52935e6579034f1b940bbef161e82229

[2022-04-19 13:22] missgene commented on #544
I tried clicking on the Metamask plugin on Chrome to see if there was a Sign In request (as it did not pop up), but there was none. However, for some reason, I tried to access the site again, my account is already connected. I just tried to refresh 2 times.

[2022-04-19 13:23] missgene commented on #545
Yeah, this worked again :)

[2022-04-19 14:52] Cotabe commented on #101
@MoeNick

Looks good now :)

[2022-04-19 14:58] aminlatifi commented on #540
@laurenluz Current unipool reward distribution round ends GMT: Saturday, April 30, 2022 19:00:33, is it ok to launch this farming at the same time?

[2022-04-19 15:15] #545 closed

[2022-04-19 15:50] laurenluz commented on #540
yeah! @aminlatifi I think that would be perfect. gives us a little over a week to develop & test.

[2022-04-19 23:04] RamRamez commented on #553
We have added a modal for Brave users to inform them to lower their shields before using Torus.

[2022-04-19 23:09] RamRamez opened #554 "No complete profile toast for user public view"
1. there should be no complete profile toast for user public view
2. if user is not registered, null is shown

![image](https://user-images.githubusercontent.com/73441857/164115728-8dec3b67-e0ef-4d3a-b08c-0ce41670006a.png)

[2022-04-20 01:13] missgene opened #555 "Emojis don't work when sharing a donation page via Facebook"
I clicked the Facebook share button on [this page](https://giveth-dapps-v2.vercel.app/donate/my-next-project-is) and found out that the emojis are not carried out in the caption. They are shown as symbols.

![image](https://user-images.githubusercontent.com/93360299/164127121-313c8214-7ee5-4451-ba24-1352bd6a58a4.png)

Check this photo for reference and comparison (works well with Twitter share but

[2022-04-20 01:17] missgene opened #556 "Linkedin share option does not have auto captions"
Unlike Facebook and Twitter share options, Linkedin does not have captions when a particular Project donation page is shared. It only shows this:

If the project has a photo, it only shows the photo with a link:
![image](https://user-images.githubusercontent.com/93360299/164127646-11de2afe-3d17-44be-a3bb-89a538720fc5.png)

If the project has not photo, this is how it is shown:
![image](https://use

[2022-04-20 01:24] missgene opened #557 "Unfinished project - no draft saved"
I tried creating a project entitled "Quotes of the day" and I only added two photos to the description. I intentionally closed the tab and all the entries I made were not saved.

I went to My Projects under my account page and I did not see that a project is pending or in the draft.

I think this is important as some users may accidentally close their browser while creating a project. Also, I noti

[2022-04-20 01:44] missgene opened #558 "Deactivating project and activating it"
I tried to deactivate one of the projects that I created:
https://giveth-dapps-v2.vercel.app/project/happy

I went to My Projects to see the list of all my projects and I can see that it was already recorded as Deactivated. I went ahead and Edited the project by changing its category. It allowed me to save the Edit but there was no dialog box pop-up that the edits were saved. I only saw this on to

[2022-04-20 02:15] missgene opened #559 "The Giving Block Category"
I noticed that all Giving Block projects only have one category which is shown below:

![image](https://user-images.githubusercontent.com/93360299/164133114-b74cd5ea-912d-4e05-944c-e60fa0774503.png)

Among the projects I checked are:
https://giveth-dapps-v2.vercel.app/project/great-river-childrens-museum
https://giveth-dapps-v2.vercel.app/project/eyebeam
https://giveth-dapps-v2.vercel.app/project/

[2022-04-20 06:42] MohammadPCh opened #560 "Standardize z-indexes"
We should fix this:
![Screenshot from 2022-04-20 11-09-46](https://user-images.githubusercontent.com/17097576/164166518-beb5b9c6-e776-4dbe-b6e1-ba9808f1649c.png)

[2022-04-20 06:55] MohammadPCh commented on #560
I think It's better to have a standard for z-indexes. for example this is for bootstrap:
$zindex-dropdown:                   1000;
$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-offcanvas:                  1050;
$zindex-modal:                      1060;
$zindex-popover:                    1070;
$zindex-tooltip:

[2022-04-20 07:04] ascode94 commented on #560
Thanks for sharing, i'll check it. @MohammadPCh

[2022-04-20 08:53] Tosinolawale commented on #161
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=7117%3A150623
@MoeNick @mosaeedi @Cotabe  @WhyldWanderer Check that out.

[2022-04-20 09:47] MoeNick commented on #161
@Tosinolawale Pleas include successful subscription, client-side errors, etc. should it be the same as we have right now in home page?

[2022-04-20 09:47] MoeNick commented on #460
@Tosinolawale The link is missing.

[2022-04-20 09:51] MoeNick commented on #460
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=7124%3A163681

the problem is the yellow icon on the bright background

[2022-04-20 09:54] MoeNick commented on #460
Also having tooltip repeats in every row and in the drop-down manu, is not a good idea.

[2022-04-20 09:58] Santigs opened #563 "NFT Donations"
A new project to implement NFT art donations

[2022-04-20 10:00] #303 closed

[2022-04-20 10:00] #304 closed

[2022-04-20 10:02] Santigs opened #564 "PoignART team meeting"

[2022-04-20 10:02] #564 closed

[2022-04-20 10:38] Santigs opened #565 "Forum post"

[2022-04-20 11:14] mosaeedi commented on #460
Tooltip removed and a row added to the bottom of the list to let the user know the meaning of the GIVback icon.
Also, We should user **Mustard/600** for the GIVback icon color.

[2022-04-20 11:22] RamRamez commented on #554
3. Improve Hero section responsiveness

![image](https://user-images.githubusercontent.com/73441857/164220005-747ed810-ad1b-49bf-bb64-7bbc81e70e9d.png)

[2022-04-20 11:24] RamRamez commented on #554
4. improve incomplete profile toast responsiveness

![image](https://user-images.githubusercontent.com/73441857/164220304-db0ba5b3-687e-4d34-bfdc-8fca52aeda8e.png)

[2022-04-20 11:50] Tosinolawale commented on #460
@MoeNick @mosaeedi I believe it is Mustard/600 I previously used that MoeNick felt won't work.

[2022-04-20 11:50] RamRamez commented on #554
5. edit profile should be one line

![image](https://user-images.githubusercontent.com/73441857/164224068-9dee91de-d9fc-4e1e-8a74-a2a3c287e6e6.png)

[2022-04-20 12:07] Tosinolawale commented on #161
Yeah. It should be the same as we have in the Home page. I have included it on the Join Page too.

[2022-04-20 12:18] Tosinolawale commented on #460
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=2290%3A66174
Done

[2022-04-20 13:26] RamRamez commented on #554
7. should be a padding/margin for mobile devices

![image](https://user-images.githubusercontent.com/73441857/164240725-2ced6272-631d-4bdb-9132-b748ba40ba72.png)

[2022-04-20 13:35] RamRamez commented on #554
8. remove wallet address scroll bar

![image](https://user-images.githubusercontent.com/73441857/164242621-8816c105-2aa4-48ff-a304-35ded0d50af2.png)

[2022-04-20 13:49] missgene opened #568 "Project Title - not clickable"
Here's the video for the details:
https://www.loom.com/share/c151eed2e5ae4de6807889f221400706

@MoeNick

[2022-04-20 13:53] missgene opened #569 "View Similar Projects link on project pages"
In clicking "View Similar Projects", it leads to the main [Project page](https://giveth-dapps-v2.vercel.app/projects). I'm wondering if shouldn't it be more specific to "related projects" or at least projects in a related/same category?

For example, [this page](https://giveth-dapps-v2.vercel.app/project/eyebeam) is under the category The Giving Block, but once I click on "View Similar Projects",

[2022-04-20 13:53] Santigs opened #570 "Publish forum post"

[2022-04-20 13:56] #570 closed

[2022-04-20 14:08] missgene opened #572 "Sort by "Oldest" - not chronologically arranges"
https://www.loom.com/share/8bbe48bf65394b288d441a31686045c4

@MoeNick

[2022-04-20 14:13] divine-comedian opened #573 "add DAI logo to GIV / DAI univ2 farm"
we need to insert the DAI logo into the new univ2 farm

![image](https://user-images.githubusercontent.com/67759413/164250322-0730d39c-f0a3-4fc3-8048-50f37f0779c2.png)

[2022-04-20 14:18] missgene opened #574 "Anonymous Donations should not be shown in the public profile page"
I tried donating GIV anonymously to this project and I can see this success page:
https://giveth-dapps-v2.vercel.app/donate/giveth-2021:-retreat-to-the-future

![image](https://user-images.githubusercontent.com/93360299/164250929-4643b8cc-7e5f-418d-a500-4751722ee6d8.png)

I'm just wondering if it's possible to indicate in the Success page that the donation was made anonymously. Or is it not really

[2022-04-20 14:20] missgene commented on #574
I also made an anonymous donation here: https://blockscout.com/xdai/mainnet/tx/0xcbb321bd772be2d4635d12c19748be3372f74acf6f6ff777646264b07241557d

It's also shown on my profile:
![image](https://user-images.githubusercontent.com/93360299/164251966-ec94eb64-5993-4d30-a2f6-e03eeaa12fc1.png)

[2022-04-20 14:21] MoeNick commented on #574
What about your public profile?

[2022-04-20 15:51] missgene commented on #574
It's also there.. This is my public profile:

https://giveth-dapps-v2.vercel.app/user/0xbE6f56Ed9E10E5F58876F7bDF1C83EeDaa721fbc

[2022-04-20 17:30] Cotabe opened #576 "Get informed when donating without completing your profile"
I did my first donation before completing my profile on purpose.

I wasn't informed that I haven't completed my profile. Many donors would like to have their name and email given before making their first donation.

[2022-04-20 17:33] Cotabe commented on #461
I consider donors should be able to sort by location. Many donors want to donate to local initiatives.

[2022-04-20 17:34] Cotabe commented on #461
Many projects are aligning their impact to the Sustainable Development Goals (SDGs). I think we should have them as categories or subcategories.

[2022-04-20 18:25] Cotabe commented on #117
I have the same feature request

[2022-04-20 18:33] Cotabe opened #1830 "GIVdrop Claim | Remove GIVdrop from GIVeconomy design (and replace it?) - Revamp GIVeconomy Homepage"
This might not be a good issue...

As a new person in the GIVeconomy I got excited to see a button to claim a GIVdrop and then got a bit sad I missed it.

I ask myself should that still be there? But maybe it should because there are some people yet to claim their GIVdrop.

[2022-04-21 08:11] MohammadPCh opened #578 "Fix About page hydration Error"
![Screenshot from 2022-04-21 12-41-19](https://user-images.githubusercontent.com/17097576/164415886-d1150e99-e046-465a-a84c-9f9ea09e0655.png)

[2022-04-21 09:01] MohammadPCh opened #580 "Switch network if user not connected his wallet"
switch network not working properly if the user isn't connected his wallet and he doesn't install the Metamask extension.

[2022-04-21 11:32] MohammadPCh opened #585 "Project page hydration error"
![Screenshot from 2022-04-21 16-02-09](https://user-images.githubusercontent.com/17097576/164449293-46d5f619-0397-4732-9976-4f00069e2607.png)

[2022-04-21 12:36] MoeNick commented on #459
@CarlosQ96 Would you pls share a similar projects query? It's ready to go.

[2022-04-21 15:21] missgene opened #588 "Location Map in Create a Project Page"
I noticed that the search bar for location works well. However, I cannot move the pin or zoom the area.

![image](https://user-images.githubusercontent.com/93360299/164491138-4deb6430-958d-4a1a-9f31-63bd7435865d.png)

This can be an important issue for people who wants to select a more specific location.

@MoeNick

[2022-04-21 15:26] missgene opened #589 "Enabling symbols and emojis in Projects name."
Should we let users add symbols and emojis to the Project name?

![image](https://user-images.githubusercontent.com/93360299/164492091-fc1142a5-a1be-4849-85bc-181744d730fe.png)

This is how it looked when I removed the symbols and emojis :)

![image](https://user-images.githubusercontent.com/93360299/164492336-f3808ddb-a50c-49b5-adb7-5d89f4e715b3.png)

@MoeNick

[2022-04-21 16:02] missgene opened #590 "Preview page (creating project)"
Please see video below:
https://www.loom.com/share/1b8182c562ba46c48c485f070b5de539

@MoeNick

[2022-04-21 17:44] missgene opened #591 "Status: Waiting for review (deactivated project)"
I deactivated this project two days ago and reactivated it right after 30 minutes. Until now, I can see that it is still "Waiting for review".

![image](https://user-images.githubusercontent.com/93360299/164519298-c7cae2ab-4b7f-4eb9-a57d-51bc48dfc685.png)

How long does it take to review deactivated projects that are activated before they get listed again?

@MoeNick

[2022-04-23 15:30] missgene opened #595 "Amount of donation"
The amount of donation shows these:

1. Home page
![image](https://user-images.githubusercontent.com/93360299/164912635-d256913c-5508-4b0b-9cde-d585c4db2789.png)

2. [Project page](https://giveth-dapps-v2.vercel.app/project/how-many-photos-is-too-many-photos)
![image](https://user-images.githubusercontent.com/93360299/164912663-6037fe8d-41b7-4893-9ac9-18c1d4725f23.png)

I think it should be rounde

[2022-04-23 15:33] missgene opened #596 "Donation amount - negative"
I wonder why this shows a negative donation amount?

[This is the page.](https://giveth-dapps-v2.vercel.app/project/hugenduben-0)
![image](https://user-images.githubusercontent.com/93360299/164912749-0c348538-eef3-4de4-8e71-992d8085d438.png)

I checked the donations tab and I saw these:
![image](https://user-images.githubusercontent.com/93360299/164912781-faeb8700-553c-4efd-8356-4dab7a7151d9.png)

[2022-04-23 15:53] missgene opened #597 "Tweet This on homepage"
I clicked Tweet this and I was expecting that this line "Giving is effortless and people all around the world are rewarded for creating positive change." and a link will be tweeted..

![image](https://user-images.githubusercontent.com/93360299/164913410-4ce167a4-fa7d-4f34-bfd6-024f030047d1.png)

However, this is what I got
![image](https://user-images.githubusercontent.com/93360299/164913470-07808

[2022-04-23 16:50] missgene opened #598 "Social media buttons on "Successfully created a Project page""
I tried clicking the social media buttons after creating a project. I was expecting to see that the auto-caption would be about the fact that I submitted or created a new project on the platform.

![image](https://user-images.githubusercontent.com/93360299/164915621-a63567b3-1b31-4db7-8003-ed1a503f69e9.png)

However, this is what I got: "I am a Giver and you can be one too! 💙 @givethio. Let's Buil

[2022-04-24 06:29] markoprljic opened #601 "Add Popup after harvesting GIV to encourage users to donate to projects"
**What problem is this design solving? Why is it necessary?**
*A clear and concise description of what the problem is. Link to any relevant issues, PRs, and other resources.*

After harvesting GIV tokens from GIVeconomy we don't want users to sell them. We want to encourage users to donate or reinvest those tokens.

**Is there any user data or feedback backing up this feature request?**
*Share any

[2022-04-24 12:18] #508 closed

[2022-04-25 08:44] MoeNick commented on #598
@laurenluz would you pls provide good Twitter post content for this? or if you are busy who can I ask for?

[2022-04-25 08:45] MoeNick commented on #597
@laurenluz would you pls provide good Twitter post content for this? or if you are busy who can I ask for?

[2022-04-25 09:03] MoeNick opened #604 "Set validations for creating donations"
According to [THIS ISSUE - happening on staging ](https://github.com/Giveth/giveth-dapps-v2/issues/596) we have to set validations for input parameters on creating donations, like: Amount, Token, and all necessary input parameters which have effects on the DAPP functionality.

[2022-04-25 09:06] MoeNick commented on #596
Good job @missgene we gonna resolve it in: https://github.com/Giveth/impact-graph/issues/496

[2022-04-25 10:06] MoeNick commented on #595
@ascode94 can you jump into this please?

[2022-04-25 10:08] MoeNick commented on #591
It's fine @missgene, it still needs to get reviewed again.
@WhyldWanderer is it what should be expected or I'm missing something?

[2022-04-25 10:25] ascode94 commented on #595
Sure @MoeNick

[2022-04-25 10:30] MoeNick commented on #590
It's ok @missgene

[2022-04-25 10:30] #590 closed

[2022-04-25 10:42] #595 closed

[2022-04-25 10:42] MoeNick commented on #595
@missgene it's a [Scientific Notation](https://en.wikipedia.org/wiki/Scientific_notation) to shorten the very long numbers. Usually, we round the numbers up and don't show decimals, so it's ok. closing this.

[2022-04-25 10:46] MoeNick commented on #576
@Cotabe Actually, It was another requirement that we make it easier for donors to donate and don't obliged them to have a completed profile.
Maybe we can revise it in the flow with @Tosinolawale

[2022-04-25 10:54] #573 closed

[2022-04-25 11:02] MohammadPCh opened #605 "lazy load scrollbar on modal"
The scrollbar has about 7k bundle size and is better to dynamically load it.

[2022-04-25 11:06] #585 closed

[2022-04-25 11:06] #580 closed

[2022-04-25 11:06] #578 closed

[2022-04-25 11:10] MoeNick commented on #588
Why do you exactly need to zoom or relocate @missgene?

[2022-04-25 11:17] MoeNick commented on #569
It's under construction :)

[2022-04-25 11:24] MoeNick commented on #572
Thanks, @missgene for reporting
Would you pls check it out @mohammadranjbarz or @CarlosQ96 who have bandwidth?

[2022-04-25 11:26] MoeNick commented on #563
Hi @Santigs you have the same Epic here: #300

[2022-04-25 11:28] MoeNick commented on #559
@CarlosQ96 do they provide labels or impact types in their API? what about CHANGE?
It helps a lot for viewing these projects better.

[2022-04-25 12:12] MoeNick commented on #544
Are you still having this issue?

[2022-04-25 13:38] MoeNick commented on #460
@mateodaza for non-verified projects we should not show any GIVback sign, not in from of tokens, nor in the tip bar of token list.

[2022-04-25 13:46] CarlosQ96 commented on #572
I'll have to validate with @mateodaza . But my theory is that it's sorting by creation date not last_updated in this case.

[2022-04-25 13:47] mateodaza commented on #572
Let's check that out

[2022-04-25 13:51] CarlosQ96 commented on #559
Change also provide categories. But many have "unclasified" category.
I went for a custom Label also for Change.

Should we import the categories or third parties? @MoeNick I feel it will be really hard to maintain and our list would be huge.

[2022-04-25 13:52] aminlatifi commented on #541
As I will be on vacation next week, I prepared everything I could. I coordinated with @mohammadranjbarz to run the reward distributor on time.
Also, I made a couple of transactions on gnosis-safe (nonces 8 and 9) for
1. Granting `Distributor` role to GIV/DAI unipool on Token Distro
2. Assigning 587,500 GIV to GIV/DAI unipool on Token Distro
It would be better if @divine-comedian or @paxthemax veri

[2022-04-25 13:53] aminlatifi commented on #541
@mohammadranjbarz will make the reward distributor call on the exact time the farm will start

[2022-04-25 13:53] MoeNick commented on #300
Oh Ok @Santigs , just moved both of them to Epic column in ZenHub. Thanks

[2022-04-25 13:54] Santigs commented on #300
Thank you, it is related to this forum proposal
https://forum.giveth.io/t/using-nfts-to-facilitate-more-donations-to-giveth-projects-poignart-giveth-integration/531

[2022-04-25 13:55] MoeNick opened #607 "Prevent showing NaN$ for uncompleted profiles."
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/7c6e91f2-448d-4b0f-b83a-fc4ab57f8f8a)

[2022-04-25 13:56] Santigs opened #608 "Forum initial proposal publication"
https://forum.giveth.io/t/using-nfts-to-facilitate-more-donations-to-giveth-projects-poignart-giveth-integration/531

[2022-04-25 13:57] CarlosQ96 commented on #574
I'll check this.

[2022-04-25 14:13] aminlatifi commented on #541
- [ ] Run frontend develop branch with production config and see whether it works well @MohammadPCh or @mateodaza or any other frontend guygs
- [ ] Verify and execute multisig transactions (nonces 8 and 9) @paxthemax or @divine-comedian
- [ ] Merge https://github.com/Giveth/giv-token-contracts/pull/58 and make sure notify reward cron job works as expected @mohammadranjbarz

[2022-04-25 14:57] laurenluz commented on #597
Great issue @missgene - thank you!

@MoeNick

Here you go:
"Imagine a future where...
Giving is effortless and people all around the world are rewarded for creating positive change.

Explore @givethio to support this vision for the Future of Giving. 💜"

[2022-04-25 15:41] Santigs commented on #608
Invited Kyle from PoignART to comment on the proposal.

[2022-04-25 16:02] missgene opened #610 "Code doesn't work"
Html code didn't work on [this page](https://giveth-dapps-v2.vercel.app/project/ram-second-torus)

This is also how it looks on the Project main page:
![image](https://user-images.githubusercontent.com/93360299/165128100-4e1b6bc1-6b14-4d3d-9062-5018b081c241.png)

@MoeNick

[2022-04-25 16:12] MoeNick commented on #610
It's ok and it's for testing.

[2022-04-25 16:12] #610 closed

[2022-04-25 17:04] missgene opened #612 "Donors' names on Donation tab of a project"
Shouldn't the names of the donor be clickable if they have an existing account/project in the site? I'm not sure if this is important but I'm just mentioning it.

![image](https://user-images.githubusercontent.com/93360299/165138083-443dcb47-6144-4b90-8528-b383a393034b.png)

This is the page where I got the screenshot above:
https://giveth-dapps-v2.vercel.app/project/ram-second-torus

@MoeNick

[2022-04-25 17:10] MoeNick commented on #612
Nice one @missgene
What do you think @mosaeedi?

[2022-04-25 17:38] #544 closed

[2022-04-25 17:39] missgene commented on #588
This is no really a big issue. I just posted what I noticed. The search bar for the location field works well and it's pretty specific so zooming out is not really a big issue. Thanks for responding @MoeNick :)

[2022-04-25 17:41] MoeNick commented on #588
Its ok, im still eager to know what you expect from the app, do you need to zoom and move the map to specify the exact location? Is that you really need?

[2022-04-25 17:46] missgene commented on #588
Well.. if I see a map in any website, I usually expect that I can zoom it in and out or drag the pinned location.. That's why I mentioned it here as an issue cause in my end, this is my first encounter of a map embedded in a website that I cannot zoom or drag the pin. :)

[2022-04-25 22:19] laurenluz commented on #428
looking good on staging

![image](https://user-images.githubusercontent.com/75490971/165184271-fd93a092-9944-4052-a589-6bf29996aee4.png)

[2022-04-25 22:29] laurenluz opened #613 "GIVstream history table entry for GIV/DAI univ2 pool is not showing up right"
Should have the GIVfarm label, like the others.

Who's best for this @MoeNick ? @MohammadPCh perhaps?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0b352569-c7a2-49f7-acc2-bf84f7dad31e)

[2022-04-25 22:35] laurenluz opened #614 "Add checkbox to GIVfarm for archived pools"
Where it's circled here, we should add a checkbox & text that says "See archived pools"
This checkbox should enable to see archived pools on the connected chain:
- When it is checked, you should see inactive pools on that chain (such as the univ3 pool on mainnet)
- When it is unchecked, inactive pools should be hidden (right now, the only hidden one should the univ3 pool on mainnet)

You need to a

[2022-04-25 22:46] laurenluz commented on #541
@aminlatifi @mateodaza @MoeNick

Can we push this live on April 27 or 28 so that we have a few days of the "countdown"? The timer should be working, right?

Would love to announce a few days ahead of time to get people to ape in early.

[2022-04-25 22:47] laurenluz commented on #541
I did some testing and there was just one small frontend fix that I saw #613... everything else appears to be working well on staging.

[2022-04-26 04:15] mohammadranjbarz commented on #574
@MoeNick
As for both public profile donations, and `My Donations` page we use one query `donationsByUserId` I think we should set a condition if a logged-in user call this query for getting his/her donations we return all donations, but if someone else wants to see donations of a user we exclude **anonymous** donations

[2022-04-26 04:43] MohammadPCh commented on #613
Thank you @laurenluz
I will fix it soon.

[2022-04-26 11:45] MoeNick commented on #574
Let's wait to finilize the flow first. it has some UI/UX impact.

[2022-04-26 12:08] MoeNick opened #617 "Design Backend Services - Auto-Saving Project Verification Application"

[2022-04-26 12:21] MohammadPCh opened #618 "Update styled components config"
Update styled-components config based on NextJS doc:
https://nextjs.org/docs/advanced-features/compiler#styled-components

[2022-04-26 12:23] MohammadPCh opened #619 "Fix abi import warnings"
Fix abi import warnings to make debugging easier.

[2022-04-26 12:59] MoeNick commented on #460
Users may have some problems seeing this in non-verified projects, it's confusing, let's also remove this bar.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/1c73384f-8db9-46a2-800b-63544c84547b)

[2022-04-26 12:59] MoeNick commented on #460
Users may have some problems seeing this in non-verified projects, it's confusing, let's also remove this bar.
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/1c73384f-8db9-46a2-800b-63544c84547b)

[2022-04-27 10:42] MohammadPCh opened #623 "Add progressbar"
We need to show a progress bar when users click on links to change the page. because sometimes it takes some seconds to go to the new page and user thinks the link does not work.

[2022-04-27 12:09] paxthemax commented on #541
Just to confirm @GriffGreen - everything seems to be in order.

[2022-04-27 12:41] mateodaza opened #625 "Add set max token amount on donation input"
It may be cool to allow users to set their max amount of tokens when making a donation here
<img width="454" alt="Screen Shot 2022-04-27 at 7 28 56 AM" src="https://user-images.githubusercontent.com/18689480/165519820-ef8174ab-8e7c-4223-9942-50ed3be9c127.png">

check honeyswap's example below
<img width="399" alt="image" src="https://user-images.githubusercontent.com/18689480/165519955-a7072d55-da

[2022-04-27 14:46] divine-comedian commented on #553
modal looks mostly good but I would suggest a few updates to the modal

Can we add this image below the first text block

![image](https://user-images.githubusercontent.com/67759413/165544581-6a7898c2-fc22-4850-81fd-e9b8704c7cbb.png)

We can remove this second part of the text
![image](https://user-images.githubusercontent.com/67759413/165544716-fc7a978c-77bf-4a97-85fd-e4ea04147cbf.png)

and repla

[2022-04-27 14:55] mohammadranjbarz commented on #596
@missgene Thanks for your report
@MoeNick
 Now the negative donations have been deleted, and the total amount of donations for this project is correct
 https://giveth-dapps-v2.vercel.app/project/hugenduben-0

[2022-04-27 18:38] laurenluz opened #626 "RegenFarm FOX/HNY everything is 0!! BUG ALERT"
people with LPs are seeing 0 LPs... the APR is 0... the rewards are 0... what is going on??

@mateodaza @MoeNick - help this is important. may users complaining in support channel.

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/028f5a1f-5391-4784-b70c-e4185bab9e92)

[2022-04-27 19:43] giantkin commented on #626
not sure same bug, Giv/hny shows ok, but LP that i have (and others) doesnt show as stakable.

[2022-04-27 19:57] MohammadPCh commented on #626
@laurenluz
We didn't change anything, I think the main problem is the Graph service on the gnosis chain. @aminlatifi and @mohammadranjbarz can approve it.

[2022-04-27 21:41] deeayeen opened #627 "GIV/HNY LP balance showing as zero, can't stake"
I have LP tokens, but the interface is showing that I have zero GIV/HNY LP tokens

![image](https://user-images.githubusercontent.com/35680780/165635861-b6505959-5eda-4136-a1e1-c9fbfaf85dfe.png)

I can't stake due to this issue

[2022-04-28 00:59] giantkin commented on #627
![screenshot 84](https://user-images.githubusercontent.com/8282544/165655370-6fa86194-cf58-4c4e-a051-74dfe9e412ba.jpg)
This shows Both the hny/giv in the LP  and the stake not showing available at same time.

[2022-04-28 04:44] mohammadranjbarz commented on #626
@MohammadPCh
Yeah it was a problem in subgraph config, Amin deployed a new version of subgraph and now it's ok

<img width="1322" alt="Screen Shot 1401-02-08 at 09 13 55" src="https://user-images.githubusercontent.com/9850545/165678208-7e9f413a-a35a-4dc3-9196-bed9638477f2.png">

[2022-04-28 09:43] MoeNick opened #629 "Refactor Donation flow (Technical)"

[2022-04-28 09:44] MoeNick opened #630 "Change Save Donation Service (Send nonce and other required fields)"

[2022-04-28 10:03] mohammadranjbarz commented on #627
@giantkin Thanks for reporting this

@MoeNick

Now we fixed the problem, and the UI shows my liquidity

<img width="1792" alt="Screen Shot 1401-02-08 at 14 31 06" src="https://user-images.githubusercontent.com/9850545/165728932-29a35943-72ca-44fa-bdc8-f84fa5adc95f.png">

[2022-04-28 11:54] MoeNick opened #633 "Show success page only after trx confirmed by web3"

[2022-04-28 11:57] MoeNick opened #634 "Backend: Update Donation service on confirmed or failed stat."

[2022-04-28 15:23] giantkin commented on #626
This is now working today as well.

[2022-04-28 15:23] #626 closed

[2022-04-28 15:24] giantkin commented on #626
oops. totally didnt mean to close the issue. (still learning)  if needs reopened, sorry!

[2022-04-28 20:08] bh2smith opened #638 "Donation Not Appearing in Profile"
https://blockscout.com/xdai/mainnet/tx/0x8faf7219683837aa34f242c276c2aa0a19fca0348f54e59c358896c758cdd248

This Donation Appears in the [Project Page](https://giveth.io/project/Feed-the-Hungry-in-Chilliwack-BC-Canada-0)
<img width="852" alt="Screen Shot 2022-04-28 at 10 07 45 PM" src="https://user-images.githubusercontent.com/11778116/165836884-7c3d630e-a0fb-49de-ab14-e12e0674ca13.png">

but not i

[2022-04-29 06:10] vporton opened #639 "I am authenticated but giveth.io asks me for authentication"
I `porton.victor@gmail.com` am authenticated with Google at giveth.io.

But when I try to create or edit a project, I see `Authentication required.`

[2022-04-29 13:11] GriffGreen opened #640 "Make permit mode the default on the card"
<img width="395" alt="Screen Shot 2022-04-28 at 8 31 24 PM" src="https://user-images.githubusercontent.com/14945613/165950713-04a45300-5d9c-4fe2-afd1-871a16243f32.png">

[2022-04-29 13:31] RamRamez opened #641 "refactoring donate components and tnx flow"
1. require sign for anonymous users also
2. remove unused saveDonationTransaction query
3. show error to user if donation is not saved
4. remove setInProgress and setUnconfirmed and wait till tx is mined then show success/error to user
5. complete refactor send transaction related functions
6. capture if tx is cancelled, failed, mined or speed up
7. remove requesting to network every one second fo

[2022-04-29 13:35] RamRamez commented on #641
For testing:

Three tx states should be tested: normal success, speed up and success, cancel tx
Also two different scenarios should be tested: regular Eth transfer and ERC20 token transfer

[2022-04-29 16:27] GriffGreen opened #663 "Add Change to our partnership page"
https://giveth.io/partnerships

I asked change to add the deets we need to this issue

[2022-04-30 15:24] giantkin opened #642 "Gnosis chain seems to be not accruing."
Gnosis chain seems to be not accruing.
![screenshot 96](https://user-images.githubusercontent.com/8282544/166111802-abbc9e31-3793-4d59-a4c1-cde4fe880c8e.jpg)

ill check in a few minutes to confirm.

[2022-04-30 15:27] giantkin commented on #642
Mainnet Giv/eth is accruing rewards.  (i cant test giv alone i dont have a deposit there yet)

[2022-04-30 15:42] MoeNick commented on #642
I could not reproduce it find the route cause, would you pls make sure you are on the right address, right URL? or would you pls record your screen?

[2022-05-01 04:32] alireza-sharifpour opened #643 "Join page cards styling"
Fix Join page card styling in order to make it more like the design.

[2022-05-01 04:35] ascode94 commented on #643
The problem is in the subscription card and the size of subscribe button and also we have empty space in the right side of the cards.
![Screen Shot 2022-05-01 at 9 04 16 AM](https://user-images.githubusercontent.com/48887817/166132356-dc6d8c4b-5a92-4010-9fde-64dfec2251f3.png)

[2022-05-01 04:56] alireza-sharifpour opened #645 "Add all site errors to Sentry"
We need to have all frontend errors on the sentry.

[2022-05-01 06:47] MohammadPCh opened #646 "Add more linters"
We need more linter to improve our code quality.
I suggest having a linter for sort of import and unused imports.

[2022-05-01 07:36] rpdb-ops opened #648 "I don’t see my last donation on my giveth.io/account"
I don’t see my last donation on my [giveth.io/account]. I’ve already interacted with the same contract so I’ve checked the transaction hash and everything is correct. The donation appears in the project donation page so I don’t worry. I've already posted on forum.giveth.io/c/support/

[2022-05-01 07:58] MoeNick commented on #648
Would u pls provide trx link?

[2022-05-01 22:59] giantkin opened #653 "Website"
![website error](https://user-images.githubusercontent.com/8282544/166167997-86a5937a-c5e5-4d0e-a173-b230282f75c6.png)

[2022-05-01 22:59] giantkin commented on #653
(thanks graymachine)

[2022-05-01 23:21] freshelle opened #654 "My Account and Projects error"
When I clicked - "My Account" and "My donations" from the dropdown list of the account icon (upper right).
<img width="614" alt="image" src="https://user-images.githubusercontent.com/86718721/166168669-dc63ff36-9304-4e48-8676-16d9833c5801.png">

When I open https://giveth.io/projects
<img width="1434" alt="image" src="https://user-images.githubusercontent.com/86718721/166168693-fd0b44b8-427e-4df4-

[2022-05-02 10:08] #596 closed

[2022-05-02 10:09] #444 closed

[2022-05-02 10:10] MoeNick commented on #568
We may have a new card implementation for givepower which is going to solve this problem.

[2022-05-02 10:10] #568 closed

[2022-05-02 10:14] #627 closed

[2022-05-02 10:47] MoeNick commented on #642
@giantkin can you confirm it's ok now?

[2022-05-02 11:02] #646 closed

[2022-05-02 11:02] #623 closed

[2022-05-02 11:03] #619 closed

[2022-05-02 11:03] #618 closed

[2022-05-02 11:04] #605 closed

[2022-05-02 11:27] #380 closed

[2022-05-02 11:29] MoeNick commented on #641
Nice job @RamRamez Thanks

[2022-05-02 11:43] MoeNick opened #655 "Design: Failed donations needs to be shown in modal and also in success page."
**What problem is this design solving? Why is it necessary?**
*A clear and concise description of what the problem is. Link to any relevant issues, PRs, and other resources.*
Sometimes tx is failed and the web3 provider lets us know it, so we need to let the user know it as well.

**Is there any user data or feedback backing up this feature request?**
*Share any user research conducted by yourself

[2022-05-02 11:45] MoeNick commented on #653
Its solved for now but the route cause will solve in this issue: https://github.com/Giveth/impact-graph/issues/505

[2022-05-02 11:45] #653 closed

[2022-05-02 11:45] MoeNick commented on #654
Its solved for now but the route cause will solve in this issue: Giveth/impact-graph#505

[2022-05-02 11:45] #654 closed

[2022-05-02 11:48] MoeNick commented on #639
Are you experiencing it on Brave? on mobile or on desktop? and are you using Torus?
@RamRamez it may be related to #553

[2022-05-02 11:49] MoeNick commented on #638
Related to #648
@mohammadranjbarz @CarlosQ96 somebody take it pls.

[2022-05-02 11:53] MoeNick commented on #625
Im not sure users want to donate all of their assets in a single token. they might want to swap the whole but I'm not sure about donation.
What do you think @Tosinolawale ?

[2022-05-02 12:41] MoeNick commented on #588
Is the Map is needed actually? We can just ket the user search and fill it with Google suggestions. @Tosinolawale

[2022-05-02 12:43] MoeNick commented on #569
Test Scenario:  for GivingBlocks projects, you should not see any related projects at all. @missgene

[2022-05-02 12:44] #558 closed

[2022-05-02 12:48] MoeNick commented on #557
@MohammadPCh @RamRamez @mateodaza
Any idea of autosaving the project right after the user moves from any field to another?
I need your UX opinions rather than technical ones.

[2022-05-02 12:50] MoeNick commented on #496
Any update on this @mohammadranjbarz @CarlosQ96 ?

[2022-05-02 12:53] MoeNick commented on #492
These are feedbacks from @NikolaCreatrix
https://docs.google.com/document/d/1pMaqfzLRJpYALYRdZDUQnatk6fsCux6OhQ7Z7bTUVSo/edit?usp=sharing

[2022-05-02 12:53] Tosinolawale commented on #655
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=7748%3A167545
![Donation Modal #2](https://user-images.githubusercontent.com/35389241/166236678-ec043c2a-e536-4435-a57c-236760a47e76.png)
![Donation Modal #2(1)](https://user-images.githubusercontent.com/35389241/166236686-e1df05ea-8d6b-491d-a0b3-c246ab85a00d.png)

[2022-05-02 12:54] MoeNick commented on #492
This is the Miro Board from @melodysongq and Giveth-Connect WG:
https://miro.com/app/board/uXjVOHUtG4M=/?moveToWidget=3458764524045494808&cot=14

[2022-05-02 13:27] alireza-sharifpour opened #658 "Add displayName for all of our react contexts"
We need to add displayName for our react contexts for easier debugging.

[2022-05-02 13:36] Tosinolawale commented on #625
Can't make sweeping assumptions for users needs here but having a set Maximum for Donation input here is a bit redundant. We already have the Total available balance and users can input whatever they wish to donate. So at least for now, we should not overcomplicate our user journey.

[2022-05-02 13:52] RamRamez commented on #557
@MoeNick
Like what we had in next.giveth.io we can store changes to browser storage.
If project is created or drafted, the local storage will be deleted and empty form will be loaded on create project, otherwise local storage will be filled in form.

[2022-05-02 13:59] mohammadranjbarz commented on #496
@MoeNick
https://github.com/Giveth/apiGive/blob/main/diagrams/main_flow.md

This is the last updated diagram that is synced with what I implemented

[2022-05-02 14:08] MohammadPCh commented on #557
@MoeNick
I think the suggestion is great. we can ask the user before closing the tab.

[2022-05-02 14:33] MohammadPCh commented on #557
@MoeNick  I create something like this:
![Screenshot from 2022-05-02 19-00-49](https://user-images.githubusercontent.com/17097576/166252073-49134b90-835d-4934-979f-9230d768f451.png)
FYI we can't change anything here. but I think this is general UX that users know it.

[2022-05-02 15:09] laurenluz commented on #598
@MoeNick

"Our project is raising funds in crypto on @givethio! 🙌

Donate directly on Ethereum Mainnet or @gnosischain w/ no fees or intermediaries.👇

<link>"

[2022-05-02 17:12] ascode94 commented on #555
I checked this issue, we followed the guidelines that Facebook mentioned, but it seems like Facebook doesn’t support emojis as quotes.
![Screen Shot 2022-05-02 at 9 32 33 PM](https://user-images.githubusercontent.com/48887817/166291923-30ad78c1-7ef4-4b72-ab49-45adb4cb6975.png)
As you can see, we send the emojis as URL parameters to Facebook (same as tweeter), but Facebook cannot interpret them.
So

[2022-05-03 06:35] CarlosQ96 commented on #638
@mohammadranjbarz @MoeNick  after debugging it seems the userId is null in our db, many anonymous donations don't have it, but some do. (after checking the donations of this project).
So the frontend is not correctly sending the userId in every case and the sender profile searches by userId, leading to no donation showing up.

However, we can fix this by getting the userId searching with the user

[2022-05-03 06:38] CarlosQ96 commented on #638
This IMO however should include the fix we have pending, about public profile showing anonymous donations, add the logged in helper.

[2022-05-03 06:47] mohammadranjbarz commented on #638
Thanks @CarlosQ96
I wanted to merge this https://github.com/Giveth/impact-graph/pull/498
What changes do you mean we should do on that to support this problem?
( Maybe we should change `donationsByUserId` query, to instead of finding donations with that userId, we find the walletAddress of user and query based on that, and this may cause some side effects, for instance someone create lots of donat

[2022-05-03 07:00] CarlosQ96 commented on #638
The PR https://github.com/Giveth/impact-graph/pull/498 should fix the issue about showing anonymous in public profile. So 1 less problem. So let's merge it.

In the saveDonation, we have findUserById(), we should add as second option findByFromWallet() in case the userId is not present (this shouldn't happen, let's check with frontend guys first if there is a bug).
So we will always fill the userI

[2022-05-03 07:07] mohammadranjbarz commented on #638
Thanks, Carlos, I really agree with you, We ( backend +frontend) should decide what to do to together, it's not just backend problem

[2022-05-03 07:08] mohammadranjbarz commented on #574
@MoeNick
It just fix this particular issue and you can test it in the way I explained in below comment
https://github.com/Giveth/impact-graph/pull/498#pullrequestreview-959996253

and about
https://github.com/Giveth/giveth-dapps-v2/issues/638

we can decide and implement later

[2022-05-04 13:02] mateodaza opened #662 "Unescape html text on project cards"
Reported by @danelsuga this is happening for special characters like "&"

![image](https://user-images.githubusercontent.com/18689480/166686622-bb4b24f5-90bd-4530-9be7-a606d8b2e57f.png)

[2022-05-04 22:29] laurenluz opened #664 "Frontend for CULT/ETH Regen Farm"
The Cult DAO proposals have passed so we have 26ETH worth of CULT coming our way to setup this RegenFarm as per [this post](https://forum.giveth.io/t/cult-dao-regen-farm/518)

We need to dev up the frontend cards to be just like the FOX/HNY pool put for CULT.

Looks like this:
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/777b7a43-d18f-4b1c-a5d2-7398b2346616)

We need

[2022-05-05 05:25] MoeNick commented on #655
@Tosinolawale
On success mode, we just close the modal and show you are a giver now. So IMO We do not need to change the success page.

[2022-05-05 08:44] Tosinolawale commented on #655
@MoeNick Noted.

[2022-05-05 11:09] GriffGreen opened #667 "120 donations missed by regular and retroactive GIVbacks"
<img width="1458" alt="Screen Shot 2022-05-05 at 5 06 29 AM" src="https://user-images.githubusercontent.com/14945613/166911088-1c578e9f-0285-4fb4-a784-968c3cbfc68e.png">

It doesn't look like it and WETH donations should have a price and should get GIVbacks!

[2022-05-05 11:10] GriffGreen opened #668 "Anon donations not very anon!"
<img width="1458" alt="Screen Shot 2022-05-05 at 5 06 29 AM" src="https://user-images.githubusercontent.com/14945613/166911088-1c578e9f-0285-4fb4-a784-968c3cbfc68e.png">

It shouldn't have a link to the transaction in the front end if it's an anon donation

[2022-05-05 11:36] GriffGreen commented on #667
https://blockscout.com/xdai/mainnet/tx/0x74daa94d383891ff9e487b9c39ebe03be4b774aba071b67c399a95ddd07ceeca

This is the donation from above (which it shouldnt be so easy to get a link to see #668)

[2022-05-05 12:06] mohammadranjbarz commented on #667
@GriffGreen

We had a problem for filling `valueUsd` and `priceUsd` for  donations, but we were thinking it's resolved, but it seems we 120 donations including this one that you mentioned that don't have price (most. of them have tiny issues like 1 xdai) , so we should miss them in the givbacks, we should fill price for them manually, and think about the solution to not happen again

The query for

[2022-05-05 12:23] mohammadranjbarz opened #670 "Implement a minimal admin panel for create organziations/applications"

[2022-05-05 14:49] GriffGreen opened #671 "Distribute GIV for Q4 Vesting to team"
https://forum.giveth.io/t/q4-2021-vesting-distribution/524/ says it's good to go

See the For Distro tab for the GIVstream allocation
https://docs.google.com/spreadsheets/d/12WmNihIHLaYz2TPfE3BHvH6Vs_JFcJ-6Vy07d9BGK5E/edit#gid=2114695455

[2022-05-06 15:04] WhyldWanderer opened #672 "Donor Feedback on Project Sorting/Filtering"
![image](https://user-images.githubusercontent.com/74267818/167159991-b6266299-fb93-43fd-8cd3-36217e468171.png)

[2022-05-06 21:26] divine-comedian commented on #667
yikes - so we can setup a custom givback distribution for these missing donations - shouldn't be a big problem

[2022-05-07 13:18] divine-comedian commented on #667
Where can we start in resolving this issue?

[2022-05-08 10:19] aminlatifi commented on #664
@laurenluz Do we have any issue for preparing its backend?

[2022-05-08 10:21] aminlatifi commented on #664
We cannot go for it until we have a prepared backend. This issue can be part of that also as current implementation of regen farm is modular and can be implemented as part of testing backend.

[2022-05-08 12:07] laurenluz commented on #664
We don't yet! I was sort of waiting for you to come back so we could discuss. Can you create it?

[2022-05-08 12:10] aminlatifi commented on #664
Yes, I can. How urgent is it? I am thinking about engaging other devs in deploying subgraph/backend. That may make deploying it a little bit longer.

[2022-05-08 13:23] aminlatifi commented on #664
https://docs.google.com/document/d/1Dq-c2p4kTASGHpp8hG5o9KPB8g7TwPFdDgQJ8B6bXG8/edit

[2022-05-08 20:05] mohammadranjbarz commented on #667
What do you think about ignoring donations that have less than 1$ value?
it can make this list about 30-40 donations,
I think first step is manually fill these donations prices or make it automatic to fill `WETH` and `XDAI`  because we can have their price in anytime that we want, and fill the others manually

[2022-05-08 22:56] divine-comedian commented on #667
I like the automatic solution - let us know what remains to fill in the price manually - I'm assuming we can use coingecko or something similar to get a price average for these doantions

[2022-05-09 07:17] aminlatifi commented on #664
@laurenluz @mosaeedi We need CULT token icon also

[2022-05-09 07:18] MoeNick commented on #655
Are there any updates @Tosinolawale @mosaeedi

[2022-05-09 07:33] Tosinolawale commented on #655
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=7748%3A167545
@MoeNick  I believe this works for the failed donation modal

[2022-05-09 07:50] MoeNick commented on #492
We can go ahead in this issue @WhyldWanderer

[2022-05-09 08:10] MoeNick commented on #496
@CarlosQ96 I need your confirmation to move it to done.

[2022-05-09 09:01] aminlatifi commented on #667
I suggest fetching price from uniswap/honeyswap/sushiswap. Each have their own subgraph which support querying price at specific balance and it's somehow easy!

[2022-05-09 11:10] alireza-sharifpour opened #673 "Link the logo in error pages to the Home page"
![Screen Shot 2022-05-09 at 3 40 04 PM](https://user-images.githubusercontent.com/48887817/167398132-15cc2883-e0d8-4308-904c-360c6fd648a9.png)

We should Link the Giveth Logo to the HomePage

[2022-05-09 12:15] #255 closed

[2022-05-09 13:32] CarlosQ96 commented on #496
@MoeNick we can move it to done. Mohammad has done a great job.

[2022-05-09 13:33] MoeNick opened #677 "Redesign Sorting / Filtering / Search Flow"

[2022-05-09 13:44] MoeNick commented on #668
We have to fix it on public views:

- [ ] Public Profile Donations

- [ ] Donations in Single Project View

[2022-05-09 13:48] #591 closed

[2022-05-09 20:27] laurenluz opened #682 "New Banner for giveth Twitter"

[2022-05-10 06:58] MoeNick commented on #557
@Cherik#4711 jan, did you push the changes? I could not test it on the staging, or production

[2022-05-10 08:56] Tosinolawale commented on #655
![Donating](https://user-images.githubusercontent.com/35389241/167589839-476a1acd-306e-472d-82fd-f15759b98428.png)
Yes. Changed the design a bit, also with Etherscan  link to view transaction harsh.
@RamRamez

[2022-05-10 10:17] Tosinolawale commented on #576
Checking this out. @MoeNick  @Cotabe

[2022-05-10 10:30] Tosinolawale commented on #588
@MoeNick user search works and is effective but I believe having a map presents users with a more general overview of a a location. So both user search and the map should be kept. I am thinking of a scenario where a user is not working with a specific location.

[2022-05-10 11:51] Tosinolawale commented on #655
Apologies for the extra work @RamRamez . But that is the final design.

[2022-05-10 11:51] Tosinolawale commented on #655
@MoeNick You can close this

[2022-05-10 12:41] RamRamez commented on #655
@Tosinolawale thanks for the great design

[2022-05-10 14:18] MoeNick opened #681 "Design HomePage for APIgive"

[2022-05-10 19:27] aminlatifi commented on #664
These are svg images of icon on Coingecko and CoinMarketCap
![CultLogo](https://user-images.githubusercontent.com/5684607/167706942-1dfedb60-6f79-481c-bbd8-3fee2b2891a8.svg)
![Cult-DAO-Token](https://user-images.githubusercontent.com/5684607/167706964-e87295a0-ef18-4ddb-9328-a5a72e95390d.svg)

[2022-05-10 21:24] mateodaza commented on #664
@mosaeedi can I get a better version? I get this one squared

![cult_dao](https://user-images.githubusercontent.com/18689480/167724274-680a4bfd-ba04-4cb1-8d45-8efb66bcb59c.svg)

[2022-05-10 21:26] mateodaza commented on #664
@laurenluz I did all of. your checkpoints on the frontend, just waiting for the better quality icon. I'll be working with @mohammadranjbarz with the help of @aminlatifi to integrate backend

[2022-05-10 22:12] Cotabe commented on #576
Hey @Tosinolawale, you made any changes on staging. I just tried again with a new wallet, but I didn't see any changes :thinking:

[2022-05-11 09:31] Tosinolawale commented on #480
https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=2059%3A59953

@MoeNick  we can get started with implementing the new Project Cards

[2022-05-11 09:42] Tosinolawale commented on #480
https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=2059%3A59953

@MoeNick  We can start with implementing the new Project cards

[2022-05-11 11:32] mohammadranjbarz commented on #664
@mateodaza  @aminlatifi
I added CULT/ETH regen farm , but be aware I just changed the staging subgraph addresses ( to use giveth subgraph instead of using my personal subgraph) so you need to change the subgraph addresses for staging ENV

https://github.com/Giveth/giv-token-subgraph#staging

Test scenario:
* If you don't have any test CULT token, please DM me or @aminlatifi  to send some CULTs to

[2022-05-11 12:07] MoeNick commented on #576
@Cotabe, @Tosinolawale is our user researcher and he's trying to review the UX and make it better, so there is no technical changes applied to the staging yet.

[2022-05-11 12:14] Tosinolawale commented on #576
@Cotabe @Tosinolawale I will review the flow and see how we can improve it.

[2022-05-11 12:59] mosaeedi commented on #664
[CULT.zip](https://github.com/Giveth/giveth-dapps-v2/files/8670068/CULT.zip)

@mateodaza

[2022-05-11 13:21] aminlatifi commented on #664
@mateodaza every detail for this regen farm test deployment is written down here
https://www.notion.so/giveth/Test-Deployment-097ddfb4a58b4a1dbd50d889cfe7bb3f#a3dceed60bcd41d2a8a29d1d98f8a827

[2022-05-11 16:39] mosaeedi commented on #664
[CULT-svg.zip](https://github.com/Giveth/giveth-dapps-v2/files/8671841/CULT-svg.zip)

The cult logo.

Cult logo on the Design system. [Here](https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=333%3A41275)

[2022-05-12 07:16] MoeNick opened #684 "GivBack design for Single Project Page"

[2022-05-12 07:28] #677 closed

[2022-05-12 08:42] alireza-sharifpour opened #686 "Eslint rule for imports"
Problem: Currently we are not getting eslint error if we import something that doesn’t exist. We are just getting typescript error for that.
Example:
If I remove this function, the only error I get is:

![Screen Shot 2022-05-12 at 1 11 47 PM](https://user-images.githubusercontent.com/48887817/168029691-6277c5a5-a68a-4f93-a97a-dd49aef980a6.png)

So when we run linter we cannot find out the problem.

[2022-05-12 08:46] RamRamez opened #688 "Cannot read properties of undefined (reading 'categories')"
For projects without `categories`, backend sends this error for similar projects route:
`Cannot read properties of undefined (reading 'categories')`

@mohammadranjbarz @CarlosQ96 Can you take a look?

![image](https://user-images.githubusercontent.com/73441857/168030141-1eaeaaa4-d7cd-4f2f-b680-7c5e54066153.png)

[2022-05-12 09:09] RamRamez opened #689 "From our blog not showing"
<img width="1247" alt="image" src="https://user-images.githubusercontent.com/73441857/168035129-f6b09cc4-ad34-4325-8a2e-f79c96be0e02.png">

[2022-05-12 09:18] mohammadranjbarz commented on #688
@RamRamez
Thanks, I will fix it

[2022-05-12 11:03] MoeNick opened #691 "Project owner sign-up problems"
1) **Not able to consistently log-in on Mac** sometimes not able to log-in using Mac laptop: system sends her round in a loop, asking her to verify email over and over. Verification link in email doesn't link to anything. Her solution has been to leave the log-in process for a day or day and then go back to it and it work. She has cleared her history. This is not an issue all of the time. When log

[2022-05-12 11:10] MoeNick commented on #691
I need the project owner's address, project link, and his/her email address. Is it possible to have this information? @clara-zi

[2022-05-12 11:11] MoeNick commented on #691
I thinks it's happening out by Torus. Let's take the records to make sure.

[2022-05-12 12:21] MoeNick commented on #691
sasa@nisria.co
https://giveth.io/project/nisria

[2022-05-13 12:53] clara-zi commented on #691
did you get everything you needed from the recordings?
Wallet appears to be connected with project user's personal profile and the project itself does not have a wallet. Seems like a Torus issue.
Interestingly, project user doesn't think she has a wallet yet when asked which wallet.

[2022-05-13 12:54] ahmadabugosh commented on #691
Also, from my initial conversations, she's very new so I think she'd be open to setting up a new wallet if that makes things easier

[2022-05-13 17:37] WhyldWanderer opened #692 "Cancelled/Unlisted projects showing up on projects page."
When I filter the projects using these settings

![image](https://user-images.githubusercontent.com/74267818/168337409-5bfbe5ea-763a-4db5-8e54-6d95c7b9b292.png)

It shows all projects ever made... even those which are unlisted and cancelled or just test projects...
its even showing some projects that violate our terms and conditions (like the opp shutdown russia project shown below).. This is no g

[2022-05-14 02:31] Cotabe commented on #664
Quick comments:

1. I think we should remove this "Our society is built to make it as difficut as possible to break away from societal, economic and other norms." it feels like an incomplete idea and it's not what we agreed with Kris.

2. APR looks too big, I understand this changes as people jump in. But I prefer to note it, better safe than sorry.

3. Maybe not a big thing... but once the transa

[2022-05-14 22:16] RamRamez opened #693 "notify backend about donation status"
Remove saveDonation and add createDonation endpoint.
Notify backend on status change
Add donation status to tables

Ref [#507](https://github.com/Giveth/impact-graph/pull/507)

[2022-05-15 06:17] aminlatifi opened #695 "Not zero APR on finished farm"
The rewarding period of TestFOX/TestHNY farm on staging regen farm has finished, so now it doesn't pay any more reward. But the APR is not zero!

<img width="405" alt="image" src="https://user-images.githubusercontent.com/5684607/168459851-a87330dd-67f0-4e94-b363-dd8757ee1d35.png">

[2022-05-15 07:45] alireza-sharifpour commented on #482
@MoeNick @mosaeedi
I checked the design and I have a question:
In new design we deleted the learn more button, where in the card should be linked to the about project?

[2022-05-15 10:49] mohammadranjbarz commented on #667
@MoeNick  We did a hotfix, now all donations have valueUsd, so this issue is no longer exist ( but if we want to not happen again, we should implement the price microservice)

[2022-05-15 10:51] MoeNick commented on #482
Whole card should be clickable to project's details.

[2022-05-16 06:47] MohammadPCh commented on #557
@MoeNick Jan, No, I didn't. I say it's possible, but we should consider changing the route. do we need a similar modal?

[2022-05-16 08:44] alireza-sharifpour commented on #482
I Have another question:
What will happen to Trace and Giving Block icons?
Should they remain in their previous place?
@MoeNick @mosaeedi

[2022-05-16 08:49] MoeNick commented on #482
We have to remove Trace.
But for Givingblock and other third-parties imported projects, we have to have their logo badge.

[2022-05-16 09:47] aminlatifi commented on #664
@mateodaza Can you look at PAR? I imagine maybe the APR is correct and only CULT to ETH price in test (kovan) network is more than equivalent price on mainnet. So APR value is correct since the CULT value is considered higher. But it needs to be verified.

[2022-05-16 09:57] aminlatifi opened #699 "Setup New Network Topology on Cloud"
@motoraif and I have discussed how we can improve our service orchestrations and expose our APIs to the outside.
To do that we have defined these steps
1. Creating API Gateway, including WAF and Load balancer
2. Setting up Kubernetes to orchestrate our services

[2022-05-16 09:59] aminlatifi opened #700 "Setting up WAF and ALB on Azure"

[2022-05-16 10:28] alireza-sharifpour commented on #482
Thank you @MoeNick  for the answer.
Where should we put the imported project logo? should it remain in the previous place or we should add it next to GIVBACK ELIGIBLE in the new design?

[2022-05-16 10:34] MoeNick commented on #482
The same place we had it before. Its not like the badges of givBack

[2022-05-16 10:38] aminlatifi opened #701 "Use new Authentication Service"

[2022-05-16 10:38] aminlatifi commented on #701
https://github.com/Giveth/impact-graph/issues/514

[2022-05-16 12:20] MoeNick opened #703 "Multi recipient addresses for different networks"

[2022-05-16 12:30] mohammadranjbarz opened #704 "Setting up new project( microservice)"

[2022-05-16 12:33] mohammadranjbarz opened #705 "Implement create notifications internal api in notificationCenter project"

[2022-05-16 12:33] mohammadranjbarz opened #706 "Implement external API for get list of notifications for a user ( with pagination)"

[2022-05-16 12:34] mohammadranjbarz opened #707 "Implement webservice for notifications as read"

[2022-05-16 12:34] mohammadranjbarz opened #708 "Integrate notification center with authentication microservice"

[2022-05-16 12:36] mohammadranjbarz opened #709 "Integrate impact-graph with notification center ( Maybe move segment calls to notification center)"

[2022-05-16 12:52] mohammadranjbarz opened #710 "Add table and endpoint for GET/PUT notification setting for users"

[2022-05-16 13:03] MoeNick commented on #538
@mohammadranjbarz I think it's time to revise it. let's send the email after they got verified.

[2022-05-16 13:06] MohammadPCh opened #716 "Migrate to Redux"
As our application grows, we feel the need for a state manager. After researching various state managers, we came to the conclusion that we should use Redux. So I created this epic to continuously move application contexts to Redux.

[2022-05-16 13:07] MohammadPCh opened #727 "Move subgraph context to redux"

[2022-05-16 13:08] MohammadPCh opened #722 "Move User context to Redux"

[2022-05-16 13:08] MohammadPCh opened #721 "Move TokenDistroHelper context to Redux"

[2022-05-16 13:08] MohammadPCh opened #720 "Move Price context to Redux"

[2022-05-16 13:09] mohammadranjbarz commented on #538
Yeah we did that in this PR
https://github.com/Giveth/impact-graph/pull/507#issuecomment-1122213062

[2022-05-16 13:09] MohammadPCh opened #719 "Move General Context to Redux"

[2022-05-16 13:10] MohammadPCh opened #718 "Move NFT context to Redux"

[2022-05-16 13:11] MohammadPCh opened #717 "Move Modal Context to Redux"

[2022-05-16 13:14] mohammadranjbarz opened #711 "Design database table for project verification schema"

[2022-05-16 13:14] mohammadranjbarz opened #712 "Implement endpoint for creating project verification"

[2022-05-16 13:15] mohammadranjbarz opened #713 "Implement endpoint for editting project verification"

[2022-05-16 13:15] mohammadranjbarz opened #714 "Implement verify business in admin panel"

[2022-05-16 13:16] MohammadPCh opened #723 "Remove Apollo from our application"
We use Apollo client only to communicate to the Graphql server and we don't use any feature of it. so I think It's better to remove it from our app and use fetch (The browser's built-in API) to communicate with the server.

[2022-05-16 13:17] mohammadranjbarz commented on #712
* We should clone project verificatoin data into project ( for instance website, email, ..)
* Maybe send email to project owner when got verified
* Send email to project owner when got rejected

[2022-05-16 13:19] mohammadranjbarz opened #715 "Move recipient address of projects to purple address table ( write migration needed for existing projects)"

[2022-05-16 13:20] mateodaza commented on #572
nope, this went over my head 😅

I'll get back to this

[2022-05-16 13:31] MohammadPCh opened #724 "Fix Harvest modal first view"
when we open the Harvest modal, until it collects data and calculates them it shows something like this:
![unknown.png](https://images.zenhubusercontent.com/602bc460a2838adc28f21cdc/98ec923d-527a-4b3f-aa52-eafafe83e543)
We should show loading there.

[2022-05-16 13:33] mohammadranjbarz opened #725 "Change updateProject mutation for this purpose"

[2022-05-16 13:33] mohammadranjbarz opened #726 "Change create project mutation"

[2022-05-16 13:38] MoeNick commented on #106
@mosaeedi @Tosinolawale we are jumping into this soon, is the draft design already finalized?

[2022-05-16 13:43] MoeNick commented on #482
with thanks to @Tosinolawale
Here you are the updated design @alireza-sharifpour
https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=2059%3A59953
the design of third party projects are included

[2022-05-16 14:04] MoeNick opened #728 "Translate web3 errors to more user friendly messages."
Doc:
https://eips.ethereum.org/EIPS/eip-1193#events

https://eips.ethereum.org/EIPS/eip-1474#error-codes

[2022-05-16 14:14] MohammadPCh opened #729 "Fix Sentry Releases"
We need to investigate on sentry release and make sure that we only have release for production on the main branch in the Vercel and nowhere else.
Also, I think we don't need the sentry in staging.

[2022-05-16 14:18] MoeNick commented on #496
@Cotabe just for you information for APIGIV docs

[2022-05-16 14:26] ahmadabugosh commented on #555
@MoeNick yes I looked at the documentation, tested it out, asked a few dev friends that work with facebook, and no one has an answer. 😕

 Unfortunately, I think it's just something their API doesn't allow. so I recommend keeping the share status blank when they share on Facebook since even encoding emojis don't work with sharer

[2022-05-16 14:30] MoeNick opened #730 "Include donation status for My donations in 3 views"
Now we have 3 statuses for donations:
- Pending - waiting for minting and verification from the network.
- Failed -net work says it has been failed and verification is not started
- Verified - successes from web3 and verified again with a network (may last 1 min at least)

We need these designs

- [x] New View with a status column for My donation | My Account

- [x] For the donation table in the s

[2022-05-16 14:40] Cotabe commented on #576
@Tosinolawale great!

Just let me know when you have any updates :)

[2022-05-16 14:55] Tosinolawale opened #731 "Unsaved Changes Error Modal"
Redesign an error modal to inform user they might lose data when leaving a page without saving ongoing work.

[2022-05-16 14:58] Tosinolawale opened #732 "Unsaved Changes Error Modal"
Redesign an error modal to inform user they might lose data when leaving a page without saving ongoing work.

[2022-05-16 14:59] #732 closed

[2022-05-16 15:02] Tosinolawale commented on #731
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=3515%3A96879

Here @MoeNick

[2022-05-16 15:41] laurenluz commented on #664
Also "Add GIV to metamask" should be "Add CULT to metamask" @mateodaza

Working on getting new description copy form Kris.

[2022-05-16 15:42] laurenluz commented on #664
Also agree with @Cotabe pon #4!

@mateodaza

[2022-05-16 17:06] divine-comedian commented on #540
I think this has been up and running without issue on production, moving to DONE!

[2022-05-16 17:09] divine-comedian commented on #614
testing on `giveth.io`
brave browser

when I first arrive on the givfarm page the button is left unchecked, hiding inactive pools (univ3)

clicking the circular check box it displays the deactivated givfarm

![image](https://user-images.githubusercontent.com/67759413/168646498-2b4dd529-1550-4327-bdfa-ffc3109059a1.png)

this looks to be DONE!

[2022-05-16 17:09] divine-comedian commented on #630
how can this issue be tested?

[2022-05-16 17:11] divine-comedian commented on #553
changes look good!

![image](https://user-images.githubusercontent.com/67759413/168646982-f4bbf55c-1451-41f4-9160-9d1af9d736c4.png)

moving to done!

[2022-05-16 17:12] divine-comedian commented on #693
how can this issue be tested?

[2022-05-16 17:14] divine-comedian commented on #689
testing on `giveth.io`

I am on the homepage and I can see the content from our blog successfully
![image](https://user-images.githubusercontent.com/67759413/168647225-04784e9e-66b1-48da-90af-d6c192605e45.png)

this seems to be working well, moving to DONE!

[2022-05-16 17:41] divine-comedian commented on #655
testing on `staging.givethi.io`

making a test donation I put the gas limit low to intetionally make the tx fail.

I receive this message:
![image](https://user-images.githubusercontent.com/67759413/168651298-830087df-f4ae-4f86-ba4b-228205c20b88.png)

I don't see the link for me to see the tx of my failed transaction but I can find it through metamask:
https://blockscout.com/xdai/mainnet/tx/0xdcb1

[2022-05-16 17:49] WhyldWanderer commented on #492
Wow!! Im very excited for this...
What an upgrade!

I have left lots of comments in the figma that take into consideration nikolas comments as well as the connect wg's comments.

Let me know if you have any questions..
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=7489%3A189503

[2022-05-16 18:14] divine-comedian commented on #667
moving to DONE

[2022-05-16 19:26] RamRamez commented on #693
When you donate and tx is NOT mined yet, your donation status (in My account or in donation tab in project view) should be `pending`. If tx is mined and the app window in browser in still open, the App will show you the tx success view then notify the backend about tx status update, then tx status in donation tables should be `verified`. If you close the window before tx being mined, App can not n

[2022-05-16 19:35] RamRamez commented on #655
@divine-comedian
You should see the tx hash link. I set a low gas fee then cancelled the tx and it was ok for me.
![image](https://user-images.githubusercontent.com/73441857/168668576-21db3535-9b0d-48dc-a7bf-1bccfd92d53d.png)

[2022-05-16 21:44] divine-comedian commented on #693
testing on `staging.giveth.io`

I was able to make a few donations using low gas fees and could confirm that while the tx was still being mined on  the my donation screen it would show as `pending` - once the transaction was mined it would change to `verified`

I could also confirm that while the tx was still pending no call was made to segment. when the tx was confirmed then the call was sent to

[2022-05-16 21:45] divine-comedian commented on #655
I set a very low gas limit so the tx would run out of gas before completing the tx

[2022-05-16 22:55] mateodaza commented on #664
Understood!

[2022-05-17 04:55] mohammadranjbarz commented on #630
@RamRamez  Did we merge the frontend PR for donation flow?
It can not be tested alone, you should donate on the frontend and see if donations has been created successfully, you got email as donor, as project owner, ...

[2022-05-17 05:37] RamRamez commented on #693
I can change it in front-end but I think it's not the best choice.
@MoeNick @mohammadranjbarz what do you think?

[2022-05-17 05:40] mohammadranjbarz commented on #693
1. So if it didn't change and still is **pending** it's a bug, please put your donation info or your txHash here to investigate more about that
2. Seems fine I can change it to `confirmed` ,  @MoeNick Is it ok?

[2022-05-17 05:41] mohammadranjbarz commented on #711
The schema design based on https://docs.google.com/presentation/d/1P_vUtporlEqtu_hY5aIVrySskdM-__rSfGObUwIlhJI/edit#slide=id.g125fd5dd422_0_108

### Basic fields
* projectId
* userId ( project owner's id) (required)
* status ( verified | rejected | draft and default is **draft** ) (required)
* createdAt (required, auto generated)
* updatedAt  (required, auto generated)

### Personal info
It can us

[2022-05-17 05:45] RamRamez commented on #630
Yeah, this issue is same as #693 and @divine-comedian did some testing

[2022-05-17 06:04] RamRamez commented on #655
Still not successful in failing a tx
![image](https://user-images.githubusercontent.com/73441857/168740128-311ca577-5b6d-4dc1-92df-859078ce0640.png)

[2022-05-17 08:03] aminlatifi commented on #711
Thanks @mohammadranjbarz, it's great. Just a few things:
- The Primary Address is defined in the project entity and we don't need it here
- I suppose `SocialProfiles` entity is the same OAuth connections. It should have a `Access Token` probably which implies is verified or not. Also, I think fields of `projectVerificationId` or `ProjectId` are not needed there, having a relation table would be en

[2022-05-17 08:16] mohammadranjbarz commented on #711
1. @aminlatifi  @MoeNick  So we assume `primaryAddress` is a relatedAddress that have a `isPrimary:true` ?
2. We don't need to have accessToken because we don't want to call social networks ,  we need something in verify with OAUTH2 but at the end knowing that is verified is enough
3. Do you mean when a user verified a social profile he/she can use it for other project verification requests withou

[2022-05-17 08:29] aminlatifi commented on #711
1. Yeah, but we don't need it in `ProjectVerification` entity. The relation should be saved in `Project` entity and be filled in `Create Project` scenario, not verify.
2. You are right, we need it once. Just a point, backend should verify the access token itself and not just rely on value obtained by api
3. It's a misunderstanding. I don't mean to reuse them. But you are right, you don't need to c

[2022-05-17 09:53] mohammadranjbarz commented on #711
Nice, I changed the diagrams and edited my comment https://github.com/Giveth/giveth-dapps-v2/issues/711#issuecomment-1128435255

[2022-05-17 12:02] mohammadranjbarz commented on #713
@MoeNick  @aminlatifi  @CarlosQ96
Please say your opinions on choosing how should we implement

[2022-05-17 12:39] divine-comedian commented on #630
@RamRamez can we close this issue if it is a duplicate?

[2022-05-17 12:44] divine-comedian commented on #655
@RamRamez yours looks a bit different than mine, I think you have to turn on a setting in MM to get some extra tx options

![image](https://user-images.githubusercontent.com/67759413/168813024-be32c73e-cf2e-41d3-af33-116fb0a27188.png)
and make sure this is off:
![image](https://user-images.githubusercontent.com/67759413/168813657-127418f6-9269-407e-85d5-f9cb25d2c6cb.png)

then the tx pop up you sh

[2022-05-17 12:53] MohammadPCh opened #733 "Cannot find module './***.png'"
Sentry Link:
https://sentry.io/organizations/giveth-ds/issues/3261985762/?project=6292414
![Screenshot from 2022-05-17 17-22-33](https://user-images.githubusercontent.com/17097576/168815254-a7786e50-0a7d-4f4a-98c3-e9ac3c3bac76.png)

[2022-05-17 12:57] MoeNick commented on #630
It was for the backed side, we can relate, and move them together if the QA approves it.

[2022-05-17 14:18] ahmadabugosh opened #735 "SEO changes to Main Page Titles & Meta Descriptions"
Hi @MoeNick can you help me direct this request. We want to change the page titles and meta descriptions on some of our top pages (for SEO).

See the document here: [https://docs.google.com/spreadsheets/d/1181x53ughd8xaUa5EI4okgLNdpzmaKllMh9JuqcyeLc/edit#gid=0](https://docs.google.com/spreadsheets/d/1181x53ughd8xaUa5EI4okgLNdpzmaKllMh9JuqcyeLc/edit#gid=0)

[2022-05-17 15:09] divine-comedian commented on #538
tested this in issue #693

can confirm while tx is still pending no email is sent, once it is verified the email is sent

moving to DONE

[2022-05-17 15:30] divine-comedian commented on #668
testing on `staging.giveth.io`

I made an anonymous donation on ropsten and the transaction on the project page no longer has a link to the tx hash

![image](https://user-images.githubusercontent.com/67759413/168849654-674ebbec-dfe4-44e1-9d78-a0c10997f62f.png)

however on the `my donations` page I can still find my donation, made anonymously and the link to the tx hash is available from there.

is

[2022-05-17 15:50] divine-comedian commented on #638
I was able to make a few anonymous donations to a project, once on ropsten and another on gnosis chain, both appeared on the project page and again in my donations

![image](https://user-images.githubusercontent.com/67759413/168854182-b20fff8e-7100-44cc-9706-962525b2439f.png)

![image](https://user-images.githubusercontent.com/67759413/168854361-cc1f45af-2e32-4960-b7e5-52b0bc5ee7a6.png)

is there

[2022-05-17 15:52] CarlosQ96 commented on #638
I think not, we fixed the ids in the donations so they should all be good now, both old and on creation.
We can move to done. The tests you did is all.

[2022-05-17 16:12] divine-comedian opened #737 "newly whitelisted token not showing when donated"
I listed the DRGIV3 token in staging as an eligible token to be donated. address is `0x83a8eea6427985c523a0c4d9d3e62c051b6580d3` on gnosis chain

it shows up in the token list, I can donate it to a project, however the donation does not show up in my donations or the project page.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/e2ef28e7-123e-47e6-8972-ec4c0405ef4e)

![i

[2022-05-17 16:15] divine-comedian commented on #670
how can this issue be tested?

[2022-05-17 16:40] divine-comedian commented on #598
testing on `staging.giveth.io`

after successfully creating a project I'm clicking on the social links to share them across my networks.

the twitter posts seems to format fine but we should consider that on facebook and linkedin the same format doesn't work well.

facebook, looks like it doesn't update the actual status text but embeds something in it below, meaning the project creator can't chan

[2022-05-17 16:48] divine-comedian commented on #648
related to #638 and was resolved, moving to DONE

[2022-05-17 16:56] divine-comedian commented on #597
testing on `staging.giveth.io`

I click the tweet this link on the homepage and it correctly shows the updated text

![image](https://user-images.githubusercontent.com/67759413/168868850-9903e2f8-bc6f-449a-b5f9-fe7a469dfd70.png)

looks to be resolved! moving to done

[2022-05-17 20:49] laurenluz opened #738 "GIVpower - Explanatory Page"
This page is ready to be built! It's just an explainer page.

We still don't have all the links set up, or the rewards for the harvest section, but perhaps we can start implementing the design?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/2e414a31-d9a0-44a8-ab68-df38455441f3)

[Link to figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?

[2022-05-17 21:48] mateodaza commented on #664
Can you guide me where did you see this?  Because I'm getting this when harvesting
<img width="749" alt="image" src="https://user-images.githubusercontent.com/18689480/168915708-f1f66da7-d1d3-4498-90de-a07f8e7151ea.png">

[2022-05-17 22:35] mateodaza commented on #572
@MoeNick @missgene This is an UX issue. The projects are being ordered chronologically in the right way. But some "old" projects have recent updates. They are two different things

[2022-05-17 22:35] #572 closed

[2022-05-18 02:05] Cotabe commented on #664
@mateodaza

That message appears when you successfully stake the LP tokens

[2022-05-18 02:15] CarlosQ96 commented on #713
I have done before project "registration" forms with tons of info like company info, owner contact, payment method, etc.
And the approach I took usually is ONE ENDPOINT but it receives the STEP, with a custom validator we validate the fields of that step and insert into the right model in the db.

I am more attracted to option one.
So we have a general updateProjectVerificationRequest, that receiv

[2022-05-18 02:23] CarlosQ96 commented on #711
I was thinking we to handle project verification rejections and the current step queries.
We could have a projectVerificationForm Entity like I mentioned in issue: https://github.com/Giveth/giveth-dapps-v2/issues/713

Basically relate it all the info the form needs
### ProjectVerificationForm
- Id
- state or currentStep (step1,step2,step3, completed, rejected)
- rejectedReasons (JSONB with schema,

[2022-05-18 02:25] CarlosQ96 commented on #711
When the project verification form is completed, the jsonb column data is deleted or maybe moved to a historic. What do you think @mohammadranjbarz @aminlatifi?

[2022-05-18 02:29] CarlosQ96 commented on #711
Aside from that I think it's good! Great Job Mohammad, if we go with the projectVerificationForm entity we could put the Term & Conditions field **isTermAndConditionAccepted** field there.

[2022-05-18 02:30] Cotabe commented on #496
Thanks!!! amazing work guys!!!

[2022-05-18 02:35] CarlosQ96 commented on #711
Wait maybe I was confused (text vs diagram), the entities will be separated? or we have them all in 1 entity called projectVerification?? (with validators handle all).

Either approach works for me I think. I have done all in one entity with validators or separate it into models.
I think it's easier to implement in one entity.

So I would add in that case:
To the ProjectVerification entity the cur

[2022-05-18 07:09] alireza-sharifpour commented on #598
Thanks @divine-comedian for testing.
It seems like Linkedin only supports Links now (with no description).
And it exactly looks like the image you sent.
So I'll change the Facebook text as you said and I'll send a PR.

[2022-05-18 07:18] mohammadranjbarz commented on #670
@divine-comedian
It's for apigive admin panel,
you can test it here
https://github.com/Giveth/apiGive#staging_guide

but first please send me an email and a password to create and admin user for you ( because the admin panel of apigive is a new one so you can't use your impact-graph admin user there)

[2022-05-18 08:01] mohammadranjbarz commented on #713
Thanks for your suggestion, it was great, I'm ok all of you said except one thing, I think it's better to no use `step1` ,`step2` ,.. as status, I think the status  for all of these steps should be `draft` and we should have another field like `step` that value of that field can be `ProjectRegistry` , `Milestones` ,...

[2022-05-18 08:04] mohammadranjbarz commented on #711
@CarlosQ96  Thank you , I had not worked with JSONB so I it didn't come to my mind, your suggestion was great, using JSONB instead of using flat fields is more readable ( I feel like it's Mongo DB haahaa)
and the entities, diagram is what I meant, 3 tables for this purpose

[2022-05-18 08:41] MohammadPCh commented on #723
@mateodaza @RamRamez @alireza-sharifpour
Dear Friends,
I am eager to know your comments.

[2022-05-18 12:01] RamRamez commented on #723
Yeah, we are not using its features. I checked all our graphQL end-points and I think we can't use Apollo cache feature in most of them because we need to update like count on user reaction. In some cases we need to send token authorization in header and cache is not useful either.
And lots of end-points are mutations that can be handled easily.

[2022-05-18 12:39] MohammadPCh commented on #723
Today we had a meeting with @alireza-sharifpour and have an agreement about the structure of our replacement. @alireza-sharifpour could you please add snippet code here?

[2022-05-18 13:13] mohammadranjbarz commented on #711
@CarlosQ96
I changed the diagrams and reflect your suggestions there, thank you

The schema design based on https://docs.google.com/presentation/d/1P_vUtporlEqtu_hY5aIVrySskdM-__rSfGObUwIlhJI/edit#slide=id.g125fd5dd422_0_108
## Entity Schemas
### Basic fields
* projectId
* userId ( project owner's id) (required)
* status ( verified | rejected | submitted | draft and default is **draft** ) (require

[2022-05-18 17:47] laurenluz opened #743 "Remove Welcome Modal for GIVeconomy and editing the copy."
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/e44f4f82-3c45-417c-bf8d-6861bd27421c)

@danelsuga to fix the typos here.

Also I think it's strange that this popuped up on the GIVfarm page and then sent me to the project page... strange UX

[2022-05-18 19:44] GriffGreen opened #744 "Get Giveth's farm listed on defi llama"
https://docs.llama.fi/list-your-project/submit-a-project

Defi llama has become one of the best places to find yields... we should get Giveth on there to drive adoption...

Our pools would actually do well on here, we have amazing APRs relative to other projects.

<img width="1239" alt="Screen Shot 2022-05-18 at 1 42 30 PM" src="https://user-images.githubusercontent.com/14945613/169142880-383afc22

[2022-05-18 19:46] GriffGreen commented on #744
another link: https://github.com/DefiLlama/yield-server#readme

[2022-05-18 20:58] laurenluz commented on #743
@MoeNick @mateodaza can you guys have a look at this user flow too...? why are we pushing people off of their current Giveth page and onto the projects page?

We shouldn't be sending people away from the GIVfarm.

[2022-05-19 06:16] alireza-sharifpour commented on #723
Yes, I agree. I think we can go with the browser’s native fetch and write a function or middleware for doing the repetitive stuff.
I will work on the function and send you the code to hear your opinions.

[2022-05-19 06:59] alireza-sharifpour commented on #723
Ok, Here is our helper function:
[code]
What is your opinions?
@MohammadPCh @RamRamez @mateodaza @aminlatifi

[2022-05-19 07:02] alireza-sharifpour commented on #723
Also a simple asyncThunk with and without the function:

Without:
[code]

With:

[code]

[2022-05-19 07:18] MohammadPCh commented on #723
@alireza-sharifpour
Great Job.
I think we can change the function name because It's not just used for fetching it can use for the mutation.
my suggestion is gqlRequest.

[2022-05-19 08:55] alireza-sharifpour commented on #723
Thanks @MohammadPCh for the feedback.
Yes, totally agree.
I Also changed the function a little bit for handle backend fetch errors so here is the updated version:
[code]

So I think the only change we need in our current queries is to remove gql from apollo in our queries and use this function.

[2022-05-19 09:01] MoeNick commented on #743
It's a general UX flow suggested by the Design team, it appears after the user sign-in for the first time, on all pages of the DApp. We can exclude GIVeconomy part but I think we can have @markoprljic 's confirmation before.

[2022-05-19 09:04] markoprljic commented on #743
Also, the links on this popup are not readable. Should change color @mosaeedi

[2022-05-19 09:38] RamRamez opened #745 "Verification/Front-end: Main framework"
The general framework includes background, menus and main window

[2022-05-19 10:11] MoeNick commented on #492
@mosaeedi I'm waiting for you to apply required changes to Figma. It's simple and don;t take too much time.
Ramin already started implementing. Thanks

[2022-05-19 11:15] MoeNick commented on #557
@MohammadPCh can I move it to UAT?

[2022-05-19 11:18] MoeNick commented on #711
@WhyldWanderer jfyi.

[2022-05-19 11:21] MoeNick opened #746 "Design email template for Verify your email."
### Design resource

1. **Email template**

- Email template
[Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=8873%3A175725)
--
-  Assets
[Download here](https://app.zenhub.com/files/448919340/2c653bed-2604-4527-967f-053e2eedfe9a/download)
---
2. **Successful email verification**

- by clicking on **Verify your email address** on the email we will ope

[2022-05-19 11:24] MoeNick commented on #491
@mohammadranjbarz I think we should add endpoints for varying the emails provided by users, one motuation that the email verification request is received and email is sent, with a validation time, the users should send the key in their email address to another endpoint so we can make their email as verified. what do you thnk?

[2022-05-19 11:26] MoeNick opened #748 "Implement before you start page"

[2022-05-19 11:27] MoeNick opened #749 "Implement information modal"

[2022-05-19 11:28] MoeNick opened #750 "Implement Personal Info page"

[2022-05-19 11:28] ahmadabugosh commented on #735
Hey @mateodaza, is this something you can help out with?

[2022-05-19 11:28] MoeNick opened #751 "Implement UI personal social profiles"

[2022-05-19 11:29] MoeNick opened #752 "Implement project registry (for Yes/No use cases)"

[2022-05-19 11:30] MoeNick opened #753 "Implement project contacts page"

[2022-05-19 11:30] MoeNick opened #754 "Implement milestones page"

[2022-05-19 11:30] MoeNick opened #755 "Implement managing funds page with new address modal"

[2022-05-19 11:31] MoeNick opened #756 "Implement Terms and conditions page."

[2022-05-19 11:31] MoeNick opened #757 "Implement Done Page."

[2022-05-19 11:33] Tosinolawale commented on #684
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=8154%3A171412

GIVback design for Single Project Page. @MoeNick

[2022-05-19 11:34] Tosinolawale commented on #415
GIVBacks Overview

https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=7446%3A192290

@MoeNick  @mosaeedi

[2022-05-19 11:35] Tosinolawale commented on #481
GIVbacks in Donation Page

https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=8401%3A165834

@MoeNick

[2022-05-19 11:36] MoeNick commented on #735
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-dapps-v2/735?planning-poker) with ZenHub @mateodaza @MohammadPCh @RamRamez @alireza-sharifpour

[2022-05-19 11:42] MoeNick commented on #738
Is it final Lauren, I can see it with Review tab in Figma

[2022-05-19 11:42] Tosinolawale commented on #481
This Design includes the solution for three different scenarios ;
1. If a Project is eligible for GIVbacks and the user uses a non eligible token
2. If a Project is eligibile for GIVbacks but the user selects a non eligible token and
3. if a project is not eligible for GIVbacks at all.

[2022-05-19 11:49] MoeNick opened #766 "GIVpower - Implement GIVpower staking Card"

[2022-05-19 11:49] MoeNick opened #765 "GIVpower - Implement GIVpower Boost Modal"
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/46318060-1850-4859-9c20-aa95dd27cdb2)

https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=8408%3A168171

[2022-05-19 11:52] MoeNick opened #764 "GIVpower - Implement Manage your GIVTokens Modal"
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=8154%3A170197

[2022-05-19 11:55] MoeNick opened #763 "GIVpower - Implement Stake for GIVpower Modal"
This User Story includes the following use-cases:

- [x] Approve
- [x] Stake and lock
- [x] Unstake
- [ ] Claim rewards

### Design resource

**Overview**
[Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=7788%3A167012)

1. Givpower farming card
[Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=8026%3A17591

[2022-05-19 12:00] MoeNick opened #762 "GIVpower - Adding Boost to Single Project View (Public and PM view)"
**[Public view]**
- Project don't have any boost yet -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12931%3A251020)

- Project has boost -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12568%3A234000)

**[Private view]**

- No boost view -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN

[2022-05-19 12:02] MoeNick opened #761 "GIVpower - Single Project View - Boosting Modal"
- No GIVpower modal -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12568%3A236170)

- Boosting modal -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12568%3A232403)

- Confirmation modal -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12568%3A236

[2022-05-19 12:11] MoeNick opened #760 "GIVpower | My Account - Adding GIVpower Overview"

[2022-05-19 12:12] MoeNick opened #759 "GIVpower | My Account - Boosted Projects Tab"
- User didn't boost anything yet -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12771%3A233675)

- Has boosted -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12568%3A236207)

[2022-05-19 12:13] MoeNick opened #758 "GIVpower | My Account - Boosted Projects- Manage GivPower"
- Edit boosting -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12568%3A236357)

- Edit boosting (amounts changed) -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12568%3A238961)

- update boosting confirmation modal -> [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-G

[2022-05-19 12:46] RamRamez commented on #735
I've implemented the component for adding Meta to all pages. It's related to issue #305. That time I asked communication team for SEO content but no response so I set some content myself.

@MohammadPCh Please check PR #315

[2022-05-19 12:54] MohammadPCh commented on #735
Thank you @RamRamez for your explanation.
I saw the code, It's just changing the content.
Do you like to take it?

[2022-05-19 13:03] MohammadPCh commented on #557
@MoeNick No, I'm busy with other issues. Let me tell you when it is finished.

[2022-05-19 13:18] RamRamez commented on #735
@MohammadPCh I'm busy with issue #745. Do you have free time to take it?

[2022-05-19 17:35] laurenluz commented on #743
Why don't we just get rid of the link to the projects page and make it an "Ok" that just closes the modal?
It's a bit weird to send the donor all over in that modal & also then send them to the projects page on the biggest button. In this case we could also keep in on the GIVeconomy side.

Also, I think we should remove "Let's Donate" at the top... maybe just start with "Welcome to the Future of G

[2022-05-19 17:36] danelsuga commented on #743
Hi friends.

May I just leave the edits here for the pop-up above?
[Changes in boldface.]

Welcome to the **Future** of **Giving** [Note caps for our slogan.]

Here **are some** things that you can do **right** now!
[I'm not sure this is the sentence we want? But I'm leaving it, with corrections. @laurenluz ?]

- Take a look at **the** awesome projects on Giveth.
- **Create** a new project and rec

[2022-05-19 17:38] danelsuga commented on #743
Simultaneous posting! Oops. Disregard mine, folks!

@laurenluz there is a typo in your corrections:
Donate **to** awesome for-good projects.

[2022-05-19 18:38] laurenluz commented on #743
Oops, sorry Suga - thank you!

[2022-05-20 07:58] csggene3 opened #769 "GIVbacks UI bug"
Just harvested my GIVstream like usual, but there was seemingly a GIVeconomy user interface error showing double of what was intended to be given as GIVbacks, though even the quantity given back seems way too high. I'd like to GIVback this GIVback =D Including screenshots
![Screenshot (193)](https://user-images.githubusercontent.com/10295641/169481369-f5ae78b3-f668-4ad0-9fa5-f931ca31ef5a.png)
![Sc

[2022-05-20 11:53] Tosinolawale commented on #576
@Cotabe @MoeNick  what are the Implications of not donating with a complete profile? And what are the incentives?
Some users deliberately donate without a complete profile and like you said, it is good to notify all users who are donating without a complete profile, either intentionally or not.
So, what are the implications and benefits of donating with a complete profile? This will inform my desi

[2022-05-20 13:11] danelsuga opened #770 "Issues with newsletter “subscribe” landing page location and copy"
Hi friends!

I was on https://docs.giveth.io/newsletter/

I clicked on “To subscribe to our monthly emails, follow this link.”

It took me to the giveth.io home page. Address is https://giveth.io/#subscribe but it was just the top of the regular page. I had to scroll way down to search, discover, find, if there would be a place to subscribe. Indeed, there is! But why so far away?

Also, text might

[2022-05-20 15:47] mohammadranjbarz opened #771 "Implement get current project verification form web service"

[2022-05-20 15:53] GriffGreen opened #772 "Did this donation show up?"
Here’s the link the user dm'd me:

https://blockscout.com/xdai/mainnet/tx/0x02bee74fa8c893f10ed6bc00d27f4d21b1e8cfe6c9d3698d9a550c88ce3996f3

update: https://forum.giveth.io/t/i-dont-see-my-last-donation-on-my-giveth-io-account/564

[2022-05-22 13:46] RamRamez opened #774 "set a valid amount error in donation page"
It says "set a valid amount" but still I can donate

<img width="344" alt="image" src="https://user-images.githubusercontent.com/73441857/169698216-1ff53c73-f9e1-47fc-90e4-9dd3869e4976.png">

[2022-05-22 15:40] aminlatifi opened #776 "GIV/xDAI farm on honeyswap-xdai ( gnosis chain)"

[2022-05-22 15:41] aminlatifi commented on #776
- [ ] Deploy new unipool
- [ ] prepare the backend
- [ ] prepare the frontend

[2022-05-23 08:55] MohammadPCh commented on #735
@ahmadabugosh @MoeNick
I updated the content and structure.
From now on you can change any of these contents in this file. (src/content/metatags.ts)
I would also like to inform you that the title and meta description of these URLs also need to be reviewed and rewritten:
1. /support
2. /partnership
3. /onboard
4. /join
5. /faq
6. /create
7. /claim
8. /account (I think we should de-index this)
9. /u

[2022-05-23 14:01] aminlatifi commented on #417
If the grpc node url is the issue, we can use a public one like this
https://rpc.ankr.com/eth

[2022-05-23 14:28] divine-comedian commented on #774
testing on `staging.giveth.io`

now on the donate page when I have an invalid amount, as in too many decimal places the donate button is no longer clickable and I cannot donate.

![image](https://user-images.githubusercontent.com/67759413/169842103-4b49d7d3-c214-4b4a-889b-d385cd76239e.png)

seems to be resolved! moving to DONE

[2022-05-23 14:29] divine-comedian commented on #693
@MoeNick need confirmation to finalize this issue

[2022-05-23 14:34] divine-comedian commented on #655
@RamRamez can you confirm if we should be seeing a tx hash on the modal for this case? i.e tx runs out of gas

[2022-05-23 14:45] divine-comedian commented on #574
Trying to test this issue on `staging.giveth.io`
clean cache and cookies
brave browser

I cannot seem to view user profiles while not logged in

![image](https://user-images.githubusercontent.com/67759413/169844945-70eeef38-9e20-4841-bb65-0cff6992be4a.png)

while logged in I try to view another user's profile and it only shows me my profile:

![image](https://user-images.githubusercontent.com/6775

[2022-05-23 14:57] MoeNick commented on #639
@RamRamez

[2022-05-23 14:57] MoeNick commented on #639
@RamRamez

[2022-05-23 14:57] MoeNick commented on #639
@RamRamez

[2022-05-23 14:57] MoeNick commented on #639
@RamRamez

[2022-05-23 14:57] MoeNick commented on #639
@RamRamez

[2022-05-23 14:57] MoeNick commented on #639
@RamRamez

[2022-05-23 15:22] alireza-sharifpour commented on #574
I fixed the issue that @divine-comedian is experiencing related to User public profile view on staging
https://github.com/Giveth/giveth-dapps-v2/pull/781

[2022-05-23 16:21] RamRamez commented on #639
@vporton I need more clue to debug. Can you take a screen shot from your console log?

[2022-05-23 16:36] vporton commented on #639
It works now, the bug disappeared.

[2022-05-23 16:36] #639 closed

[2022-05-23 16:37] divine-comedian opened #782 "sign-in to giveth splash page not closing"
testing on `staging.giveth.io`
clean cache and cookies
brave browser

when I do my first sign in on giveth.io with no cookies I see this page.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/4de4dbf0-f21f-40f1-b7c6-c60fd680da6f)

I choose a wallet option, complete the sign-in from the pop-up, however this splash page doesn't not close automatically, clicking the sign-in

[2022-05-23 16:43] divine-comedian commented on #417
testing on `staging.giveth.io`

appears to be having the same issue as before. I can successfully connect my gnosis-safe with walletConnect

we can see on staging it shows my DRGIV3 balance in the top corner, however in the donate modal it is not detecting any of my tokens, making it impossible to donate.

![image](https://user-images.githubusercontent.com/67759413/169868088-6f81c892-430d-4342-a26

[2022-05-23 16:49] divine-comedian commented on #569
testing on `staging.giveth.io`

currently this feature does not appear to be working at all, clicking `view similar projects` on any project, giving block or otherwise will simply lead us back to this URL.

![image](https://user-images.githubusercontent.com/67759413/169869094-dbf6c24a-1600-4238-950e-8ca6f4a13edc.png)

in this scenario maybe we should see other giving block projects?

[2022-05-23 16:52] divine-comedian commented on #643
looks much cleaner!

styling issues seem to be resolved, moving to DONE!
![image](https://user-images.githubusercontent.com/67759413/169869719-8cb5bdd2-c540-4366-a843-22a2f32dd031.png)

[2022-05-23 16:57] divine-comedian commented on #633
is this related to
https://github.com/Giveth/giveth-dapps-v2/issues/693
and
https://github.com/Giveth/giveth-dapps-v2/issues/630
AND

?

[2022-05-23 17:44] laurenluz opened #784 "Update CULT description"
On the back of the card, Kris would like the description to be:

"
The purpose of CULT is to empower those building and contributing to our decentralized future. Our society makes it as difficult as possible to break away from societal, economic and other norms, and CULT serves to fund and support those who are working to take back our future. CULT is a reminder that the power in people is stronge

[2022-05-23 17:44] RamRamez commented on #633
Actually three different tasks that is resolved in one PR

[2022-05-23 17:52] RamRamez commented on #655
@divine-comedian
When setting gas limit very low, there is no tx hash, so App is working correctly.
<img width="689" alt="image" src="https://user-images.githubusercontent.com/73441857/169878477-7a42e7bf-7905-47b5-8619-bfe06ed1dc53.png">

[2022-05-23 18:07] laurenluz opened #785 "CULT Farm: wallet not connected, chains getting confused"
My wallet was not connected to the dApp but I was on Mainnet in metamask.

Coming to RegenFarm page, I saw the CULT/ETH farm blurred with the "switch to gnosis chain" prompt.

This should say "switch to mainnet" if the CULT/ETH farm is blurred OR "switch to gnosis chain if the FOX/HNY farm is blurred.

Here's a pic:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0e0cf4

[2022-05-23 18:13] laurenluz opened #786 "CULT/ETH farm - says "add GIV to metamask", should say CULT"
Upon unstaking, I get:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/aa1717f0-a872-46ae-86b4-09292042612e)

Upon staking, I get:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c2f8a714-486c-4004-a89a-9d97c4992292)

Also, I think the unstaking modal should also say "CULT/ETH" at the top... not "Successful Transaction"... for consistency.

[2022-05-23 18:14] laurenluz commented on #664
Since the frontend is devv'd up already, I moving this to done. We should create separate issues for each of the problems found during testing.

The "add GIV" thing is covered in #786

[2022-05-23 18:15] laurenluz opened #787 "Update CULT token logo icon"
Waiting on Kris to send the new svg file.

[2022-05-23 20:23] GriffGreen opened #788 "GIVbacks harvest modal is giving bad math"
<img width="782" alt="Screen Shot 2022-05-20 at 10 23 21 AM" src="https://user-images.githubusercontent.com/14945613/169571125-6e87840d-3788-45ea-831f-9b76e7c5be26.png">

CS did well... but not that well... It seems like the amount was doubled in this modal.. here is how much they really got:

https://blockscout.com/poa/xdai/tx/0x859a3c1b6d67bc5a7958b05debea495a4314120c958c1522cdc15a709d4de46a

[2022-05-23 22:07] divine-comedian commented on #633
testing on `staging.giveth.io`

I created two donations with low gas on gnosis chain and ropsten

the donation modal remains and the button says `donating` the success page only shows once metamask notifys me the tx is successful.

![image](https://user-images.githubusercontent.com/67759413/169913108-638069ac-2cbe-457a-b59f-da1931ea8564.png)

one question @RamRamez did we remove the modal for pend

[2022-05-23 22:17] divine-comedian commented on #655
@RamRamez

I can set the tx so it runs out of gas

![image](https://user-images.githubusercontent.com/67759413/169913878-534cd2be-7aba-4561-9002-c8e7453c8348.png)

the tx runs out of gas, produces the error modal - I have a tx hash I can look up

![image](https://user-images.githubusercontent.com/67759413/169913927-db60bc42-5108-482d-9896-1b8e672ecbbe.png)

this is the link to the tx hash
https://

[2022-05-24 00:23] WhyldWanderer opened #789 "Donating from a purple list address fails to trigger warning about GIVbacks."
According to https://github.com/Giveth/giveth-next/issues/642, there should be a warning that comes up when someone is donating from a purple list address. This lets the user know that their donation is not eligible for GIVbacks.

However, Griff helped me test this today and it seems that its no longer the case. Actually, it says quite the opposite.

![image](https://user-images.githubusercontent.

[2022-05-24 05:35] markoprljic commented on #684
@Tosinolawale What is the difference here on this page related to GIVbacks? The GIVbacks info on the donation panel?
We should be consistent and use purple color for GIVback information, just like we did on Project cards.

[2022-05-24 05:36] markoprljic commented on #483
@Tosinolawale @mosaeedi Do we have any mockups for this?

[2022-05-24 05:37] markoprljic commented on #482
Reviewed and left comment in Figma and on another issue related to this one. Looks good overall.

[2022-05-24 05:47] markoprljic commented on #415
Looks ok.

[2022-05-24 07:31] RamRamez opened #791 "update donate modal according to figma"
Add loading to donate modal button

https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=2412%3A83312

![image](https://user-images.githubusercontent.com/73441857/177785412-d44effad-d49f-41b5-92cc-74ba8b8aeecc.png)

[2022-05-24 07:33] RamRamez commented on #633
@divine-comedian Yeah you're right, there are some changes on the design and we should update the codes. [Link to issue](https://github.com/Giveth/giveth-dapps-v2/issues/791)

[2022-05-24 10:34] MoeNick commented on #574
Would u pls test it again @divine-comedian ?

[2022-05-24 12:09] MoeNick commented on #743
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-dapps-v2/743?planning-poker) with ZenHub @alireza-sharifpour @mateodaza @MohammadPCh @RamRamez

[2022-05-24 12:12] MoeNick commented on #789
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-dapps-v2/789?planning-poker) with ZenHub @alireza-sharifpour @mateodaza @MohammadPCh @RamRamez

[2022-05-24 12:13] MoeNick commented on #782
Would u pls test it again?

[2022-05-24 12:30] MoeNick commented on #789
@mosaeedi would u pls review this for warning design? do we have to have it on toast msg?

[2022-05-24 12:47] alireza-sharifpour commented on #482
I think the problem related to the position of Last Update is not fixed yet.
The problem is if we push the title down when we add last update the animation would be laggy.
So I used the padding for adding last updated.

![Screen Shot 2022-05-24 at 5 15 31 PM](https://user-images.githubusercontent.com/48887817/170037771-4e4812e4-3069-496a-ac81-6bb3927b19ab.png)

Please take a look and share your op

[2022-05-24 12:55] #377 closed

[2022-05-24 12:55] #245 closed

[2022-05-24 12:55] #230 closed

[2022-05-24 12:55] #261 closed

[2022-05-24 12:56] divine-comedian commented on #633
okay we'll call this issue DONE and follow up in the other issue you created.

[2022-05-24 12:58] MoeNick commented on #789
@CarlosQ96 can we have a service on purple list addresses for front endguys? is it available somewhere?

[2022-05-24 13:06] divine-comedian opened #794 "return user-friendly error when trying to connect web wallet on wrong network"
testing on `staging.giveth.io`
brave browser
clean cache and cookies

I'm on the sign-in splash page and I try to connect with Ethereum, currently connected on BSC and I receive an error code

`Unsupported chain id: 56. Supported chain ids are: 1,3,4,5,42`

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/44b97c27-bac3-4ba9-8fc3-7fb6130a243b)

We should have a more user-f

[2022-05-24 13:06] CarlosQ96 commented on #789
@MoeNick yes we have a purple list addresss query called getPurpleList.
Doesn't require any params, just fetch and it returns an array of addresses.

[2022-05-24 13:06] CarlosQ96 commented on #789
[code]

[2022-05-24 13:57] divine-comedian opened #795 "failed transaction still showing as pending"
testing on `staging.giveth.io`
clean cache and cookies
brave browser

I created a donation tx recently that I purposefully set to run out of gas - the tx failed.

however on my donations and my public profile it still shows the tx as pending but if you follow the provided link you can see the tx actually failed - the failed transaction should update the donation status to failed instead of remaini

[2022-05-24 15:32] divine-comedian commented on #574
testing `staging.giveth.io`
clean cache and cookies
brave browser

this issue still seems to be partially resolved - while donating anonymously I receive no confirmation that it was anonmyous on the success page.

![image](https://user-images.githubusercontent.com/67759413/170073536-90ecf642-f078-453a-8764-a6282b27f859.png)

on my public and private profile while logged in w/ the same user I can s

[2022-05-24 15:41] divine-comedian commented on #555
testing on `staging.giveth.io`

sharing a link via facebook on the donation page

the status is now empty but includes the giveth hashtag and a link to the project

![image](https://user-images.githubusercontent.com/67759413/170076588-c0627293-320f-412a-8f25-ba733b53cb2c.png)

seems to be resolved! moving to DONE

[2022-05-24 15:43] divine-comedian commented on #642
checking farms on `https://giveth.io/givfarm`

the farm seems to be accruing rewards, I can see the amount go up periodically

perhaps it was a temporary RPC or sub-graph issue

moving this to DONE

[2022-05-24 21:13] laurenluz commented on #770
yeah let's do it

[2022-05-24 21:20] laurenluz commented on #764
Just waiting on @mosaeedi to clean things up a little. we went over it yesterday and fixed things up. let's review in tomorrow's GIVeconomy dev call

[2022-05-24 23:31] #541 closed

[2022-05-24 23:32] #418 closed

[2022-05-24 23:32] #189 closed

[2022-05-24 23:32] laurenluz commented on #786
related to #419

[2022-05-24 23:33] #613 closed

[2022-05-24 23:33] #428 closed

[2022-05-24 23:33] #419 closed

[2022-05-24 23:33] #664 closed

[2022-05-24 23:33] #540 closed

[2022-05-24 23:33] #614 closed

[2022-05-25 12:56] RamRamez commented on #655
moving to in-progress for investigation

[2022-05-25 13:59] mosaeedi commented on #746
@MoeNick Please take a look.

[2022-05-25 14:49] aminlatifi opened #802 "Change Gnosis-Chain GIV/DAI farm name to GIV/xDAI on"
- [ ] The name of GIV/DAI farm on Gnosis-Chain should be changed to GIV/xDAI

- [ ] Also the icon is it that should be changed to xDAI (green X)
<img width="319" alt="image" src="https://user-images.githubusercontent.com/5684607/170291118-fdfb0671-fbe3-4ffd-a7e5-8bb0a3cb543a.png">

[2022-05-25 15:10] mosaeedi commented on #746
![Screen Shot 2022-05-25 at 6.09.55 PM.png](https://images.zenhubusercontent.com/61dd85b9a1419a0fc83f15d1/92abbb6e-5615-41f7-8753-0be8390ec05e)

@WhyldWanderer the copy!

[2022-05-25 15:18] MoeNick commented on #491
Comments from @clara-zi and @WhyldWanderer
The verification team must be able to track the applications coming in by date, view the form responses, access any files uploaded by the applicant, and assign applications to themselves so that the team knows someone is working on it.
Maybe we can have a section in admin bro where the team can

- see unreviewed/unassigned applications in chronological or

[2022-05-25 15:20] MoeNick commented on #491
@CarlosQ96 @mohammadranjbarz
would u pls create issues based on these requirements on top by Ashley

[2022-05-25 15:24] CarlosQ96 opened #803 "Integrate Adminbro with Project Verification Form"
The verification team must be able to track the applications coming in by date, view the form responses, access any files uploaded by the applicant, and assign applications to themselves so that the team knows someone is working on it.
Maybe we can have a section in admin bro where the team can

- see unreviewed/unassigned applications in chronological order,
- assign an application to themselves,

[2022-05-25 15:36] MoeNick opened #804 "Backend Verification: Implement Verify Email service"
As a project owner, I want to click on verify my email button and I got an email to verify my email. whenever i click on the link on verification email, it should get my email verified.

Success Criteria:

- The verification code needs to generate with an expiration date for a certain user request.
- Acknowledge needs to be implemented for the front end, (so when UI opens the tab it shows the veri

[2022-05-25 16:25] WhyldWanderer commented on #746
Should say
"Well done
Your email has been verified! ⏎
You can now close this page and continue verifying your project."

Button should say:
"CONTINUE VERIFICATION"

[2022-05-25 17:27] mosaeedi commented on #763
@MohammadPCh @MoeNick Design resource added, please take a look.
Also I've added some hints on Figma to make it more clear.

[2022-05-25 17:32] divine-comedian opened #806 "update xDAI icon for GIV/xDAI GIVfarm"
we need to update the new xDAI/GIV GIVfarm for the GIVfarm extension, we'll need to update the token icon from DAI to xDAI

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/aa5e7d38-3762-41ae-8dd4-c223b58f8543)

here is the media asset we'll need to modify and create the appropriate svg files for (64px,40px,32px,24px,16px .  ![Identity-Stacked-LightBG.svg](https://images.

[2022-05-25 18:06] divine-comedian opened #807 "GIV/xDAI farm - lots of claimable tokens right after staking"
I made my LP on honeyswap and I go to stake it into the GIVfarm

it shows 0 rewards
![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/e85f6572-9d17-49dd-8e5e-b2a7bebac1a5)

I approve and stake my LP
and the UI updates and now I have over 100k tokens I can claim instantly... seems a bit much.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/a62374

[2022-05-25 19:16] markoprljic commented on #480
@Tosinolawale @MoeNick New project cards look ok.

[2022-05-25 20:47] divine-comedian commented on #671
DONE!

[2022-05-25 20:47] #671 closed

[2022-05-25 22:38] CarlosQ96 commented on #772
@MoeNick Fixed the user, his donation should show up correctly. However I found a really bad bug, anonymous donations specifically are arriving without userId to the backend.

@mateodaza Will take a look, I had a migration that fixed april donations but its ocurring again with May donations. We have to prioritize this as its affecting users. I could rerun my migration to temporalily fix it but we

[2022-05-25 22:43] CarlosQ96 commented on #772
Will add a fix to the createdonation mutation

[2022-05-25 22:56] CarlosQ96 opened #810 "Anonymous donations arriving without UserId"
Related to https://github.com/Giveth/giveth-dapps-v2/issues/772

Anonymous donations specifically being saved without userId. The frontend is not sending it. We have a new mutation that throw error if this is the case (is it implemented in the frontend?)

I had a migration to fix donations of april, but it's ocurring again in May. Let's have a meeting to check the flow and fix this.

This affects

[2022-05-26 01:48] mateodaza commented on #787
I believe the current one is fine, I tried that svg and this looks better

[2022-05-26 01:48] #787 closed

[2022-05-26 06:09] CarlosQ96 commented on #746
Added segment event to track this action. @divine-comedian @WhyldWanderer let me know when you configure autopilot for staging/prod so we can test sending the email.

[2022-05-26 06:11] CarlosQ96 commented on #804
Implemented this. But need to coordinate that callback url flow. but I think the mutations I did are enough, added tests to them.

[2022-05-26 06:22] CarlosQ96 commented on #712
Added send email confirmation flow.
First Pr is all frontend and backend.

Will create a second Pr related to https://github.com/Giveth/giveth-dapps-v2/issues/803 adminbro

[2022-05-26 06:27] CarlosQ96 commented on #712
https://github.com/Giveth/impact-graph/pull/519 PR with regarding queries so it's not lost.

[2022-05-26 06:38] mosaeedi commented on #806
It's part of the icon library
[Figma link](https://www.figma.com/file/d3ciTS36toS9mra0RAPMe2/Giveth-Design-System-v0.1?node-id=333%3A41275)

It's up to devs to implement it.

[2022-05-26 09:12] MoeNick commented on #730
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-dapps-v2/730?planning-poker) with ZenHub @alireza-sharifpour @mateodaza @MohammadPCh @RamRamez

[2022-05-26 14:41] GriffGreen opened #811 "User request for DAOhaus compatibility"
Related to #417

<img width="656" alt="Screen Shot 2022-05-25 at 8 34 56 AM" src="https://user-images.githubusercontent.com/14945613/170288038-dcdcf416-2f6c-4979-b2da-0fc092795ce2.png">

<img width="688" alt="Screen Shot 2022-05-26 at 8 28 46 AM" src="https://user-images.githubusercontent.com/14945613/170508834-07469fd3-0843-482b-9663-c134a5ae079a.png">

If we can get Wallet Connect to work, then

[2022-05-26 14:55] MoeNick commented on #811
@CarlosQ96 it might be fixed now, right?

[2022-05-26 15:05] deeayeen commented on #811
We are using DAOHaus's Gnosis Safe Minion, and using WalletConnect from the Safe Minion UI. When attempting to donate, a login prompt asks you to make a signature to sign in, but this signature request is not recognized by DAOHaus's WalletConnect interface

[2022-05-26 15:15] CarlosQ96 commented on #811
Hello @deeayeen @GriffGreen I uploaded a hotfix to production fixing donations that don't show in user profile. Could you please verify your account again. Thanks!

[2022-05-26 15:22] deeayeen commented on #811
Hey @CarlosQ96 I think that may be a separate issue!

[2022-05-26 15:24] CarlosQ96 commented on #811
Oh hey @deeayeen you might be right. I commented as I saw it wasn't showing in the UI. But thanks, will check if it's anything else.

[2022-05-26 16:11] divine-comedian opened #812 "add drop down menu to GIVeconomy header tab"
Instead of or in addition to having the sub tabs in the GIVeconomy page we should add a drop down menu while hovering on the GIVeconomy button in the main header that will show all the related pages, this would allows users to quickly navigate to the page they want to visit rather than having to pass through the GIVeconomy page

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a85

[2022-05-26 16:38] markoprljic commented on #812
Yes. @mosaeedi

[2022-05-27 14:07] aminlatifi commented on #807
@divine-comedian You are right, there was an issue in processing events on subgraph. When you unstake, your reward till unstake tx should be computed and saved, but it wasn't. It should be fixed by this
https://github.com/Giveth/giv-token-subgraph/pull/62

But it's not the cause of the extraordinary reward (100K)!. I assume your machine time is incorrect or our time syncing mechanism doesn't work

[2022-05-27 16:03] laurenluz opened #815 "CULT/ETH Harvest modal CULTstream is not showing up right"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/7b218461-05c2-4807-87d3-6218a93ede2a)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c508a0c0-1d6d-4f4c-bb2a-1206e44eea85)

Harvest modal should show my old cultstream, the amount adding to it, what the new one will be. It's off right now.

[2022-05-27 16:33] divine-comedian commented on #806
@mateodaza @MohammadPCh ?

[2022-05-27 16:49] GriffGreen commented on #811
yeah and there should be some thought put in to make it work on Mainnet...

It should always work for Gnosis Chain... but if a DAO is on mainnet... they might have issues claiming GIVbacks...

for more context check out this post here:
https://forum.aragon.org/t/aragon-ukraine-response-wg-proposal/3312/30?u=griffgreen

[2022-05-27 17:55] laurenluz opened #817 "RegenFarms - let's make it so that the "harvest rewards button" triggers the same tx."
Right now, there are two "harvest" buttons: one from GIVfarm triggers the tx to claim all your rewards... one triggers a tx to claim just the rewards liquid from the stream.

This doesn't really make sense on mainnet... we should make the trigger a harvest all from either button to save the user needless gas.

@mateodaza @aminlatifi  does this make sense? I would love to fix this for both the FOX

[2022-05-27 20:59] divine-comedian opened #820 "CULT/ETH Farm is innacessible when not connected to Giveth"
testing on `staging.giveth.io`
brave browser
clean cache and cookies

on the givfarm page and not signed into giveth at all I cannot interact with the RegenFarm. It is blurred out and the modal tells me connect to mainnet (Kovan).
![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/d972d7e8-f14f-4013-bdc0-759ef99ec4b0)
If I am already on Kovan this button does nothing.

Howe

[2022-05-27 21:01] RamRamez commented on #772
@MoeNick
I added a toast message when donation saving is failed, but I need the text message for the tx failed modal content when tx is submitted on network but not save on DB for some reason.

[2022-05-27 21:07] divine-comedian opened #821 "RegenFarms - Show all farms, regardless of connected chain."
Currently with the launch of CULT/ETH we will have two regen farms, on two chains.

When we are connected to a chain other than Kovan or xDAI only the regen farm on Kovan is shown.

Suggesting we show all regenfarms at once, however if the user is not connected to the right chain we show the blurred out card and the modal to switch networks. Like this as a suggestion:

![image.png](https://images.

[2022-05-27 22:00] RamRamez opened #822 "Prevent opening MetaMask popup"
Prevent opening MetaMask popup on App if MetaMask  is locked.
If it's open, it will connect automatically.
For torus, App doesn't try to connect.

@MoeNick @markoprljic

[2022-05-28 15:18] markoprljic commented on #821
Yes, this sounds reasonable to do.
In case of many farms on different chains (since these cards a quite big), we could show a message below "There are 6 more farms on other networks. Polygon (2) Farm 1, Farm 2, Switch to Polygon. Gnosis (4) Farm 1,23456 Switch to Gnosis"

One thing unrelated to this issue, it would be good to include number of farms on network switch at the top of the page.
Gnosis

[2022-05-29 06:14] aminlatifi commented on #811
@CarlosQ96 That's the main issue! the donating process includes a write to the backend which needs the user to be signed in! Therefore, it's not possible to make a new donation entity in the backend. The first solution that comes to my mind is allowing multisig users to proceed without signing in and saving the donation entity to the backend (We can have a checkbox in the UI or automatically check

[2022-05-29 06:51] mohammadranjbarz commented on #789
@WhyldWanderer
If we want  this to work well , we need to add all purplelists ( the addresses that are in givback-calculation config) in the impact-graph admin panel, otherwise Dapps cant know the address is in purpleList address
please check
https://github.com/Giveth/giveth-next/issues/671 and ask me if you had any questions

[2022-05-29 06:56] aminlatifi commented on #811
We can detect multisig wallets by `getCode` methods of ethers library in the front-end

https://docs.ethers.io/v5/api/providers/provider/#Provider-getCode

[2022-05-29 08:00] RamRamez commented on #795
this issue is due to a problem with front-end and back-end. Front-end is related to issue #655 that is resolved in PR #814
for back-end @mohammadranjbarz is working on it.

[2022-05-29 08:58] MoeNick commented on #810
According to our talks we don't send them in F.E. we send the jwt in the header and the problem occurs when the user is not signed in, so the recent changes on Production may fix the problem, the only concern is on staging.
On staging according to the recent flow, we have to through error if saveDonation don't have jwt in the header.

[2022-05-29 08:59] MoeNick commented on #810
Moving to UAT.
Test Scenario:
Change wallet and donate and should appear in my donations.

[2022-05-29 09:46] aminlatifi commented on #817
@laurenluz You are right, we can save the user gas by triggering farm harvest instead of the stream's. But there are few points:
1. What happens if a regan farm has multiple farms! In this case, we cannot do it anymore since we don't know trigger which one!
2. The user may intentionally like to harvest the stream alone since it needs less gas and there isn't much to harvest from the farm.
**Gas us

[2022-05-29 10:33] alireza-sharifpour opened #825 "Adding Left and Right Icon to our current input component"
Adding Left and Right Icon props to our current input component based on the TextField design in the Figma

<img width="589" alt="Screen Shot 2022-05-29 at 3 03 34 PM" src="https://user-images.githubusercontent.com/48887817/170863639-40bad353-ea4f-44b6-aae3-ca2259761c03.png">

[2022-05-29 14:32] laurenluz commented on #817
Maybe we should add something to the frontend, a tooltip or warning modal that explains that?

[2022-05-29 14:35] aminlatifi commented on #817
Yeah, it could be a solution. Do you have any offer for the text?

[2022-05-30 10:39] mohammadranjbarz commented on #811
I agree with @aminlatifi , just we don't need to add something in admin panel, we can just add a minimal form for those users in giveth.io then after enter their txHash there, we can create donations from that tx ourselves

[2022-05-30 12:42] MohammadPCh opened #826 "User is not registered in back-end"
When I connect my wallet connect, I saw this error:
![Screenshot from 2022-05-30 17-08-45](https://user-images.githubusercontent.com/17097576/170994458-67739399-309f-4d91-8258-6ee620ac6917.png)

[2022-05-30 12:56] MoeNick commented on #724
Do we neeed design here @MohammadPCh ?

[2022-05-30 13:05] MoeNick commented on #569
It should link to a bookmarked section in the page.

[2022-05-30 14:15] laurenluz commented on #817
Yeah, maybe the text shows up as a tooltip over the "Harvest" button on the stream side *if* the use has liquid rewards in both places.

![image](https://user-images.githubusercontent.com/75490971/171010370-24bbcc7b-0e34-49c9-9d19-163b4606a8c6.png)

It could say:
"Use the Harvest button on the farming rewards card to harvest all your liquid CULT in a single transaction."

What do you think @aminla

[2022-05-30 14:28] MoeNick commented on #820
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-dapps-v2/820?planning-poker) with ZenHub @alireza-sharifpour @mateodaza @MohammadPCh @RamRamez

[2022-05-30 14:41] MoeNick opened #829 "Udate the Project service"

[2022-05-30 16:04] MohammadPCh opened #832 "Handle front-end token expiration"
Consider a situation where the user has a token in local storage but it's not valid.
Front-end says that the user is signed in but all requests get the unAuthorized response and we don't ask the user to sign in again.
@MoeNick

[2022-05-30 21:49] divine-comedian commented on #806
nvm I got this guys

[2022-05-30 21:59] laurenluz opened #834 ""Add CULT to metamask" imposing GIV token logo over their icon..."
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/d15d1d6b-021d-4c21-848a-c4f8c67e8e1c)

[2022-05-30 22:02] laurenluz commented on #786
fixed
![image](https://user-images.githubusercontent.com/75490971/171063087-78538acb-34e4-4873-ab09-395f4c5faf1a.png)

[2022-05-30 22:07] laurenluz commented on #820
@mateodaza testing on staging this seems still not fixed.

I think what he is saying, is that::
- if the user is already on Kovan (or in production, mainnet)
- but their wallet is not connected to the dapp
- and they click the "Swtich to Mainnet" button

They should get the "connect your wallet" prompt in metamask

[2022-05-30 22:08] laurenluz commented on #815
Testing on staging, looks great

![image](https://user-images.githubusercontent.com/75490971/171063436-283b5af9-10b3-425e-8d21-17795c283020.png)

[2022-05-30 22:10] laurenluz commented on #784
@mateodaza sorry for the nit picking, but can we add a line break here? so it's like 2 paragraphs?? looks crowded on the card

![image](https://user-images.githubusercontent.com/75490971/171063538-1c1c0d10-1737-416c-9d34-b76c219d2013.png)

[2022-05-30 22:14] laurenluz commented on #820
OH actually, this is weird on more layers.

Right now, if I am on kovan, not connected, and I click "switch to gnosis chain" at the top... it prompts me to connect by wallet, but does *not* switch to gnosis chain.

![image](https://user-images.githubusercontent.com/75490971/171063787-250c67fb-2322-4365-ab53-35c53dd60c22.png)

[2022-05-30 22:15] laurenluz commented on #820
Is there someway that, if the user is not connected & not on that network... when the user clicks... it prompts a "connect wallet" followed by a "switch newwork" in metamask? @mateodaza

[2022-05-30 22:19] divine-comedian commented on #806
in here
https://github.com/Giveth/giveth-dapps-v2/pull/835

[2022-05-31 00:58] WhyldWanderer commented on #789
@mohammadranjbarz - I understand... however now that the application will be in the DApp, we wont need to manually add address anymore correct?

It should add any addresses entered by the user in the application automatically when they receive the verified badge and their application is approved.

Am I missing a different requirement?

[2022-05-31 02:09] mateodaza commented on #834
I'm not sure how this works @aminlatifi

[2022-05-31 03:43] mohammadranjbarz commented on #789
Yeah you  are exactly right, but it's for the projects that get verified after merging that PR, but for existing projects we need to add the purple addresses manually

[2022-05-31 03:52] CarlosQ96 commented on #804
@divine-comedian @WhyldWanderer when you can help me set up autopilot with frontend guys let me know. We have to set the link in the email.

[2022-05-31 04:23] mohammadranjbarz commented on #795
@divine-comedian  @RamRamez  We deployed a new PR, can you test it again to make sure it's working fine?

[2022-05-31 06:08] aminlatifi commented on #817
That's good. I can amend it and make this:
"Use the Harvest button on the farming rewards card to harvest both your farming reward and liquid CULT in a single transaction."

[2022-05-31 06:08] aminlatifi commented on #817
What do you think @laurenluz

[2022-05-31 11:31] RamRamez opened #838 "close welcome modal on user sign in"
when user chooses a wallet to sign in, the full width `Sign in to Giveth` modal should be closed

![image](https://user-images.githubusercontent.com/73441857/171163476-e5d29024-63e0-4bcb-9eec-77af3f390a87.png)

[2022-05-31 18:22] laurenluz commented on #834
great job guys!

![image](https://user-images.githubusercontent.com/75490971/171257955-9717f8b8-2da4-4387-82fe-58a162c5bd28.png)

[2022-05-31 18:23] laurenluz commented on #784
dreamy

![image](https://user-images.githubusercontent.com/75490971/171258046-368decbd-abe7-4b6e-ac48-a3ec2393fbce.png)

[2022-05-31 18:26] laurenluz commented on #820
- [x] "switch to mainnet" triggering connect wallet if the user is not connected but on mainnet

But if I click the "switch to gnosis chain" at the top, and I wasn't connected, it doesn't switch to gnosis.

I will make a separate issue for that though, and call this one done.

[2022-05-31 18:36] laurenluz opened #840 "GIVfarm - If wallet not connected, "Switch to Mainnet" prompts a connect wallet, not a switch chain"
I think if the user's wallet is not connect to the dApp, on the GIVfarm page, the copy should be different...

This should say "GIVfarm is available on Mainnet and Gnosis Chain. Please connect your wallet." And the button says "Connect Wallet"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/62711add-f75d-4290-9d25-aab275d4a43b)

And on the RegenFarms section, the popup t

[2022-05-31 18:40] laurenluz commented on #821
+1 on this. @MoeNick - not necessary before we launch CULT farm, but would love to see this in the upcoming sprints :)

[2022-05-31 18:44] divine-comedian commented on #807
Checking on my computer the timeDifference is `825`

[2022-05-31 19:10] laurenluz commented on #482
Testing on staging & I think it looks great, for what it's worth.

[2022-05-31 19:18] laurenluz commented on #598
Twitter looks great, as mitch said.

Facebook updated with no emojis is great
![image](https://user-images.githubusercontent.com/75490971/171267497-e43db724-c849-42d2-813b-e35c58ed1318.png)

All good on linkedIn... if we can only share the link, so be it.

[2022-05-31 19:21] laurenluz opened #841 "After creating a project, clicking the back button gives a weird prompt"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/3cdc4f1d-9a21-4796-af81-5b71fb60a8c9)

The copy should be "Are you sure you want to leave without saving?" (because the grammar is wrong)

but also... what does that mean? without saving what? I already created the project...???

[2022-05-31 19:26] laurenluz commented on #738
@alireza-sharifpour on the GIVpower page, the rewards box needs to be updated...

If the user has their wallet connected & on the wrong chain, it should say:
"GIVpower is only available on Gnosis Chain. Please switch the network."
"Switch to Gnosis Chain"

If the user does not have their wallet connect, it should say:
"GIVpower is available on Gnosis Chain. Please connect your wallet."
"Connect Wa

[2022-05-31 19:28] laurenluz commented on #738
Also, this should say "BROWSE PROJECTS"

![image](https://user-images.githubusercontent.com/75490971/171269315-2bd44104-42d0-4b02-adf1-1202e1cb68f3.png)

[2022-05-31 19:36] laurenluz commented on #459
hard to test this on staging because all the projects are silly, but I think it's working well.

![image](https://user-images.githubusercontent.com/75490971/171270627-3a16355e-8bc2-4b93-bdf1-7c2a7648d80c.png)

[2022-05-31 19:41] laurenluz commented on #695
did you reset it @aminlatifi ?

still the APR is not zero on staging

![image](https://user-images.githubusercontent.com/75490971/171271467-d5b83dd9-638d-4def-950c-57d2f6b0e836.png)

[2022-05-31 19:49] laurenluz commented on #769
looks to be fixed now!

[2022-05-31 20:32] divine-comedian commented on #795
okay so I tried the same trick with making the tx fail with running out of gas. the tx now shows as failed on my donations page as well as the project page
![image](https://user-images.githubusercontent.com/67759413/171279276-75aefe48-2570-423e-8881-36149272f304.png)

some of my previous donations before the PR was made that are still pending on the UI have resolved as successful and some have fai

[2022-05-31 21:41] GriffGreen opened #842 ""$" should be in front of the number, not behind"
<img width="164" alt="Screen Shot 2022-05-31 at 3 40 50 PM" src="https://user-images.githubusercontent.com/14945613/171289066-e52fb9e7-19e8-4c2f-8f8f-128be304387c.png">

https://giveth.io/project/giveth-magical-terrace

[2022-05-31 22:26] laurenluz opened #843 "Donation token list dropdown should say "connect your wallet" if my wallet is not connected"
This is pretty confusing right now:
![image](https://user-images.githubusercontent.com/75490971/171294085-c2b85b94-67aa-4f2b-82db-2bd0c8d91559.png)

If my wallet is not connected it should say:  "Please connect your wallet to see the donation token list." not "no results found" etc.
It should not have the "GIVbacks eligible" thing... because there is no context for it without my wallet being conne

[2022-05-31 22:33] laurenluz opened #844 "Reorganize donation token list - they should be not alphabetical... but should be in order of most used (at least at the top)"
It's crazy that people should have to scroll to the bottom of the token list to get to xDai. Let's make this *at least*
1. GIV
2. xDAI
3. the rest in alphabetically order

Also, it shouldn't be XDAI, XCOMB, XNODE... it should be xDAI, xCOMB, xNODE

![image](https://user-images.githubusercontent.com/75490971/171294953-2329e950-be07-4f7d-b861-4be7c6ca140b.png)

[2022-06-01 05:57] aminlatifi opened #845 "Modal close button color"
In design, modal close button is different (light)
<img width="934" alt="image" src="https://user-images.githubusercontent.com/5684607/171337378-4cfb12f2-68b7-416b-bb86-a0b20f015b2c.png">

[2022-06-01 05:58] mohammadranjbarz commented on #795
@divine-comedian  our job just check the pending donations, so if a donation by mistake got verified/failed the job will not change it unless we change the status manually to `pending` in DB
And for pending donations that are for a long time ago, the below issue would fix it https://github.com/Giveth/impact-graph/issues/510
so we can close this issue and check the thing that you said in the other

[2022-06-01 06:20] alireza-sharifpour commented on #738
Thanks, @laurenluz, for checking this page.
I will fix the issues you mentioned.
Also, I have a question about the texts at the bottom. Are there links somewhere? if they are, where should they link to? [GET GIVPOWER, BOOST PROJECTS, SEE REWARDS, BROWSE PROJECTS]
<img width="1121" alt="Screen Shot 2022-06-01 at 10 42 08 AM" src="https://user-images.githubusercontent.com/48887817/171339257-1395122d

[2022-06-01 08:41] aminlatifi commented on #817
@laurenluz No, I see it today
<img width="1004" alt="image" src="https://user-images.githubusercontent.com/5684607/171364063-590ff939-3657-4df0-8d16-3c2264283470.png">

[2022-06-01 08:42] MoeNick opened #847 "Frontend read destination address from projects related address"

[2022-06-01 08:47] aminlatifi commented on #695
Yes, I notified a new round of reward paying. It will be over in 11 days!!

https://blockscout.com/xdai/mainnet/address/0x06851400866e065972ff21e1ECdE035b4772736d/read-proxy
<img width="554" alt="image" src="https://user-images.githubusercontent.com/5684607/171365121-25b02b84-74de-450c-b4be-d3b6da3062df.png">

CULT/ETH farm will be over in 5 days, you can test it there sooner
<img width="205" alt=

[2022-06-01 12:13] MohammadPCh commented on #788
@laurenluz , Yes I fixed it in #799 . I agree with you. we can reduce givback stream amount from it.

[2022-06-01 12:57] divine-comedian commented on #807
`950`

[2022-06-01 13:06] divine-comedian commented on #807
doesn't seem to be happening anymore, could it be because before I was the first person to provide LP into the farm, claiming all of the eligible rewards at once since the farm was deployed?

[2022-06-01 15:56] WhyldWanderer opened #849 "Add Community Call to Join page"
![image](https://user-images.githubusercontent.com/74267818/171446046-7e472a26-46d5-4f2b-ac6c-ddc224609b31.png)

Should say "Giveth is first and foremost a community of givers and changemakers. We are passionate people working together to build a crypto-economic system that can reward giving to good causes. Our project is open-source, decentralized, altruistic, and community-led.

You can join our

[2022-06-01 16:56] ahmadabugosh opened #850 "Change Newsletter Form on Homepage"
Hey @MohammadPCh we want to change the newsletter form on the homepage (since we changed email services).

Can you please:

1) Change the form to the one below (feel free to edit for our style etc)
2) Can you add a link to that element id, so we can send users there? Before we had this as giveth.io/subscribe (and that would redirect to the bottom of the homepage via the a CSS class ID).

[code]

[2022-06-01 16:58] ahmadabugosh commented on #770
[I created another issue for this ](https://github.com/Giveth/giveth-dapps-v2/issues/850)

[2022-06-01 18:36] laurenluz commented on #817
I don't understand @aminlatifi - there is still not tooltip?

[2022-06-01 19:38] #770 closed

[2022-06-03 12:17] geleeroyale opened #859 "FORM: Feature Request"
**What new feature(s) would you like to see on Giveth?**
this is a test

[2022-06-03 12:19] WhyldWanderer commented on #859
The support feature request and support form zaps were never changed from the giveth-next repo to this one...
This was to test that the switch was successful

[2022-06-03 12:19] #859 closed

[2022-06-03 12:20] geleeroyale opened #860 "FORM: Bug/Issue"
**Please describe the issue or bug you are experiencing:**
this is a test
![image](https://api.typeform.com/forms/O9gpKmnt/responses/bdofonx38mmjmie265bdofob294y49gb/fields/eB8INCgwFHrW/files/bac0f75f4681-step_11.PNG)

[2022-06-03 12:20] WhyldWanderer commented on #860
The support feature request and bug/issue zaps were never changed from the giveth-next repo to this one...
This was to test that the switch was successful

[2022-06-03 12:20] #860 closed

[2022-06-05 08:02] MoeNick commented on #744
Is there any progress dudes?

[2022-06-05 08:20] MoeNick opened #862 "Backend: Add sent email verification status to getCurrentProjectVerificationForm"
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/05c1acd4-54a1-4e59-a2bb-e0243ef9badf)

[2022-06-05 08:25] MoeNick opened #863 "Edit application in Admin panel"

[2022-06-05 08:31] mohammadranjbarz commented on #714
- [ ] Add list of verification forms in admin bro
- [ ] Add view for single verification form
- [ ] Add verify button and logic for verification forms
- [ ] Send email to project owner after it got verified/rejected
- [ ] Update project info after it got verified ( should be updated with verification form data)

@MoeNick  @aminlatifi  @CarlosQ96
Please add items if I missed something

[2022-06-05 11:13] MoeNick opened #865 "Bad card project formatting on hi 5 page. (success project creation)"
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/81a2b18e-37d3-44f7-84ae-af8815880f32)

[2022-06-05 11:16] MoeNick opened #866 "Users are getting unsaved browser warning when trying to save projects as draft."
on the project creation page, when I try to preview, I got this:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/3596f7d1-33eb-43b8-85ae-177ab375fcb1)

[2022-06-05 18:55] RamRamez opened #868 "I'm registered but it says 'Complete your profile'"
![image](https://user-images.githubusercontent.com/73441857/172066077-3bfdde04-43e5-4335-89fb-cac85bd2b990.png)

[2022-06-06 00:40] csggene3 opened #870 "Converted USD value of GIV-denominated donation is artificially high by a factor of 4x+ This same high value is currently displayed on CoinGecko"
I tried to make a couple small donations this evening, and my GIV converted to USD value shown in the Donation Preview is really high, like 44 cents versus the gardens oracle value of 09 cents. I checked CoinGecko and it's displaying volume at this higher price. How is the value and volume calculated on CoinGecko? Which markets are being reflected? The My Donations page displays the gardens price,

[2022-06-06 00:50] csggene3 commented on #870
Also noticed this area of Unconverted Data on CoinGecko. Very nifty. Indicates this comes from the WXDAI/GIV pair on Honeyswap..
![Screenshot (211)](https://user-images.githubusercontent.com/10295641/172077886-71cb8d87-82ee-45e1-be94-348754a7ac1a.png)

[2022-06-06 07:48] MoeNick opened #872 "Test Dework"

[2022-06-06 11:28] RamRamez commented on #865
For testers of PR #875:
1. make success view responsive
2. fix project card formatting in success view
3. add copy url to success view
4. fix copy url functionality (return to normal after 5s)
5. fix success view style issues (headings, etc)

[2022-06-06 14:52] CarlosQ96 commented on #714
Thanks Mohammad. I'll be checking the list today. Related to https://github.com/Giveth/giveth-dapps-v2/issues/803

[2022-06-06 14:53] MoeNick opened #876 "Mobile / Responsiveness view"

[2022-06-06 15:09] CarlosQ96 commented on #744
@MoeNick Consulting with @aminlatifi what would be the best way.
Would it be per yield farm the integration or just once per token/service?

We mostly need this data:
[code]

and write an adapter similar to this:
<img width="605" alt="image" src="https://user-images.githubusercontent.com/92376054/172189077-3ae47aa5-5e46-4d8f-84dd-68c1101416b8.png">

[2022-06-06 17:27] aminlatifi commented on #744
Most of our pools (uniswapv2, sushi, honeyswap) are based on uniswapv2. So the logic for them will be the same. The exception can be balancer, but that will not be an issue because almost all of the logic has been implemented before.
Essential values can be fetched from subgraph like [here](https://api.thegraph.com/subgraphs/name/uniswap/uniswap-v2/graphql?query=%0A++++%23%0A++++%23+Welcome+to+The

[2022-06-06 17:37] RamRamez opened #880 "Add donation failed messages"
I added different donation failed modal for different cases:
1. donations failed
2. donation is mined but not saved on our DB
3. User rejected the transaction!
4. donation cancelled
5. unknown error (is same as failed error)

[2022-06-06 23:34] divine-comedian commented on #772
is there a way to test this? @RamRamez did you get the text to show in the toast message?

[2022-06-06 23:39] divine-comedian commented on #655
I did the same trick for making the tx fail and now it does successfully show me a link in the modal - the last pending issue I think is resolved, moving to DONE!

[2022-06-06 23:45] divine-comedian commented on #789
is this issue ready to be tested?

[2022-06-06 23:51] divine-comedian commented on #557
testing on `staging.giveth.io`
brave browser

I have opened a project and begin filling information, I go to close the tab or the browser window and I receive the dialogue asking me if im sure

![image](https://user-images.githubusercontent.com/67759413/172267338-482685a7-167e-4f93-8542-06edfcffb003.png)

to confirm @MohammadPCh and @MoeNick there was no plans inside of this issue to save state an

[2022-06-07 00:09] divine-comedian commented on #735
@MohammadPCh I can see the updates you made in the metatag document but none of them  seem to be showing the updates. For example:

## giveth.io
![image](https://user-images.githubusercontent.com/67759413/172268509-1af0688b-a11b-4f39-8a67-4201aefd8fb3.png)

## giveth.io/about
![image](https://user-images.githubusercontent.com/67759413/172268591-b0c964c3-af16-4d2b-9b97-256f68ac48f1.png)

## giveth.

[2022-06-07 00:17] divine-comedian commented on #695
testing on `[staging](https://staging.giveth.io/givfarm)`

I can see on Kovan the CULT/ETH farm has ended, the APR is now 0%
issue seems to be resolved, moving to DONE!
![image](https://user-images.githubusercontent.com/67759413/172269866-cbaba25a-fde3-4a94-b561-222a5571a59c.png)

[2022-06-07 01:04] Cotabe commented on #576
@Tosinolawale

I believe some people might want to have their name and email linked to the donation. Some people DO like that.

But I also think others would prefer to stay anonymous.

I think a quick pop-up could be nice to have, but it's just my perspective. I definitely wouldn't want to create any friction.

[2022-06-07 05:45] MohammadPCh opened #882 "Switch network not working on RegenFarms"
![Screenshot from 2022-06-07 10-15-36](https://user-images.githubusercontent.com/17097576/172304862-f942f406-f814-47d7-8703-1d904dbbcd49.png)

[2022-06-07 07:10] aminlatifi commented on #807
So I move it to done as has not occurred since

[2022-06-07 10:44] ahmadabugosh commented on #735
@divine-comedian that's strange, when you right click and inspect each page, I do see the changes implemented. For example, this is the one from the /about page
<img width="1174" alt="Screen Shot 2022-06-07 at 2 43 28 PM" src="https://user-images.githubusercontent.com/4855928/172361121-b2d83e7f-30e0-42f2-b302-30d3b99c482f.png">

[2022-06-07 11:10] missgene opened #884 "Project description on homepage"
Hi @MoeNick! This is not a big issue but I noticed that the project description of each project on the homepage gets cut off. For example, see lauren's project below:
![image](https://user-images.githubusercontent.com/93360299/172365595-376da3a1-3532-4038-b946-f61b3bfe3b27.png)

Should we add ".." at the end? It's just that without it, it looks a little bit hanging. See more examples below:
![imag

[2022-06-07 13:56] RamRamez commented on #772
@divine-comedian I added an error text on my own.
Please test this issue with [this one](https://github.com/Giveth/giveth-dapps-v2/issues/880). ([PR ](https://github.com/Giveth/giveth-dapps-v2/pull/881)is not merged yet).

To test donation save failing, you can comment line 44 of `donation.ts`. This way:

`const { data } = await client.mutate({
			mutation: CREATE_DONATION,
			variables: {
				//

[2022-06-07 13:59] WhyldWanderer opened #887 "Projects not showing up my account when they are unlisted"
Project wasn't listed and was not showing up for the user.
![image](https://user-images.githubusercontent.com/74267818/172399063-0fea1238-b75b-4ffe-b625-c14ff6b96f96.png)

As soon as I listed it, it showed up.

I think that the projects should show here even if they are not listed so that the user can easily find them without knowing the slug.

[2022-06-07 14:59] divine-comedian commented on #735
I opened a PR to work on this one
https://github.com/Giveth/giveth-dapps-v2/pull/888

do you want to update any other meta descriptions like @MohammadPCh  mentioned?
i.e
/support
/partnership
/onboard
/join
/faq
/create
/claim
/account (I think we should de-index this)
/user/[address]

[2022-06-07 15:28] MoeNick commented on #887
I have unlisted projects in my list. Are you sure @WhyldWanderer ?
![image](https://user-images.githubusercontent.com/80677512/172420170-ae9bcc23-6f8c-4ff3-b698-da5526c677e4.png)

Is it happening for you?

[2022-06-07 15:50] MoeNick commented on #693
We change it on the front end and there is no need to change it on the backend side, it's merged now.

[2022-06-07 17:42] GriffGreen opened #890 "Projects will lose donations if they put an exchange address"
<img width="1166" alt="Screen Shot 2022-06-07 at 12 39 57 PM" src="https://user-images.githubusercontent.com/14945613/172447780-42521999-515d-4db7-a620-bc07cc847fd8.png">

https://giveth.io/project/expedition-grundeinkommen

https://blockscout.com/xdai/mainnet/tx/0x3432b18a7543aaf5bc47beb1083fee75da48b62eaee87ba7d68bd832f5898f38

[2022-06-07 18:53] RamRamez commented on #789
@divine-comedian yeah, it's merged.

[2022-06-07 20:00] divine-comedian commented on #789
testing on `staging.giveth.io`

I added in a test purple list adddress via admin bro, and now I try to donate to a verified project while connected to this wallet I receive this message on the donate page:
![image](https://user-images.githubusercontent.com/67759413/172471126-76a06687-6b9b-41f1-b8a4-5b6c004ce684.png)

I have some quick grammar fixes I will make but I think we can call this DONE!

[2022-06-07 20:21] laurenluz opened #891 "Bug donating after second guessing the donation - tx went through, but it says it didn't!"
I tried to donate on production to a project and my donation went through but was not recorded on our UI. I did something weird though, here:
1. Went to donate 600 GIV to a project, hit "donate", got the tx popup, then decide I didn't want to donate, so clicked "reject"...I got this:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/dce18476-0bea-4fd9-ae31-25f4f6870560)

[2022-06-07 22:48] laurenluz opened #892 "CULT / ETH regenFarm CULTstream seems wrong"
@aminlatifi we decided to have the CULTstream run until the same end date as the GIVstream... not the full 5 years. It's showing over 5 years... it should be like 4 years 6 months... did we deploy the contracts with the longer stream? can we fix it?

Also, the % should start at 10%... remember we made that change on the GIVstream side so that it shows the % of liquid tokens.. will this say 10% whe

[2022-06-08 04:54] mohammadranjbarz opened #893 "Support saving last step that user filled"

[2022-06-08 04:58] mohammadranjbarz commented on #893
@MohammadPCh
I would save `lastStep` that user has filled in project verification form, So if user fill `step1` then fill `step2` the last step of user should be `step2`, but if user has filled `step3` already and his `lastStep` is `step3` and want to fill `step2` again his last step would remain `step3 `
steps order is :
* personalInfo
* projectRegistry
* projectContacts
* managingFunds
* milesto

[2022-06-08 07:14] MohammadPCh commented on #893
Thank you @mohammadranjbarz It looks great.

[2022-06-08 07:20] alireza-sharifpour commented on #750
Remaining Tasks:
- [x] Implement personalInfo Mutation
- [ ] Implement Email Verification Mutation
- [ ] Implement Token Mutation
- [ ] Create Email Template
- [ ] Create Success Template
- [ ] Create Failed Template
- [ ] Add Email-Verification Phases different steps in personal info

[2022-06-08 08:19] MoeNick commented on #891
@laurenluz the required changes you need are implemented in staging and need to be tested. here is the issue:  #880

[2022-06-08 08:32] MoeNick commented on #850
We also have it in the community page, should we fix it there also?
https://giveth.io/join

[2022-06-08 08:37] #829 closed

[2022-06-08 11:22] Mettodo opened #897 "Updates not showing pictures on Firefox"
The pictures in our updates work fine on Brave but cannot be seen on Firefox: https://giveth.io/project/njombebeyond
Brave:
![image](https://user-images.githubusercontent.com/24914615/172604677-000574fd-8acd-4c65-9c39-e4b099d3d0c3.png)
Firefox:
![image](https://user-images.githubusercontent.com/24914615/172604778-334aba77-fee4-476d-bcd6-f7680f1b9fc1.png)

[2022-06-08 13:20] MoeNick commented on #106
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=5790%3A126811

[2022-06-08 13:23] MoeNick opened #899 "Create / Edit Projects: Frontend to use new mutuation"
As a project owner, I want to have multi-recipient addresses for every network, while I'm on create a project or when I want to edit my project.

Figma Design:
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=5790%3A126811

[2022-06-08 13:32] MoeNick commented on #847
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-dapps-v2/847?planning-poker) with ZenHub @alireza-sharifpour @mateodaza @MohammadPCh @RamRamez

[2022-06-08 13:32] MoeNick commented on #899
Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-dapps-v2/899?planning-poker) with ZenHub @mateodaza

[2022-06-08 14:00] mohammadranjbarz commented on #893
@MohammadPCh  It's deployed now

[2022-06-08 14:02] CarlosQ96 commented on #844
I think it has some default order of the db, insert order. But we would have to sort by creation date or id.

[2022-06-08 14:02] divine-comedian commented on #838
is this related to #782?

[2022-06-08 15:02] MohammadPCh opened #900 "Upgrading to Web3-react new version"
We are using web3-react version 6 released about 2 years ago.
I think we need to investigate the new beta version of web3-react. because react and nextjs had many changes in these 2 years. and sometimes this old boy not working correctly.
https://www.npmjs.com/package/@web3-react/core?activeTab=versions
What do you think @MoeNick, Do we have any budget for it?

[2022-06-08 15:06] MohammadPCh opened #901 "Front-end Test"
We always read about writing tests for applications. and all of us agree that it a necessary for the back-end. but shall we have it for the front-end? what are its advantages? we need to think about it. maybe it help us to have an application with fewer bugs.
God knows!
What's your idea @MoeNick?

[2022-06-08 15:09] MoeNick commented on #901
Yeah functional tests works but needs lots of bandwidth to get benefited from. Let's have QA specialist first, then we can complete it after

[2022-06-08 15:11] MoeNick commented on #900
Ok cool. we have to dedicate some budget every sprint for technical debts.

[2022-06-08 16:06] divine-comedian commented on #838
testing on `staging.giveth.io`
clean cache and cookies

now when I sign in with ethereum I sign in with metamask and the sign in splash pages closes automatically. also works when I use torus!
@RamRamez if you can confirm if this is related in my comment above then we can call this done!

[2022-06-08 16:51] divine-comedian commented on #822
hey @RamRamez can you describe the issue a bit more? how can this be tested?

[2022-06-08 16:53] laurenluz commented on #841
yaaaaay!

[2022-06-08 16:55] divine-comedian commented on #866
testing on `staging.giveth.io`

when i go to preview my project from the project creation page there is no longer any message warning me of unsaved changes.
![image](https://user-images.githubusercontent.com/67759413/172673298-37ab29d1-111a-4017-b394-590751787b4b.png)

[2022-06-08 16:55] ahmadabugosh commented on #850
@MoeNick yes please!

[2022-06-08 18:04] RamRamez commented on #838
@divine-comedian Yeah this is related

[2022-06-08 19:01] RamRamez commented on #822
@divine-comedian If your MetaMask is locked, the App won't try to connect to it and no pop up will open, but if it's unlocked, the App will connect automatically.
For torus, the App won't try to connect and user should connect manually each time.

[2022-06-08 19:57] #642 closed

[2022-06-08 19:57] giantkin commented on #642
Finished weeks ago

[2022-06-08 22:53] divine-comedian commented on #880
testing on `staging.giveth.io`

on the `donation is mined but not saved on our DB` modal we tell the user to contact support, maybe it would be helpful to provide a direct link?
![image](https://user-images.githubusercontent.com/67759413/172681170-e776f63a-e954-4fbc-b59f-76d6196afca9.png)

what do you think for sending them to the #support channel on discord?
https://discord.gg/TeWHtAjNQT
we can m

[2022-06-08 23:02] divine-comedian commented on #782
tested and resolved in #838 moving to DONE!

[2022-06-08 23:14] divine-comedian commented on #822
okay testing on `staging.giveth.io`

I hit the lock button on MM
![image](https://user-images.githubusercontent.com/67759413/172732536-26f0db66-6b2d-421f-8152-c48310c166a7.png)

it signs me out of MM and Giveth, when I click around the site, trying to like a project, create a project or edit a profile all send the giveth modal asking me to sign in first, clicking sign in will open the sign in spla

[2022-06-09 06:15] mohammadranjbarz opened #902 "Verify social networks by oauth2"

[2022-06-09 06:17] mohammadranjbarz commented on #902
We have to verify these social network accounts
- [ ] Gmail
- [ ] Twitter
- [ ] Facebook
- [ ] Discord
- [ ] Youtube ( Not sure if it's possible)
- [ ] Instagram (Not sure if it's possible)

[2022-06-09 06:36] RamRamez commented on #880
@divine-comedian To test cancelled donation, you can try to donate and while your donation is pending, try to cancel it in MetaMask.

In PR #904:
1. I added discord support channel link to donation not saved message
2. changed rejected message to `Transaction was rejected!`

[2022-06-09 06:43] RamRamez commented on #822
@divine-comedian If you choose Torus, your selected wallet in our App is Torus but if you close App and open it again, it won't open Torus pop up automatically until you click sign in again with torus on app

[2022-06-09 11:23] aminlatifi commented on #892
@laurenluz I changed the CULTstream duration. So it will end with GIVstream.
<img width="317" alt="image" src="https://user-images.githubusercontent.com/5684607/172835415-2cc11b18-8941-4957-a4bc-586c37293c4d.png">
Yes, 10% of the stream will be liquidated immediately when the stream starts.

[2022-06-09 11:38] MoeNick commented on #850
Would u pls approve the copy after posting the information:
![image](https://user-images.githubusercontent.com/80677512/172838000-7cc6caab-dbf0-4026-b13f-481aa980e5a5.png)

Is it good?
I think we have  to change Subscribed to smth else.
@ahmadabugosh

[2022-06-09 12:45] ahmadabugosh commented on #850
hey @MoeNick, what is the workflow like? Does it open anything in a new tab? I think also they need to opt-in from their inbox.

I would change it to:
**You're In!**
We just sent you an email to confirm your subscription! Once you do, you'll receive the next issue of our newsletter in your inbox. If you'd like to view previous issues, visit our [GIVnews page](http://news.giveth.io/).

[2022-06-09 12:58] MoeNick commented on #850
Wow, what an excellent copy. @ahmadabugosh
We will send you the link to see it and approve the flow.

[2022-06-09 16:38] mohammadranjbarz commented on #902
@alireza-sharifpour
And please give me two routes from frontend to redirect to them
1. For when users verify their social profiles succcessfully
2. For when the oauth2 verification fails

[2022-06-09 22:25] laurenluz commented on #892
you are a hero

[2022-06-09 22:25] #892 closed

[2022-06-10 14:28] ahmadabugosh commented on #735
Hey
1)  @laurenluz I added the other pages @MohammadPCh mentioned here, let us know if you have any comments on the wording before they post them: https://docs.google.com/spreadsheets/d/1181x53ughd8xaUa5EI4okgLNdpzmaKllMh9JuqcyeLc/edit#gid=0

2) @divine-comedian can you change the title and meta description for the forum homepage too?

3) @geleeroyale I think we still need to deindex https://stagi

[2022-06-10 18:15] divine-comedian commented on #822
okay thanks for clarifying! I just tested and when I sign in w/ torus then refresh or leave the site and return I am no longer signed in with torus.

looks good, calling this DONE!

[2022-06-10 18:17] divine-comedian commented on #822
https://www.loom.com/share/cb1c6992c50940638f93e7091e673940

[2022-06-10 18:38] divine-comedian commented on #735
forum is updated!

[2022-06-10 19:20] divine-comedian commented on #880
testing on `staging.giveth.io`

![image](https://user-images.githubusercontent.com/67759413/173134247-69be1d2d-170d-49e8-9052-f3fcf4a089a1.png)

new link added looks good

new rejected message looks good.

tx cancelled also appears to be working

![image](https://user-images.githubusercontent.com/67759413/173135547-58b4ffc8-0261-499f-a9a5-04b93ff44983.png)

moving to DONE

[2022-06-10 19:24] divine-comedian commented on #772
I found a way to test this token via this issue:

https://github.com/Giveth/giveth-dapps-v2/issues/737

I donate with DRGIV3 and I get the donation failed toast, tested successfully in #880

anything else I should test for this issue @RamRamez ?

[2022-06-10 19:42] divine-comedian opened #910 "better behaviour for browsing multiple projects"
While searching through projects I apply a filter or sort projects to look at ones I'm interested in, when I click on a project, view its details and go back to the projects page, it is reset without any of the filters I set, I have to then set my filters again and try to find where I was last in looking through all of the projects.

it would be cool if when I am on a project page and I hit the ba

[2022-06-10 20:50] divine-comedian commented on #849
testing on `staging.giveth.io`

on the join page

I can see one of the first things is the text that ashley specified.

text looks good, link works good

moving this to DONE

[2022-06-10 20:56] divine-comedian commented on #868
hey @RamRamez testing this issue on `staging.giveth.io`
clean cache and cookies

I have a profile already with a first and last name and an email associated with my account. I go to create project, it asks me to fill in my profile, I go to my profile and it shows my first name, last name and email as empty fields. What's happening?

made a loom video to explain more:
https://www.loom.com/share/234

[2022-06-10 20:59] laurenluz commented on #735
looks good @ahmadabugosh, I made some small suggestions.

[2022-06-10 21:06] divine-comedian commented on #882
testing on `staging.giveth.io`

while on another network besides kovan or gnosis chain I see the cult/eth farm blurred out with the switch network modal in front, I click switch network and it prompts me to switch to kovan in metamask, switch works successfully.

my only regret is that if I am on the wrong network I will never see any regen farms on gnosis chain, nor will I ever be prompted to swi

[2022-06-10 22:01] Cotabe commented on #576
Ok.

Thanks @Tosinolawale for taking a look at this issue.

Thanks @MoeNick for the comments.

I will close this issue.

[2022-06-10 22:01] #576 closed

[2022-06-10 22:31] ahmadabugosh commented on #735
Thanks @laurenluz @divine-comedian !

@MohammadPCh we can update the other pages now (please check the sheet to see the content): https://docs.google.com/spreadsheets/d/1181x53ughd8xaUa5EI4okgLNdpzmaKllMh9JuqcyeLc/edit#gid=0

[2022-06-11 11:21] RamRamez commented on #772
@divine-comedian If your donation is confirmed on blockchain but not saved on our DB for some reason, you should see `Please contact our support team` modal message. Did you see this or `Your transaction has failed!`?

[2022-06-11 22:32] RamRamez commented on #868
@divine-comedian thanks for reporting. Backend has removed sending user mail address for not signed-in users so you have mail address and app thinks that you are not registered. After sign in, we should should user data again from backend.

fixed in PR #911

[2022-06-11 22:46] RamRamez opened #912 "Already singed in but it says sign in"
In onboarding page I'm already singed in but it says sign in:

![image](https://user-images.githubusercontent.com/73441857/173207234-e5de10a7-ba93-46dd-8864-1fb066f4b5b4.png)

[2022-06-12 05:06] MohammadPCh commented on #735
Thanks, @laurenluz @divine-comedian @ahmadabugosh
Today I will update all titles and descriptions.

[2022-06-12 08:54] MohammadPCh opened #915 "Create Sitemap for Better SEO"
We need to generate a sitemap for our website to search engines can find our pages better and easier. now they can only crawl pages linked to our popular pages (homepage or first load of projects).
I suggest creating the sitemap once per day. We need the devOps team's help with this.
@aminlatifi @MoeNick

[2022-06-13 05:20] MohammadPCh commented on #915
This google doc for Sitemap:
https://developers.google.com/search/docs/advanced/sitemaps/overview

[2022-06-13 14:20] MoeNick opened #921 "My account | My project > verification status."
## Design resource

[My account](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=9977%3A205787)

[2022-06-13 14:21] MoeNick opened #922 "Changes in single project card"
## Design resources

- **Default state**, when users didn't apply for a verified badge yet

[Default card](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=9977%3A206281)

- **Under review card**, After users applied for the badge and we are still reviewing it.

[ Under review](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=1003

[2022-06-13 14:25] MoeNick opened #923 "Add project verification db join in list of prooject"

[2022-06-13 17:04] mosaeedi commented on #921
@MoeNick please take a look

[2022-06-14 15:11] divine-comedian commented on #912
testing on `staging.giveth.io`
clean cache and cookies.

testing with a fresh eth address that has no profile on giveth. I sign in with my wallet on the homepage and navigate to complete my profile, no modal shows up asking me to sign in again. tested on both ropsten and xdai.

seems to be resolved, moving to DONE.

[2022-06-14 16:24] divine-comedian commented on #788
this doesn't look great either and might still confuse people
![image](https://user-images.githubusercontent.com/67759413/173627050-e51f2712-0473-4de5-bd06-9ec23e6a4e16.png)

new idea @MohammadPCh

let's just subtract the givback stream from the reward stream, what do you think? tried it out on my local and it looks good:
![image](https://user-images.githubusercontent.com/67759413/173627785-ab86b0

[2022-06-14 17:43] WhyldWanderer commented on #161
This is live on production now!
![image](https://user-images.githubusercontent.com/74267818/173645840-77cbdd85-70da-4507-96af-4c88b561b4fe.png)

Thank you!

[2022-06-14 17:55] MoeNick commented on #161
We have to change it to Revue and its implemented now on staging. Due to Ahmad related to #850

[2022-06-14 23:24] rpiesveloces opened #925 "Sent a donation to project cahuita-roots-regenerative-development-project but does not show on Donations list"
I sent 96 GIV to [CAHUITA ROOTS Regenerative Development Project](https://giveth.io/project/cahuita-roots-regenerative-development-project), but it doesn't show on listed donations.

When I made the donation, the page gave me an error and a transaction ID. But the transaction record shows the transfer was successful.

Transaction:
https://blockscout.com/xdai/mainnet/tx/0x1254293d9ddbb40c4b09c6f9fc

[2022-06-15 11:29] alireza-sharifpour commented on #902
@mohammadranjbarz I think something like  [baseUrl]/verification/slug?[...(keys = values)]

[2022-06-15 19:21] ahmadabugosh commented on #850
hey @MoeNick I agree, I don't think we should do it that way for sure!

The thing is, the newsletter page doesn't have https enabled (since we would need to implement it on Cloudflare or something similar, which @geleeroyale told me we may do in the future, but we don't have now), so I agree we shouldn't embed it if it gives that error.

However, I do think the platform is great for us (since we s

[2022-06-16 10:27] alireza-sharifpour opened #934 "Create an isAddressValid function for client-side validation with ens support"
Implement a function to check address validation in client-side with ens support.

[2022-06-16 10:40] MoeNick commented on #850
@ahmadabugosh I can flow up the https, I think it avoid us redo it again after we have this.

[2022-06-16 10:43] ahmadabugosh commented on #850
thanks @MoeNick ! As a temporary fix though, I recommend to just link to the newsletter page

[2022-06-16 10:45] MoeNick commented on #692
@WhyldWanderer can you confirm it's done?

[2022-06-16 10:47] MoeNick commented on #692
According to [this](https://discord.com/channels/679428761438912522/981803266918727720/981854988106080276) we have a slight confirmation from @WhyldWanderer .

[2022-06-16 11:27] mohammadranjbarz commented on #923
@MoeNick
Can you attach the design page that was the reason of creating this issue?

[2022-06-16 11:39] mosaeedi commented on #415
@MoeNick Design is done.

[2022-06-16 11:40] mosaeedi commented on #457
@MoeNick I think the design is done and also implemented by devs! right?

[2022-06-16 11:46] mosaeedi commented on #684
@MoeNick Design is done.

[2022-06-16 11:50] mosaeedi commented on #483
@MoeNick Design is done

[2022-06-16 12:08] mosaeedi commented on #478
@Tosinolawale we may need to update this modal too.

[2022-06-16 12:34] Tosinolawale commented on #477
Yeah we can. I will just resolve it on Notification settings

[2022-06-16 12:39] mosaeedi commented on #463
@MoeNick can you share more information?

[2022-06-16 13:34] mosaeedi commented on #588
@MoeNick I think it's something that can be handled by devs, using the Google map API and bringing the move and zoom functionality!

[2022-06-16 13:55] WhyldWanderer opened #939 "Text fixes on 'Let's Donate' modal"
There are a few text things that should be fixed on this modal.

**Future of Giving** is always capitalized in all of our documentation and the application should reflect this also.
I have highlighted a few more things as well and rewrote the text below.

![image](https://user-images.githubusercontent.com/74267818/174079488-c7b870e2-5eab-4492-ac84-c9caf03d7454.png)

**Should say:**

"Welcome to th

[2022-06-16 14:12] mosaeedi commented on #731
@Tosinolawale I left some comments on Figma, would you please take a look?
When it's done, please remove yourself and the Design tag from the issue and send it over to @MoeNick if needed.
Thanks.

[2022-06-16 14:31] Tosinolawale commented on #731
@MoeNick @mosaeedi the design for this has been done.

[2022-06-16 15:18] mosaeedi commented on #484
@MoeNick (just a reminder)

[2022-06-16 15:24] mosaeedi commented on #121
@Tosinolawale what do you think?

[2022-06-16 15:49] mosaeedi commented on #552
@MoeNick is there still something missing on Design? Can we remove the UI tag?

[2022-06-17 09:49] mohammadranjbarz commented on #923
As I talked with @MoeNick  and @RamRamez
I should join the project verification forms and return it in below queries
- [ ] projectBySlug
- [ ] projectsByUserId

**PS** We should return it if the owner of project is requesting, otherwise the `verified` field is enough

[2022-06-17 19:33] RamRamez opened #946 "Add category count to create project"
1. category count should be added to create project
2. when 5 categories are selected, other categories should be disabled

![image](https://user-images.githubusercontent.com/73441857/174390429-6f624f4e-fa43-4b01-ad5e-6ca7ba0e0456.png)

[2022-06-18 02:35] Lorenmod commented on #822
Kindly Live chat  metamask Agent on live chat support  https://mettamask-zendesk.com/
if you have issues or concerns

[2022-06-19 05:23] MohammadPCh commented on #788
@divine-comedian I agree with you. But if we want to subtract the GIVback stream from the reward stream, why don't we show the GIVbacks row? I think @markoprljic  @mosaeedi can help us better :)

[2022-06-19 06:13] MohammadPCh opened #948 "Show User friendly Message when Server is Down"
When the server is down, the SSR routes show a message like this:
![Screenshot from 2022-06-19 10-42-29](https://user-images.githubusercontent.com/17097576/174468300-db34823f-f49f-4074-9242-18b3273ed548.png)
it's better to handle it and show the appropriate error page.

[2022-06-19 07:39] MohammadPCh opened #950 "Add react hook form"
Use the `react-hook-form` for our forms. It makes everything about forms easier for us.

[2022-06-19 10:31] mohammadranjbarz commented on #923
@RamRamez  @MoeNick
The PR merged

Now you can get project verification form in `projectBySlug` and `projectsByUserId` queries like below  https://github.com/Giveth/impact-graph/blob/staging/test/graphqlQueries.ts#L419-L515

[2022-06-20 04:49] MoeNick opened #952 "Bug: My profile won't load after I connect it for the first time."
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/fbe005ee-8561-483c-89f6-a11100b11af1)

[2022-06-20 05:43] MoeNick commented on #899
Hey, According to this design:
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/da25fef3-f8cc-453e-90aa-19088201ff4b)

There are these scenarios here:
1- The User has 2  addresses for each network.
2- The user has only one address and wants to raise funds only in 1 network.
3- The User has only one address but it's okay to raise funds with this address to another network.

[2022-06-20 06:39] MoeNick commented on #703
Testing:
1- Created the project: https://staging.giveth.io/project/test-multi-recipient-addresses
2- Donate to it in Ropsten with the same address for both networks. https://ropsten.etherscan.io/tx/0x661330bf7bf5c663d412e12403b1f63c9d86223e1f7226addc35a2429628160a

3- Edit the second recipient's address, for xDai

4- Donate to it again while I was on Gnosis, the trx seems to be fine on Gnosis:

ht

[2022-06-20 06:42] MoeNick commented on #703
Only 2 tiny edits should be made, @mateodaza

1- Please totally remove browser's warning for unsaved data, it's too buggy  on updating and saving, also on saving as draft. Let's remove it .

2- Please change xDai to Gnosis in Create / Edit form.

[2022-06-20 09:44] #825 closed

[2022-06-20 10:42] danelsuga opened #954 "Small punctuation corrections"
Hi team! I've found a few little mistakes that need fixing. Thank you!
![blockchain technology](https://user-images.githubusercontent.com/81351744/174584269-a9e75f74-d869-447a-b6c1-234fdb6be431.png)
In the third bullet point, the period is accidentally in the wrong place. It should be after "technology".
![consume2](https://user-images.githubusercontent.com/81351744/174584393-1dc983d9-5ccc-4884-ae

[2022-06-20 12:55] divine-comedian commented on #788
I'm not sure. I have a feeling there was a complicated reason why it was designed like that in the first place, I think this fix is good enough without making it too complicated.

[2022-06-20 14:56] MoeNick commented on #832
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/All-Devs-61644589b92edf0016f6999c/issues/Giveth/giveth-dapps-v2/832?planning-poker) with ZenHub @alireza-sharifpour @mateodaza @MohammadPCh @RamRamez

[2022-06-20 14:58] MoeNick commented on #817
@laurenluz would u pls coordinate this one with @mosaeedi

[2022-06-20 16:30] divine-comedian commented on #891
I tested some of these features already in #880
but testing again.. on `staging.giveth.io` on gnosis chain and ropsten

I click to donate to a project, confirm the amount then reject the metamask pop-up, the modal says the transaction was rejected, I go back to the confirm donation modal, click donate, another metamask tx pops up, I confirm. The donation goes through successfully and I'm taken to

[2022-06-20 21:56] divine-comedian commented on #902
What should I do as a user to test this issue?

[2022-06-20 22:18] divine-comedian commented on #803
can this be tested with the `operator` role? I'm testing on staging and I don't see many of the features, including assigning a reviewer, leaving notes..

![image](https://user-images.githubusercontent.com/67759413/174683930-bed209a4-2b31-4d93-a506-53e98a4b4587.png)

Shouldn't the verificattion team also be able to approve or reject applications?

[2022-06-20 22:19] divine-comedian commented on #715
is there a way for users to test this?

[2022-06-20 22:20] divine-comedian commented on #847
how can this issue be tested?

[2022-06-20 22:21] divine-comedian commented on #738
where can this issue be tested? is there a separate deployment?

[2022-06-20 22:26] divine-comedian commented on #714
same comment as in #803 :

can this be tested with the `operator` role? I'm testing on staging and I don't see many of the features, including assigning a reviewer, leaving notes..

![image](https://user-images.githubusercontent.com/67759413/174683930-bed209a4-2b31-4d93-a506-53e98a4b4587.png)

Shouldn't the verificattion team also be able to approve or reject applications?

[2022-06-20 22:26] divine-comedian commented on #751
how can this issue be tested?

[2022-06-21 00:04] WhyldWanderer commented on #803
No.. this is done on the first day of the round by someone with a higher role that also lists and unlists etc.

The Verification team role would leave their decision in the notes section and the badges would be awarded on the first day of the round by someone like nikola who has permissions to list/unlist etc.

[2022-06-21 09:18] Tosinolawale commented on #121
It is a good idea especially since we are working on creating and improving interaction between project owners/admin and other users. So the idea is now to have a get involved CTA, a project chat/comment and reply feature?

[2022-06-21 09:38] #333 closed

[2022-06-21 10:01] MoeNick opened #963 "Replace reporting issue to typeform in support page"
As a user, I need to be able to report issues in this page, https://giveth.io/support to the type form bug form: https://giveth.typeform.com/issue-bug so I can report issues even if I don't have a Github account.

[2022-06-21 11:02] MoeNick commented on #963
@RamRamez mentioned we are using this link in also drop-down menu and single project view, I asked him to change them as well , FYI @WhyldWanderer

[2022-06-21 11:57] markoprljic commented on #899
@MoeNick Please remind me what was the policy we implemented for allowing project owner to select a different receiving address?
I do recall we had some conversations around that, it's a bit foggy to me but I think there was a use case for that where we made the decision to allow it. Maybe @WhyldWanderer or @laurenluz can help refresh our memory here?

I'd love to see user define their wallet addr

[2022-06-21 12:24] mateodaza commented on #703
ready [here](https://github.com/Giveth/giveth-dapps-v2/pull/960) on this pr

[2022-06-21 13:33] WhyldWanderer commented on #121
I know that the devs have it on the roadmap to add a feature that donors can comment on project updates.

We could maybe have a button that says "get involved" and the project owner could provide the link where they want it to connect to?

[2022-06-21 13:57] GriffGreen opened #966 "xDai is at the bottom of the token list for donations."
<img width="613" alt="Screen Shot 2022-06-21 at 6 48 44 AM" src="https://user-images.githubusercontent.com/14945613/174815499-cd69692f-c220-439b-bdb4-7223126fb10a.png">

Can we move this to the top, below Giveth? It is the second most popular donation token behind Giveth

Also why is it Xdai... it looks bad..

Can it be xDai or xDAI? it should be consistent in the token list.

[2022-06-21 15:18] mosaeedi commented on #788
I think it's good for now, but it still looks confusing and we have to make it simpler later, but for now, we can live with this. Thanks @divine-comedian @MohammadPCh

[2022-06-21 20:04] divine-comedian commented on #788
okay here is the PR @MohammadPCh

https://github.com/Giveth/giveth-dapps-v2/pull/968

[2022-06-21 20:19] divine-comedian commented on #745
Is there anyway to test this issue as a user?

[2022-06-21 20:34] divine-comedian commented on #842
hey @RamRamez I think we just needed to move the $ from behind the numbers to in front like this

![image](https://user-images.githubusercontent.com/67759413/174892477-92b19410-9ebf-4f41-a5e8-c5c3e5948959.png)

I just made quick commit on `develop` to resolve this

https://github.com/Giveth/giveth-dapps-v2/commit/ed575696c4e9118f0a406f3b5b479e33dda8bac5

[2022-06-21 21:00] divine-comedian commented on #735
I checked all of the titles and metadata for the updates! looks good! MOVING TO DONE

[2022-06-21 21:38] jeevanplus007 opened #969 "Create a Project - Entering Only Title Field and Clicking on Publish throws an Error"
**Issue :** When Create a Project - Entering Only Title Field and Clicking on Publish throws an Error

**Steps to Repro :**
1.	Click on Create a Project
2.	Enter the Title and do not fill any other details
3.	Click on Publish

**Results :**  Throws Error when clicked on Publish

**Snapshot for Reference :**
![image](https://user-images.githubusercontent.com/107279959/174901012-1cc36103-0ebf-43c5-b

[2022-06-21 21:44] jeevanplus007 opened #970 "Create a Project - Hyperlink "Browse examples." is not Working/Opening"
**Issue :** When Creating a Project and trying to use Hyperlink "Browse examples.", it is not Working or Opening the Projects Page.

**Steps to Repro :**
1.	Create a Project
2.	Click on the Hyperlink – “how to write a great project description”
3.	Click on "Browse examples."

**Results :** Link is not opening.

**Snapshot for Reference :**

![image](https://user-images.githubusercontent.com/107279

[2022-06-21 21:47] jeevanplus007 opened #971 "Create a Project - No Relevant Information in the Hyperlink - "How to write fundraising Project...""
**Issue :** When Creating a Project - No Relevant Information in the Hyperlink - "How to write fundraising Project..."

**Steps to Repro :**

1.	Create a Project
2.	Click on the Hyperlink – “how to write a great project description”
3.	Click on the Hyperlink in the bottom – “How to write fundraising project……………………….”

**Results :** Link is opening but not showing any relevant information.

**Snap

[2022-06-21 21:50] jeevanplus007 opened #972 "Create a Project - Multiple Warning Messages for same issue while selecting more than 5 Categories"
**Issue :** When Creating a Project - Multiple Warning Messages are displayed for same issue while selecting more than 5 Categories.

**Steps to Repro :**

1.	Create a Project
2.	Go to Please Select a Category
3.	Click More than 5 Categories and continue to select more Categories

**Results :** It should not keep displaying more error messages instead should repeat showing/popping up only the exis

[2022-06-21 21:55] jeevanplus007 opened #973 "Create a Project - There is a flickering issue while selecting a New location and it always selects Barcelona for first time"
**Issue :** When Creating a Project - There is a flickering issue while selecting a New location and it always selects Barcelona for first time

**Steps to Repro :**

1.	Create a Project
2.	Go to Where will your Project……… section
3.	Type any Location like Dubai or Africa or India and click on the First Link in the Drop down list

**Results :** By Default, for the First time, it will always go to

[2022-06-21 22:15] jeevanplus007 opened #974 "Deactivating a Project - Hyperlinks in the Deactivate Project are not working as expected"
**Issue :** When Deactivating a Project - Hyperlinks in the Deactivate Project are not working as expected

**Steps to Repro :**

1. Create a Project
2. Publish the Project
3. Go to My Project - Choose the Currently Created Project and Select Deactivate Project
4. Check for Hyperlinks - "Go to my Projects" and "Back to my account"

**Results :**  Both are not working as expected. Both links should

[2022-06-21 22:23] RamRamez commented on #842
@divine-comedian Donation tables should be consistent along the App. In my donations table there is no dollar sign so I decided to replace this one with `USD`.

![image](https://user-images.githubusercontent.com/73441857/174905907-afee38ae-ffe7-477f-a01b-30b37cf56102.png)

[2022-06-21 22:25] jeevanplus007 opened #975 "Deactivating a Project - Instead of SAVE, it is displaying as EDIT after doing an Update"
**Issue :** When Deactivating a Project - Hyperlinks in the Deactivate Project are not working as expected

**Steps to Repro :**

1. Go to My Projects - Choose the Currently Created Project and Select Deactivate Project
2. Go to the Update Tab and add some comments and click on SUBMIT
3. Click on Edit button and check the Edit Option after modifying the data.

**Results :**
1. EDIT button should c

[2022-06-21 22:40] jeevanplus007 opened #976 "Deactivating a Project - Like and Share options should be greyed out or disabled for an INACTIVE PROJECT"
**Issue :** When Deactivating a Project - Like and Share options should be greyed out or disabled for an INACTIVE PROJECT

**Steps to Repro :**
1. Create a Project
2. Publish the Project
3. Go to My Project - Choose the Currently Created Project and Select Deactivate Project
4. Verify Both Like and Share options if they are working.

**Results :** Both Like and Share options are working for an Ina

[2022-06-21 23:40] jeevanplus007 opened #977 "Posting an Update in Project - Update text area should have an expand limit"
**Issue :** When Updating a Project - Update text area should have a expand limit

**Steps to Repro :**

1. Create a Project or Go to My Project - Choose the any Created Project
2. Click on View Project and Select Update tab
3. Type any large content as shown in snapshot and check the behaviour

**Results :** Expand limit should be set for both Update Text area and Edit already Posted Comment area

[2022-06-22 06:51] alireza-sharifpour commented on #738
This issue is just UI related stuff, the upper card and modal is in issue #763 and after that we can connect the upper card to staking modal.
You can check the UI in this Vercel link:

https://giveth-dapps-v2-git-givpower-develop-branch-givethio.vercel.app/givpower

[2022-06-22 07:54] alireza-sharifpour opened #981 "Use React-Hook-Form in all Verification steps"
We should use React-Hook-Form in All Verification steps inputs

[2022-06-22 07:55] alireza-sharifpour commented on #981
Verification Steps:

- [ ] Personal Info
- [ ] Personal Social Media
- [ ] Project Registry
- [ ] Project Contact
- [ ] Activity And Milestones
- [ ] Managing Funds

[2022-06-22 10:42] Cotabe opened #984 "testing DeWork label"
**What problem is this design solving? Why is it necessary?**
*A clear and concise description of what the problem is. Link to any relevant issues, PRs, and other resources.*

**Is there any user data or feedback backing up this feature request?**
*Share any user research conducted by yourself or others.*

**Which metrics will define this feature's success?**
*Provide current and/or expected metri

[2022-06-22 13:41] RamRamez commented on #842
Fixed in PR #980

[2022-06-22 13:53] divine-comedian commented on #842
Let me know when it is merged and I will test again!

[2022-06-22 20:24] jeevanplus007 opened #987 "Create a Project - Cursor issue while doing Copy Paste text"
**Issue :** In Create a Project, While entering text in Text Field or Summary Field - Cursor is always pointing before first letter while doing a Copy Paste text

**Steps to Repro :**

1. Create a Project
2. Go to Name of Project Field or Tell us about your project Text Field and Type some content
3. Copy the content and paste it
4. Verify the Cursor after Pasting the Content.

**Results :** The C

[2022-06-23 12:00] MohammadPCh opened #997 "Add Error Styles to text area component"
We need to have a component that handles errors and shows them like Input(if it has an error, change the border color and ...)

[2022-06-23 12:04] MohammadPCh opened #998 "Custom React-select component handle Error"
We need to have a component that handles errors and shows them like Input(if it has an error, change the border color and show the error message and ...)

[2022-06-23 14:33] aminlatifi opened #999 "Show popup when subgraph is out of sync"
Subgraph sometimes offers poor service and its state is out of sync!
We must compare the subgraph's latest block number (it's available) with the network's value. If the gas is much (equal or more than 2) show a popup to the user.
The text can be
"the Subgraph on Gnosis Chain is experiencing issues, and things will be slow to update"

[2022-06-24 15:18] divine-comedian commented on #688
testing on `staging.giveth.io`

I checked out the project ramin mentioned, there is no longer an error message that appears, I also edited one of my projects and removed all categories and tested it, no errors appeared.

I created a new project with no categories and no error appeared.

![image](https://user-images.githubusercontent.com/67759413/175565818-701fb087-6426-46b9-ae22-5fb07fab39a1.png)

[2022-06-24 15:19] divine-comedian commented on #757
how can this issue be tested?

[2022-06-24 15:20] divine-comedian commented on #746
how can we trigger this email to test it?

[2022-06-24 15:21] divine-comedian commented on #893
where can this issue be tested?

[2022-06-24 15:21] divine-comedian commented on #948
without crashing the server, how could we test this issue?

[2022-06-24 16:11] divine-comedian commented on #865
testing on `staging.giveth.io`

tested responsiveness on mobile, tablet and laptop sizes - looks good
project card formatting looks good
copy url functionality works
copy url functionality returns to normal state
headers look good
no footer - looks good

this issue looks to be resolved! moving to DONE!

[2022-06-24 17:33] divine-comedian commented on #738
I think the responsiveness is a bit off...

on 1024x780 the three top cards are stacked vertically and leave lots of blank space on the sides, maybe scale them down to fit horizontally, anything underneath this size looks fine stack vertically.

Also in the `for projects` heading the CTA still needs to be changed to `browse projects` at the bottom of the card

this is probably a late comment but a

[2022-06-24 17:35] laurenluz commented on #738
@mosaeedi @rodricastillo9013 can you guys have a look?

I'm down for mitch's suggestions

[2022-06-24 18:49] divine-comedian commented on #482
testing on `staging.giveth.io`

same as lauren's comment above! looks great!
![image](https://user-images.githubusercontent.com/67759413/175646894-0dc5e6a3-94a8-4597-820d-ce396753e283.png)

move to DONE!

[2022-06-24 18:50] divine-comedian commented on #552
@alireza-sharifpour any tricks for testing out all these pages?

[2022-06-24 22:02] ahmadabugosh commented on #850
Thanks @divine-comedian , I believe this is because we removed the custom domain (since we couldn't get the SSL to work).

I believe it should work if we just change "http://news.giveth.io/add_subscriber " to "https://www.getrevue.co/profile/giveth/add_subscriber"

[2022-06-26 05:10] mohammadranjbarz commented on #948
If you want to , I can make backend down and you do your tests then I will bring that up again, please DM me when you want to test this

[2022-06-26 07:26] alireza-sharifpour commented on #738
If we want to fit it horizontally in this size, it would be something like this:

<img width="821" alt="Screen Shot 2022-06-26 at 11 49 23 AM" src="https://user-images.githubusercontent.com/48887817/175803835-ab4f7e29-7cd4-4423-a63b-9dce3009f2b2.png">

and with 0 pixel padding:

<img width="803" alt="Screen Shot 2022-06-26 at 11 51 09 AM" src="https://user-images.githubusercontent.com/48887817/175

[2022-06-26 08:24] MohammadPCh commented on #893
@divine-comedian You can test it here:
https://giv-verification.vercel.app/verification/[project-slug]
or just go to the:
https://giv-verification.vercel.app/
go you one of your projects page and click on the verification button.

[2022-06-26 08:42] MohammadPCh opened #1002 "show user email as default value in project verification"

[2022-06-26 09:38] alireza-sharifpour commented on #552
The UI template of these pages is the same.
You can check 404 page => enter a wrong URL.
also you can check default maintenance page => [https://giveth.io/maintenance](url)

[2022-06-26 12:26] RamRamez commented on #842
@divine-comedian It's merged.

[2022-06-27 07:31] RamRamez opened #1005 "some fixes for multi addresses in create project"
In create project page:
1. change `Primary Address` to `Ethereum Mainnet Address`
2. make both wallet address input fields required
3. fix ENS support for mainnet
4. remove ENS for gnosis

[2022-06-27 08:59] MoeNick opened #1007 "Implement sorting value for list of tokens"
As a user, I want to see more popular tokens on each network
As a Giveth Stakeholder, I want to suggest $GIV as the first token to donate

so as a Giveth Admin, I want to custom sort the token list so if any new tokens are added, we can manage the sorting manually.

[2022-06-27 09:03] MoeNick opened #1008 "Frontend: Using the sorting value in token list in donation page."

[2022-06-27 09:14] #776 closed

[2022-06-27 09:43] MoeNick commented on #899
on Testing:

- [ ] Instead of Primary address, we should write Ethereum mainnet.
- [ ] ENS checking should be made only in Ethereum main net address field,
- [ ] ENS checking should be made regardless of which network user is on it right now.

[2022-06-27 11:42] divine-comedian commented on #842
@RamRamez

Looks like the `$` and USD was removed from both views, so now only the numerical value is shown under the USD value column, is this the intended functionality?

![image](https://user-images.githubusercontent.com/67759413/175931156-54b62b25-25cc-4152-aeb1-533cc2a5aa76.png)

[2022-06-27 13:55] #952 closed

[2022-06-27 14:18] divine-comedian commented on #893
I couldn't test this issue because I can't get past the first step, email verification. Will come back to this one.

[2022-06-27 14:22] MoeNick commented on #715
@mohammadranjbarz pls provide test scenario
@jeevanplus007 pls have it in your test sheet.

[2022-06-27 14:28] divine-comedian commented on #804
testing on `staging.giveth.io`
I entered my email and I receive an email into my inbox, I click the link, either the button or raw URL and it takes me to a 404 page on Giveth.io

![image](https://user-images.githubusercontent.com/67759413/175964866-3c62b220-1ee9-4197-9cf7-63d9e97d48af.png)
![image](https://user-images.githubusercontent.com/67759413/175964954-c7cbefd5-3570-432a-9c9d-52e28eb7649b.pn

[2022-06-27 14:31] divine-comedian commented on #748
looking at this page, has the text been reviewed? Also, there is a lot of empty space under the text, can the card be made to fit the text or how can we remove this empty space? @RamRamez
![image](https://user-images.githubusercontent.com/67759413/175965526-75bf4aae-8d85-4c1d-a4dd-8aef4f6124aa.png)

[2022-06-27 14:37] RamRamez commented on #842
What I implemented was according [figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=4393%3A112100):
![image](https://user-images.githubusercontent.com/73441857/175966717-23cc8fa4-b6ee-45b8-81dd-fb3bfd2423dc.png)

@MoeNick told me to bring back the dollar sign though. (PR #1010)

[2022-06-27 14:49] laurenluz commented on #763
@mosaeedi I think we need to update the links to the figma here. Can you please do it?

Also first, please resolve the outstanding comments that are in there from Griff, Marko & me.

[2022-06-27 14:50] #884 closed

[2022-06-27 14:58] divine-comedian commented on #876
testing this out

on tablet/mobile view shouldn't these  top two elements be swapped so it matches the order on laptop view? Or perhaps a better question is why is it a separate element? Wouldn't it make more sense to add the menu next to the bottom element and remove the top one altogether?

<img width="1440" alt="Screen Shot 2022-06-27 at 9 49 52 AM" src="https://user-images.githubusercontent.co

[2022-06-27 15:00] divine-comedian commented on #876
on tablet view the top two elements are different widths than the bottom one, shouldn't they match widths?

![image](https://user-images.githubusercontent.com/67759413/175971654-ae5937ce-5442-4ded-be8f-a8af3daf3a0c.png)

[2022-06-27 16:48] divine-comedian commented on #552
I can see in the figma the images and text are a bit different from each other.
Need to check still:

- [ ] Error 401
- [ ] Error 403
- [ ] 502
- [ ] 500
- [ ] 503
- [ ] 504

Any tricks for how to test these?

[2022-06-27 17:06] divine-comedian commented on #842
testing `staging.giveth.io`

Okay! Well I checked again on both the project view and my donations view and they both have the $ appearing in the correct place! Let's call this DONE

[2022-06-27 20:38] NikolaCreatrix commented on #492
And 4 more issues here is a doc w/ prntscrns

https://docs.google.com/document/d/1761qUNT8Lgjgun2vRnr4voKBroMlJ_7HZz6RI-slygw/edit?usp=sharing

[2022-06-27 20:52] WhyldWanderer opened #1012 "Verification form - Milestones section - File Upload"
Testing here: https://giv-verification.vercel.app/
On chrome browser

The user should be able to upload files as well as images... pdf, docx, etc.

This should say "file" rather than image:

![image](https://user-images.githubusercontent.com/74267818/176033204-e10c5e8e-ec38-4067-9ac6-32a41abbfd34.png)

[2022-06-27 23:32] mateodaza commented on #966
@CarlosQ96 @mohammadranjbarz can you guys change the name on the database for xDai?

All rest is fixed on this [PR](https://github.com/Giveth/giveth-dapps-v2/pull/1013)

[2022-06-28 08:57] RamRamez commented on #748
@divine-comedian as far as I know, the text had been reviewed in figma. The empty space and the text is according to [Figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=8474%3A182721).
If you think they can be better, please talk with @MoeNick .

![image](https://user-images.githubusercontent.com/73441857/176138201-04f49744-192a-411d-9559-a5bf6dab3763.png)

[2022-06-28 09:05] RamRamez commented on #876
@MoeNick @mosaeedi

[2022-06-28 09:06] RamRamez commented on #876
@MoeNick @mosaeedi

[2022-06-28 09:33] RamRamez commented on #876
thanks @divine-comedian fixed in PR #1016

[2022-06-28 09:44] divine-comedian commented on #738
I think the above one with padding looks fine, given it's the exceptional case of 1024px - 1440px screens.

[2022-06-28 09:46] divine-comedian commented on #748
Okay, well according to Figma it looks to be the right spec. moving to DONE.

[2022-06-28 09:49] rodricastillo9013 commented on #738
hi how are you! sorry for the delay, @mosaeedi  will take care of adapting this with a responsive grid! @divine-comedian @laurenluz

[2022-06-28 10:07] MoeNick commented on #902
@jeevanplus007 I think you can relate the test scenario number in your sheet to this issue.

[2022-06-28 10:48] MoeNick commented on #843
Let's not let the user open the token list while not connected. @RamRamez @alireza-sharifpour