[2022-09-08 02:10] Cotabe opened #1483 "Add module to nudge donations to matching pool at check out"
**What problem is this design solving? Why is it necessary?**
We need to increase donations to Giveth Matching Pool to create more impact and make GIVpower and the usability of our token more successful.

Suggesting a donation to the matching pool may go a long way in this.

**Is there any user data or feedback backing up this feature request?**
Many organizations have similar models like Eventbri

[2022-09-08 07:45] alireza-sharifpour commented on #901
I think it doesn’t need an issue anymore, because it would be a part of our workflow, but before that, we all need to get on the same page.
I think this issue was mainly for Research and configuration of the tools, and it's done.
@MoeNick

[2022-09-08 08:28] alireza-sharifpour commented on #1121
It's the latest design, i think we need to clear old designs so the latest one be more clear @mosaeedi @MoeNick

[2022-09-08 08:41] alireza-sharifpour commented on #1121
Thanks @maryjaf for testing, it's weird!
I tested it and i couldn’t reproduce the bug that you mentioned, is it possible for you to install [React Dev Tools](https://chrome.google.com/webstore/detail/react-developer-tools/fmkadmapgofadopljbjfkapdkoienihi?hl=en) and check here and send an screenshot when there is a problem here?
When you install React Dev Tools you will have new section in the Chro

[2022-09-08 13:26] NikolaCreatrix commented on #1364
@MoeNick so after our little discord 3some chat:) with Carlos, do you still need more clarity?

[2022-09-08 13:28] RamRamez opened #1485 "sign out user automatically when user wallet is changed"
1. in account view if user changes the metamask account, it says `Your profile is incomplete` (even if the user profile is completed). The correct way is that it should ask user to sign in.

![image](https://user-images.githubusercontent.com/73441857/189134313-eb135536-251c-44e9-8453-bc7091ea2fe8.png)

2. in account view if user locks his wallet, he can still see the dashboard. The correct way is

[2022-09-09 08:03] maryjaf commented on #1121
Thanks @alireza-sharifpour
This scenario happens when you select a main category for the first time.

[2022-09-09 11:33] clara-zi commented on #1300
Hi. Can you please confirm if the givbacks are now allocated for this donation? @CarlosQ96 @MoeNick. Thanks.

[2022-09-11 10:27] MohammadPCh commented on #901
@MoeNick writing test is not an easy task. we need all team members to be ready for writing and also, need to have the additional time budget for each job.
for example consider all team members know how to write tests because we don't have experience in the team, a task with 5 story points maybe takes 8 or 13 story points.

[2022-09-11 11:58] MoeNick commented on #1364
@NikolaCreatrix this is related to another task, in the verification form, as you see @WhyldWanderer asked to let the user know the rules of keeping the project updated before they apply for verification.
My question is, where and which "content" should change in verification forms?

[2022-09-11 14:42] maryjaf commented on #1469
I tested this scenario and  the caption will be removed when the addresses are entered correctly.
<img width="667" alt="image" src="https://user-images.githubusercontent.com/111529185/189533604-0c830dc3-2764-45d0-8ef1-15b2289261a4.png">

[2022-09-11 19:10] maryjaf commented on #1459
I tested and 1 & 2 passed, but i didn't understand 3 @RamRamez

[2022-09-12 08:53] tropicalmangos opened #1525 "Notification Pop Up Copy (sorry dunno where this goes)?"
Here's the copy I wrote @MoeNick

https://docs.google.com/spreadsheets/d/1VMsmF9oJEwf1JyNEAfWi2n2eYvG6ZtnkXKB_3Hv29x8/edit#gid=0

[2022-09-12 10:07] RamRamez commented on #1459
According to [figma ](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=2900%3A99698) these gaps are wrong:

![image](https://user-images.githubusercontent.com/73441857/189626456-a1f1397f-395a-43f7-976b-3fab9559bc43.png)

It should be like:

![image](https://user-images.githubusercontent.com/73441857/189627981-dee981c8-3d8a-499c-aaf4-2be6b71908a3.png)

It affects t

[2022-09-12 11:39] RamRamez commented on #1079
This deign is implemented in PR #1482

For testing:
I added `wallet not connected` and `user not signed in` design to:
1. Verification
2. Onboarding
3. create and edit project
4. account view

I found a bug and fixed it in this PR
In some pages (like ) there is no footer. the bug is when user return to another page (that has footer) from that page, there's no footer in the new page. I fixed it in

[2022-09-12 12:57] MoeNick commented on #1079
@maryjaf jaan, pls take a look and test! :)

[2022-09-12 13:09] MoeNick commented on #1374
Thanks @tropicalmangos it's perfect, I'm ok with the concept, we have to gather all feedback and let it happen :)
However, my question above about backward compatibility is still not solved, what to do with the old and existing projects? how we can fill the content with a new format? what the onboarding flow is look like to convince them to provide more information? how they got there?

[2022-09-12 13:11] MoeNick commented on #901
Im with it! Let's make it happen.
I think we have to close this and create another for the test plan, guidelines, milestones, and monitoring of the test coverage. what do you think? @MohammadPCh @alireza-sharifpour

[2022-09-12 13:13] MoeNick commented on #1121
@maryjaf ut's waiting for your confirmation.

[2022-09-12 13:57] mateodaza commented on #744
We're live!

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/18689480/189672649-2431878e-3679-4efc-86bd-6c2666c0d364.png">

You gotta toggle the staking and pool2 options to show all the values, the reasoning for that it's explained [here](https://github.com/DefiLlama/DefiLlama-Adapters/discussions/438)

[2022-09-12 14:19] mateodaza commented on #744
Also, found out we can make this work for DefiPulse as well
![image](https://user-images.githubusercontent.com/18689480/189677757-f44c8c53-d099-454d-b390-4283687e12b6.png)

Should we do it? I think we should! @MoeNick @GriffGreen @divine-comedian

[2022-09-12 14:23] MoeNick commented on #758
@divine-comedian @maryjaf pls confirm and merge.

[2022-09-12 14:23] MoeNick commented on #759
@divine-comedian @maryjaf pls confirm and merge.

[2022-09-12 14:23] MoeNick commented on #761
@divine-comedian @maryjaf pls confirm and merge.

[2022-09-12 14:24] CarlosQ96 commented on #744
Imo, if we want the coin more visible and go up we should!

[2022-09-12 14:27] MoeNick commented on #1122
@maryjaf pls check.

[2022-09-12 14:37] MoeNick commented on #1367
@maryjaf @divine-comedian , pls chaeck for scenario: make it revoked in Admin so you should not see the apply for verification in owner view

[2022-09-12 14:47] MoeNick commented on #477
@MoeNick to sync frontend and backedn together.
@CarlosQ96 would you pls snd the related endpoints here.

[2022-09-12 16:47] maryjaf commented on #1121
thanks @alireza-sharifpour
The last bug is fixed

[2022-09-12 17:07] maryjaf opened #1494 "Add sorting to list of mainCategories and sub categories in project detail page"
@maryjaf commented on [Sun Sep 11 2022](https://github.com/Giveth/GIVeconomy/issues/720)

Sorting is alphabetical. First in Main Categories then in Sub Categories.

[2022-09-12 20:49] divine-comedian commented on #1145
testing this out on https://giveconomy.vercel.app/

it appears to work but as lauren said, if I have tokens that can be staked, the pool is not archived and if they are connected to the right network.

If I am not connected to the right network I am prompted to change networks, once I change networks however there is no following modal to stake my tokens anywhere.

[2022-09-12 21:36] divine-comedian commented on #1367
testing this out on https://staging.giveth.io

in the adminbro I 'revoke badge' of a verified project which I am the owner of.

if this project is active then now my projects says I have to verify my project.

I do not have to add any updates or change anything in my project to continue with the re-verification process. I have to completely redo the verification process and submit again for review

[2022-09-13 08:26] MohammadPCh commented on #762
@alireza-sharifpour can you take the integration of this part with the back-end? we need it for 14 Sep (Test party).

[2022-09-13 09:28] maryjaf commented on #1122
@alireza-sharifpour plz check this scenario:

I choose the  "TestMary" mai category
3 projects will be viewed (Maryam jafarimehr/test cats/ testnotif11)
which  2 project have  "TestN" sub categories and one Jaftest  sub category
But when I select subcategory "TestN" , 0 projects is displayed
{4 items
"variables":{3 items
"sortingBy":string"QualityScore"
"category":string"testn"
"mainCategory":stri

[2022-09-13 09:31] maryjaf commented on #1122
and this:
I choose the "non-profit"  main category
1117 projects are displayed
But the number of sub-category projects of this category is different from this number
@alireza-sharifpour

{4 items
"variables":{2 items
"sortingBy":string"QualityScore"
"mainCategory":string"non-profit"
}
"setVariables":string"function () {}"
"mainCategories":[10 items
0:{...}6 items
1:{...}5 items
2:{...}5 items
3:{.

[2022-09-13 10:04] alireza-sharifpour commented on #762
Sure, I'll take it.

[2022-09-13 10:19] maryjaf commented on #1122
I didn't see search icon in some size of page, it's ok?
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/941e5dcc-ebb5-49a8-96b7-7a134bce4d3e)

[2022-09-13 12:40] NikolaCreatrix commented on #1364
![mandatory updates before you get verified](https://user-images.githubusercontent.com/100084867/189902369-bf66abf8-1e28-4e68-a89d-7be3ce22aa76.png)

In the selected section - see picture, please paste this sentence:

"On the other hand, you will be required to post regular updates about your project, otherwise your verified badge could be revoked after 3 months of no updates."

Sounds good @MoeNi

[2022-09-13 14:26] alireza-sharifpour commented on #1122
Thanks @maryjaf for testing, we did some changes, could you please test it again?

[2022-09-13 14:27] alireza-sharifpour commented on #1122
because of the size of your screen it renders tablet design and it's ok, in order to access search button you need to click on 3 dots icon.

[2022-09-13 16:26] CarlosQ96 commented on #477
Hey @MohammadPCh @alireza-sharifpour @RamRamez
This are the docs for the staging backend: https://staging.notification.giveth.io/docs

Here are the endpoints:
1. GET https://staging.notification.giveth.io/v1/notification_settings
    -  Retrieves User notifications
    -  Query Params: limit, offset, category
    -  Category is optional for extra filtering, but posible values are: general, project

[2022-09-14 04:29] maryjaf commented on #1122
I tested again, but I did not see any change in these scenarios

[2022-09-14 04:51] alireza-sharifpour commented on #1122
I checked it and we are sending the query correctly to the backend, I think backend guys can check it @mohammadranjbarz @CarlosQ96

[2022-09-14 04:52] alireza-sharifpour commented on #1122
I also check this and it seems frontend works fine, @mohammadranjbarz @CarlosQ96 please check this.

[2022-09-14 05:05] CarlosQ96 commented on #1122
@alireza-sharifpour Ok I updated it according to another image I was shown in another issue. But seeing this one, I missed one query to update with the new sorting.

Will update it accordingly. Letting you know soon.

[2022-09-14 05:46] CarlosQ96 commented on #1122
After having a call with @alireza-sharifpour
The issues are:
1. Filtering by main category for example,  'Non-profit' return 1170 projects, but the sum of subcategories is less than the total.
2. Filtering by TestMary mainCategory and TestN sub category is not returning the project, even tho the project has this categories.

[2022-09-14 05:48] mohammadranjbarz commented on #1494
@MohammadPCh  @alireza-sharifpour  @RamRamez
Do you want this just for `projectBySlug` query?

[2022-09-14 05:52] alireza-sharifpour commented on #1494
We are using projectBySlug here, so, yes.

[2022-09-14 06:28] mohammadranjbarz commented on #1494
@alireza-sharifpour  @MoeNick
@CarlosQ96  Fixed that in https://github.com/Giveth/impact-graph/commit/fcf74cda9ff1ef896ff0dbef0ed679ceaa72416f , now it's on staging

[2022-09-14 07:23] MoeNick commented on #1292
We can transfer whenever we are sure about the identity of the person who is going to claim that account.

[2022-09-14 07:24] #1373 closed

[2022-09-14 07:24] #744 closed

[2022-09-14 12:18] mateodaza commented on #1367
@MoeNick should we make new issues from the UX suggestions Mitch just mentioned? or what do you say?

[2022-09-14 12:27] MoeNick commented on #1367
@mateodaza hmmm... yeah lemme talk with @mosaeedi and will update this issue, thanks for tagging me here.

[2022-09-14 13:20] MoeNick opened #1497 "PM verification UX after the revoked badge removed."
if this project is active then now my projects says I have to verify my project.

I do not have to add any updates or change anything in my project to continue with the re-verification process. I have to completely redo the verification process and submit again for review, in admin bro I see my project and can add back my verification badge and listed status.

This UX could use some improvements:

[2022-09-14 13:26] maryjaf commented on #1494
I tested on givfilter.vercel.app and main category and sub category are displayed in alphabetical order

[2022-09-14 13:38] maryjaf commented on #1079
Thanks @RamRamez
I tested the above scenarios and no problem was found.

[2022-09-14 13:46] maryjaf opened #1499 "User profile information is not displayed on the onboarding page(/onboard)"
Even though the user profile information is completed, when we enter the link below
https://staging.giveth.io/onboard
It is displayed as below:
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/d6d6ee68-9b98-461a-b447-e566cf598c16)
It is better to display user's completed fields

[2022-09-14 13:46] maryjaf commented on #1499
@MoeNick plz check this issue

[2022-09-14 14:16] CarlosQ96 commented on #1122
@maryjaf I added in the projects details the missing sorting alphabetically.

[2022-09-14 14:17] CarlosQ96 commented on #1494
Oh thanks for testing so fast! I mentioned it too in another issue 😄

[2022-09-14 14:17] aminlatifi opened #1501 "GIVPower my account dashboard - wrong data submit"
In this situation it allows me to submit. The backend returns an error, but the UI must disallow the user to submit something like this.
<img width="846" alt="image" src="https://user-images.githubusercontent.com/5684607/190179465-b5408cf7-aeae-4acd-ab46-bee26a04621c.png">

[2022-09-14 21:15] clara-zi opened #1505 "QR code for donors to scan that goes straight to donate page for a project."
Project owner asking for a QR code on project page for potential donors to scan and send funds.

[2022-09-15 05:57] aminlatifi commented on #1501
It happens when there are only 2 boosted projects.

[2022-09-15 06:02] aminlatifi opened #1507 "Boost table unlock icon and percentage alignment"
**Describe the bug**
The unlock icon and the percentage sign overlap for a short moment after I click edit boost on my account page.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to My account
2. Click on Boosted projects tab
3. Click on edit boosting
4. See the error

**Expected behavior**
Have the final alignment at the beginning

<img width="222" alt="image" src="https://user-images.

[2022-09-15 13:14] MoeNick commented on #1364
@mateodaza ABOVE pls see the instructions :) ^^

[2022-09-15 15:49] divine-comedian commented on #812
Hey! I would love to see this issue happen, I keep going on the app and dreaming of a drop down menu

[2022-09-15 16:21] maryjaf commented on #1122
Thanks @CarlosQ96
Yes, I tested this and it passed
I also commented on issue 1494

[2022-09-15 16:25] maryjaf commented on #1122
Do we have an update  on this?

[2022-09-15 17:07] divine-comedian commented on #761
In this view here- when a project has not been boosted yet the copy seems a bit off.

This is not my project so it should not refer to this as 'your project' copy should be:

'This project hasn't received any boosts yet!'
'Share this project on social media and ask your friends for a boost!'

- it would be cool if 'Share this project' opened the modal similar to the share button on the card on the

[2022-09-15 17:26] divine-comedian commented on #761
this project has no boosts but it is rank `#8`, how can it have a ranking with no GIVpower?

![image](https://user-images.githubusercontent.com/67759413/190470727-245017d2-b395-41d3-a8f8-e1f9b8e55d58.png)

[2022-09-15 17:31] maryjaf commented on #758
I didn't see this modal when i applied some change in boosting percentage

![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/a9a18e69-8233-4817-814a-55ff1c0471e3)

[2022-09-15 17:42] divine-comedian commented on #759
testing on https://givpower.vercel.app/

I will add in issues continually as i find them to this issue.

Looking at this page I notice a few issues:

![image](https://user-images.githubusercontent.com/67759413/190472507-a5015a0d-5ae5-4152-85ae-bad97affed95.png)

- where it says `~Total amount of GIVpower` the `~` should be in front of the number below, not the text
- some capitalization should be

[2022-09-15 18:59] divine-comedian commented on #759
text fixes pending in
https://github.com/Giveth/giveth-dapps-v2/pull/1511

[2022-09-16 05:25] maryjaf commented on #761
Please check this scenario:
I'm on a GIVpower tab of a project
I select BOOST and complete the process
I expect that the boosting list will be updated at the end of the process
But this does not happen and I have to refresh the page to see the changes

And one more thing, when a project is boosted by several users, The TOTAL GIVPOWER & PROJECT RANK is displayed as pic below:
![image.png](https://i

[2022-09-16 16:17] divine-comedian opened #1512 "GIVpower - Locked GIV details table header font"
testing on https://givpower.vercel.app/givfarm

the text on this header is all misaligned - the size or styling should be fixed

also the `?` on the bottom seems to be top aligned when it should be center aligned with the text in front of it, not slightly above it.

![image](https://user-images.githubusercontent.com/67759413/190694907-082f9dd7-5790-4584-b58b-18d5c24010af.png)

[2022-09-16 16:38] franculio commented on #1346
Tested on https://givpower.vercel.app/givfarm

I found that the two cards are separated. The only thing I can click on the mainnet givfarm is "provide liquidity" and it links me to an empty site. Is this what the issue was about?

<img width="1344" alt="Captura de Pantalla 2022-09-16 a las 18 33 48" src="https://user-images.githubusercontent.com/79286405/190687750-84d1749f-d9f0-425c-9a63-d61aeb677

[2022-09-16 16:45] franculio commented on #1346
This farm production has been already archived.

[2022-09-16 17:05] franculio commented on #1285
Tested on https://givpower.vercel.app/givfarm with DRGIV2 and TestWETH for LP tokens.

I tested with both approving and permit mode and it worked both times.

<img width="462" alt="Captura de Pantalla 2022-09-16 a las 19 02 45" src="https://user-images.githubusercontent.com/79286405/190691785-5c9d1476-565a-43ed-8e08-6f89caeff000.png">

[2022-09-16 17:23] franculio commented on #1312
Tested on https://givpower.vercel.app/givfarm

All the tooltips seems to be where they should be:

Unstake
<img width="685" alt="Captura de Pantalla 2022-09-16 a las 19 19 45" src="https://user-images.githubusercontent.com/79286405/190695428-715d8c84-fca3-478f-8d64-c6cd0f08fd0c.png">

APR's

<img width="685" alt="Captura de Pantalla 2022-09-16 a las 19 20 46" src="https://user-images.githubusercon

[2022-09-16 17:52] divine-comedian opened #1513 "GIVpower Staking & Locking - Mobile Responsiveness"
testing on metamask browser
https://givpower.vercel.app/givfarm
google pixel 6

quite a few mobile responsiveness things that could be improved - I will follow with some screenshots from my mobile device

![Screenshot_20220916-130833.png](https://user-images.githubusercontent.com/67759413/190704554-4f049775-ff75-4227-821a-773927f81ccf.png)

the size of the numbers across the modals could be enlarg

[2022-09-16 18:19] divine-comedian commented on #1355
coming back to this issue - it's been well over 3 weeks and I can still see the discontinued pools, unarchived on production. Did we move the date or is this an error?

![image](https://user-images.githubusercontent.com/67759413/190705831-76997e9d-a9cb-4e3e-9646-87b22be0ce3d.png)

[2022-09-16 18:42] divine-comedian opened #1514 "GIVpower card header is different on mainnet vs. gnosis"
testing on https://givpower.vercel.app/givfarm

the small header text on the card says givpower on mainnet (goerli) when I switch to gnosis chain it says givpower givgarden - which is the correct text?

## Goerli
![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/ddaca599-d7e0-4698-a1f5-5d4dddca796a)

## Gnosis Chain

![image.png](https://images.zenhubusercontent.com/5fff1c

[2022-09-18 07:52] mohammadranjbarz commented on #1122
@CarlosQ96  Are you working on the second item?
do you have any idea about that?

[2022-09-18 08:32] MohammadPCh commented on #758
@maryjaf Thanks for reminding me. I will leave a PR for it today.

[2022-09-18 08:52] MohammadPCh commented on #758
@divine-comedian Thanks for testing and fixing.
About the black line, It's weird can you take a video when it happens? because I can't reproduce it.
it's easy to show the total GIVpower at the bottom but we don't have it on the design. also, we show it on top of the table.
Thanks again.

[2022-09-18 08:52] MohammadPCh commented on #901
I'm totally agree with you

[2022-09-18 09:10] MohammadPCh commented on #477
Thanks @CarlosQ96

[2022-09-18 11:20] aminlatifi commented on #761
It had rank #8, because only 7 projects had been boosted till that time. Does it make sense to you?

[2022-09-18 11:23] aminlatifi commented on #761
@maryjaf We update the list periodically or on certain special events. Updating all the ranking and scoring by every change in the boosts (which can be done by any user) can consume lots of resources and make the system volnurable.

[2022-09-18 18:37] maryjaf commented on #761
Thanks @aminlatifi
so 1st scenario is accepted

@MohammadPCh plz check item 2

[2022-09-18 18:47] maryjaf commented on #704
Can this issue be tested by qa? @mohammadranjbarz

[2022-09-18 18:50] maryjaf commented on #710
How to test this issue? @mohammadranjbarz

[2022-09-19 01:56] mohammadranjbarz commented on #710
@maryjaf  It's all technical about how we want to implement in backend side, there isn't anything for test on this issue

[2022-09-19 01:57] mohammadranjbarz commented on #710
@MoeNick
Should I move this kind of issues to `Done` myself?

[2022-09-19 01:58] mohammadranjbarz commented on #704
@maryjaf
No it cant be tested, but the new microservice is https://staging.notification.giveth.io/docs/ that you already tested, so we can move it to done

[2022-09-19 06:18] MoeNick commented on #761
@alireza-sharifpour @MohammadPCh is there any updates on this?

[2022-09-19 07:59] aminlatifi opened #1518 "Show correct rank number in project view givpower table"
Attribute `rank` is added to the user project givpower API by https://github.com/Giveth/impact-graph/pull/645
So the frontend must use that value for ranking

<img width="916" alt="image" src="https://user-images.githubusercontent.com/5684607/190973561-7bea223a-86e7-4547-a19f-df17c63247cd.png">

#761

[2022-09-19 10:11] aminlatifi commented on #761
@divine-comedian @maryjaf
User rank is fixed
<img width="905" alt="image" src="https://user-images.githubusercontent.com/5684607/190995607-95dc00ea-e44e-4795-9075-4d17b1bcfc3c.png">

[2022-09-19 11:45] MoeNick commented on #1497
@CarlosQ96 @mohammadranjbarz
to solve this problem, I think we have to change the status of the related verificationForm to draft, right after the project gets revoked badge.
What do you think?

[2022-09-19 11:52] mohammadranjbarz commented on #1497
@MoeNick  Yeah I think it's really a good idea if we had a related verification form for that project ( because the older project doesn't have that), we change the status of certification form to `draft`

[2022-09-19 12:18] mohammadranjbarz commented on #1122
@alireza-sharifpour  @MoeNick  I found the issue, backend is ok, the category(sub category) entity is like this
[code]
You should show the value  in frontend but when sending to filter with sub categories you need to send name, so because of that you get 0 for giving block project while there 1118  projects in giving blocks, please do the changes you would get correct result

This is a curl that r

[2022-09-19 12:39] MohammadPCh commented on #758
@maryjaf the save modal merged. now you can test it. thanks.

[2022-09-19 12:41] MoeNick commented on #1367
@maryjaf
Test Scenario:
Make a project revoked, and the verify my project button should be be appeared in project owner view, in all statuses.

[2022-09-19 13:04] MoeNick commented on #812
I follow it up with @mosaeedi

[2022-09-19 13:16] MohammadPCh commented on #759
@divine-comedian thanks for the fixes.

[2022-09-19 13:22] MoeNick commented on #477
Hey @CarlosQ96
As per discussed, can you also relate them here, so I have clue about how can I work on the product side with @mosaeedi ?

[2022-09-19 13:41] #901 closed

[2022-09-19 14:03] alireza-sharifpour commented on #1122
Thanks @mohammadranjbarz, this is now implemented and ready to be tested
@maryjaf

[2022-09-19 14:10] #1434 closed

[2022-09-19 14:15] CarlosQ96 commented on #1292
@MoeNick @clara-zi the project has been transferred to the new user. I will notify him. @WhyldWanderer  also gave me the green light to do this

[2022-09-19 14:15] CarlosQ96 commented on #1292
Should I move to done?

[2022-09-19 14:16] CarlosQ96 commented on #1292
Here is the proof:
https://giveth.io/user/0xd5f4e89809a4236f7b7e72e63941516b26296fb0

Project show in her user page.

[2022-09-19 14:16] CarlosQ96 commented on #1292
Updated the project wallet addresses

[2022-09-19 14:22] MoeNick commented on #1435
@mosaeedi

[2022-09-19 14:29] MoeNick commented on #1499
1- in case of incomplete profile, the available information should be filled if any of them is available
2- in case of a completed profile with no information: we should say that the user should not see this page. (,maybe they have the URL https://staging.giveth.io/onboard)

[2022-09-19 14:38] #870 closed

[2022-09-19 17:46] maryjaf commented on #1122
Thanks @alireza-sharifpour @mohammadranjbarz 1 & 2 scenarios are passed

[2022-09-19 17:51] maryjaf commented on #758
With the new change, the modal is now displayed
But despite selecting the "cancel ", the changes will be applied

[2022-09-19 19:27] divine-comedian commented on #758
it might be a firefox issue - check out this quick video
[Screencast from 19-09-22 14:25:45.webm](https://user-images.githubusercontent.com/67759413/191099344-055fd157-e84a-400c-b2da-9acffd8256e9.webm)

[2022-09-20 00:06] mateodaza commented on #211
Fixed a while ago. Thanks @alireza-sharifpour

<img width="649" alt="image" src="https://user-images.githubusercontent.com/18689480/191139927-b2eb44ba-37b5-44ac-beff-9e88927a6cdc.png">

[2022-09-20 15:47] maryjaf commented on #761
Thanks, it's ok now

[2022-09-20 18:16] CarlosQ96 commented on #1270
PROJECT_BADGE_REVOKE_REMINDER = **Project badge revoke reminder**, ( 30/45 days)
PROJECT_BADGE_REVOKE_WARNING = **Project badge revoke warning**, (45/60 days)
PROJECT_BADGE_REVOKE_LAST_WARNING = **Project badge revoke last warning**, (90 days)
PROJECT_BADGE_UP_FOR_REVOKING = **Project badge up for revoking**, (those already expired but will be revoked on october 15th)
PROJECT_BADGE_REVOKED = **Pro

[2022-09-20 18:19] WhyldWanderer commented on #1270
Thanks Carlos!
I will reach out to Mitch today to see if he can help me learn Segment more so I can set up these events to trigger the emails.

[2022-09-20 23:57] mateodaza commented on #211
Solved on the  `categories-develop-branch`

[2022-09-21 11:26] MohammadPCh commented on #758
@divine-comedian may be it is scroll. because your icons do not show correctly, do yo see the screen in 100% zoom?

[2022-09-21 12:32] maryjaf commented on #758
Thanks @MohammadPCh it's ok .

[2022-09-21 14:03] MohammadPCh commented on #758
@divine-comedian can you test it on this preview link?
https://giveth-dapps-v2-git-758-fix-boost-table-icon-givethio.vercel.app/

[2022-09-21 14:13] divine-comedian commented on #758
looks good now!

![image](https://user-images.githubusercontent.com/67759413/191527970-c951d848-d7b6-4233-a2ff-5cd5d6273303.png)

[2022-09-21 14:16] divine-comedian commented on #1354
Yes we need to top-up the token distro based on how long it takes for GIVpower to launch - how many weeks we needed to extend giv single staking

[2022-09-21 14:23] divine-comedian commented on #1304
looks good!

![Screenshot_20220921-092219.png](https://user-images.githubusercontent.com/67759413/191530370-f0933f61-2dae-4be5-a865-a410ededafb2.png)

[2022-09-22 09:02] maryjaf commented on #759
Can we move this issue to the unit test pass column? @divine-comedian

[2022-09-22 09:13] maryjaf commented on #761
The problem of project ranking still exists,and the project project hasn't received any boosts yet has ranked 11
I'll  move this issue to in progress column
@MoeNick @aminlatifi
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/c7c8e21d-65de-42f5-a6d3-9239a944162a)

[2022-09-22 09:14] maryjaf commented on #758
Can we move this issue to the unit test pass column? @divine-comedian

[2022-09-22 09:32] aminlatifi commented on #761
Actually it's not a bug in developers' view! it means only we have 10 projects with positive allocated power. Hence, if we sort projects based on allocated power, this project will be put in 11th position.
The rank is provided by the API, the database ranks projects based on the value. If we need to show something else, it think the best way is to add a condition in the frontend rather than changi

[2022-09-22 09:39] maryjaf commented on #761
Thanks for the explanation
I also had a question, what is the difference between a project that has not been boosted and has rank 11 and a project that has not been ranked?
<img width="878" alt="image" src="https://user-images.githubusercontent.com/111529185/191713728-143fe6a4-345d-420d-a936-5e3665637f9a.png">

[2022-09-22 09:41] aminlatifi commented on #761
All the projects must be ranked based on our backend implementation. Maybe the frontend doesn't show the rank for some other reason (is not verified, etc.) @alireza-sharifpour

[2022-09-22 10:05] alireza-sharifpour opened #1537 "Conflict between Cypress and Jest"
There is a conflict between jest and cypress typescript

![Screen Shot 2022-09-22 at 1 33 04 PM](https://user-images.githubusercontent.com/48887817/191718829-764dc018-e943-4b2b-b68b-a8feaefc047d.png)

So we need to tell our main typescript compiler to limit itself to src and pages folder

[2022-09-22 10:05] alireza-sharifpour commented on #1537
The solution for us would be something like this:
https://github.com/neiltownsley/react-typescript-cypress/pull/1

[2022-09-22 10:24] maryjaf commented on #1436
How long is the lifetime of the token, and with this issue, what do we expect to happen after the token expires?
There was no figma on the task
@MohammadPCh @alireza-sharifpour

[2022-09-22 10:26] maryjaf commented on #1468
How do I test texty-primary (NOT NOW)? @alireza-sharifpour

[2022-09-22 10:40] alireza-sharifpour commented on #761
It seems the problem is because backend sends projectPower: null
![Screen Shot 2022-09-22 at 2 10 02 PM](https://user-images.githubusercontent.com/48887817/191726126-9c44bfbf-48ed-4be8-92ec-8ccbe2b15ec2.png)
@aminlatifi

[2022-09-22 10:45] ahmadabugosh opened #1539 "Add Google Analytics (Tag Manger) to the website"
Hey team,

Following up on [this issue](https://forum.giveth.io/t/should-we-add-more-tracking-to-the-website/805).
I just had a call with @geleeroyale about adding Google Analytics to the website, and we had a long discussion (along with @clara-zi and @tropicalmangos).

We decided to use Google Analytics (using Google Tag Manager), mainly because it works out of the box with what we need, and any

[2022-09-22 10:48] aminlatifi opened #1540 "GIVpower page modifications for Staking/Locking"
@laurenluz @MoeNick
I have upgraded the Garden unipool contract corresponding to the develop env. Now it supports locking functionalities.
The start time equals token distro start time and the duration is 14 days.

I created the subgraph based on this new configuration, it's been deployed here https://thegraph.com/hosted-service/subgraph/aminlatifi/giveconomy-xdai-deployment-seven?selected=logs

W

[2022-09-22 10:51] aminlatifi commented on #1394
@maryjaf It's fixed in giveconomy branch. @MohammadPCh  will push this fix as a hot fix to production and also merge it to the develop branch too

[2022-09-22 11:31] alireza-sharifpour commented on #1468
I think it doesn’t need testing, because it's an internal thing, what is your idea @MohammadPCh ?

[2022-09-22 11:35] alireza-sharifpour commented on #1436
Backend Guys know the exact Expiration time @mohammadranjbarz @CarlosQ96
the issue was when we wanted to logout with invalid or expired token, the logout function didn’t work, because the token was not valid, so we couldn’t sign the user out.
know the issue is fixed.
for testing you can sign in and then change the token in localStorage or remove one or two letter from the end of it to make it inva

[2022-09-22 12:02] mhmdksh commented on #1374
Whoaaaahhhh???

[2022-09-22 12:23] MoeNick commented on #1525
Hey @tropicalmangos
I made some changes to some of them, worth to tale a look at it again:
https://docs.google.com/spreadsheets/d/1VMsmF9oJEwf1JyNEAfWi2n2eYvG6ZtnkXKB_3Hv29x8/edit#gid=0

[2022-09-22 12:37] MoeNick commented on #1394
If it's working on giveconomy branch (as a UAT) so @maryjaf after the success test, pls put it in Done.

[2022-09-22 13:21] MoeNick commented on #1401
Hey @danelsuga , to be honest, we do not support this wizard, it's a legacy and old code, however, my question is why you got there. do users still visit this page?

[2022-09-22 13:29] MoeNick commented on #759
@maryjaf text fixes have been done in https://github.com/Giveth/giveth-dapps-v2/pull/1511 but please still these the functionality of this page, try to lock/unlock, change numbers, trash, save and all related h-cases.

[2022-09-22 15:19] aminlatifi commented on #761
@alireza-sharifpour You are right
@maryjaf it's fixe now. I create this PR https://github.com/Giveth/impact-graph/pull/657

[2022-09-22 18:04] maryjaf commented on #1437
On which test environment can it be tested? @alireza-sharifpour

[2022-09-22 18:24] maryjaf commented on #1183
@Cotabe

[2022-09-22 18:46] maryjaf commented on #1394
<img width="522" alt="image" src="https://user-images.githubusercontent.com/111529185/191825520-5e0e58c9-8b69-440d-8dba-6cf1e4b01ed3.png">
I tested on staging env and the stake button is shown while the switch is on permit mode @aminlatifi

[2022-09-22 21:04] aminlatifi commented on #1394
@maryjaf it's fixed in giv economy branch
@MoeNick may have told you we have two env for testing

[2022-09-23 04:38] maryjaf commented on #1394
<img width="1294" alt="image" src="https://user-images.githubusercontent.com/111529185/191892837-3d5fbc50-3d6c-4a6f-82d3-28b4e662d33f.png">
I tested again on https://giveconomy.vercel.app/ but i didn't see changes

[2022-09-23 05:26] maryjaf commented on #1447
I tested this issue on givpower branch and it passed. thanks @MohammadPCh

[2022-09-23 07:55] alireza-sharifpour commented on #1437
@maryjaf

You can test it on staging
https://staging.giveth.io/

[2022-09-23 09:13] maryjaf commented on #1436
I tested this scenario in staging and it passed
sign in
change and invalid my token from inspect-local storage
go to my account page
tap on sign out
and i signed out correctly

[2022-09-23 09:43] maryjaf commented on #1437
I tested the scenario described in the issue (when the user's token is expired, and the user goes to the account page, we show a toast that says please complete your profile.)

on the staging env, the toast related to completing the profile is not displayed correctly.
But in this scenario, like in production, the list of projects and donations, etc., is not displayed
Is this how it should be? @ali

[2022-09-23 14:31] divine-comedian commented on #1354
Nice! So just to make some calculations:

Between August 19th and October 4th that is 46 days

We know we spend 100,000 weekly on the farm. 100k / 7 gives us a daily rate of 14,285.714285714

14285.714285714 * 46 = 657,142.857142844 Total GIV spent in the farm, assuming we launch on the 4th.

That brings the total amount we need to top-up the tokenDistro to **1,557,142.857142844**

[2022-09-24 04:32] maryjaf commented on #759
these scenarios are tested and some issue that reported about save module on #758 has been resolved.

[2022-09-24 05:23] maryjaf commented on #1367
After revoking the project In the view of : the project owner and other people and list of project , the verify  badge is not displayed.

[2022-09-24 05:37] maryjaf commented on #1355
How do I find out how long it has been since the three-week deadline for the projects that will be archived soon? @mateodaza

[2022-09-24 07:09] maryjaf commented on #1145
Can we move this issue to Done? @divine-comedian

[2022-09-24 07:13] maryjaf commented on #574
Can we move this issue to Done? @divine-comedian

[2022-09-24 10:10] maryjaf commented on #476
currently, notifications are only triggered when admin actions are performed from the list of projects
but for example, if the project verification is done from the project detail page, the notification will not be sent.
For this, it is necessary to create new issue ? @MoeNick @mohammadranjbarz

[2022-09-25 09:14] alireza-sharifpour commented on #1437
When the token is expired in this page the user should be signed out and see the sing in message, not the account page.

[2022-09-25 11:44] MoeNick commented on #1394
Approve is not shown while you are on permit mode. So seems it's ok.
@maryjaf

[2022-09-26 06:57] #1394 closed

[2022-09-26 08:06] MohammadPCh commented on #1537
@alireza-sharifpour Thanks,

[2022-09-26 11:45] MoeNick commented on #1540
This is the preview before merging to giveconomy branch
https://giveth-dapps-v2-git-givpower-ready-to-merge-givethio.vercel.app/

[2022-09-26 13:28] #1401 closed

[2022-09-26 13:31] MoeNick commented on #1540
@maryjaf this one also reported by @divine-comedian
https://github.com/Giveth/giveth-dapps-v2/issues/1512

[2022-09-26 13:44] MoeNick commented on #1292
Thanks @CarlosQ96
@clara-zi can you approve the user don't have any problem from now?

[2022-09-26 13:48] MoeNick commented on #1513
@maryjaf jan pls test on mobile, it's for staking and licking and its important
@MohammadPCh pls consider it in giveeconomy version and update the vercell pls.

[2022-09-26 13:50] #1044 closed

[2022-09-26 14:39] laurenluz opened #1544 "Change GIVbacks rounds to run from Tues to Tues (instead of Fri to Fri)"
GIVbacks round set the rhythm for a lot of our new product launches. When we launch new products on Fridays, it poses challenges for our team because it cuts into their weekend. In the past, this has created some challenges for hot fixes etc.

We want to move GIVbacks rounds from Fridays to Tuesdays so that our team is more available pre & post new launches.

The plan:
- Extend the current GIVback

[2022-09-26 14:44] laurenluz opened #1545 "Modify the start and ends dates on GIVbacks page for Tuesdays"
GIVbacks round 20 should run from September 16 to October 4

![image](https://user-images.githubusercontent.com/75490971/192306519-8a90f2b5-03d1-44c7-98b2-364b5e13ed70.png)

GIVbacks round 21 should run from October 4 to October 18

[2022-09-26 14:58] laurenluz opened #1546 "Set Round 20 GIVbacks factor to include an extra 4 days"
We will be extending round 20 to be 4 days longer than usual, in order to move the GIVbacks round start date from Fri to Tuesday. Every other round will be 2 weeks (as usual).

We should adjust the GIVbacks factor to ensure we have the right amount of GIV allocated to this round.

[2022-09-26 15:33] laurenluz opened #1547 "New RegenFarm for FOX / xDAI Shapeshift"
The Snapshot for the FOX/xDAI has finished with 100% of votes in favour if the proposal. It did not meet the snapshot quorum, but according to @willyogo it only needed soft quorum to be considered a "pass"! [Spreadsheet w/ Details](https://docs.google.com/spreadsheets/d/14KISmLmFWmjccWSmnMf8m5IbG0kI3CDNMWuA_DhKh20/edit#gid=0)

So we need to get to work to launch this! The FOX / HNY farm is set to

[2022-09-26 21:27] divine-comedian commented on #1540
on the GIVpower page did we decide to remove the greyed out boost projects?
https://giveth-dapps-v2-git-givpower-ready-to-merge-givethio.vercel.app/givpower

![image](https://user-images.githubusercontent.com/67759413/192383645-f43dc6ae-9b03-4dd1-bece-fe65d37ef690.png)

If so I would suggest adding some padding to the bottom of the element, otherwise it looks a bit squished.
![image](https://user-

[2022-09-26 21:42] divine-comedian commented on #1540
on this page the two `?`s are aligned differently - one is centered and the other is top-aligned

another thing - the table doesn't seem to fit on one page - I have to scroll side ways to see the information. on the figma spec this should fit onto one page.

![image](https://user-images.githubusercontent.com/67759413/192385416-5cb08665-3946-4482-81ca-8e822bf03b63.png)

https://www.figma.com/file/n

[2022-09-26 23:13] Cotabe opened #1548 "Create new Honeyswap pool"

[2022-09-26 23:13] Cotabe opened #1549 "Deploy smart contract(s)"

[2022-09-26 23:14] Cotabe opened #1550 "Make new design for the FOX/XDAI farm"

[2022-09-26 23:16] Cotabe opened #1551 "Prepare the front end for the FOX/XDAI farm"
We need to dev up the frontend cards for the new FOX/XDAI farm. It would be ideal to have it by October, 2nd (the day the FOX/HNY farm runs out of rewards, I say let's aim for making it happen. The good news is that we have most of the information already on the FOX/HNY farm.

Here is an image with the things that we need to change.

![FOX new front end](https://user-images.githubusercontent.com/1

[2022-09-26 23:18] Cotabe opened #1552 "Prepare front end to archive HNY/FOX pool after 2 weeks"
The HNY/FOC farm should be archived 2 weeks after the end of the rewards. This is October, 16th.

Is there anything else I'm missing to phase out this farm?

@MoeNick @aminlatifi @mateodaza @MohammadPCh @laurenluz

[2022-09-26 23:21] Cotabe opened #1553 "Organize farm testing before deployment"
@Cotabe will be coordinating the testing.

[2022-09-26 23:36] Cotabe commented on #1548
@aminlatifi @MoeNick @laurenluz

Who would be the best person to do this?

Also, I'm talking with @willyogo to see what's best create a new FOX/XDAI pool or reward the FOX/WXDAI that is already active on Honeyswap

[2022-09-26 23:52] Cotabe commented on #1549
@aminlatifi @MoeNick @laurenluz

You probably know better than me what will this entails and who would be the best person to perform it.

[2022-09-27 01:31] Cotabe opened #1554 "Comms for the new FOX/xDAI Regen Farm"
Here are a few ideas of comms:

- [ ] Teaser tweet (09-27-22 ish) - "He are cooking a FOXprise for you... coming soon @shapeshift "
- [ ] Countdown tweet (09-29-22 ish) - draft a tweet to send the day the countdown goes live
- [ ] Launching day tweet (10-02-22 ish) - draft a tweet to send the day of the launch
- [ ] Retweet FOX comms about it

FYI @c0ric0ri @laurenluz @oyealmond

[2022-09-27 02:22] laurenluz commented on #1548
@aminlatifi is our guy here :)

[2022-09-27 08:38] aminlatifi commented on #1549
## Test Deployment
All information can be found in this [doc](https://www.notion.so/giveth/a22672a17cee44b2a2dc03f58691ffe0?v=dcccc8d6642040a18c1585295ab32c04)

FOX (TestFOX): `0x18cE354571ba71bC7b3d633b254954C5A9cfC195`
testDai: `0x97c4dD5cE204b8c1F2f3B8fBfBBDC771d867d18c`
#### LP token Honeyswap(testFox/testDAI)
Address:	`0x0714A2fE9574F591a4ed3fD03b63714e8681fBb7`
Provide liquidity: https://app

[2022-09-27 09:56] mohammadranjbarz commented on #1546
<img width="1423" alt="Screen Shot 1401-07-05 at 13 25 40" src="https://user-images.githubusercontent.com/9850545/192495772-eb70bf09-2957-4868-9737-e1879041667b.png">

We get GIV factor  from input, so no need to change something in code, @WhyldWanderer  @divine-comedian  should set it correctly when calling givback-calculaiton

[2022-09-27 10:13] aminlatifi commented on #1545
#1556 is merged, after round 20 finishes we must create another PR with simple round offset in the config.

[2022-09-27 10:21] RamRamez commented on #1540
Iremoved

[2022-09-27 10:24] MohammadPCh commented on #1545
@laurenluz it's merged, so you can test it on https://giveconomy.vercel.app/givbacks and if you approve it we can have a version on production.

[2022-09-27 10:25] MohammadPCh commented on #1545
@aminlatifi Thanks for reviewing, yeah, I totally agree with you, I will fix it after this round.

[2022-09-27 10:41] MohammadPCh commented on #1551
@Cotabe Thanks,
do we need to change the current farm or it's a new farm? also, we need this information too:
- tokenDistroAddress
- rewardTokenAddress:
- tokenAddressOnUniswapV2
- POOL_ADDRESS
- LM_ADDRESS
- start time
- provideLiquidityLink
@aminlatifi can help us.

[2022-09-27 11:56] aminlatifi commented on #1551
The values will be the same as fox/honey farm, except pool address and lm address. I have deployed for test env so far and put info here https://github.com/Giveth/giveth-dapps-v2/issues/1549#issuecomment-1259176806

[2022-09-27 12:51] mohammadranjbarz commented on #1497
@CarlosQ96  has implemented that and now it's on **Staging**

@maryjaf
Test flow:
1. Create a project in https://staging.giveth.io
2. Create a verification form for that and summit it
3. verify verification form in admin panel , now project should be verified
4. call **Revoke badge** for this project in admin panel, then project should not be verfied anymore, and verification for of this project s

[2022-09-27 13:21] MoeNick opened #1557 "Modifications on New Categories Feature"
According to [this comment ](https://github.com/Giveth/giveth-planning/issues/865#issuecomment-1252435325) from @ahmadabugosh there are some different issues that needs to be applied on the next version which needs efforts, I list them here to have them all in next version.

[2022-09-27 14:03] MoeNick opened #1558 "Frontend: Adding "Accept Funds on Gnosis" filter to givfilter"

[2022-09-27 14:22] MoeNick opened #1559 "SEO - include text in the body under the main banner."
originally from this comment: https://github.com/Giveth/giveth-planning/issues/865#issuecomment-1252435325

Can you add a section for text below the image, so we can have content for SEO purposes (just one small paragraph ex.
"Donate crypto directly to Economics and Infrastructure projects on Giveth! Support projects and get rewarded for giving with zero added fees."

- [ ] Design amendments by @m

[2022-09-27 14:32] MoeNick opened #1560 "Change some main categories banners"
According to the new main categories suggested by @ahmadabugosh and the communitas team:

- Art & Culture
- Community
- Economic and Infrastructure
- Education
- Equality
- Finance
- Health & Wellness
- Nature
- NGO
- Technology

We should do some changes to the current banners, which:

- [ ] Split the Technology from Education  (now we have a banner for both)
- [ ] we need NGO banner (maybe we ca

[2022-09-27 14:45] mosaeedi commented on #1560
FYI.
![Technology](https://user-images.githubusercontent.com/13708322/192558597-57de5af5-4b13-4942-991b-39de8651d1de.png)
![Nature](https://user-images.githubusercontent.com/13708322/192558611-d78a6225-cd58-442c-9b55-655a9beb1d3a.png)
![Health   Wellness](https://user-images.githubusercontent.com/13708322/192558622-b435e555-634c-46b6-a3cc-09dbd4d0ea34.png)
![Economics   Infrastructure](https://use

[2022-09-27 14:46] mosaeedi commented on #1560
CC: @ahmadabugosh

[2022-09-27 14:47] mosaeedi commented on #1560
<img width="1440" alt="Non - profit" src="https://user-images.githubusercontent.com/13708322/192558968-286dfddf-2a8b-47e3-98f8-993b4cf51734.png">

We also have this banner which was used for Non-profit, I think we can use this for the NGO! What do you think? @rodricastillo9013 @ahmadabugosh @MoeNick

[2022-09-27 15:27] aminlatifi opened #1561 "Lock detail modal table improvement"
**What problem is this design solving? Why is it necessary?**
The GIVpower locked token details modal table can be narrower. There is some unused space and redundant texts.
![image](https://user-images.githubusercontent.com/5684607/192567335-e15dfc79-ceb2-4a05-a212-e3802a19f629.png)

In the above picture, there is unused space between APR and Unlock Date. Actually, when the user opens the modal th

[2022-09-27 17:25] laurenluz commented on #1554
Looks good! I think we might be a bit too packed this week for the teaser tweet though, we can try.

[2022-09-27 17:49] Cotabe commented on #1551
Thanks @aminlatifi

Anything else blocking you @MohammadPCh ?

[2022-09-27 18:02] laurenluz commented on #1545
do we need another issue for that @MohammadPCh ? Or just keep this one?

[2022-09-27 18:24] laurenluz commented on #1540
@RamRamez can you readd this button as well? it should be greyed out "Boost Projects"

[2022-09-27 20:43] #1131 closed

[2022-09-27 20:44] laurenluz commented on #1145
I think the way it has been implemented is ok for our purposes.

[2022-09-27 20:46] laurenluz commented on #1355
they are!

[2022-09-27 20:55] laurenluz commented on #1356
This is working on production!

[2022-09-27 21:02] laurenluz opened #1565 "GIVpower Test branch - APR is 0"
@aminlatifi @MohammadPCh

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/5a057d1f-70aa-4a6b-b689-4ac5147f55ed)

Did the rewards run out on GIVpower test deployment already? Or is this a bug?

[2022-09-27 21:04] laurenluz commented on #1512
on GIVeconomy test deployment, the alignment of headers is correct. Also the tooltip "?"s are both vertically aligned.

![image](https://user-images.githubusercontent.com/75490971/192634928-d4a14c21-0396-415f-9795-d73ab56787f5.png)

on GIVpower test deployment, I can't test it because the APR is 0 and I and not able to access the lockup details modal at all.

[2022-09-27 21:06] laurenluz commented on #1554
@Cotabe also I think this issue would be better in the giveth planning repo, and just link it in the epic, then Cori has an easier time keeping track of it too.

[2022-09-27 21:06] laurenluz commented on #1545
it's on production!

[2022-09-27 21:10] laurenluz commented on #1321
the "?" is a mouseover tooltip, it shows text on hover. For me it is working fine on the giveconomy test deployment

[2022-09-27 21:15] laurenluz commented on #1320
@mosaeedi What do you think about adding "Locked GIV" as a line between "Available to unstake" and "Total staked" as suggested by @tropicalmangos ?

![image](https://user-images.githubusercontent.com/75490971/192636531-84766caf-d739-4f36-835d-8e808113f405.png)

@tropicalmangos project earnings... I don't think this is a good idea, it will add a lot more information to a modal that already has a lo

[2022-09-27 21:21] laurenluz commented on #1318
Yeah, the version you are testing on is when "Boosting" is not yet launched, so it's impossible to do that action. In the version with "boosting"  there should be a "boost projects" button already there.

[2022-09-27 21:21] #1318 closed

[2022-09-27 21:22] laurenluz commented on #1316
this is because the round time was set to I think... 5 minutes? so even after 26 rounds, you're still on the same date. this is fixed when the round time setting is 2 weeks.

[2022-09-27 21:22] #1316 closed

[2022-09-27 21:23] laurenluz commented on #1315
it's because your GIVpower is not the same as your GIV. You have to stake your GIV to get GIVpower.

It says it further down on the page here:
![image](https://user-images.githubusercontent.com/75490971/192638212-112ec554-79a7-42d5-bebe-2021f0b51fee.png)

is that not clear? do you think there should be a tooltip or some text change? open to suggestions.

[2022-09-27 21:24] Cotabe opened #1567 "Make design for the archive FOX/HNY pool"
I would suggest that it looks like this.

![FOX archived FOXHNY](https://user-images.githubusercontent.com/101358184/192639051-45dec11c-ebdb-4401-91b3-c072c2729745.PNG)

With the same modal of attention farmers.

To be activated with the same button than all other archived farms

And be situated here:

![Archived regen farms](https://user-images.githubusercontent.com/101358184/192639764-b4916819-f

[2022-09-27 21:28] laurenluz commented on #1315
Ok, I have an idea. When you have GIV, but no GIVpower, and it shows "0 GIVpower", we should have some text that says "Stake GIV to get GIVpower!"... and the "Boost Projects" button should instead say "Stake" and redirect the user to the staking pool. @mosaeedi can you make a quick design for that?

@GriffGreen is also suggesting that perhaps we *always* have two buttons here "Boost Projects" & "S

[2022-09-27 21:39] laurenluz commented on #1317
I think projected earnings is kind of not useful because the number is always going to be super super off. It feels like a false promise. If you agree, please close the issue! Or if not, feel free to make a counter argument

[2022-09-27 21:40] laurenluz commented on #1314
Well DRGIV2 is a token only used by our team for testing. I don't think adding that info in there really makes sense from a design standpoint, because it will never be shown on production. The GIV token logo is right next to it... indicating that it is your balance of GIV tokens.

Is that really unclear to you?

[2022-09-27 21:44] laurenluz commented on #840
This is what it looks like on production right now, when the user's wallet is not connected. It's ok, but there should be a minor text fix:

"GIVfarm is availale on Mainnet and Gnosis Chain. Please connect your wallet."

(I think we need to delete the word "only" at the very least)

![image](https://user-images.githubusercontent.com/75490971/192641269-969d2dd7-e769-4a15-b2a6-2486b23d902d.png)

[2022-09-27 21:45] #565 closed

[2022-09-27 21:45] #1356 closed

[2022-09-27 21:45] #1355 closed

[2022-09-27 21:46] laurenluz commented on #1353
@maryjaf - why did you reopen this issue? the extension has already been completed

[2022-09-27 21:46] #1145 closed

[2022-09-27 21:47] #1183 closed

[2022-09-27 21:48] #1134 closed

[2022-09-27 21:52] laurenluz commented on #1513
This can be tested on mobile here: https://giveconomy.vercel.app/givfarm @maryjaf

[2022-09-27 22:03] laurenluz commented on #1540
I would love to see a few more changes here actually:

- [ ] Can we please change the "For Projects" Section to read:

"Soon: Fire up your community to use GIVpower & help improve your rank.
The higher your rank, the more GIVbacks your donors will receive.
Top-ranked projects will eventually get funding from the Giveth Matching Pool."

Button: "Coming Soon" (*with no link*)

![image](https://user-

[2022-09-27 22:12] laurenluz commented on #1400
I like the "Default" view to be the order we decide... So like.. GIVpower is first because we want people to use it the most, next we have Angel Vault because it is second more important to us... etc.

Is that possible? to have "default" be an order we decide based on "relevance to our mission"?

[2022-09-27 23:02] divine-comedian commented on #1546
I think the givbacks factor should be fine assuming we add 4 days worth of givAvailable when we calculate the round

1,000,000 GIV available / 14 days in the round = 71,428.571428571 daily rate of GIV for GIVbacks

71,428.571428571 * 18 days = 1,285,714.285714278 givAvailable

[2022-09-27 23:27] RamRamez commented on #1540
@divine-comedian comments are fixed on PR #1562 and @laurenluz comments are fixed on PR #1568

[2022-09-28 05:23] maryjaf commented on #1499
Thanks @RamRamez
1-in case of a completed profile  (on https://staging.giveth.io/onboard)this page is shown:
![image](https://user-images.githubusercontent.com/111529185/192693045-fcb0a409-1944-4bc9-a564-e31479644155.png)
and when tap on GO TO DASHBOARD my account page is shown:
<img width="1394" alt="image" src="https://user-images.githubusercontent.com/111529185/192693558-e8353197-c6a7-4c95-8c5d

[2022-09-28 05:45] aminlatifi commented on #1565
@laurenluz Yes, I replenished it.

[2022-09-28 05:45] #1565 closed

[2022-09-28 07:42] maryjaf commented on #1513
@MohammadPCh  plz check these pic
1-
![image](https://user-images.githubusercontent.com/111529185/192717855-edd54302-6935-4333-b477-135484ac0910.png)
2-
![image](https://user-images.githubusercontent.com/111529185/192717954-88faa64b-3c55-4c65-aa7b-9f98288e8df3.png)
3-
![image](https://user-images.githubusercontent.com/111529185/192718155-3ce7bda6-874f-46aa-b600-1a188d087d02.png)
I could not reprod

[2022-09-28 08:04] maryjaf commented on #1353
It was a mistake.

[2022-09-28 09:38] ahmadabugosh commented on #1560
@mosaeedi for sure that banner would work great!

[2022-09-28 09:44] MoeNick commented on #1559
wow! so quick, thanks! @ahmadabugosh

[2022-09-28 10:24] maryjaf commented on #1513
Sometimes, after I lock staked giv, a transaction completion notification is displayed (below pic)
![image](https://user-images.githubusercontent.com/111529185/192755469-1706b16a-4c5f-4296-a4eb-c134db9002f8.png)

But  "lock your token" loading remains
![image](https://user-images.githubusercontent.com/111529185/192755517-aa0c9554-dab2-458b-884c-6c21935cf83a.png)
@MohammadPCh

[2022-09-28 10:29] rodricastillo9013 commented on #1560
team I'm a little busy! but I'll try to have it for this week!

[2022-09-28 12:16] alireza-sharifpour commented on #1539
Could you please check it to see wether it works fine or not? @ahmadabugosh
It's not deployed on main or staging yet.
The preview link for testing:
https://giveth-dapps-v2-git-1539-add-google-analytics-givethio.vercel.app/

[2022-09-28 12:44] maryjaf commented on #1497
when select "revoke badge" from list of project, the status of verification change into **draft**
and page of detail project is shown as below:
![image](https://user-images.githubusercontent.com/111529185/192779878-c560ca07-f300-48dc-a8b4-711edc545a95.png)

but after that select "verify project" the verified field in list of project changes in to yes but status of project remains draft in  project

[2022-09-28 12:46] mosaeedi commented on #1559
![Screen Shot 2022-09-28 at 3 45 36 PM](https://user-images.githubusercontent.com/13708322/192781917-ed0d6de0-8bdb-4494-8576-df4fd4d2553e.png)

[2022-09-28 12:49] mosaeedi commented on #1559
@ahmadabugosh
I added a new section between the project cards, the "Zero added fees!" white section, you can have a title and a subheading to add anything you want.

Also, did you notice there is a subheading under the main category title? below the "Environment & energy" it's a dynamic text holder that you can use for each main category!

[2022-09-28 12:50] mosaeedi commented on #1559
Here is the link to Figma file -> [link to Figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=13866%3A248323)

[2022-09-28 12:50] mosaeedi commented on #1559
cc @MoeNick

[2022-09-28 12:51] mosaeedi commented on #1559
The white row, between the product, should appear just after the first row!

[2022-09-28 12:59] MoeNick commented on #1559
What are the use-cases in filtering or sorting? this shows only on main category filters?
what if the main category don't have enough projects? one row for example?
@mosaeedi

[2022-09-28 13:40] CarlosQ96 commented on #1497
I'll check this issue, thanks Maryjaf

[2022-09-28 14:11] ahmadabugosh commented on #1559
Hey @mosaeedi thanks for this!

A few points to follow up on:

1) Would the text I sent for the description fit on the top header image as a subtitle? If not you suggest do you suggest we change it to something else? If it does fit, maybe we don't need the white row at all.

2) Maybe we should add the white row to the bottom of the page under all projects (below "Load More")? That might be better

[2022-09-28 14:37] rodricastillo9013 commented on #1560
<img width="1440" alt="categories banner 35" src="https://user-images.githubusercontent.com/61791380/192808101-61b2ae5f-cb6d-4c70-81f0-f87a73cf5c74.png">
<img width="1440" alt="categories banner 37" src="https://user-images.githubusercontent.com/61791380/192808108-bd14ddc9-b5ba-41c3-b9ef-cb8c7d866c31.png">
<img width="1440" alt="categories banner 39" src="https://user-images.githubusercontent.com/

[2022-09-28 14:50] c0ric0ri commented on #1554
Issue moved to [Giveth/giveth-planning #894](https://github.com/Giveth/giveth-planning/issues/894) via [**Zenhub**](https://www.zenhub.com/)

[2022-09-28 14:50] laurenluz opened #1577 "Create a notion listing start & end times for various farms in the GIVfarm"
Looking for one accessible place to find this info for both chains & RegenFarms

[2022-09-28 17:30] mosaeedi commented on #1560
I like it! thanks man 😍

[2022-09-28 17:41] mosaeedi commented on #1559
1. if the text is dynamic and related to the current category that we are showing! why not, we can show it there, but I think you just want to show a fixed text, unrelated to the category, so I say it's a waste of space if we use that for just a simple and fixed slogan!

2. the white row is going to be visible just on the main categories and by filtering and sorting it can just disappear. (Please

[2022-09-28 19:03] ahmadabugosh commented on #1539
Thanks for this @alireza-sharifpour !  Actually, I think we can implement this with Segment (that we have installed on our site already), so let me try doing it from there first (and we may not have a need for adding the code manually). I'll update you on this!

[2022-09-28 21:14] divine-comedian opened #1578 "Donation Handler v1"
In order to smoothly begin the process of collecting a fee from donations made on the dApp we will need a smart contract that do the following things:

1. Receive outgoing donations on giveth.io
2. Subtract a fee from the donation, the  fee % specified by the user and hold it in the contract
3. Pass the remainder onto the recipient project specified by the user.
4. Allow a specified admin address

[2022-09-28 21:25] divine-comedian opened #1579 "Implement UX for users to add a donation to Giveth for every donation"
Following conclusive GIVeconomy research and forum discussion on revenue streams we should begin thinking of how to ask users to give a % of the donation amount to Giveth DAO - these extra donation amounts will be used to fund Giveth's day to day operations.

Here's an shot of the modal from the Gitcoin Grants UI we can look to as an example:

![image.png](https://images.zenhubusercontent.com/5fff

[2022-09-29 07:49] markoprljic commented on #1579
Easiest and simplest way to add this in the UI is adding this little piece on the Donation page, and include the cost breakdown on that page and in the donation confirmation modal as well.

<img width="262" alt="Screenshot 2022-09-29 at 09 45 34" src="https://user-images.githubusercontent.com/5704285/192971399-dc1e3533-fbb0-48ab-9926-bca38d9e0b53.png">

From design side this can be done in few hou

[2022-09-29 08:10] maryjaf commented on #762
Project don't have any boost yet  figma pic
<img width="654" alt="image" src="https://user-images.githubusercontent.com/111529185/192976307-633f03e1-8e01-4fc3-9a77-eb5bde699345.png">

Project don't have any boost yet  giv power env pic
<img width="865" alt="image" src="https://user-images.githubusercontent.com/111529185/192976585-7faed91c-fa61-4a11-919a-1926f7bda14c.png">
which one is correct ? #1

[2022-09-29 08:13] MoeNick commented on #1579
Does it approved in the forum to add fees?

[2022-09-29 08:20] aminlatifi commented on #762
@maryjaf I found the bug, it will be fixed soon https://github.com/Giveth/impact-graph/pull/670

[2022-09-29 08:25] maryjaf commented on #762
Thanks @aminlatifi
Now the last rank, 11, is displayed for projects that have not been boosted yet.
But according to Figma, they should not have a rank(--). We discussed this before, but I did not understand what the final decision was

[2022-09-29 08:26] aminlatifi commented on #762
@maryjaf I think it's better to handle it on the frontend, show (--) when the project total power is zero

[2022-09-29 08:36] maryjaf commented on #758
plz check this scenario @MohammadPCh
I have 1 project in boosting project tab with 100% of my giv power
When I select the EDIT BOOSTING option and change it from 100 to 50
And then tap on SAVE CHANGES
It is better to display a message to the user that this change is not possible

[2022-09-29 08:42] maryjaf commented on #762
There are discrepancies in this picture plz check it
The rank of the project is 3
But the name is not displayed
The number of people who have boosted is not correct, my user is not displayed for example

<img width="1408" alt="image" src="https://user-images.githubusercontent.com/111529185/192983646-5140e45a-7f37-49cc-9f66-67adebc7b62d.png">

[2022-09-29 09:05] maryjaf commented on #762
I think this issue does not have the necessary conditions to continue the test and I will move  it to code review for further investigation

[2022-09-29 09:18] aminlatifi commented on #762
@maryjaf Note, when you boost a project it doesn't show here immediately. You must wait till the end of round to see it. Actually, we regularly take snapshot of your boosting and power balance and at the end of round average it to allocate balance to the project.
In above case, the use who had boosted project wasn't you! it was user id 122 who had not filled his profile name

[2022-09-29 09:19] aminlatifi commented on #762
@maryjaf I put it back to uint test. We may need to split problems in different issues if you agree. The public/private link and ranking are different topics

[2022-09-29 09:22] MoeNick commented on #762
@aminlatifi both public and PM view should handle in this issue as a single User Story Value. we may define some tasks under it for now.

[2022-09-29 09:22] maryjaf commented on #1507
In mobile view i can't see boosted projects in my account
 ![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/c8cc027d-fceb-4c5e-a65e-17a95d3121be)

[2022-09-29 09:55] maryjaf commented on #761
All figma in this issue have been tested and passed
and the problem about rank of project that  it hasn't received any boosts yet is checked on issue #762

[2022-09-29 11:02] alireza-sharifpour commented on #762
Yes, I'll do it

[2022-09-29 11:03] alireza-sharifpour commented on #762
Yes, I'll do it @aminlatifi

[2022-09-29 12:22] mosaeedi commented on #1551
![Screen Shot 2022-09-29 at 3 22 38 PM](https://user-images.githubusercontent.com/13708322/193030116-408eda78-776a-4848-8f8b-a7cf1ee37b02.png)

[2022-09-29 12:25] mosaeedi commented on #1551
## Coming soon
---
![Screen Shot 2022-09-29 at 3 24 55 PM](https://user-images.githubusercontent.com/13708322/193030536-fada7b82-e826-454a-b138-ab085a9ac78a.png)

[2022-09-29 13:13] mosaeedi commented on #1551
## Design resource

RegenFarm page on Figma -> [https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=13925%3A253772](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=13925%3A253772)

[2022-09-29 13:35] divine-comedian commented on #1579
yes

[2022-09-29 14:25] laurenluz opened #1582 "Add GIVpower banner to DApp Oct 4 w. GIVpower launch"
Hey @MohammadPCh @mateodaza

I would love to see this banner go live when we launch staking & locking w/ GIVpower and have it link to to the GIVpower page (i.e. https://givpower.vercel.app/givpower) when the user clicks.

I think we can make it similar to the banner we used w/ previous gitcoin grants rounds. @mateodaza knows.

Can we do it?

![image.png](https://images.zenhubusercontent.com/5fdfac

[2022-09-29 14:27] mateodaza commented on #1582
I can grab this :) @laurenluz

[2022-09-29 15:21] laurenluz opened #1583 "Design to inform the user of the full length of time their tokens will be locked for"
When a user locks their GIV tokens mid-round, they are locked for the remainder of the current round plus the full next round.

Tokens locked for one round could, for example, be locked up to 20 days, if the user locked at the very beginning of a new round.

We are not communicating this very clearly to the user. The tooltip on Rounds says "Rounds are 2 weeks periods corresponding to GIVbacks roun

[2022-09-29 18:55] divine-comedian commented on #1540
@RamRamez Let me know when #1568 is merged and we can test again!

[2022-09-29 18:56] RamRamez commented on #1507
@maryjaf I tested with MetaMask on android and it's working well. I can't take screen shot due to security policy from MetaMask.
Could you please test it again?

[2022-09-29 19:28] laurenluz commented on #1566
oh I did it already. for the future:

![image](https://user-images.githubusercontent.com/75490971/193124665-40d0f21b-1e0c-4936-846b-ac06b2258446.png)

[2022-09-29 19:44] laurenluz opened #1584 "GIVpower locking - I want to lock pre-locked tokens for longer, is it possible?"
I have 1000 GIV.

I locked 100 GIV for 2 rounds, and 900 GIV for 26 rounds.

After a few days pass, I want to lock all my tokens for 26 rounds... but I can't because I locked 100 GIV for 2 rounds and they are not unlocked yet. Is there some way I can fix this?

@aminlatifi @MohammadPCh

[2022-09-29 19:53] laurenluz opened #1585 "GIVpower - we need to decide how long we will run this incentives program"
We allocated 7 million GIV to run GIVpower locking for 6 months.

Throughout that period, people can lock for up to 1 year.

So we are committing to running incentives essentially for 1.5 years.

Unless we decide to make it so that... part way through the 6 months etc etc you can lock for less than 26 rounds.

[2022-09-29 20:00] laurenluz opened #1586 "GIVpower - modify tooltip on locked GIV details modal"
The circled tooltip should say

"The minimum APR for staked (not locked) GIV. Lock your GIV to increase your rewards."

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/88cde4f9-0fc5-43d1-b361-5d00042aea6f)

@mateodaza - small change, can you take it?

[2022-09-29 20:03] laurenluz opened #1587 "GIVpower - APR tooltip range of APRs is wrong!"
The minimum APR is actually 23.29% right now!

The range in the APR tooltip should show the absolute min APR (for unlocked tokens) and the absolute max (for locking 26 rounds).

I'm testing on the GIVeconomy test deployment.

@MohammadPCh or @mateodaza - can you fix?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0911a67b-c2de-4a0c-afbf-7001c008dc0a)

[2022-09-29 20:13] RamRamez commented on #1540
It's merged. You can test it on [https://giveconomy.vercel.app](https://giveconomy.vercel.app)

[2022-09-29 20:33] laurenluz opened #1588 "GIVpower - hide "locked GIV details" link on back of card"
Right now, the locked GIV details modal has nothing to do with GIVpower. We should hide it from here because it is confusing.

Let's comment it out thought, because if we make an update to the modal, I think we may want to re-add it to the back of the card later.

![image](https://user-images.githubusercontent.com/75490971/193136017-c3941542-f9a2-431d-8c91-5e4d80e253c3.png)

[2022-09-29 20:33] laurenluz commented on #1588
@mateodaza @MohammadPCh @RamRamez - can one of you take this?

[2022-09-29 20:34] mateodaza commented on #1588
On it!

[2022-09-29 20:53] divine-comedian commented on #1577
here!

https://www.notion.so/giveth/GIVfarm-Dates-a9c623a1b3cd48ad8909d6e9826cf988

[2022-09-29 21:03] laurenluz commented on #1577
omg you're so fast

[2022-09-29 21:10] laurenluz commented on #1540
tested, it all looks great!

[2022-09-29 21:14] #381 closed

[2022-09-30 05:20] maryjaf commented on #1507
I tested with MetaMask on iPhone and it happened again.

[2022-09-30 08:08] RamRamez commented on #1499
When user clicks on `do it later` on second step, it should skip uploading photo and finish the onboarding.

[2022-09-30 08:33] maryjaf commented on #1518
Plz check this scenario @aminlatifi
I deleted boosting of "new organization2 " project in y list and this project is not showing in my boosted projects list
but in GivPower of project my name is shown in list of user who boosted this project and the round is over

[2022-09-30 11:48] maryjaf commented on #1499
So it is ok?

[2022-09-30 12:16] RamRamez commented on #1499
Yeah I think this is our flow

[2022-09-30 14:35] mosaeedi commented on #1315
Nice catch @tropicalmangos!
@laurenluz I added a new state to this card for that situation, but like you said, adding two buttons is not a good idea! at least with this card design, maybe we can think of something later @GriffGreen, it makes sense to have two actions there but I don't want to make things messier for our users.
---
![Screen Shot 2022-09-30 at 5 34 34 PM](https://user-images.githubu

[2022-09-30 14:36] mosaeedi commented on #1315
Don't know why my comment changes into bold style!

[2022-09-30 15:16] laurenluz commented on #1586
tested on GIVeconomy, looks good!

[2022-09-30 15:22] laurenluz commented on #1582
oh nooo, I just realized I made a typo on it - should be "multiply" not multiple 🤦‍♀️ @mateodaza or @RamRamez can you fix it?

[2022-09-30 15:23] laurenluz commented on #1587
looks great! thanks Mateo!

[2022-09-30 15:24] mateodaza commented on #1582
@laurenluz I'm using the image that @rodricastillo9013 made. Let's ask him to fix the typo and I'll change it

[2022-09-30 15:27] divine-comedian commented on #1507
tested on https://givpower.vercel.app/account?tab=boosted
firefox browser

the % does not overlap with the lock icon - looks very smooth!

[Screencast from 30-09-22 10:24:49.webm](https://user-images.githubusercontent.com/67759413/193304069-2e0cb36b-6d1d-4a79-b6b1-fba7a97a71f4.webm)

this seems resolved on desktop, waiting to see if @maryjaf s issue is resolved and we can move this along.

[2022-09-30 15:41] laurenluz opened #1593 "GIVpower boosting deployment - GIVpower text fixes"
- [ ] "Coming Soon" should be "Boost Projects" and link to the Giveth projects page
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/72f1859d-cb86-42ca-a67f-6b8119356778)

- [ ] "Coming Soon" should be "Get GIVpower" and link to the GIVfarm

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/c13be587-2e4d-4a3a-8b30-a269ee442cc2)

- [x] The "For Pro

[2022-09-30 15:46] laurenluz opened #1594 "GIVpower - staking & locking deployment text fix on GIVpower page"
Quick text fix here on the GIVpower page:

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/6de9bee5-dcbe-4da9-b7fb-deed336e571b)

"Support verified projects using “Boost”. Projects backed by GIVpower will benefit from more GIVbacks for their donors and, eventually, matching funds."

[2022-09-30 15:50] laurenluz commented on #1315
@MohammadPCh @RamRamez or @mateodaza - can one of you take this?

We need to update it in the boosting version of GIVpower, so right now, the test deloyment at https://givpower.vercel.app/givpower

This is for the GIVpower page, at the top.

Three scenarios:
1. If the user's wallet is connected & they have GIVpower:
![image](https://user-images.githubusercontent.com/75490971/193308411-afd7cefb-2c1

[2022-09-30 15:55] RamRamez commented on #1507
Can you test maryam's issue on your phone?

[2022-09-30 15:55] laurenluz commented on #1582
@mateodaza ok, he's on it!

[2022-09-30 16:07] RamRamez commented on #1315
I'm on it

[2022-09-30 16:11] rodricastillo9013 commented on #1582
<img width="1440" alt="GivPower Banner" src="https://user-images.githubusercontent.com/61791380/193312324-3776a5cc-458e-4ab0-881f-cec26c199f41.png">
done! @mateodaza @laurenluz

[2022-09-30 16:18] mateodaza commented on #1582
@rodricastillo9013 now we missed a r in rewards 🙈

[2022-09-30 16:33] divine-comedian commented on #1593
I made the text changes in https://github.com/Giveth/giveth-dapps-v2/commit/5a51f9f56a2f611b19f564b0f9b3849bc539d7c7

@MohammadPCh already wrote the code and will uncomment the sections marked `coming soon` with the right text and link.

I'll leave this issue as is for a reminder.

[2022-09-30 16:38] divine-comedian commented on #1507
@RamRamez
![Screenshot_20220930-113721.png](https://user-images.githubusercontent.com/67759413/193317069-e2a2ed97-30a7-44b9-9fa6-f7806d17f579.png)

seems to be working
google pixel 6
metamask browser
givpower.vercel.app

could it be an iphone issue?

[2022-09-30 18:17] laurenluz commented on #1582
@mateodaza sorry 'bout that

![image](https://user-images.githubusercontent.com/75490971/193332348-a4aec001-1eb1-4466-ae06-bb19ba54192f.png)

[2022-09-30 18:23] RamRamez commented on #1507
I don't know yet. @MoeNick Can you test this issue with your iphone?

[2022-10-02 07:23] maryjaf commented on #1518
It seems that above scenario is OK
The round time is 8 hours, didn't it change to half an hour? @aminlatifi

[2022-10-02 07:26] maryjaf commented on #1513
Do we have an update on the last three reported cases?@MohammadPCh

[2022-10-02 07:37] aminlatifi commented on #1584
@laurenluz This functionality is not implemented in the smart contract.

[2022-10-02 08:39] aminlatifi commented on #1518
We haven't.
@maryjaf told me after her message that it's not necessary any more.

[2022-10-02 14:46] maryjaf commented on #1497
Thanks @CarlosQ96
Do we have any update about it?

[2022-10-02 14:58] CarlosQ96 commented on #1497
I haven't find the root cause yet. Will keep looking into it today.

One question:
Did the reviewer change to your user when you clicked "Verify Project"?

[2022-10-02 14:58] CarlosQ96 commented on #1497
@maryjaf

[2022-10-02 17:27] maryjaf commented on #1497
<img width="1417" alt="image" src="https://user-images.githubusercontent.com/111529185/193467581-4b14bb57-9ebc-463e-a22c-51788e6035c8.png">

[2022-10-03 03:05] laurenluz opened #1598 "FOX/xDAI Regen Farm: We need to show that the FOX/HNY farm has ended"
Testing at: https://giveth-dapps-v2-git-regenfarms-new-design-givethio.vercel.app/givfarm

The FOX/HNY farm has ended and has a 0% APR, but there is no announcement/explainer... it looks like this:
![image](https://user-images.githubusercontent.com/75490971/193494301-022d92b4-4636-4bf1-9ea0-d5fc36537f43.png)

We should have something on it that looks like this:
![image](https://user-images.githubu

[2022-10-03 06:25] aminlatifi commented on #1513
@maryjaf Yes, please test it again.

[2022-10-03 10:51] MoeNick opened #1599 "Prevent user to boost more then 20 projects from single project view"
Error msg should be shown on a boost modal while user have boosted the 20 project before:

You have already boosted the maximum 20 projects.
Do you want to boost this project anyway? Try to remove at least one other boosted project from your account, and get back to this project again!

[2022-10-03 11:32] maryjaf commented on #1513
Thanks the above cases have been resolved.

[2022-10-03 13:56] MoeNick opened #1601 "Frontedn: adding new banners for main categories"

[2022-10-03 13:57] MoeNick commented on #1560
Thanks @rodricastillo9013 where can I find the assets to upload and integrate into frontend?

[2022-10-03 13:58] MohammadPCh commented on #1512
@divine-comedian Thanks , I also tested it on givpower and I think it's fixed now.

[2022-10-03 14:03] ahmadabugosh commented on #1559
Yes, please! @MoeNick @mosaeedi

I edited the text to make it shorter for each category on [column E](https://docs.google.com/spreadsheets/d/1DAB5UHCYO4hkw_RLRtz8DLXpGduVDRMHfiW-71H0m8o/edit#gid=0) here for the subtitles on the category pages.

For the white row text, can you please make it be:

**Donate Crypto Directly**
Get rewarded for giving to public goods projects with zero added fees.

[2022-10-03 14:41] MoeNick commented on #1364
@maryjaf please take a look.

[2022-10-03 14:50] laurenluz commented on #1599
Copy fix:

"You have already boosted the maximum 20 projects!
To coninute with this boosting, remove at least one other boosted project from your account and come back to this project again!"

Button: "Go to Boosted Projects"

[2022-10-03 15:08] mosaeedi commented on #1599
![Screen Shot 2022-10-03 at 6 07 32 PM](https://user-images.githubusercontent.com/13708322/193611659-a15f110e-6dec-4cec-923b-cab69361cf94.png)

[Link to Figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=12568%3A236170)

[2022-10-03 15:15] MoeNick commented on #1599
Sorry @alireza-sharifpour fr the changes, can you jump into it again?

[2022-10-03 17:58] divine-comedian opened #1604 "FOX/xDAI RegenFarm - better spacing on FOXstream card"
when we have more than two staking cards for a regenfarm the Regen stream card gets little bit squished.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/3d828193-2fe1-45a0-bd24-2eeb49da8ab9)

particularly around the bottom where it shows the tokens claimable and the harvest button.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/a587f694-7b80

[2022-10-03 18:06] maryjaf commented on #1599
I think the changes are not deploy on https://givpower.vercel.app/
No change was observed in the scenario of the upper limit of 20 @alireza-sharifpour @MohammadPCh

[2022-10-03 18:15] maryjaf commented on #762
I still see this message "This project hasn't received any boosts yet!
Share this project on social media and ask your friends for a boost!" for my unboosted project .

but in figma shown this: "Your project didn't receive any boosts yet!
Share this project on social media and ask your friends for a boost!"
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/a40ce49c-ae07-4c

[2022-10-03 18:45] laurenluz commented on #1582
Tested on GIVeconomy deployment, looks great!

![image](https://user-images.githubusercontent.com/75490971/193654592-335f1f05-1068-4033-a17e-17ba9ab65306.png)

[2022-10-03 19:28] laurenluz opened #1607 "GIVpower - when the user has no GIV available to lock, they should see a different modal/not be able to get to the lock modal"
When the user has locked all their staked GIV, they should not be able to get to the lockup modal. (from feedback from @maryjaf testing on production)

@MohammadPCh

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/9b09b89a-490b-4043-8427-11e5a20be4f3)

[2022-10-03 19:30] laurenluz opened #1608 "GIVpower - locked GIV tooltip is really crowded"
@MohammadPCh testing on production

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/d0e4c79b-0efa-4050-8ba6-aad2951df1d5)

[2022-10-03 19:31] laurenluz commented on #1607
@MohammadPCh I think in this case, the "increase your reward" button should be greyed out.

[2022-10-04 01:39] #1353 closed

[2022-10-04 01:48] laurenluz commented on #1584
bummer! this it would be too hard to create? after boosting launch ofc? I think this would be an amazing improvement.

wdyt @sembrestels @KurtMerbeth ?

[2022-10-04 04:06] mateodaza opened #1615 "Move every static text to a i18n translation on the frontend (EN / SP)"

[2022-10-04 04:07] mateodaza opened #1614 "Change language config UX design"
## Design resource

### (>1280 & <1439)

** Footer / Light mode **
[https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=19618%3A248554&t=NH2PjA7i86USVYu1-4](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=19618%3A248554&t=NH2PjA7i86USVYu1-4)

** Footer/ Dark mode **
[https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GI

[2022-10-04 04:07] mateodaza opened #1613 "Integrate i18n to frontend"
- [x] Add language provider to whole dApp
- [x] Move every static text to a i18n translation on the frontend (EN / SP) (some may still be missing)
- [x] Spanish translation (going for testing with coverage at over 70%)
- [x] Dynamic translations for project descriptions (will be solved on [this issue](https://github.com/Giveth/giveth-dapps-v2/issues/1697))
- [x] Add footer for changing language as

[2022-10-04 09:39] rodricastillo9013 commented on #1560
Here https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=11080%3A200330 @MoeNick  :)

[2022-10-04 10:08] MohammadPCh commented on #758
@maryjaf Thanks for reporting this, I disabled the edit boosting button if the user only has one boost. but I think it's better to have a design for this scenario or at least have confirmation for it from @mosaeedi

[2022-10-04 11:11] KurtMerbeth commented on #1584
@laurenluz @aminlatifi
it shouldn't be a problem to add this feature

we just need from subgraph the round we want to extend

we need a function wich takes the number of the round, remove all roundbalances from the userlock, withdraw and than just lock with the current logic.
basically unlock (a specific round) and lock in one call. wdyt @aminlatifi ?

[2022-10-04 11:20] maryjaf commented on #758
Is this change on givpower branch?
I tested again but i didn't see changes

[2022-10-04 11:39] aminlatifi commented on #1584
@KurtMerbeth @laurenluz  In the smart contract, we put all tokens locked till the end of each round together in a single slot. e.g. If the users 100 GIV for two rounds in round 1  and 200 GIV for one round in round 2, in the smart contract we only keep 300 GIV which can be unlocked after round 3 finishes. But the subgraph keeps track of details (two tokenLock entities in this case).
I narrated thi

[2022-10-04 12:00] maryjaf commented on #1599
Thanks guys, this is ok.
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/b6b42632-0021-4418-ad7d-0a6effa32abb)

[2022-10-04 12:08] maryjaf commented on #758
I tested and disabled the edit boosting button if the user only has one boost.
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/41988a79-1507-4ceb-a568-1af069fee419)disabled the edit boosting button if the user only has one boost.
I also agree that a different design should be considered for this case

[2022-10-04 12:45] alireza-sharifpour commented on #762
Now it should be fixed! @maryjaf

[2022-10-04 13:53] MohammadPCh commented on #758
@MoeNick what do you think?

[2022-10-04 14:53] laurenluz opened #1616 "Giveth projects - add "likes" to updates"
I would love to be able to "like" a projects' update. just got an email letting me know about one, then went there to read it, and wanted to support, but then had no way to interact.

Can we add the <3 to updates? @mosaeedi @MoeNick

![image](https://user-images.githubusercontent.com/75490971/193852661-d6ca9929-4cd1-4260-b046-537067054bc5.png)

[2022-10-04 16:34] laurenluz opened #1617 "GIVpower - hot fix - UI on locked GIV details horizontal scroll bars are weird!"
@MohammadPCh

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/27db8514-a497-4d26-8b12-6b0f8d1478fc)

[2022-10-04 17:26] divine-comedian opened #1618 "GIVpower - Showing locked GIV that I didn't do!"
**Describe the bug**
On the launch of GIVpower I went to lock up my tokens for the first time, however on 'locked GIV details' it shows a very small amount of GIV is locked up for 1 round already - I did not do this action.

Associated address:
`0x826976d7C600d45FB8287CA1d7c76FC8eb732030`
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://giveth.io/givfarm
2. Check 'locked GIV deta

[2022-10-04 21:05] ahmadabugosh commented on #1539
Hey @alireza-sharifpour, Actually for this we wanted to use Segment, but when I was looking at the setup, I think we may not have implemented it fully (when I inspect I don't see the code and also it doesn't seem to be passing all of the Segment events).

It says we need to install the Analytics.js from Segment across the website on all pages (which I don't think we're doing)

Can you do that inst

[2022-10-04 21:09] aminlatifi commented on #1618
You had had locked that tiny amount (100 wei) for one round before
https://blockscout.com/xdai/mainnet/tx/0xb78544f5f71294c8bcae7fc49d2c80b45abf5e524f463a5ea4b0760b7351485f

[2022-10-04 21:13] #1618 closed

[2022-10-04 21:58] RamRamez commented on #762
`Your project didn't receive any boosts yet!`
I think this sentence is grammatically wrong (when using `yet`, verb must be in past participle form). @divine-comedian Can you check it?

[2022-10-04 22:23] divine-comedian commented on #762
nice catch!!

`Your project hasn't received any boosts yet!`

[2022-10-05 07:35] CarlosQ96 commented on #1497
Related Pr fixing this https://github.com/Giveth/impact-graph/pull/678

[2022-10-05 11:03] mohammadranjbarz commented on #1497
@CarlosQ96  Merged
@maryjaf  you can test again

[2022-10-05 11:20] MohammadPCh commented on #1617
I tried to fix it in my PR. but I think it's better to have shorter titles for this table, especially "Rounds locked for" and "Multiplier" can be changed with shorter titles :)
what do you think @laurenluz ?

[2022-10-05 12:40] WhyldWanderer commented on #1546
Here are the parameters I used for R20 Calculation:
![image](https://user-images.githubusercontent.com/74267818/194062491-b87cf7cb-6e76-410a-9e00-7d07dc432dbe.png)

[2022-10-05 13:01] #1545 closed

[2022-10-05 13:04] #1317 closed

[2022-10-05 13:04] #1314 closed

[2022-10-05 13:55] MohammadPCh commented on #1604
@divine-comedian I fixed it without design, can you check and approve it?
this is preview link:
https://giveth-dapps-v2-git-fix-stream-card-sizes-givethio.vercel.app/
Thanks

[2022-10-05 14:42] MohammadPCh commented on #1468
@alireza-sharifpour I totally agree with you. :+1:

[2022-10-05 14:43] #1468 closed

[2022-10-05 15:11] laurenluz commented on #1584
unfooooortunately, we have decided that this is not worth the time in development. I will move to the icebox so we can focus smart contract work on GIVFi

[2022-10-05 19:11] divine-comedian commented on #1604
looks great!
![image](https://user-images.githubusercontent.com/67759413/194142646-d8ada596-4868-4efe-a48c-2f27b6934aad.png)

[2022-10-05 21:39] laurenluz opened #1628 "Update banner for GIVpower with boosting launch"
When we launch boosting launch, the banner should be: https://github.com/Giveth/giveth-planning/issues/905

and link to https://giveth.io/givpower

[2022-10-05 22:09] laurenluz commented on #1617
Yes... but what can we say?

We can make it "GIV" instead of "GIV Amount"
"Rounds" instead of "Rounds locked for"

I think multiplier should be the same.

[2022-10-05 23:02] laurenluz opened #1629 "update reward notifier for FOX/xDAI Regen Farm"

[2022-10-05 23:57] laurenluz commented on #1617
Actualy, @aminlatifi had some great suggestions in #1561... I think we can just solve all those points in this issue, I will close the other.

From Amin (with some adjustments by me):
- [ ] The GIVpower locked token details modal table can be narrower. There is some unused space and redundant texts.
![image](https://user-images.githubusercontent.com/5684607/192567335-e15dfc79-ceb2-4a05-a212-e3802a

[2022-10-05 23:58] laurenluz commented on #1561
Cherik was working on these ideas in the other issue, so I just copied your comment there Amin, with some adjiustments. will close this.

[2022-10-05 23:58] #1561 closed

[2022-10-06 00:33] laurenluz opened #1630 "DevCon / Bogota Tweet"
Would love to write on Sunday, a thread with some details on where to catch Giveth during Bogota.

I am giving a talk at sustainable blockchain summit: “Reimagining the Money Game”  is scheduled for 3:00pm - 3:15pm (15 mins) on Wednesday, October 12th on the Selva Stage.

@GriffGreen is speaking at DevCon, Wed Oct 12

@mateodaza is speaking at ETH Latam on a panel

@Cotabe is giving a talk at the

[2022-10-06 09:38] markoprljic opened #1632 "Allow Project Owners to generate a proof of donation when converting to fiat"
**As a Project Owner, I want to generate an official document from Giveth which states that I received donations in the amount I'm about to withdraw, so that my non-profit remains in legal compliance when converting crypto to fiat that are received on our bank account.**

Breaking this down:

As a Project Owner, when I want to convert crypto to fiat, on a monthly or quarterly basis, or anytime I w

[2022-10-07 18:48] divine-comedian opened #1633 "Create Governance page on Dapp"
**What problem is this design solving? Why is it necessary?**

Our governance platforms are really hard to find - often they are buried in forum posts, documentation or discord messages. It would be great for users who visit our platform and hold eligible tokens are given a clearer path to participate in our governance.

i would like to suggest adding a 'Governance' page accessible from the homepa

[2022-10-08 05:37] maryjaf commented on #1497
Thanks, a problem related to verify project after revoke badge has been fixed, but now i see this:

when tap on revoke badge in project list for a verified project
the status of project changed to fraft correctly and the PM see "resume verification" in project detail
after that tap on "resume verification" below pic is shown
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea4

[2022-10-08 05:45] maryjaf commented on #1607
Is this change on giveconomy.vercel.app?
I checked but didn't see any change. @MohammadPCh

[2022-10-08 06:13] maryjaf commented on #1364
this sentence was added
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/44e355ec-c9a1-4aea-b16d-3388e83042ec)

[2022-10-08 06:55] maryjaf commented on #1270
Can this issue be transferred to Done? @divine-comedian @WhyldWanderer

[2022-10-08 07:51] maryjaf commented on #1365
How can I test this? @CarlosQ96 @MoeNick
Can we change to hour on stg?

[2022-10-08 08:07] maryjaf commented on #1485
I tested and 1&2 cases are passed .Thanks @RamRamez
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/d0b7ec2a-697c-46b1-bfd8-92159fd1ff2f)
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/930c11fd-fa54-4411-b7d0-63a88ea131ab)

[2022-10-08 14:39] CarlosQ96 commented on #1497
Hello @maryjaf I pushed a hotfix so you can test again!

I missed resetting terms and conditions back to false, and setting the form to the first step.
This should reset it correct it.

[2022-10-08 16:21] RamRamez opened #1634 "some issues on similar projects"
1. Related to [Discord Issue](https://discord.com/channels/679428761438912522/852226479441575986/1027037585941463050)

I'm on this page https://giveth.io/project/green-academy, I hit any of the projects below and page just refreshes
Happens both on desktop & mobile, for any project I check

![image](https://user-images.githubusercontent.com/73441857/194717331-1ad8e36d-6209-4a87-8558-b3edfeddcb0c.p

[2022-10-08 16:24] RamRamez commented on #1634
For testing please test these scenarios:

1. different project statuses (active, deactive, draft, cancelled)
2. different user statuses (user is signed in, not signed in, user wallet is lock, user is owner, user is not owner)

[2022-10-09 08:11] MoeNick commented on #1607
@MohammadPCh @alireza-sharifpour
It has been merged into GIVeconomy branch? if yes, seems @maryjaf can't confirm it, would you pls take a look?

[2022-10-09 08:21] MoeNick commented on #1548
@aminlatifi please help us how to QA it.

[2022-10-09 08:23] MoeNick commented on #1285
@aminlatifi @MohammadPCh this is merged on GIVpower only, if it's a critical bug, lets merge it into GIVeconomy and an to live.

[2022-10-09 08:43] MoeNick commented on #1270
@mohammadranjbarz @CarlosQ96
How we can test them out?
can we config the revoke time t test the cronjob?

[2022-10-09 08:44] MoeNick commented on #1351
@RamRamez can you provide more test scenarios to this? so @maryjaf can test?

[2022-10-09 08:54] MoeNick commented on #1558
@alireza-sharifpour
@mohammadranjbarz has just updated the backedn, I assumed it;s ready for test, if it;s not pls let us know.

[2022-10-09 08:56] MoeNick commented on #758
I agree with this UX for now.

[2022-10-09 09:03] MoeNick commented on #1507
![image.png](https://images.zenhubusercontent.com/604f242c2819d5da6426ad03/7eb2e9f1-3ec6-41b4-8ca9-87ad557e814f)

I can see the tab.

[2022-10-09 09:05] MoeNick commented on #1354
shall we close it @laurenluz ?

[2022-10-09 09:18] MohammadPCh commented on #1617
@laurenluz did you check the new implementation?
![image](https://user-images.githubusercontent.com/17097576/194748511-321eaa9e-7d26-4cbe-8fe3-8e1ef794c770.png)
https://giveconomy.vercel.app/givfarm
if will change the header and ping you to check it :)

[2022-10-09 09:27] MohammadPCh commented on #1607
@maryjaf @MoeNick let me check it :)

[2022-10-09 09:32] alireza-sharifpour commented on #1558
Yes, it can be tested on:
https://givfilter.vercel.app/projects
@MoeNick @maryjaf

[2022-10-09 09:51] MoeNick commented on #1559
@MohammadPCh I assigned it to @alireza-sharifpour , if you have any suggestions on implementation pls let him know.

[2022-10-09 10:08] MohammadPCh commented on #1607
Thanks @maryjaf , I left a new PR :)

[2022-10-09 12:13] alireza-sharifpour commented on #1539
Thanks @ahmadabugosh, I added development and production keys and also implemented it on the front-end side and tested it and it works fine.
it's ready for review.

[2022-10-09 12:56] RamRamez commented on #1560
How should I use them in mobile design? Are they shown in mobile?

[2022-10-09 13:44] maryjaf commented on #1607
I tested it, if the available GIVE is 0, the"increase your reward " button is disabled
But the un-stake is active, Is this the expected result? @MohammadPCh @laurenluz
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/1182b251-ae75-4556-8d03-7d8dfe8b6500)

[2022-10-09 16:04] maryjaf commented on #1497
I tested again and It seems that the changes  haven't been deployed on staging.

[2022-10-09 17:59] RamRamez commented on #1351
It affects these pages: (it's not merged yet in staging, it should be tested in [categories branch](https://givfilter.vercel.app/))

1. givpower modal (when clicking boost on project page)
2. create project page
3. donate page
4. similar projects in project page
5. projects page
6. verification

[2022-10-09 18:01] MoeNick commented on #1497
@CarlosQ96 would you please take a look?

[2022-10-10 04:34] CarlosQ96 commented on #1270
@maryjaf @MoeNick This would need to be tested together.
This are the env vars set locally and on staging, to give context first.
[code]

Yes we can config the revoke service if active or not, so its false by default so its safe to deploy.

Regarding the tests @maryjaf :
We need to 4 projects.
1 that has not made an update in 31 days
1 that has not made an update in 61 days
1 that has not made and

[2022-10-10 04:38] CarlosQ96 commented on #1270
Some data that I pulled from the database and sended to Ashley and Nikola:
[code]

[2022-10-10 04:41] CarlosQ96 commented on #1270
@WhyldWanderer @NikolaCreatrix @MoeNick with this information in mind we would revoke A LOT of projects, should we proceed or give more time?

Ashley and Nikola sent reminders on their side, not related to the development of this feature. But I am afraid of simply deploying this and boom we got rid of half of OUR PLATFORM verified projects.

I am not counting giving blocks or any imported project.

[2022-10-10 04:41] CarlosQ96 commented on #1270
@mohammadranjbarz Maybe since you have a closer schedule with Maryjaf you can help me test it out? or we can coordinate tomorrow.

[2022-10-10 04:46] CarlosQ96 commented on #1270
Any other test scenario you think of @maryjaf is welcomed.

But again we have to do it side by side, as updating the column "UpdatedAt" is not updatable by adminbro, at least you have no control of it, it will automatically set it to the exact time you did any change on the project (expected behaviour), so we have to modify by DB.

[2022-10-10 06:21] MohammadPCh commented on #1607
@maryjaf nice catch :)
I fixed it in another PR and let you know when it merged :)

[2022-10-10 07:20] mohammadranjbarz commented on #1270
Yeah Carlos, I agree with you

@maryjaf  Please give me four projects and tell me how should I change UpdatedAt column, so I will change them in DB

[2022-10-10 09:16] maryjaf commented on #1270
Thanks @CarlosQ96 @mohammadranjbarz
1- maryam jafarymehr
2- testnotif11
3- testaaa
4- mejan

[2022-10-10 11:03] ahmadabugosh commented on #1539
Thanks @alireza-sharifpour! I tested it and it looks good. Let me know once it's live and I can check it in production too

[2022-10-10 11:40] MoeNick commented on #1348
https://github.com/Giveth/giveth-dapps-v2/issues/1374

[2022-10-10 12:47] MohammadPCh commented on #1285
@MoeNick Yes we fixed it about 2 months ago, before merging the GIVpower to GIVeconomy.

[2022-10-10 13:27] #1285 closed

[2022-10-10 13:41] MohammadPCh opened #1640 "Refactor tooltip"
The current tooltip component has a big problem that is based on the parent component and if the parent is hidden the overflow, maybe it cuts.

we need to refactor it and implement it by react portal.

[2022-10-10 13:50] MohammadPCh commented on #1607
@maryjaf  please check the un-stake button

[2022-10-10 13:53] MoeNick commented on #1539
If it's QAed we can merge it into production. Shall we @ahmadabugosh ?

[2022-10-10 14:55] MoeNick commented on #1549
Hey @KurtMerbeth I’m using Zenhub in GitHub, [click this link](https://app.zenhub.com/workspaces/all-devs-61644589b92edf0016f6999c/board) to join my workspace and see other features available in GitHub or [download the Zenhub extension](https://www.zenhub.com/extension) and sign up with your GitHub account.
  _Posted using [Zenhub](https://www.zenhub.com)_

[2022-10-10 14:58] divine-comedian commented on #1633
Happy to do more research - we can start with something simpler and perhaps make something more interactive at some later point

[2022-10-10 14:58] aminlatifi commented on #1549
For production

LP Address (FOX/WXDAI): 0xc22313fd39f7d4d73a89558f9e8e444c86464bac

FOX/WXDAI Unipool   0x9A333AD00868472c0314F76DB8dA305B83890129

FOX/WXDAI Unipool | 0x9A333AD00868472c0314F76DB8dA305B83890129
-- | --

[2022-10-10 14:59] aminlatifi commented on #1549
BTW, Everything is documented here https://www.notion.so/giveth/FOX-Regen-Farm-7796408fb3b64978bca2d93b30fe1f9f

[2022-10-10 15:07] maryjaf commented on #1607
Thanks @MohammadPCh
I checked and it passsed.
<img width="509" alt="image" src="https://user-images.githubusercontent.com/111529185/194897834-6cd2686a-7300-40b6-a954-7ef5d3e26cd2.png">

[2022-10-10 15:14] maryjaf commented on #1497
I think the changes are not on staging @CarlosQ96 @mohammadranjbarz
Because when I revoke badge the project, it is as shown in the image below and the "resume verification" is not displayed.
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/2af67a20-8aa1-4ff9-beeb-ff65d396974c)

[2022-10-10 15:22] CarlosQ96 commented on #1497
Will double check today, thanks!

[2022-10-10 16:29] MohammadPCh commented on #1607
Finally :smile:
Thanks @maryjaf

[2022-10-10 16:30] ahmadabugosh commented on #1539
Let's do it!

[2022-10-10 17:32] GriffGreen opened #1641 "Change "GIVback" to "GIVbacks" everywhere & Text Fix on project card"
**Describe the bug**
Small edit... Its GIVbacks not ever GIVback (ctrl-f GIVback and make sure we don't use this anywhere else). I would say "Eligible for GIVbacks" but that is long... Probably is better to be just "GIVbacks" (this is @laurenluz  approved... so its real)

**Screenshots**

<img width="425" alt="Screen Shot 2022-10-10 at 11 32 40 AM" src="https://user-images.githubusercontent.com/14

[2022-10-10 18:54] divine-comedian commented on #1270
@CarlosQ96

perhaps you can set the last update time for existing projects at the deployment time or 3 months before - so users wouldn't get their badge revoked immeadiately but have another 3-6 month grace period, while letting you proceed with implementing the changes.

[2022-10-10 21:42] NikolaCreatrix commented on #1270
@divine-comedian we are sending one more email reminder today with clear print screens of how to create an Update... It seems that many many projects assumed that by editing their description they are making an update...So yeah, working on trying to avoid this mass revoking as much as we can.

[2022-10-11 06:14] CarlosQ96 commented on #1497
@maryjaf I am testing but this project doesn't have a verification form related to it or created. So the image is actually correct, as even tho you revoked the verified boolean, there was no associated verification form to modify.

If the project had a verification form it would have shown -> resume.

[2022-10-11 06:20] CarlosQ96 commented on #1497
I added additional tests to validate making the project verification form DRAFT after revoking a badge.

[2022-10-11 06:33] CarlosQ96 commented on #1497
Revoking a project or using unverify, will reset the form to draft and the step to managing funds, also set terms and conditions as false.

[2022-10-11 06:35] CarlosQ96 commented on #1497
Maybe we can make a few scenarios and go step by step, to see where the bug is being generated.

But according to the additional tests I added, this image shouldn't happen again.

[2022-10-11 07:25] mohammadranjbarz commented on #706
I think it's done about 1 month ago and we tested in https://staging.notification.giveth.io/docs

[2022-10-11 07:26] mohammadranjbarz commented on #705
I think it has been implemented about 1 month ago and we tested it on https://staging.notification.giveth.io/docs

[2022-10-11 07:26] mohammadranjbarz commented on #708
I think it has been implemented about 1 month ago and we tested it on https://staging.notification.giveth.io/docs

[2022-10-11 11:31] KurtMerbeth commented on #1549
@aminlatifi the deployment looks good to me

[2022-10-11 11:47] MoeNick commented on #1539
It was not merged into staging, so I asked @alireza-sharifpour to do it after code reviewing by @MohammadPCh

[2022-10-11 12:39] maryjaf commented on #1608
<img width="737" alt="image" src="https://user-images.githubusercontent.com/111529185/195092726-e8816760-bf1c-4561-ba02-7e4acb1174b6.png">
Thanks @MohammadPCh
It has been resolved.

[2022-10-11 16:11] clara-zi opened #1644 "Giveth dashboard has no figures"
Giveth dashboard is blank and is it not refreshing.

[2022-10-11 16:13] clara-zi commented on #1644
![photo_2022-10-11_19-12-12](https://user-images.githubusercontent.com/100724132/195144663-6bcd4534-7df6-4828-a558-fc15c2309b1e.jpg)
![photo_2022-10-11_19-12-19](https://user-images.githubusercontent.com/100724132/195144668-df49a73c-1d34-4ccf-9297-61a10f937661.jpg)

[2022-10-11 16:15] clara-zi commented on #1644
It looks like the query is running ok behind the database but the data is not feeding through? @mateodaza

[2022-10-11 17:09] mosaeedi commented on #1579
![Screen Shot 2022-10-11 at 8 03 18 PM](https://user-images.githubusercontent.com/13708322/195154977-b1016e92-d952-40e7-8dcf-3a962b1dfdf0.png)
I had to redo the whole screen to make it look good!
As you can see, I've added two sections,

## First-> Donate to Giveth

![Screen Shot 2022-10-11 at 8 04 40 PM](https://user-images.githubusercontent.com/13708322/195155197-9eadf03b-a713-47bf-9430-29dcf9aa

[2022-10-11 17:12] markoprljic commented on #1579
Looks good!

On Tue, Oct 11, 2022, 19:09 mosaeedi ***@***.***> wrote:

[2022-10-11 22:02] geleeroyale opened #1645 "Text box for project updates keeps expanding when reaching end of line"
**Describe the bug**
When the text put in the project update textbox reaches the end of line, it expands the text box.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to one of your projects
2. Write in the text box
3. When you are about to reach the end of line, the textbox expands instead of dropping the cursor to the next line

**Expected behavior**
Cursor is dropped to next line inste

[2022-10-12 06:17] MoeNick commented on #1645
@RamRamez csn you please take a look?

[2022-10-12 07:13] maryjaf commented on #1361
Thanks @RamRamez
I tested and 1&2 items are passed.

[2022-10-12 08:57] RamRamez opened #1647 "public profile not showing donations nor liked projects"
In public profile when I click on projects, donations or liked projects tab, it redirects me to my account instead of that user public page

![image](https://user-images.githubusercontent.com/73441857/195298281-4165e164-b6d7-452b-af39-510f4ae31c76.png)

[2022-10-12 09:20] aminlatifi commented on #1629
@willyogo
Total amount to distribute in 13 rounds (182 days): 615306.8
Distribution like fox/hny: 7.70, 7.70, 7.69, 7.69, 7.69, 7.69, 7.69, 7.69, 7.69, 7.69, 7.69, 7.69, 7.70 percent

[2022-10-12 13:22] divine-comedian commented on #1579
just a small comment @mosaeedi how would it look in the text box to keep the `%` symbol outside the custom input box, just to the left and make the custom % input box itself smaller.

we could also remove the 0% option or replace it with 20%.

If the user wants to select 0% it could be a check box

- [x] I do not want to support Giveth with part of my donation.

just another idea to make it more i

[2022-10-12 13:23] MohammadPCh commented on #1539
It's on staging now :)
and we will have it on production, after er release a new version.
@ahmadabugosh @MoeNick

[2022-10-12 13:25] markoprljic commented on #1579
Love inconvenience suggestions by Mitch. 😃

On Wed, Oct 12, 2022, 15:22 Mitch ***@***.***> wrote:

[2022-10-12 14:08] #1546 closed

[2022-10-12 14:34] MoeNick commented on #1579
@aminlatifi you can provide your ideas here.

[2022-10-12 15:01] MoeNick commented on #1567
hey @mosaeedi no news is not gong to be a good news :)

[2022-10-12 15:14] MoeNick commented on #1633
Hello @mosaeedi :)

[2022-10-12 15:15] clara-zi commented on #1644
@mendesfabio - after our discussion about the dashboard recently - I would be really interested to learn the process of how the backend database links to the user interface - it could make sense for me to be responsible for maintaining the feed.

[2022-10-12 16:01] divine-comedian commented on #1633
some ideas:

### from aave
![image](https://user-images.githubusercontent.com/67759413/195391226-1ea6ca4b-1bc3-42b1-b12c-2745f8551640.png)

### maybe v1 looks something simple like this
![image](https://user-images.githubusercontent.com/67759413/195392150-96169af9-eadb-4ce0-a636-781befb8a2f1.png)

[2022-10-12 16:58] clara-zi commented on #1292
Problem is now resolved.

[2022-10-12 16:58] #1292 closed

[2022-10-13 08:19] aminlatifi commented on #1579
It's totally a frontend task and can be implemented shortly if the design be finalized.

[2022-10-13 09:29] ahmadabugosh commented on #1374
Hey @MoeNick for this I think your main concern was that it would be hard to add more fields to projects since most projects don't have those fields. I was thinking there are maybe 3 solutions to this:

1) Option 1, is we have it where if that field is blank it doesn't show up. For example, if there is no social link, impact stats, about us, year founded etc. it just doesn't appear (it will look l

[2022-10-13 14:39] divine-comedian opened #1654 "Generate default donations to Giveth on regular donations"
According to GIVeconomy calls on wednesday oct 13, we reached soft consensus on the method of collecting default donations to Giveth.

We will use the simplest user flow to begin with until we have a robust and audited donation handler contract to put in place.

This simple user flow will be to generate two transactions on every donations - 1 to Giveth and 1 to the project.

User's can choose to t

[2022-10-13 14:43] divine-comedian commented on #1579
Also just a small detail - should we consider taking a % of the amount the donor specifies to donate or add a percentage on top?
i.e
donates 900 GIV to a project + 10% to Giveth

should that equal 900 GIV to the project and 90 to Giveth
OR
810 to the project and 90 to Giveth

the former stays in line with the slogan "100% of your donation goes to the project" while the logic becomes confusing when

[2022-10-13 15:03] markoprljic commented on #1579
I'd add it on top. It's a common sense when selecting % on already selected
amount, it's expected results to see amount + % selected.

On Thu, Oct 13, 2022, 16:43 Mitch ***@***.***> wrote:

[2022-10-13 16:09] MoeNick commented on #1654
Hey @divine-comedian the modals redesign is also required for this feature I guess @mosaeedi is on it.

[2022-10-13 16:10] MoeNick commented on #1654
Here is my comment: https://github.com/Giveth/giveth-dapps-v2/issues/1579#issuecomment-1276348524

[2022-10-14 12:37] maryjaf commented on #1497
I tested again after front changes and the problem has been fixed.
Now when the verified project is revoked by the admin, the status of the verification form changes to "Draft" and in the details of the project "resume verification" is shown and when tap on "resume verification" the below pic is shown:
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/c6428cee-ae37-4ee6-9b

[2022-10-14 12:52] maryjaf commented on #1365
one question
When the project is   verified: No & verification status: revoked, after registering an update, what changes will be made in the status of the verified & verification status ?
Now my project has these conditions and I registered an update, but I did not see an option for editing in the admin section of the updates.
@CarlosQ96 @MoeNick

[2022-10-14 15:25] divine-comedian commented on #1579
Another note to consider is the edge case where the project being donated to is Giveth itself.

In this case I think it makes sense that we wouldn't split the donation and perhaps hide the elements relating to that functionality

or if there's something else we should show the user in this very specific case.

[2022-10-15 00:14] CarlosQ96 commented on #1365
This second part is not implemented as it's new feedback Ashley told Moe. So I have to implement it.

I think the correct flow is.
IF verification status = Revoked and a new update is added -> make the project verified again. @MoeNick is that right?

I added a view inside the single project view in adminbro that lists the projectUpdates, they are not editable tho. I don't think we should edit them

[2022-10-15 12:47] maryjaf commented on #1315
1- If the user's wallet is connected & they have GIVpower: Passed
2-If the user's wallet is connected & they have no GIVpower:Passed
3-If the user's wallet is not connected: Failed
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/8cc91e04-005b-444d-8c41-19384666ca8c)
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/3ef8f2be-7442-4919-b478-759bd2d

[2022-10-15 12:51] maryjaf commented on #708
How can i test this issue? @mohammadranjbarz

[2022-10-15 17:57] maryjaf commented on #1365
Thanks @CarlosQ96
This means when an update is registered for the Revoked project and this update is approved by the admin (currently we don't have this in admin and there is no option for approval or rejection in the Project Update section, it only has a show option) after confirming the verification status of project change to  null It changes that the user can see the "resume verification" opti

[2022-10-16 11:47] MoeNick commented on #1365
I think they should re-apply (or resume) the verification form and submit it again to make their projects verified/
so no need should apply to a  "verified: No & verification status: revoked" project.

[2022-10-16 14:36] RamRamez commented on #1315
In some cases MetaMask says it's not connected but actually it's connected on another account. In this case, you can lock your MetaMask to test it.

[2022-10-16 18:54] maryjaf commented on #1365
when verification status is Revoked, "RE-APPLY"button is shown which has the same function as "Resume Verification"
In other scenarios, when the form is draft and the  verification status status is null, reminder, warning, last chance & ready for revoking,  "resume verification" button is displayed

[2022-10-16 19:03] maryjaf commented on #1315
Thanks @RamRamez
That's right.
I tested again with lock metamask and the correct message is shown.

[2022-10-17 09:58] clara-zi opened #1660 "Incorrect wallet address in GIVbacks email"
Pasting copy of email query
"I'm getting emails that say:
Your Round 19 GIVbacks have been distributed and are ready to claim! Thank you for participating in the GIVeconomy and for making the world a better place for all! All GIVers that donated $10 or more cumulatively to any verified projects during Round 19 are also eligible to claim a POAP! (connect your address 0xad7575aefd4d64520c3269fd24eae

[2022-10-17 10:02] clara-zi commented on #1660
Checked in etherscan - address appears to belong to a project owner with a portfolio of 2 projects on platform, however address is not used for either project.
To check:
1) is set-up for mail merge correct in AutoPilot?
2) is there a any connection between this wallet address and the person emailed.

[2022-10-17 10:21] MoeNick commented on #1660
I mention you here cause you are our autopilot and support hero. @CarlosQ96

[2022-10-17 11:18] markoprljic commented on #1579
Great catch @divine-comedian

I'd leave the effort estimate to the devs but if it turns out to be large, then IMO I wouldn't make any significant difference in the UI for the edge case, to avoid complicating things both on FE And BE.
We can just default the donation to 0%.

Up to devs to estimate and let us know.

[2022-10-17 14:10] ahmadabugosh opened #1661 "Project filtering for Gnosis chain not working in all cases"
**Describe the bug**
When I use the "Accept funds on Gnosis" it doesn't filter out all Giving Block projects

**To Reproduce**

When I add the "Accept funds on Gnosis" filter and search for something (like "water" for example) in the search bar I still get some projects that only allow donations on Mainnet like https://giveth.io/donate/napa-land-trust and https://giveth.io/donate/ymca-of-the-sunco

[2022-10-17 14:33] MoeNick commented on #1614
You may need @Tosinolawale help if you want @mateodaza .

[2022-10-17 14:41] MoeNick opened #1663 "Design problem for Archived Regen Farm Cards"

[2022-10-17 15:21] maryjaf commented on #1661
"Accept Funds on Gnosis" filter has been tested on stage
Now, the wallet address has not been set for this project"testfilter"
When the "Accept Funds on Gnosis" filter is disabled this project is displayed in result
![image](https://user-images.githubusercontent.com/111529185/196216923-e979cf00-f7bf-433d-99ae-67e24d7e08ee.png)
But after I activate the "Accept Funds on Gnosis" filter, this project

[2022-10-17 15:49] MoeNick commented on #1661
Hey @mohammadranjbarz and @maryjaf
Ahmad is correct, this picture says it all, we have a problem I guess especially when it is supposed to be an AND between filter conditions and search conditions.

![image](https://user-images.githubusercontent.com/80677512/196223184-5ba36c28-06f9-4bc6-b15d-3048b7f18013.png)

[2022-10-17 16:17] mohammadranjbarz commented on #1661
I fetched the info of one of giving blocks projects and I saw it has `gnosis(100)` address

<img width="929" alt="Screen Shot 1401-07-25 at 19 33 22" src="https://user-images.githubusercontent.com/9850545/196229120-4a29c517-82c7-482a-9fdf-de3e504acaaf.png">

So the problem is not he filtering, we made mistake in below migration when we wanted to fill addresses from project's walletAddress, we shou

[2022-10-17 16:30] maryjaf commented on #1661
Thanks @mohammadranjbarz  for your explanation
I had tested the functionality  of this new filter on  my projects and everything was correct.
Unfortunately, I was not aware of this that Giving bloc k projects are only on Mainnet network, otherwise we would have noticed and fixed this problem before deployment.

[2022-10-17 20:06] mateodaza commented on #1615
Closing as #1613 is more relevant and accurate

[2022-10-17 20:06] #1615 closed, assigned to mateodaza

[2022-10-17 20:44] mateodaza commented on #1614
We have the option to have a sub-path routing, nextjs let us set this up without much effort and without refactoring any of the code, for example we'll have three possible routes for projects...

/projects
/es/projects [this will be translated to spanish]
/en/projects [this is the same as /projects as english is default]

I like this feature a lot as we are not restricting the user to see a differ

[2022-10-17 21:18] Tosinolawale commented on #1614
Is it possible to have a default language influenced by the location of different users? With the option to also have the user see all supported languages and select a preferred one if need be? The user's choice or language used for the browsing session can then be stored on a cookie. @mateodaza

[2022-10-17 21:20] mateodaza commented on #1614
@Tosinolawale I think the browser defaults by a location influence, I believe using the browser language is the most reliable option. I like a lot the idea of seeing all supported languages and select a preferred one

[2022-10-17 22:41] mosaeedi commented on #1567
I'm pretty sure that I posted the design for the archived pool before, but I can't find that issue right now!

So here it is, [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=13925%3A253772)

[2022-10-18 09:21] MoeNick commented on #1567
@Cotabe here you are :)

[2022-10-18 10:15] MoeNick commented on #1579
- [ ] redesign the modals - having steps in modal
- [ ] what to do with "you are a giver" now page/
- [ ] if the modal gets closed,  what to in every steps?

Questions:
1- for some third-party integrations (like giving-block and CHANGE ) some of them differ in the list of tokens and the supported networks, also some of the projects don't accept funds in specific networks. So, what if a XXX token i

[2022-10-18 10:22] MoeNick commented on #1579
4- input % field limit: 0-%100? why not more than %100 if you want to add it on top?

[2022-10-18 13:43] CarlosQ96 commented on #1270
@divine-comedian

[2022-10-18 13:44] CarlosQ96 commented on #1270
PROJECT_BADGE_REVOKE_REMINDER = **Project badge revoke reminder**, ( 30 days)
PROJECT_BADGE_REVOKE_WARNING = **Project badge revoke warning**, (60 days)
PROJECT_BADGE_REVOKE_LAST_WARNING = **Project badge revoke last warning**, (90 days)
PROJECT_BADGE_UP_FOR_REVOKING = **Project badge up for revoking**, (those already expired but will be revoked on october 15th)
PROJECT_BADGE_REVOKED = **Project b

[2022-10-18 13:55] divine-comedian commented on #1579
1- I think this is an edge case we'll very likely never have to worry about. Giveth will always have a project address deployed on any network that the dapp uses and we won't restrict the tokens that can be accepted.

2 - If by third party projects like giving block then I would say yes

3- If we have a cart of projects feature in the future perhaps we would ask the user if they wanted to donate t

[2022-10-18 15:07] aminlatifi opened #1667 "Connect wallet supported network issue"
When the user tries to connect his/her metamak wallet to the app, MetaMask must be connected to a limited list of networks. Otherwise, the below error will be shown

<img width="782" alt="image" src="https://user-images.githubusercontent.com/5684607/196469079-3b390434-c7ad-495e-9da5-4f6baf766fd2.png">

The error above will happen if the user's wallet is connected to BSC network.

[2022-10-18 15:54] divine-comedian opened #1669 "GIVpower Boosting - GIVpower page styling and missing link"
**Describe the bug**
on the GIVpower page
https://giveconomy.vercel.app/givpower

the button learn more is way too big

also where it says coming soon we should add the link to allow users to boost projects and change the text
**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://giveconomy.vercel.app/givpower

**Screenshots**
![image](https://user-images.githubusercontent.com/6775941

[2022-10-18 16:08] mohammadranjbarz commented on #1661
@maryjaf  @ahmadabugosh  @MoeNick

<img width="1431" alt="Screen Shot 1401-07-26 at 19 36 58" src="https://user-images.githubusercontent.com/9850545/196484537-9d15cb5f-5e3d-4f48-9e31-51de44322863.png">

It's working now

[2022-10-18 16:38] divine-comedian opened #1670 "GIVpower Boosting - Why is there no number for my boosted projects"
**Describe the bug**
In every other tab you can see a total of items that correspond to the tab heading

i.e how many projects i own, how many donations I've made, how many projects I've liked. Why is there no similar functionality for boosted projects?

**To Reproduce**
Steps to reproduce the behavior:
1. log into giveth
2. Click on my account

**Expected behavior**
A user should be able to see a

[2022-10-18 17:54] divine-comedian opened #1671 "GIVpower Boosting | Update Project Boosted modal to explain that the rank will change later"
**Describe the bug**
As a user it is very unclear the time difference between when I allocate GIVpower or change my allocation to a project to when it is reflected on the project page. We need to clarify or explain to the user when they should expect their new allocations to appear correctly on the GIVpower tab of the project page.

**To Reproduce**
Steps to reproduce the behavior:
1. Allocate GIV

[2022-10-18 18:10] divine-comedian opened #1672 "GIVpower | Lock until date is off by 1 day"
**Describe the bug**
On the staking & locking modal it says to lock my GIV until xx date - however the date shown are mondays when by GIV should unlock on tuesdays!

Also on the modal when the round is set to 0 it shouldn't show a preview date since it is impossible to lock for 0 rounds.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://giveconomy.vercel.app/givfarm
2. Click on i

[2022-10-18 18:38] NikolaCreatrix opened #1673 "GIVpower Boosting | not able to boost my own project"
**Describe the bug**
Using google chrome. Signed in, giv staked and locked, on my own projects page there is no option to boost my own project.

![image](https://user-images.githubusercontent.com/100084867/196514785-f1aee66e-d951-413b-9c2c-a9b243931111.png)

![image](https://user-images.githubusercontent.com/100084867/196515065-e5d9eb2c-ce3f-4fa1-b183-a42a97513b00.png)

**To Reproduce**
Steps to r

[2022-10-18 20:58] RamRamez commented on #1579
What is the content of the tooltip?
![image](https://user-images.githubusercontent.com/73441857/196543471-9502d870-73c7-41f0-b56e-118e1174cf38.png)

[2022-10-18 21:41] divine-comedian commented on #1579
"Support Giveth to continue building the Future of Giving by making a donation to the Giveth DAO! The percentage you choose will be added on top of your donation amount, in the same token you are donating."

[2022-10-19 12:26] #1567 closed

[2022-10-19 12:26] #1548 closed

[2022-10-19 12:26] #1551 closed

[2022-10-19 12:26] #1598 closed

[2022-10-19 12:28] laurenluz commented on #1552
@MohammadPCh will this automatically archive in a couple of weeks? I think we should archive on Oct 31

[2022-10-19 12:29] #1549 closed

[2022-10-19 12:30] #1553 closed

[2022-10-19 12:30] #1554 closed

[2022-10-19 12:32] #1544 closed

[2022-10-19 12:32] #1608 closed

[2022-10-19 12:33] #1540 closed

[2022-10-19 12:33] #1607 closed

[2022-10-19 12:36] laurenluz commented on #1673
@MohammadPCh can you take this?

[2022-10-19 12:38] laurenluz commented on #1671
@aminlatifi can you look into this? why is there a delay?

[2022-10-19 12:40] laurenluz commented on #1673
ooh @NikolaCreatrix boosting should only be possible on already verified projects (not ones in the middle of the verification process). Did you test with an already verified project?

[2022-10-19 12:50] laurenluz commented on #1670
It should have a number for sure - @MohammadPCh can you take it?

[2022-10-19 13:09] maryjaf opened #1675 "Similar projects are not displayed"
By selecting a project, the list of similar projects is empty in UI, but in the response of graphql, a list of similar projects is displayed.
<img width="1430" alt="image" src="https://user-images.githubusercontent.com/111529185/196698787-18b4c67e-c9bd-4697-a7b4-f36c56d0f643.png">

[2022-10-19 13:13] MohammadPCh commented on #1675
@RamRamez, can you take it please? Thanks :)

[2022-10-19 13:16] laurenluz opened #1676 "GIVpower Boosting | Tooltip on Boosting modal - text fix"
**Describe the bug**
Tooltip grammar is off... should say "This is the number of projects you have boosted before."

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Project Page
2. Click on 'Boost'
3. Mouse over '?"
4. See tooltip

**Expected behavior**
Should say "This is the number of projects you have boosted before."

**Screenshots**
![image](https://user-images.githubusercontent.co

[2022-10-19 13:22] aminlatifi commented on #1671
@divine-comedian @laurenluz It's the nature of givpower boosting, we collect boosting information during a round and show the average of values when the round finishes. Currently, at most 5 minutes after a round finishes, we will update the ranking and allocated power. Is it clear? let me know if any further information you need.
Basically, we need some design to explain to the user what is happen

[2022-10-19 13:25] aminlatifi commented on #1672
@laurenluz You are right, thanks

[2022-10-19 13:25] #1672 closed

[2022-10-19 13:26] laurenluz commented on #1641
There are two action items here:
- [ ] ctrl-f the entire dapp to make sure we say "GIVbacks" not "GIVback" (it should always be plural)
- [ ] change the text on the project card from "GIVback Eligible" to just "GIVbacks"

[2022-10-19 13:32] aminlatifi commented on #1671
@divine-comedian @laurenluz Just a point, in staging/giveconomy deployment we set boosting round duration to 20 minutes and take snapshot every 5 minutes.

[2022-10-19 13:35] #1629 closed

[2022-10-19 13:40] laurenluz opened #1677 "GIVpower Boosting | Design - show that the project ranking changes at the start of the NEXT round"
Users do not know that the project's ranking changes only after the round ends, we should communicate this to them somehow.

@mosaeedi can you go through the design and find the best places for it?

[2022-10-19 13:57] MoeNick commented on #1671
I think we have to have this copy on the top of the GIVpower tab of the project page.
"Updated on HH:MM Month, Day Year"

[2022-10-19 14:18] laurenluz commented on #1671
- [ ] We should mention to the user that the GIVpower ranking of the project will be changed at the top of the next round on the boosting confimed modal

![image](https://user-images.githubusercontent.com/75490971/196716295-4b473332-c491-4415-abbb-70a5fe43191b.png)

- [ ] We should add text  "Rank will be updated on x date" to the GIVpower tab
![image](https://user-images.githubusercontent.com/754

[2022-10-19 14:19] laurenluz commented on #1671
@mosaeedi can you add this into the design quickly?

[2022-10-19 14:20] laurenluz opened #1678 "GIVpower Boosting | Show project's rank on their project page!"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0b591f59-b049-4485-bac7-db7ed56b1e65)

[2022-10-19 14:21] laurenluz opened #1679 "GIVpower Boosting | Show project's rank on their project page!"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/0b591f59-b049-4485-bac7-db7ed56b1e65)

[2022-10-19 14:21] #1678 closed

[2022-10-19 14:51] laurenluz opened #1681 "GIVpower Boosting | How should GIVbacks be afftect by the project's rank?"
GIVbacks factor calculation sheet:
https://docs.google.com/spreadsheets/d/1yz_6sgFmEXgGU9BgeRtgVALQlNFWJMUkxddpTlG2Krs/edit#gid=0

@divine-comedian & I were talking about having the min GIVbacks factor 50% & the max GIVbacks factor 85%

Looking for some feedback on this from @mohammadranjbarz @WhyldWanderer @GriffGreen

[2022-10-19 14:53] clara-zi opened #1682 "Project login: no project appears under wallet id"
"ARTXV" project: when logging-in no project exists under wallet id... wallet is artxv.eth (0x6b9724e8A8088de7D0cf375a3be88a97Ab61d7A0)

Looks ok on project page but project-owner is unable to view project when logging in:

![image.png](https://images.zenhubusercontent.com/6228be80d06a422295d2247f/76812580-f1c0-408e-9786-fe0b27ac80b0)

[2022-10-19 14:54] laurenluz commented on #1663
When user toggles show archive or not show archived... it would make things look a little funny.

We need some clearer design for this...

![image](https://user-images.githubusercontent.com/75490971/196726560-a0315a3f-6f29-45ad-ad47-cdc5e08310f5.png)

[2022-10-19 14:55] laurenluz commented on #1663
@mosaeedi let's discuss this one too

[2022-10-19 16:10] NikolaCreatrix commented on #1673
Hi @laurenluz and @MohammadPCh

I just tried with this project

https://giveconomy.vercel.app/project/giveth-tour-bridge-the-world

![image](https://user-images.githubusercontent.com/100084867/196745823-55aadc3d-555e-4daf-ba22-d876b4292d21.png)

Still no Boost button.

[2022-10-19 17:28] MohammadPCh commented on #1673
@NikolaCreatrix it's merged about 20 minutes ago, can you check it again?

[2022-10-19 17:31] MoeNick commented on #1673
@NikolaCreatrix based on recent changes you need to have a verified project to be able to boost it, is your project verified?

[2022-10-19 23:50] GriffGreen commented on #1681
85% seems really high.

I think making it range between 80% and 60% seems best at launch and then we see how everything works... I played with the spreadsheet a little:

https://docs.google.com/spreadsheets/d/1QxXXMGoT_ubKodMaUH2_ijG5bcByhkKr0jbV6Vis91c/edit#gid=0

[2022-10-20 08:41] maryjaf opened #1684 "GIVpower Boosting | Frontend fixes for verified (and not yet boosted) projects"
non verified projects that have been boosted are displayed in the list of projects without rank
and in the detail of the project, there are't "GIVpower"  tab and "BOOST" button.
![image](https://user-images.githubusercontent.com/111529185/196900242-2d851d33-9863-4359-a5e0-e7419c2fb9b0.png)

![image](https://user-images.githubusercontent.com/111529185/196900342-6378b1d3-e3c2-445b-ab60-659175ec5a1f.

[2022-10-20 09:52] clara-zi commented on #1644
@mendesfabio: so this is a server issue (server is down) and Giveth info dashboard is not powered by Metabase. Thanks. @MoeNick

[2022-10-20 13:50] divine-comedian commented on #1654
https://default-donations.vercel.app/

[2022-10-20 14:02] divine-comedian commented on #1681
I like a minimum spread of 30% - The greater the spread means a wider field of GIVbacks incentives that projects can compete to offer their donors.

[2022-10-20 15:29] RamRamez commented on #1654
I fixed it. It won't show donation handler for Giveth project anymore.
Beside that I added tx steps and progress bar to make the flow easier to understand.
![image](https://user-images.githubusercontent.com/73441857/196992149-13180e15-34a0-48c5-b22e-3c733ca6b93f.png)

[2022-10-20 15:49] #1354 closed

[2022-10-20 16:34] laurenluz commented on #1681
so 80% to 50%?

[2022-10-20 18:28] NikolaCreatrix commented on #1673
Hey @MoeNick and @MohammadPCh

Thanks, it works now!

![image](https://user-images.githubusercontent.com/100084867/197028969-1aaa5a66-a31d-4d00-94a3-db11f532697e.png)

[2022-10-20 19:00] laurenluz opened #1688 "GIVpower Boosting | Redesign Project Single Page to show better the rank - hide rank for unverified projects"
Related to #1671 & #1679

Project Single page needs some updates for GIVpower:
- [x] if the project is unverified, there should be no ability to boost the project or see its GIVpower
- [x] if the project is verified, its rank should be shown predominately on the project single page
- [x] under the "GIVpower tab" - the rank & total GIVpower should be separated... we want to total GIVpower to be dyn

[2022-10-20 19:20] laurenluz commented on #1663
@MohammadPCh - @Tosinolawale is going to make some frames for this and get back to you here

[2022-10-20 19:20] divine-comedian commented on #1579
this modal here could be made a bit bigger - the top part showing the numbers for the 2 donation parts is a bit too small

![image](https://user-images.githubusercontent.com/67759413/197038692-e7dfbc90-f0d2-4175-8d08-0e97828e7057.png)

[2022-10-20 19:33] laurenluz opened #1689 "GIVpower Boosting | GIVpower delegation MVP design"
Add Delegation coming soon

![image](https://user-images.githubusercontent.com/75490971/197040558-97eb9227-bb2d-443d-af13-74cbd00c1e64.png)

- need to add "nominate yourself to be a delegate"

note: at some point delegation should cycle

[2022-10-20 19:38] laurenluz commented on #1689
maybe somewhere on this page too... maybe not

![image](https://user-images.githubusercontent.com/75490971/197041901-5bfa80d3-79b9-42f9-bca2-20eca97c3165.png)

[2022-10-20 20:30] laurenluz commented on #1579
@divine-comedian @RamRamez I think that donate to Giveth should be the 2nd tx because it was an "add-on"... this order feels weird to me

open to you disagreeing.

[2022-10-20 22:28] divine-comedian commented on #1579
I think the logic was that if the user rejects the second transaction or leaves the view or loses the modal at least we get the donation to giveth in the first transaction.

[2022-10-21 02:37] GriffGreen opened #1690 "There is a request from a grant to get our token on Optimism"
As a Optimism token holder, I want to see the GIV token on Optimism so that I will vote yes to pair OP with GIV in a liquidity pool.

:-D

Here is the link to the forum post:
https://gov.optimism.io/t/draft-gf-phase-1-proposal-giveth-cycle-8/3735/3

Here is how to do it:
https://github.com/ethereum-optimism/optimism-tutorial/tree/main/standard-bridge-standard-token

Anyone want to take it on? it s

[2022-10-21 15:47] WhyldWanderer opened #1691 "The GIVeconomy page still links to the verification typeform - oops"
![image](https://user-images.githubusercontent.com/74267818/197235136-cc86f7d0-d6b8-4aa8-9fe4-6e1b2eea37a2.png)

This button should no longer link people to the typeform.

Where should this button link to?
Do we need a button here anymore?

Maybe we link it to the documentation here? this would encourage people to inform themselves of the process as well..
https://docs.giveth.io/dapps/projectVerif

[2022-10-21 16:44] laurenluz commented on #1579
It just feels very big brother to me: "you must donate to Giveth before you can donate to the project that brought you here"

(if this comment doesn't sway you I will just stop talking and let you do it how you like).

[2022-10-21 18:14] #1675 closed

[2022-10-21 18:35] laurenluz opened #1692 "Filters drop down text fix"
Should really say "Accept GIV" not "Accept GIV token"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/ef9580f3-96f1-43ca-9972-e1ce97e6407a)

[2022-10-21 18:47] laurenluz opened #1693 "Header improvement: Hightlight the current tab"
In the categories section, the selected category is highlighted. We should also highlight the tab that the user has selected, for example "Project"

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/5ff5b1a5-efa1-455c-9d23-8aea0fcb4c80)

[2022-10-23 15:41] markoprljic commented on #1579
Project first, Giveth second.

On Fri, Oct 21, 2022, 18:44 Lauren ***@***.***> wrote:

[2022-10-24 09:22] MoeNick commented on #1654
Let's finalize the whole flow with the Design team. maybe @Tosinolawale can help in absence of @mosaeedi

[2022-10-24 11:08] Tosinolawale commented on #1579
Hi @MoeNick, I'll take a look at this and take over

[2022-10-24 11:09] Tosinolawale commented on #1654
Will do so

[2022-10-24 11:17] markoprljic commented on #1579
No checkbox needed here, there is option for 0% already.

If user wants more than 100% they can enter it in the field.
% sign should stay inside the input field.

[2022-10-24 11:24] markoprljic commented on #1579
I'm noticing a lot of discussion for a simple enhancement that should be straightforward to design and implement, more so because it is almost a common pattern seen elsewhere (example Gitcoin). We shouldn't reinvent the wheel or try to add more options for the user that could hinder them from completing donation. It's a simple choice, a "click" away, and it should stay so.

[Current Figma version]

[2022-10-24 12:32] MoeNick commented on #1579
The redesign of modal and flow of showing success page is matter @markop

Sent from my iPhone

[2022-10-24 13:03] divine-comedian commented on #1579
I'm cool with Marko's ideas - might me another case of too many cooks

@MoeNick I can see Ramin finished the 2tx modal - it looks mostly fine. I think maybe a simple revision of the success page would be the last step. Unless I'm missing something I don't think this issue really is that complicated.

[2022-10-24 13:14] Tosinolawale commented on #1679
![Header](https://user-images.githubusercontent.com/35389241/197533743-5e79e9bd-c904-4991-81d5-4f63e755374c.png)
Hi @laurenluz I created two options here where we can actually show the Rank on the project page. Take a look and let me know what you think

[2022-10-24 13:19] MoeNick commented on #1579
If user close the modal, shall we open it up for next trx? Success means success for both? If user rejects the second one, sholud't we allow him to know the first one went ok? This is the user flow after I mean

[2022-10-24 13:33] markoprljic commented on #1579
If user closes the modal they will still have pending notification in their Web Wallet (Metamask or other). Later when we will have our Notification center it will also show pending tx's there.

I believe it should behave the same way it does on the GIVfarm for Approve/Stake two tx's. At any point user can reject or close the modal (while still having Pending tx in metamask). If continued through

[2022-10-24 13:37] divine-comedian commented on #1579
Actively working on this in GIVfi research :wink:

[2022-10-24 13:40] markoprljic commented on #1579
Hooray for the research!

[2022-10-24 13:45] Tosinolawale commented on #1688
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=14382%3A259227
@laurenluz Left a bunch of comments for you on the Figma file

[2022-10-24 14:20] #707 closed

[2022-10-24 14:25] #708 closed

[2022-10-24 14:25] #705 closed

[2022-10-24 14:25] #704 closed

[2022-10-24 14:25] #706 closed

[2022-10-24 14:25] #710 closed

[2022-10-24 14:33] divine-comedian commented on #1579
- What to do if user rejects second tx - do we take them to success page?
- What to do if user rejects first tx?
- Is the success page different?

[2022-10-24 14:34] MohammadPCh commented on #1641
should we change this copy too?
![image.png](https://images.zenhubusercontent.com/602bc460a2838adc28f21cdc/d77d58a1-2885-4dac-9552-8630693f8eff)
Do we have to change it GIVbacks, GIVbacks eligible, or eligible for GIVbacks?

[2022-10-24 14:45] markoprljic commented on #1579
Knowing that the second tx will show pending in web wallet, and user can decide to reject it (unlikely), if they do so, they have done it intentionally and we can assume they expect to see confirmation of the first transaction. In that context ...

Yes. Default success donation of the selected project.

Show modal tx rejected, abort the whole process.

[2022-10-24 14:46] #1435 closed

[2022-10-24 14:50] MoeNick opened #1697 "Add google translate plugin for dynamic texts"
@mateodaza commented on [Tue Oct 18 2022](https://github.com/Giveth/Roadmap/issues/35)

We should display an option to translate dynamic texts like project descriptions and allow the user to see a translation

Twitter handles it like this

<img width="597" alt="image" src="https://user-images.githubusercontent.com/18689480/196277317-cda76e15-1e85-4b4b-91b6-0bbcd2be8350.png">

<img width="614" alt=

[2022-10-24 14:55] divine-comedian commented on #1579
Do we also show the tx rejected modal before taking them to the success page?

[2022-10-24 15:05] markoprljic commented on #1579
Yes, because the system should always provide feedback on user actions.

On Mon, Oct 24, 2022, 16:56 Mitch ***@***.***> wrote:

[2022-10-24 15:58] laurenluz commented on #1641
oh yes - let's go with "GIVbacks" - good catch @MohammadPCh

[2022-10-24 19:43] laurenluz opened #1698 "GIVpower Boosting | Updates to GIVpower page to reflect boosting launch"
**Describe the bug**
We need to update the GIVpower page to reflect what it should say when boosting is LIVE.

**Expected behavior**
- [x] Copy fix under "Boost Projects with GIVpower"... should say "Use your GIVpower to _boost_ verified projects to improve their project ranking. Donors to higher ranked projects will get more GIV from our GIVbacks program."

![image.png](https://images.zenhubuserc

[2022-10-24 19:47] Tosinolawale commented on #1579
![Wallet   is    connected](https://user-images.githubusercontent.com/35389241/197612667-65e59dd9-a77d-4f0f-81a4-d7ca52a96dba.png)
For starters, we can use this tool tip, we should be consistent with the tool tip we use across board. I also made changes based on Mitch's suggestion on the input modals

[2022-10-24 20:02] laurenluz commented on #1628
@MohammadPCh I'm testing on staging, and I'm still seeing the old banner.

This should be updated to the banner in: https://github.com/Giveth/giveth-planning/issues/905

[2022-10-24 20:05] laurenluz commented on #1669
The learn more button is tested & looking right on staging now.

The change to "coming soon" should be done in #1698

moving to done!

[2022-10-24 20:06] laurenluz commented on #1669
![image](https://user-images.githubusercontent.com/75490971/197618577-4fc864d1-7bc2-4cdc-8939-18525a21a3d9.png)

[2022-10-24 20:30] laurenluz opened #1699 "GIVpower Boosting | Content for boosted projects tab in My account if I have not boosted any projects."
**Describe the bug**
I should be able to see the "boosted projects tab" in my account even if I have not boosted any projects or have no GIVpower, but there should be different conditions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to my account
2. Look for boosted projects tab

**Expected behavior**
- If I have GIVpower it should show: My GIVpower amount, and some text saying "You ha

[2022-10-24 20:33] divine-comedian commented on #1579
Thanks @Tosinolawale ! Just a few small grammar things for the tooltip, should read:
"Support Giveth with a donation to the Giveth DAO. The selected donation percentage will be added on top of your donation amount in the same token you are donating."

---

Last issue I think is this page - @Tosinolawale
![image](https://user-images.githubusercontent.com/67759413/197622032-4ce0c587-131a-47b0-ba05-2

[2022-10-24 20:41] laurenluz opened #1700 "GIVpower Boosting | Copy fix on "Oops" modal in My Account"
**Describe the bug**
Copy is weird on oops modal

**To Reproduce**
Steps to reproduce the behavior:
1. Go to my account
2. Click on boosted projects tab
3. Try to remove all boostings
4. When you try to remove the very last boost, you see this modal

**Expected behavior**
"Oops" is spelled wrong

Also, copy should say "You must have at least one active boost! In order to remove GIVpower from this

[2022-10-24 21:15] #1677 closed

[2022-10-24 21:19] laurenluz commented on #1628
oh, I see that it has been updated on https://giveconomy.vercel.app/

this issue was in UAT test... I will move it instead to unit test passed.

[2022-10-24 21:19] #1582 closed

[2022-10-24 21:23] laurenluz commented on #1699
ahh I found that we do have design already.

[2022-10-24 21:23] #1699 closed

[2022-10-24 21:23] #1587 closed

[2022-10-24 21:24] #1323 closed

[2022-10-24 21:24] #1310 closed

[2022-10-24 21:25] #1313 closed

[2022-10-24 21:46] laurenluz opened #1701 "GIVpower Boosting | Boosted Projects Tab - copy fixes & a new condition for when the user has no GIVpower."
The copy is weird on this page & I would love to also add a condition where the user can "get GIVpower" when they have none. I am testing on the GIVeconomy branch,

- [x] My Account --> Boosted Projects (if the user has not boosted any projects before)

"You haven't boosted any projects yet!
Use your GIVpower to support projects you love."

Button: "Go to projects links" to projects page
![image.p

[2022-10-24 22:07] laurenluz opened #1702 "GIVpower Boosting | My "Projects Boosted" number is wrong"
**Describe the bug**
I am boosting 4 projects, but it says I am boosting only one

**To Reproduce**
Steps to reproduce the behavior:
1. Boost several projects
2. Click on 'My Account"
3. Select 'Boosted Projects' tab
4. See error

**Expected behavior**
It shoud show that I am boosting 4 projects, in my case

**Screenshots**
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d

[2022-10-24 22:14] laurenluz commented on #758
Just looking through these issues, I also agree w/ this. let's not make any more changes here until after we launch

[2022-10-24 22:35] laurenluz opened #1703 "GIVpower Boosting | Copy fix on project single page when the project has no GIVpower on it."
**Describe the bug**
We should use "boost" as a verb, not a noun! GIVpower is the noun. The reason is because GIVpower provides utility to GIV, which is valueable for the GIVeconomy. If we completely omit "GIV" from our comms around GIVpower and use "boost" everywhere instead... the user does not make the connection to GIV.

I would like to fix the copy on the project single page when the project

[2022-10-24 22:45] laurenluz opened #1704 "GIVpower Boosting | Are we able to revert to previous boostings?"
@aminlatifi I was thinking about Giveth/GIVeconomy#739 and I have one concern I want to get your input on:

What if, by chance, a project was unverified by some mistake on our part? It would be nice if we were able to somehow revert to some point in the history to give them back their original boostings... would this be possible?

cc @MoeNick

[2022-10-24 22:47] #1586 closed

[2022-10-24 22:48] #1588 closed

[2022-10-24 22:48] #1514 closed

[2022-10-24 22:51] #1346 closed

[2022-10-24 22:52] laurenluz commented on #1174
@MohammadPCh @MoeNick I guess we decided not to use this approach any more? did we want to revert back to it? I think it was an interesting flow.

[2022-10-24 22:52] #1226 closed

[2022-10-24 23:02] #1513 closed

[2022-10-24 23:31] laurenluz commented on #1679
@MohammadPCh this is ready to implement - [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=14382%3A259227)

![image](https://user-images.githubusercontent.com/75490971/197649235-bf3a92d2-c020-4e4e-bc6b-ba59417161b7.png)

[2022-10-24 23:32] laurenluz commented on #1688
@MohammadPCh this is ready to implement: [Figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=14382%3A259227)

![image](https://user-images.githubusercontent.com/75490971/197649394-20599f3d-e6e2-40ce-b77b-73732ed1f5bb.png)

[2022-10-24 23:37] laurenluz commented on #1671
The bulk of these changes are being done in other issues... the only remaining task here is to change the modal a little.

The change to this modal can be found at this [figma link](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=14344%3A260160)

![image](https://user-images.githubusercontent.com/75490971/197649750-ba0f1ddb-5260-4ba1-b1f6-d1061e0bd26d.png)

[2022-10-24 23:38] laurenluz commented on #1679
closing this issue, it's kind of redundant w/ #1688

[2022-10-25 00:19] Tosinolawale commented on #1579
![Group 623](https://user-images.githubusercontent.com/35389241/197653881-b4d97e15-f696-4a63-97ee-dd1ad49e2be7.png)
@divine-comedian

[2022-10-25 00:23] Tosinolawale commented on #1579
![Group 624](https://user-images.githubusercontent.com/35389241/197654255-dbcfa17e-28d5-4cd5-82cb-9fc1d277e00c.png)
@markoprljic @divine-comedian also drafted the donation flow to this

[2022-10-25 03:04] divine-comedian commented on #1579
Hey @Tosinolawale thanks for the update but there's a few things that don't look quite right
the first two modals you show should look similar to this:
![image](https://user-images.githubusercontent.com/67759413/197670415-54ba5a37-6ca6-4a6a-a1fe-df226421746e.png)
This is because it is just a peer to peer transaction, not a smart contract interaction, there is no 'approve' and no spend limit.

For

[2022-10-25 07:06] aminlatifi commented on #1704
It will be a little complicated!
Generally, we don't keep the history of boosting. We only have snapshots taken regularly every 4 hours in production env. Though we can investigate how we can add history support to boosting, I don't think that would be so easy to implement it. As it may cause issues when a user which has boosted that project changes her/his boosting during the time the project was

[2022-10-25 14:32] #1365 closed

[2022-10-25 14:32] #1364 closed

[2022-10-25 14:32] #1497 closed

[2022-10-25 14:33] #1367 closed

[2022-10-25 14:33] #1369 closed

[2022-10-25 14:33] #1122 closed

[2022-10-25 14:33] #1121 closed

[2022-10-25 14:33] #1125 closed

[2022-10-25 14:33] #1124 closed

[2022-10-25 14:34] #1120 closed

[2022-10-25 14:34] #1343 closed

[2022-10-25 14:34] #1119 closed

[2022-10-25 14:34] #1123 closed

[2022-10-25 14:34] #452 closed

[2022-10-25 14:34] #1494 closed

[2022-10-25 14:58] clara-zi commented on #1374
From the donors survey (@SnakeGH) Donors would like to view projects by country: ideally on a map that could be zoomed in and out.

Could be good to start with a standardised location drop-down - that projects could select for their main country of operation.

[2022-10-25 17:55] laurenluz commented on #1681
ok! @divine-comedian @GriffGreen & I just had a quick call about this, and we're good with this as a "good enough for now, safe enough to try" spec.

@mohammadranjbarz can you work w/ @divine-comedian to implement this so we have it ready after boosting launch?

@divine-comedian is drafting an explanation of this in the docs.

@laurenluz created a [forum post](https://forum.giveth.io/t/givpower-ho

[2022-10-26 00:07] divine-comedian commented on #1681
@mohammadranjbarz

The main changes will be to the calculate givbacks API

Instead of a constant GIVbacks factor each project will have a unique factor depending on its GIVpower rank.

in the API parameters instead of one GIVbacks factor we will need to be able to set the maximum factor and the minimum factor

in the calculation we subtract the maximum factor by the minimum factor to get the 'spre

[2022-10-26 00:28] divine-comedian commented on #1579
Okay @RamRamez

I think it's important to get this issue rolling and close it out. I'll try to summarize the changes as best as possible.

- [ ] revert order of transactions - project donation first, giveth donation second
- [ ] Implement modal for two transactions https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=14511%3A263642
- [ ] If the user rejects the first

[2022-10-26 04:09] CarlosQ96 commented on #1660
@clara-zi I need a bit more details, what project/user-address are the correct ones that received donations on giveth? to investigate further.

I looked up in the database the address 0xad7575aefd4d64520c3269fd24eae1b0e13dbe7b it has an empty user created (no email, no info) which is weird.
But at the same time I found no projects with said address or any project related to this user.

My suspicio

[2022-10-26 13:37] divine-comedian commented on #1660
also noticing issues with https://github.com/Giveth/giveth-planning/issues/976#issuecomment-1290314132 that seems to be related with autopilot or potentially segment sending wrong information

[2022-10-26 14:15] laurenluz commented on #1688
@Tosinolawale is making some tweaks to the design & will update it here asap

[2022-10-26 14:31] laurenluz commented on #1704
we should be able push to culture side... if a project gets unverified, they will lose all their GIVpower, they won't get it back, etc. etc. @WhyldWanderer - can you be sure to include that info in our email communcations after boosting goes live?

And would also be good to have human readable snapshot data that we could revert to if need be.

[2022-10-26 14:32] laurenluz commented on #1704
it's going to be very challenging & complicated for us to do any reverting, so we won't likely be able to do it.

[2022-10-26 14:41] #1704 closed

[2022-10-27 06:26] maryjaf commented on #1537
Should this issue be tested?
I did not understand from the description  what effect the changes can have on end-to-end scenarios
@alireza-sharifpour

[2022-10-27 07:05] alireza-sharifpour commented on #1537
No, this doesn’t need test. it's an internal thing.

[2022-10-27 11:12] #1679 closed

[2022-10-27 12:31] divine-comedian commented on #1654
going to close this issue - let's work out of #1579 to keep information in one place.

[2022-10-27 12:31] #1654 closed

[2022-10-27 12:47] maryjaf commented on #1641
Thanks @MohammadPCh
On the projects card and in the details of the project, the "GIVBACK ELIGIBLE"has been changed to a "GIVBACKS"

[2022-10-27 14:39] RamRamez commented on #1579
Thanks you @divine-comedian for this great summarization. It really saved my time. Some other points:
1. Adding `I do not want to support Giveth with my donation` checkbox and `20%` button
2. Remove Input limitation (current limitation is 100%. Users can't input more than that)
3. Modal shouldn't be closed when clicking outside modal.

Do you confirm these to be added?

[2022-10-27 15:00] Tosinolawale commented on #1688
![Group 11147](https://user-images.githubusercontent.com/35389241/198325472-36cd9616-d934-450d-8d55-3222b6308d6f.png)
@MohammadPCh @laurenluz

[2022-10-27 15:01] Tosinolawale commented on #1688
![Group 11147(1)](https://user-images.githubusercontent.com/35389241/198325902-ea4e616a-9431-4632-9b2e-d07181ccdc7e.png)

[2022-10-27 15:07] divine-comedian commented on #1579
Yes to points 1 & 2

3. Talking with @Tosinolawale I think we concluded that the modal can be closed when the user clicks outside -so no change in current behaviour

[2022-10-27 18:28] laurenluz opened #1740 "GIVpower Boosting | Design upgrade for when a project loses its verified status"

[2022-10-28 10:51] mohammadranjbarz commented on #1681
Thanks @divine-comedian  for clarifying the issue, it totally makes sense, just one question what givFactor should be for trace donations?
I heard that @GriffGreen  said we might not use Trace anymore, how about exclude all trace donations from givback calculation and make project smaller?

[2022-10-28 13:05] divine-comedian commented on #1681
yes you can remove trace donations - we have removed the ability to make donations and are in the process of shutting it down.

[2022-10-28 17:02] laurenluz opened #1714 "Project updates character limit is buggy"
Something really weird is going on with the character limit on updates...

This copy is apparently way too long:
![image](https://user-images.githubusercontent.com/75490971/198691764-089b976b-1b1a-451b-90fa-bb5867fe8c59.png)

But google says otherwise:
![image](https://user-images.githubusercontent.com/75490971/198691781-2653d6bc-71f7-418f-962a-2d40cb7f9699.png)

A second example... this is an upd

[2022-10-28 17:32] laurenluz opened #1715 "Can we add a "delete draft" to the "My projects tab""
It is sooo annoying to me that I have all these trashy projects I made just to test things on Giveth... can we add something to the design that allows users to delete these projects?

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/d4c0aa2a-9a35-40e2-b016-44ec58beae85)

@mosaeedi @MoeNick

[2022-10-28 18:17] Tosinolawale commented on #1688
![Public view](https://user-images.githubusercontent.com/35389241/198705076-5f7756b4-0e6d-4c44-8a73-93cb7fb70022.png)
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=14382%3A259227
updated @MohammadPCh @laurenluz

[2022-10-28 20:16] ahmadabugosh opened #1716 "Bug report: Permit Mode does not work on the Angel Vault"
**Describe the bug**
When I try to stake in the Angel vault, I cannot use Permit mode (when I click it nothing happens), only Approve move works (see image below).

![permit not working](https://user-images.githubusercontent.com/4855928/198724389-c7898834-79e2-434b-aafc-b23505bfcda3.gif)

[2022-10-29 17:26] maryjaf commented on #1507
Unfortunately, I still have the problem that I can't view the boosted projects with my iPhone
I don't know if the problem is related to the user or the phone model because it was correct for Amin and moenick
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/8209e59c-f5d1-411e-8352-0bd0b4b3fded)
@RamRamez @MohammadPCh

[2022-10-29 18:23] maryjaf commented on #1703
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/10908ebd-c6c9-4098-806e-7ac989571397)
When i created a project on givpower branch i can't see details of project @RamRamez

[2022-10-29 20:23] maryjaf opened #1718 "For some projects in Mobile view, the dropdown menu is not displayed after closing"
This problem has been observed for the verified projects that I am the owner of, after closing menu(pic 1&2). This problem was not observed for the other projects(pic 3)

![image](https://user-images.githubusercontent.com/111529185/198851026-08ec82c1-8449-4b05-9348-cddd00ee0b15.png)
![image](https://user-images.githubusercontent.com/111529185/198851034-83f70a91-056d-4096-8045-5a854c071241.png)
![i

[2022-10-30 08:46] MohammadPCh commented on #1688
@Tosinolawale Thanks,
@laurenluz, Is It the final version? can I start working on it?

[2022-10-30 11:55] RamRamez commented on #1703
I get this error. @CarlosQ96 Can you please check it?
![image](https://user-images.githubusercontent.com/73441857/198877076-4a353582-aca2-4a0c-ae7e-e755d9b22453.png)

[2022-10-30 13:30] aminlatifi commented on #1716
ICHI and GardenUnipool were excluded from `Permit Mode` feature! But that logic was overwritten and lost during some merge actions.
@mateodaza  you have fixed some issue related to that here https://github.com/Giveth/giveth-dapps-v2/pull/1425/files

We must return back that logic to the stake modal.

[2022-10-30 16:56] CarlosQ96 commented on #1703
@RamRamez What is the name of this query?

[2022-10-30 18:09] maryjaf commented on #1671
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/9dc0c0a2-e389-4216-a990-92e4b7ef51cc)

[2022-10-30 18:42] maryjaf commented on #1439
I did not see any change in the project card on giveconomy compared to before @alireza-sharifpour

[2022-10-30 20:13] RamRamez commented on #1703
`ProjectBySlug` on `https://dev.serve.giveth.io/graphql`

[2022-10-31 01:19] mateodaza opened #1720 "Onramper Integration"
With this tool we have access to these on ramp solutions in the same plugin

Currently, the integrated onramps are:
[Moonpay](https://moonpay.io/)
[Wyre](https://sendwyre.com/)
[Xanpool](https://xanpool.com/)
[Mercuryo](https://mercuryo.io/)
[Coinify](https://www.coinify.com/)
[Indacoin](https://www.indacoin.com/)
[Utorg](https://utorg.pro/)
[Transak](https://transak.com/)
[Itez](https://itez.com/

[2022-10-31 01:35] mateodaza opened #1719 "SDG donations pilot"
This is still on discussion with Bryan from SDG - I figured the best way to start our exploration here is to allow donors to give to our own Giveth Project, after we resolve all questions we can start expanding to all other project owners that fit the requirements from the SDG.

A very basic flow for us would be

- [x] Create our SDG project (if it doesn't exist already)
- [x] Integrate payment pl

[2022-10-31 05:52] CarlosQ96 commented on #1703
@mohammadranjbarz @RamRamez  The issue is: after checking the files in the dev server is that dev doesn't have all the changes of our staging. So we gotta merge staging into dev.

There shouldn't be any problem right? Since givpower is already on staging. @mohammadranjbarz unless there are changes I am not aware.

[2022-10-31 05:54] mohammadranjbarz commented on #1703
Yeah man you can do it, just take care of env file in dev and make sure it has anything needed

[2022-10-31 06:00] CarlosQ96 commented on #1703
Added project revoke env vars, everything else seems the same.

[2022-10-31 06:19] CarlosQ96 commented on #1703
@RamRamez @maryjaf Its fixed, the view doesn't break anymore. You can keep testing / working.

[2022-10-31 07:37] alireza-sharifpour commented on #1439
I couldn’t understand the problem, you can see rankings on:
https://givpower.vercel.app/
@maryjaf

[2022-10-31 07:43] MoeNick commented on #1439
It was an old issue @maryjaf will close it to avoid confusion.

[2022-10-31 16:32] laurenluz opened #1728 "GIVfarm cleanup | Temporary frontend fix for exploit-affected pools"
- [x] I would like to change the copy here for the following pools:
- GIV/ETH Balancer 80/20
- oneGIV/GIV Angel Vault
- CULT/ETH RegenFarm
- 100% GIV staking on Mainnet

^ this should say: "**This pool has been paused** An exploit has removed available rewards from this pool. Please follow [this forum post](https://forum.giveth.io/t/ending-givfarm-liquidity-incentives-programs-for-giv/872) for upd

[2022-10-31 16:48] maryjaf commented on #758
. only 3 boost and locking -> Figma link
I don't see this message according to the figma link given in the description:
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/40a9af53-1c98-42d3-9756-3a19d1199f72)I don't see this message according to the figma link given in the description
plz check @MohammadPCh

[2022-10-31 16:56] laurenluz commented on #1671
@divine-comedian -  sorry, this was a mistake on my part w/ the screenshot... the figma has the right copy... "ranking" should be "rank"

Can you make this small copy fix?

[2022-10-31 18:46] laurenluz commented on #1688
@MohammadPCh - @markoprljic had a few comments still in the figma... let's wait until they are resolved. I will confirm here when the design is final.

[2022-10-31 20:16] divine-comedian commented on #1579
@RamRamez going through some testing - one small change I would make is in the state between user completes the first transaction and has not started the second:

![image](https://user-images.githubusercontent.com/67759413/199097601-ba647012-fcc2-4916-ab39-900806719fa1.png)

- [ ] In the modal the text for the second transaction should say "You are donating" instead of "Donation submitted" and sho

[2022-10-31 20:17] maryjaf commented on #1579
Please check this scenario:
I choose the "How many photos is too many photos?" project for donation
I set  0.000003 GIV and select  20%  Donate to Giveth
After choosing donate option and confirm the first transaction, I get this error
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/721c50d6-fc8a-427a-b7ff-dcf0c2426c4b)
And then the second picture
![image.png](https://ima

[2022-10-31 20:29] laurenluz commented on #758
![image](https://user-images.githubusercontent.com/75490971/199104283-cde66197-d024-45e1-836b-c456cbf7ba79.png)

[2022-10-31 20:38] divine-comedian commented on #1671
done!

[2022-10-31 20:49] laurenluz opened #1739 "GIVpower Boosting | My Boosted Projects Modals Copy Fixes"
When the user is in "My Account --> Boosted Projects", there are a series of modals w/ copy that we should revise.

- [x] Saving changes modal [Figma](https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=13185%3A240957)
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/78f0cd8a-b2ed-4f5d-a32f-dc04d0b8cf5a)

- [x] Remove GIVpower modal [Figma](

[2022-10-31 21:11] laurenluz opened #1730 "Redeploy CULT/ETH RegenFarm post exploit"
Following the GIVfarm exploit over the weekend & our conversations w/ CultDAO, we should redeploy the program as soon as possible.

For this, we should (w the help of @aminlatifi)
- [x] Send CULT from liquidity.eth to the CULT token distro to make up for any rewards lost in the exploit
- [x] Redeploy new CULT/ETH RegenFarm to replace the exploited one

Meanwhile, we should:
- [x] Terminate CULTstr

[2022-10-31 21:18] ahmadabugosh opened #1731 "Request to add CSS #ID's to success cases"
Hey @MoeNick and team,

**Problem**
As I have started to set up Analytics tracking for our site, I noticed that it's a bit hard to track conversion events from our platform due to how our website CSS is structured. Since we don't use CSS ID's in any of our "success cases" (such as a successful donation, or project creation), I had to manually take the CSS class selector instead.

See below what I

[2022-10-31 22:06] laurenluz opened #3808 "Copy fix on Incomplete profile"
![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/48ee962b-3ad8-43f2-a122-d155ba6e94db)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/90c9c206-4406-4058-a71d-776bf7ca6e82)

Copy is weird on both these parts when the user has an incomplete profile. Grammar/flow should be improved.

My suggestions:
"Your profile is incomplete"
"Completing your p

[2022-10-31 22:55] RamRamez commented on #1579
I fixed these two points mentioned here.
Beside that I disabled closing modal on click outside (for donate modal only)

[2022-11-01 08:01] MohammadPCh commented on #1552
@laurenluz  Thanks for the reminder, I left a PR for it.

[2022-11-01 08:05] MohammadPCh commented on #1663
JFYI, I fixed this and it's working properly.

[2022-11-01 08:12] MohammadPCh commented on #1174
@laurenluz  we have this modal (didn't remove its code). so it's easy to revert.

[2022-11-01 08:16] MohammadPCh commented on #1507
@maryjaf I will try to find it out. will call you.

[2022-11-01 11:21] RamRamez commented on #1579
Thanks @maryjaf, nice catch.
Actually we don't care about second tx. No matter if it's failed, rejected or not saved on our DB. We show a toast error on top the screen and after 4 seconds success view is shown.
So in your scenario, second tx has failed and then success view is shown and it's ok.

But in toast error, the problem occurs for very low donation amounts. I fixed it by setting a minimum.

[2022-11-01 13:56] maryjaf commented on #1579
I think that if any transaction was unsuccessful, it is better to record the result of each transaction in the view.

[2022-11-01 14:17] laurenluz opened #1736 "GIVpower boosting | Default project sorting should be by rank"
- [x] GIVpower rank should be the default way that projects are sorted... the project rank #1 should appear first, etc.
Unboosted, verified projects should be next
Nonverified projects should be third.

- [x] We should add a "sort by GIVpower rank"

- [x] We should add a filter "Boosted with GIVpower"

cc @MoeNick

[2022-11-01 15:34] RamRamez commented on #1579
We show the result of both transactions in donate modal. But in success view, we just show the tx hashes. (If user reject the tx, there's no tx hash)

Yeah, if first one fails for any reason, second one won't be started

[2022-11-01 16:15] laurenluz commented on #1736
who is the right person to take this? I can add more info, if needed. @aminlatifi @MohammadPCh @RamRamez

[2022-11-01 16:20] divine-comedian commented on #1579
testing on https://default-donations.vercel.app/
check box size looks good
cannot close the modal accidentally. :)
donation text changes when second tx is submitted

I pushed a small text improvement to the error message when there is too many decimal places

![image](https://user-images.githubusercontent.com/67759413/199282576-893edeae-61de-4dd4-be6a-12407862c3ff.png)

I think everything looks gr

[2022-11-01 19:22] maryjaf commented on #1579
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/875152d5-a684-4f58-b59e-6ae1f00456cd)
@RamRamez plz check this

[2022-11-01 21:35] RamRamez commented on #1579
I fixed it. Please check again.

[2022-11-01 22:47] GriffGreen commented on #1579
Wow you are working late Ramin!

I went to test but can't seem to get the vercel page to load

for both  https://default-donations.vercel.app/

and

https://default-donations.vercel.app/donate/how-many-photos-is-too-many-photos

I get this 504 error

![Screen Shot 2022-11-01 at 4 46 20 PM](https://user-images.githubusercontent.com/14945613/199356302-af5dca6c-f16a-4c15-8aed-7c9ece17a1fb.png)

[2022-11-01 23:04] CarlosQ96 commented on #1579
@GriffGreen restarted backend and it's up again! you can keep testing!

[2022-11-01 23:05] RamRamez commented on #1579
There was a problem with the server, @CarlosQ96 fixed it. Please test again.

[2022-11-02 00:35] laurenluz opened #1737 "Cleanup after GIVfarm attack"
The following tweets explain the GIVfarm attack on Sat Oct 29.

https://twitter.com/Givethio/status/1586511169975623682
https://twitter.com/Givethio/status/1586803946085122051

This epic is to cover all dev issues relating to "clean up" post-attack

[2022-11-02 00:40] laurenluz commented on #1728
this hot fix is live & it looks good!

[2022-11-02 00:40] #1728 closed

[2022-11-02 00:48] laurenluz opened #1738 "Pay out rewards to addresses who were farming in the affected GIVfarm pools pre-attack."
@aminlatifi has created a compilation of rewards at the "block before the attack", and we are hoping to test them using the data Jesus gets for dAppNode.

Next we should pay these rewards out to users & announce on Twitter.

[2022-11-02 00:55] laurenluz commented on #1738
@aminlatifi will we need to do a disperse to send these funds out to users? or will we be able to have them claim from the old farm cards?

I imagine we will need to do a disperse & just notify them. correct?

[2022-11-02 01:08] laurenluz commented on #1684
Hey @maryjaf - as per https://github.com/Giveth/GIVeconomy/issues/739 if a project is non-verified it should:
- [ ]  not have a rank on any page
- [ ] not have a GIVpower tab on the project single page
- [ ] not have any option to "boost" the project

I'm not sure I totally understand this issue, but can you double check the above conditions & test them? If it is not the case, please let us know h

[2022-11-02 01:08] #1400 closed

[2022-11-02 01:27] laurenluz commented on #1552
looks good!

[2022-11-02 01:27] #1552 closed

[2022-11-02 01:27] #1663 closed

[2022-11-02 01:28] #1547 closed

[2022-11-02 07:24] aminlatifi commented on #1738
We must allocate rewards to them on the corresponding token distro, they themselves can then claim the liquid part later.

[2022-11-02 07:27] aminlatifi commented on #1738
What we are going to calculate is the reward of farming which finally is paid by allocating the reward to the user on the TokenDistro. Technically, I am going to simulate earned value of farm per user at the block before the attack

[2022-11-02 07:28] aminlatifi commented on #1738
I have prepared this repo
https://github.com/aminlatifi/givpower-average-balance/

And it's the output result
[Rewards_before_attack.zip](https://github.com/Giveth/giveth-dapps-v2/files/9917552/Rewards_before_attack.zip)

[2022-11-02 07:28] maryjaf commented on #1579
I can't test it, 504: GATEWAY_TIMEOUT

[2022-11-02 09:00] MohammadPCh commented on #1740
@laurenluz Thanks today I will start it :)

[2022-11-02 09:28] maryjaf opened #1741 "GIVpower Boosting | Discrepancy in the boosted amount in the project list and project details"
**Describe the bug**
For some projects, the amount we show for the boost in the list of my boosted projects and the details of the project boosts are different in decimal

![image](https://user-images.githubusercontent.com/111529185/199453138-f3fdd2d0-9a5b-4e94-a341-967913212e00.png)
![image](https://user-images.githubusercontent.com/111529185/199454853-64d0a3c9-7860-433c-8d63-d8b1b6be60e3.png)

[2022-11-02 10:25] SnakeGH opened #1751 "Remove inactive partnership's from Giveth website"
After speaking with Griff, he mentioned that these two partnerships are inactive, and Giveth will not be working with them moving forward. They can be removed from our partnership page on the Giveth website

-District0x
-SourceCred

@MoeNick would you be able to assist with this?

[2022-11-02 10:41] MoeNick opened #1742 "Remove inactive partnership's from Giveth website"
@SnakeGH commented on [Wed Nov 02 2022](https://github.com/Giveth/giveth-dapps-v2/issues/1751)

After speaking with Griff, he mentioned that these two partnerships are inactive, and Giveth will not be working with them moving forward. They can be removed from our partnership page on the Giveth website

-District0x
-SourceCred

@MoeNick would you be able to assist with this?

---

@MoeNick commente

[2022-11-02 10:50] maryjaf commented on #477
In figma for Notification settings / Project activities, verification form status is not explained, the notification is not sent after verify or un-verify? @MoeNick

[2022-11-02 10:56] maryjaf commented on #1579
Plz check this, i can't delete last digit in box for edit amount @RamRamez
<img width="1435" alt="image" src="https://user-images.githubusercontent.com/111529185/199472239-834b059c-a38d-4014-b7be-6c6cfe91efaf.png">

[2022-11-02 11:14] maryjaf commented on #1579
<img width="1399" alt="image" src="https://user-images.githubusercontent.com/111529185/199474312-8bb38361-f33f-408b-9f84-b2f2ba590c8f.png">
And in this scenario, this message "Amount is too small"is displayed when the giving amount is less equal 0.0000001 and "Donating to How many photos is t..." value is 0 but "Donating 5% to Giveth" value is  0.000001

[2022-11-02 11:20] MoeNick opened #1745 "Some form edits on verification form"
everything is explained here well:
https://docs.google.com/document/d/1IAa8Osu7lbrULRAKkBA9ZtfTV0jq4dvns-9lyEAQS48/edit

[2022-11-02 11:31] RamRamez commented on #1579
The min amount for donation is 0.000001 and donate button is disabled

[2022-11-02 14:26] laurenluz commented on #1730
To fix CULT/ETH
- too hard to upgrade unipool so we need to redeploy new contracts/new staking pool. users will need to unstake/restake.

To pay previous rewards:
- pay rewards to pre-attack farmers by allocating from CULT token distro (they need a stream!)
- they will have to claim... we'll use `allocate many`. user's past rewards will appear in their CULTstream
- Amin determined the rewards alre

[2022-11-02 17:20] Cotabe opened #1752 "The Standard Regen Farms"
The Snapshot for the sEURO/DAI and the sEURO staking farms on Main Net for TheStandard.io has finished with 100% of votes in favor of the proposal https://snapshot.org/#/giv.eth/proposal/0xbd5395fc8a065da46b135e05c9bae27f91e2b0cf2de9488989e7d413d91b6bc6

The params and the launching date have not yet been defined. But once we have them. We will need to launch a conventional Regen Farm for them and

[2022-11-03 01:03] divine-comedian commented on #1739
fixes made in https://github.com/Giveth/giveth-dapps-v2/commit/4f1f9072cf25f6f3d84df57c97883a520b480907

on giveconomy deployment

[2022-11-03 10:51] ahmadabugosh commented on #1660
Hey team, I have an update on [this issue](https://github.com/Giveth/giveth-planning/issues/976)

[2022-11-03 12:17] RamRamez commented on #1579
@maryjaf You raised to bugs, I fixed them both. You can continue testing.

[2022-11-03 12:17] MohammadPCh commented on #1736
@laurenluz should we remove the "default" option?
![image](https://user-images.githubusercontent.com/17097576/199717948-0c94d27e-0831-48f2-954b-2628fb63b397.png)
if we make boosted as default sort option, it's meaning less to have another option called "Default". what do you think?

[2022-11-03 14:15] mohammadranjbarz commented on #1681
@divine-comedian

It's implemented and deployed on Staging, you can reach it here
https://givback.develop.giveth.io/staging/api-docs

As we don't have powerRank in production so I connected this to impact-graph staging so you would see different result in
https://givback.develop.giveth.io/staging/api-docs and https://givback.develop.giveth.io/api-docs

As because we have less donations in staging

[2022-11-03 15:02] maryjaf commented on #1579
Thanks @RamRamez
I tested and it passed

[2022-11-03 15:12] aminlatifi commented on #1730
We must deploy the new unipool with
Balance: 341034513.72315950048042118428 ~= 341M CULT
Duration: 1468765 Seconds

[2022-11-03 16:24] divine-comedian opened #3234 "Ideate User Flow for "Claiming Donations""
We're not fully clear on how our smart contract system will look but we should begin thinking of how the donation handler would affect user flow and propose UX changes.

The donor would see no big change on making a donation to a project - EXCEPT
They are making a donation to a smart contract - this means they would need to do potentially two transactions for every donation

- Approve spending the

[2022-11-03 16:24] GriffGreen commented on #1730
Sent

[2022-11-03 18:06] laurenluz commented on #1736
@MohammadPCh can we call it sort by "Rank" instead of by "Boosted"?

And sure - let's remove the default option and have just it say "Sort by Rank" as the default.

[2022-11-03 20:11] Cotabe opened #1754 "Make new design for the sEURO/DAI farm"

[2022-11-03 20:12] Cotabe opened #1755 "Make new design for the sEURO stacking farm"

[2022-11-03 20:13] Cotabe opened #1756 "Deploy Smart contract for the sEURO/XDAI farm"

[2022-11-03 20:17] Cotabe opened #1757 "Deploy Smart Contract for the sEURO stacking farm"

[2022-11-03 20:26] Cotabe opened #1759 "Prepare front end for the sEURO/DAI farm"

[2022-11-03 20:26] Cotabe opened #1760 "Prepare front end for the sEURO stacking farm"

[2022-11-03 20:27] Cotabe opened #1761 "Coordinate testing of the sEURO/DAI farm"

[2022-11-03 20:28] Cotabe opened #1762 "Coordinate testing of the sEURO stacking farm"

[2022-11-03 20:32] Cotabe opened #1763 "Comms for the sEURO/DAI farm"

[2022-11-03 20:33] Cotabe opened #1764 "Comms for the sEURO stacking farm"

[2022-11-04 05:29] SnakeGH commented on #1751
@alireza-sharifpour & @MoeNick, I learned of one more, MyCrypto was acquired and merged with MetaMask so I believe that one is not valid to have our on our website anymore as well.

[2022-11-04 06:23] mohammadranjbarz commented on #1736
@MohammadPCh
Now we have **BoostedWithGivPower** filter to just get projects that their total power is more than zero

[2022-11-04 13:33] maryjaf opened #1766 "GIVpower Boosting | Incorrect message display in GIVpower tab on project details page"
**Describe the bug**
When I tap on  the Give Power tab, this message is displayed at the beginning of the loading page "This project hasn't received any boosts yet! Be the first one to boost this project."
 and after a few milliseconds, the boosting list is displayed.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'project list'
2. Click on 'one project'
3. Click on ' GIVpower' tap
4.

[2022-11-04 14:37] MohammadPCh commented on #1688
@aminlatifi @mohammadranjbarz Please look at the Figma link. we need the project's `current` and `next` rank.
![image.png](https://images.zenhubusercontent.com/602bc460a2838adc28f21cdc/45d84c94-6d9a-42db-af2c-8785bb5b395e)
Do we have it in the backend?

[2022-11-06 10:52] aminlatifi commented on #1688
No, we must add it. https://github.com/Giveth/impact-graph/issues/710

[2022-11-06 18:11] aminlatifi commented on #1688
@MohammadPCh Made this PR to calculate future power of the user which will be joined when project is fetched by slug. Just not if we merge that PR, futurePower will not always be filled (like the beginning of a round). In that case projectPower has value but projectFuturePower would be null. It maybe better to show the same project power rank as the future value until new snapshots be taken

[2022-11-06 19:07] maryjaf opened #1770 "GIVpower Boosting | Incorrect display of the boost amount of some projects"
**Describe the bug**
I have projects in the list of my user's boosted projects, when I check their details, the boost amount is shown as 0, while it is not zero in the user's boosted projects list.
for example:
https://giveconomy.vercel.app/project/pure-earth
https://giveconomy.vercel.app/project/jewish-federation-of-northern-new-jersey-inc
https://giveconomy.vercel.app/project/ty-krishna-cymru

<

[2022-11-06 19:14] #1770 closed

[2022-11-07 04:10] brichis opened #1771 "Update pNounders address"
![photo_2022-11-06_22-08-31.jpg](https://images.zenhubusercontent.com/635c6dd0ed86045e2c4cd152/cd1023ad-809f-43d0-a2e2-9c3828d6cb20)

[2022-11-07 09:01] MoeNick commented on #1745
Hey @CarlosQ96
According to page 6 of this document, the fields should be like this:
1st Input: Problem
2nd Input: Mission
3rd Input: Initiation
4th Input: Past activities
5th Input: Impact
6th Input: Files
7th Input: Plans

so we need you help on the backed side,

- [ ] input in the form
- [ ] show the on the admin bro
thanks
FYI @RamRamez

[2022-11-07 14:30] divine-comedian commented on #1579
@MohammadPCh this can be moved to staging

[2022-11-07 15:26] MohammadPCh commented on #1579
Thanks @divine-comedian
I messaged him to keep up.

[2022-11-07 15:39] divine-comedian commented on #1681
in https://givback.develop.giveth.io/staging/api-docs/#/default/get_eligible_donations

we should add 1 more column that shows the givbacksFactor for each donation - this is based on the powerRank of the project

[2022-11-07 18:54] laurenluz commented on #1730
To dos:
- [x] Amin has already deployed the [unipool](https://www.notion.so/giveth/CULT-ETH-82128022373f426d9a224055288eead0)
- [ ] need to determine how much rewards to send out in 2 week periods - I think we should just distrbuted them evenly @GriffGreen @mohammadranjbarz
- [ ] Cult needs to grant the new unipool the distributor role @GriffGreen or @KurtMerbeth
- [ ] Cult needs to increase the b

[2022-11-07 20:17] maryjaf commented on #477
I staked and got rewarded but i didn't receive any notification about these, even though they are active in the setting @RamRamez @mohammadranjbarz
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/a1a10df8-c7c8-4947-842e-695733ee42c2)

[2022-11-07 21:04] divine-comedian opened #1774 "Define how owning PFPs will affect GIVpower "boosting power""
from: https://forum.giveth.io/t/the-givers-pfp-collection-initial-sketches/656/53

Utilities will be around GIVpower. PFP holders will have a multiplier to their GIVpower Boosting power. [@mitch](https://forum.giveth.io/u/mitch) [made a spreadsheet](https://docs.google.com/spreadsheets/d/1yz_6sgFmEXgGU9BgeRtgVALQlNFWJMUkxddpTlG2Krs/edit?usp=sharing) calculating the GIVpower distribution for holder

[2022-11-07 21:24] RamRamez commented on #477
@CarlosQ96 I use typeId 59 and 60 for these settings. Are they correct?

[2022-11-07 21:28] CarlosQ96 commented on #477
They are correct, but please hold off on the testing of giveconomy notifications this logic does not exist yet. We have to write a service that listens to a new subgraph for changes. That’s a lot of work and is not yet done.

[2022-11-07 21:31] CarlosQ96 commented on #477
@maryjaf @RamRamez

[2022-11-07 21:34] CarlosQ96 commented on #477
Right now giveconomy notifications settings mostly change the Boolean value of the database.

[2022-11-07 21:35] CarlosQ96 commented on #477
So you can mostly check if the checkmark persist when disabling or enabling.

[2022-11-08 02:08] laurenluz commented on #1766
@mohammadranjbarz is this an issue because of delay from the graph?

[2022-11-08 02:31] laurenluz opened #1775 "GIVpower Boosting | Add "GIVpower" to user page"
When I am looking a user's profile, I should be able to see also their GIVpower & boosted projects. This will also be useful when we implement delegation for GIVpower... for example, someone will be able to see how a person is using their GIVpower before delegating to them.

The user page is here, for an example: https://giveconomy.vercel.app/user/0xc46c67bb7e84490d7ebdd0b8ecdaca68cf3823f4

Curren

[2022-11-08 02:34] laurenluz opened #1776 "GIVpower Boosting | Add GIVpower to My Account Overview"
On the Overivew tab in "My Account" we should show the user's GIVpower & total boosted projects. Also let's change copy on "Boosted Projects" to say "My GIVpower"

![image](https://user-images.githubusercontent.com/75490971/200460782-33da9fcf-20f3-4685-b263-f7adb27811d1.png)
![image](https://user-images.githubusercontent.com/75490971/200460825-c2391b03-6ff4-4ce5-b301-9c23ba5ae16c.png)

[2022-11-08 02:39] laurenluz opened #1777 "GIVpower Boosting | copy fix in My account"
Change "Boosted Projects" to "My GIVpower" in My Account

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/343c1564-288f-4a2d-9166-418a1b7173ea)

[2022-11-08 07:18] mohammadranjbarz commented on #1766
@MohammadPCh
It's not from frontend side?
I think maybe you show a placeholder till the response comes from server, am I right?

[2022-11-08 07:22] mohammadranjbarz commented on #1681
I think it's because I limited the precise to two digits for donations and in small amounts it changes the calculation a little bit, so it became grater than  max give factor, once I add the givbacks factor to eligible donations response we know it better, I will let you know after I do it

[2022-11-08 07:42] MohammadPCh commented on #1766
@mohammadranjbarz thanks for mentioning me.
yes, the problem is on the front-end side. because we don't show loading when data has not arrived yet.

[2022-11-08 12:52] MoeNick commented on #1736
would u pls take a look and test?

[2022-11-08 14:50] Tosinolawale commented on #1775
![Public Profile _ Projects](https://user-images.githubusercontent.com/35389241/200596370-8d4d82de-5826-4e36-8936-5c6ac24ff13b.png)
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=15039%3A275856

[2022-11-08 14:52] Tosinolawale commented on #1775
![Public Profile _ Projects(1)](https://user-images.githubusercontent.com/35389241/200596694-f9f04af7-733b-4ee1-a86b-461c2301e9f2.png)
https://www.figma.com/file/nVoinu0tgJ565enN5R4WDE/Giveth.io-%26-GIVeconomy?node-id=15039%3A279168
@laurenluz

[2022-11-08 15:14] divine-comedian commented on #1777
should be resolved in https://github.com/Giveth/giveth-dapps-v2/commit/bd25079ce22b9ebf5ee291aa3c5a4581c8ba3c83

[2022-11-08 15:34] laurenluz commented on #1776
This is perfect @Tosinolawale

@MohammadPCh - can you implement?

[2022-11-08 15:35] laurenluz commented on #1775
Thank you @Tosinolawale !

@MohammadPCh - can you implement?

[2022-11-08 15:53] RamRamez commented on #758
Maybe the word `be` is missed in that sentence.
"You can't lock every percentage because the total must **be** equal 100%."
@laurenluz definitely you know better than me.

[2022-11-08 18:53] laurenluz commented on #758
@RamRamez thanks for keeping an eye out! this is a funny nuance though.. that sentence was actually ok before. it can either be:

"You can't lock every percentage because the total must equal 100%."

or

"You can't lock every percentage because the total must be equal to 100%."

I am happy to make it option 2 if that sounds better universally - your call.

[2022-11-08 20:47] laurenluz opened #1784 "GIVfarm - Frontend update on archived pools"
@MohammadPCh - why do we have two other conditions for archived pools (besides the exploited one)? I see these two:

![image](https://user-images.githubusercontent.com/75490971/200669900-d00803db-c690-4d8c-8454-6f3b31854899.png)

![image](https://user-images.githubusercontent.com/75490971/200669975-01210023-705b-4777-8648-3794c0ecd8fc.png)

The way I see it, we should have two conditions including

[2022-11-08 21:14] laurenluz commented on #1730
For notify reward... The farm was supposed to end on Nov 11 (and paused on Oct 29) - so a total of 13 days remained...

We should just set notify reward to distribute all the remaining rewards in a single 2 week period @mohammadranjbarz

[2022-11-08 21:57] laurenluz opened #1785 "Trying to post an update to my project, get "error" but it is posted anyway"
**Describe the bug**
When trying to post an update to my giveth project, I get "cannot read properies id null". And it seems like it doesn't get posted... but if I refresh the page... it was posted.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'My project'
2. Click on any particular project you own 'View'
3. Click on the "updates" tab
4. Write out an update
5. Submit update
6. See e

[2022-11-08 23:18] mateodaza commented on #1785
I'm not able to replicate this on chrome nor brave... I'll keep taking a look and see what may be

[2022-11-09 05:08] WhyldWanderer opened #1786 "Allow smart contract addresses as project recipient"
Now that we have the ability to add an address for each chain, we no longer need to limit smart contract addresses.

I am currently adding them manually by request and would love if this process could be simplified by removing this limitation.

I thought there was already an issue for it but I cannot find it... so I apologize if this is a duplicate.

![image](https://user-images.githubusercontent.

[2022-11-09 05:22] WhyldWanderer opened #1787 "Show project recipient address even if they have not received any donations"
If a project has not received a donation yet, I cannot see their wallet address(es) without looking it up in the AdminBro.
Can we display the wallet address(es) even if there are no donations?

Without donations:
![image](https://user-images.githubusercontent.com/74267818/200745199-df9f1c8c-df1c-49c3-bd75-957d0653fb10.png)

With donations:
![image](https://user-images.githubusercontent.com/7426781

[2022-11-09 05:24] WhyldWanderer opened #1788 "Remove "TRACE" badge from projects"
Now that TRACE is being phased out, we should consider removing these badges and project statuses right?

![image](https://user-images.githubusercontent.com/74267818/200745886-1aa788e1-53c4-4745-a7bc-1bc8fb952125.png)

[2022-11-09 05:52] mohammadranjbarz commented on #1730
Do we know how much is the remaining reward now or we should wait till last days of current round?

[2022-11-09 06:45] CarlosQ96 commented on #1745
@MoeNick @RamRamez PR https://github.com/Giveth/impact-graph/pull/714 has been merged to staging.
You can now send as inputs the plans and problem fields in the form inputs for milestones.
[code]

[2022-11-09 06:58] CarlosQ96 commented on #1745
Plans and problem show in the admin bro when added (this are empty strings because they are new fields)
<img width="732" alt="image" src="https://user-images.githubusercontent.com/92376054/200760680-665636c8-6d18-48db-9ba2-9aced643035c.png">

[2022-11-09 08:48] mohammadranjbarz commented on #1681
@divine-comedian
Done.
Now the donation in  response of eligible-donations would be something like this:

[code]

[2022-11-09 13:49] maryjaf commented on #1736
Plz check this @mohammadranjbarz
Rank of "elizabeth-glaser-pediatric-aids-foundation" is 3 in boosting
When I revoke the project, this project is still in the third position, with the difference that it has no rank
<img width="1438" alt="image" src="https://user-images.githubusercontent.com/111529185/200846278-8f60efc3-99a7-44d0-9873-6e631f8ccd78.png">

[2022-11-09 13:54] divine-comedian commented on #1681
Amazing - So now we'll need to find the average of all givBackFactor in `eligible-donations` for each donor over the given time period and show it in `calculate` under `averageGIVbackFactor`.

Also it would be useful to think of a way to show the # of ranked projects on the platform at a given time. Perhaps we put in a single date and we show the # of ranked projects for that round the date is ins

[2022-11-09 14:10] laurenluz commented on #1738
@divine-comedian

[2022-11-09 14:48] divine-comedian commented on #1681
This is sort of useful - so we can see the total amount of ranks at the current time. This is a bit confusing since the top rank is actually 1 and the bottom rank is the greatest number rank in the system.

what would be nice is a way to see a full list of ranks and the associated project URL for a given round or given point in time

[2022-11-09 14:55] divine-comedian opened #1790 "donate modal header is wrong on staging"
testing on https://staging.giveth.io/donate/how-many-photos-is-too-many-photos
firefox
ubuntu 22.04

while making a donation I click donate on the donate page for a project

the header on the modal that pops up says `label.donating`
this seems like a bug.

![image.png](https://images.zenhubusercontent.com/5fff1c86d883b3d9a858ddbc/86d8e541-1f4c-4bc9-9dae-65436d21d2f7)

[2022-11-09 15:45] maryjaf commented on #1688
In the previous version, it was said that if a verified project did not have a boost, a rank would not be set for them in the Give Power tab and in the project list.

But now it does not have a rank in the list of projects, but we show the rank of the project in the Give Power tab
The expected result is this or it should be the same as before and we have a bug? @MohammadPCh @laurenluz
![image.png]

[2022-11-09 16:59] maryjaf commented on #1736
I should add that after a few minutes this problem will be solved and the project will not be displayed in position 3

[2022-11-09 19:56] GriffGreen commented on #1730
[mainnet-CULT-ETH-Regen-Farm.csv](https://github.com/Giveth/giveth-dapps-v2/files/9974685/mainnet-CULT-ETH-Regen-Farm.csv)

This is Amin's CSV

[2022-11-10 15:56] maryjaf commented on #758
Now this message is shown "You can't lock every percentage because the total must equal 100%." and it passed
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/7ad03cb5-93cd-40c3-a5bb-4c3cf082606c)

[2022-11-10 16:53] maryjaf commented on #1507
This issue has been solved and now I can see my GIVpower tab  in mobile view
![image.png](https://images.zenhubusercontent.com/62fe7a8b57c1a1770575ea40/c6cc542e-2cf0-46f5-a1ac-4f6598055e6d)

[2022-11-10 18:32] laurenluz opened #1796 "GIVstream history table tx label fix"
On the rewards we distributed to addresses that were subject to the exploit, the GIVstream history table says "Unknown".

Let's make it say "GIVfarm" :)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/35e85ca3-f785-48c5-aefb-86a23a8365ed)

[2022-11-10 20:54] laurenluz commented on #1738
I've set up an announcement thread for tomorrow

[2022-11-10 22:15] laurenluz opened #1798 "GIVpower Boosting | GIVpower projected rank calculation is wrong"
**Describe the bug**
I checked the GIVpower on two projects... one of rank #14 and one of rank #2... The projected ranks were #1 and #2 respectively, but the GIVpower was much higher on the second project!

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://giveconomy.vercel.app/'
2. Click on Project ranked #14, check GIVpower & projected rank on GIVpower tab
3. Click on Project r

[2022-11-10 22:17] laurenluz opened #1799 "GIVpower Boosting | Remove Arrow when projected rank = current rank"
If Projected Rank is the same as Current Rank... there should be no Arrow (no up or down arrow)

![image.png](https://images.zenhubusercontent.com/5fdfac16a58523a866ddb68d/fd976960-e80e-4246-91a9-20547b4e537f)

[2022-11-10 22:46] laurenluz opened #1800 "GIVpower Boosting | GIVpower on Project Single Page should show current GIVpower on that project and should update often"
**Describe the bug**
I boosted the project "unique care connect inc" with around 400k GIVpower, but my GIVpower is not listed in the GIVpower tab for that project.

**To Reproduce**
Steps to reproduce the behavior:
1. Boost a project
2. Click on it's GIVpower tab
3. See that your GIVpower is not shown
4. Go to "My GIVpower"
5. See that your GIVpower is shown
6. Realize that there is a problem haha